{# Render a component #}
{# @var obj component     A component object #}
{# @var bool anonymous    Whether the component should be rendered without grader info #}
{# @var int num_decimals  The number of decimals places the score should contain #}
{% macro renderComponent(component, anonymous, num_decimals) %}
    {% import 'functions/Badge.twig' as Badge %}
    <div class="box grade-results">
        <div class="box-badge">
            {{ Badge.render(component.total_score, component.points_possible, component.extra_credit) }}
        </div>
        <div class="box-info">
            <h4>{{ component.title|escape }}
                {% if component.graders|length != 0 and not anonymous %}
                    <i>(Graded by: {{ component.graders|join(' / ') }})</i>
                {% endif %}
            </h4>
            <div style="float:left;">
                <p style="padding-bottom: 10px;">{{ component.student_comment|nl2br }}</p>
                <p>
                {# This is a layout table #}
                <table class="gradeable_comment">
                    {% for mark in component.marks|filter((mark) => mark.show_mark) %}
                        <tr>
                            <td>
                                {% if mark.earned %}
                                    <i class="far fa-check-square fa-1g"></i>
                                {% else %}
                                    <i class="far fa-square fa-1g"></i>
                                {% endif %}
                            </td>
                            <td class="mark-score">
                                {{ mark.points|round(num_decimals) }}
                            </td>
                            <td>
                                {{ mark.title|nl2br }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if component.custom_mark_score != 0 or component.comment != '' %}
                        <tr>
                            <td>
                                <i class="far fa-check-square fa-1g"></i>
                            </td>
                            <td class="mark-score">
                                {{ component.custom_mark_score|round(num_decimals) }}
                            </td>
                            <td>
                                {{ component.comment|nl2br }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                </p>
            </div>
        </div>
    </div>
{% endmacro %}
