{# This is a layout table #}
<table style="background-color:var( --standard-focus-cornflowe-blue); width:auto;">
    {% if seating_only_for_instructor %}
        <div class="option-alt">Visible only to Instructors</div>
    {% endif %}
    <tr><td>
        <table border=0 cellpadding=5 cellspacing=0>
            <tr class="seating-chart-table"><td colspan=2>{{ core.getDisplayedCourseName() }}{{ gradeable_title != null ? ': '~gradeable_title : ''}}</td></tr>
            <tr class="seating-chart-table"><td>{{ user_seating_details.date }} </td><td align=center>{{ user_seating_details.time }}</td></tr>
            <tr class="seating-chart-table"><td>Your room assignment: </td><td align=center>{{ user_seating_details.building }} {{ user_seating_details.room }}</td></tr>
            <tr class="seating-chart-table"><td>Your zone assignment: </td><td align=center>{{ user_seating_details.zone }}</td></tr>
            <tr class="seating-chart-table"><td>Your row assignment: </td><td align=center>{{ user_seating_details.row }}</td></tr>
            <tr class="seating-chart-table"><td>Your seat assignment: </td><td align=center>{{ user_seating_details.seat }}</td></tr>
        </table>
    </td></tr>
    <tr><td style="background-color:var(--always-default-white);">
            {% if seating_config != null %}
                {% if seating_config == 'empty-case-handling' %}
                    Something went wrong, contact the instructor for assistance.
                {% else %}
                    {% include '@room_templates/'~user_seating_details.building~'/'~user_seating_details.room~'.twig' %}
                {% endif %}
            {% else %}
                No room template found for the room you have been assigned.
            {% endif %}
    </td></tr>
</table>
