<div class="notebook">

    {# Render content #}
    {% set num_codeboxes = 0 %}
    {% set num_multiple_choice = 0 %}
    {% set num_file_submissions = 0 %}
    {% for cell in notebook %}
        <div id="content_{{ loop.index0 }}" class="{{ cell.type }}" {% if cell.item_ref is defined %}data-item-ref={{ cell.item_ref }}{% endif %}>

            {# Handle if cell is markdown #}
            {% if cell.type == "markdown" %}

                {# Render markdown #}
                {{ cell.markdown_data | markdown }}
                {{ _self.render_testcase_messages(cell, testcase_messages) }}

            {# Handle if cell is image #}
            {% elseif cell.type == "image" %}

                <img src="{{ attribute(image_data, cell.image) }}"

                {% if cell.width > 0 %}
                    width="{{ cell.width }}"
                {% endif %}

                {% if cell.height > 0 %}
                    height="{{ cell.height }}"
                {% endif %}

                {% if cell.alt_text is defined %}
                    alt="{{ cell.alt_text }}"
                {% endif %}

                >

                {{ _self.render_testcase_messages(cell, testcase_messages) }}

            {# Handle if cell is short_answer #}
            {% elseif cell.type == "short_answer" %}

                <div>
                    {% if cell.label %}
                        {{ cell.label | markdown }}
                    {% else %}
                        {% set write_your = cell.programming_language != '' ? cell.programming_language : 'answer' %}
                        Write your {{ write_your }} below:
                    {% endif %}
                </div>

                {{ _self.render_testcase_messages(cell, testcase_messages) }}

                <div id="codebox_{{ num_codeboxes }}"
                     name="codebox_{{ num_codeboxes }}"
                     autocapitalization="off"
                     spellcheck="false"
                     data-initial_value="{{ cell.initial_value }}"
                     data-recent_submission="{{ cell.recent_submission }}"
                     onkeyup="handle_input_keypress();">
                </div>

                <button type="button" id="codebox_{{ num_codeboxes }}_clear_button" class="btn btn-primary codebox-clear-reset">Clear</button>
                <button type="button" id="codebox_{{ num_codeboxes }}_recent_button" class="btn btn-primary codebox-clear-reset">Use Most Recent Submission</button>

                <script>
                    const config_{{ num_codeboxes }} = {};

                    config_{{ num_codeboxes }}.theme = 'eclipse';

                    if ('{{ cell.programming_language }}') {
                        config_{{ num_codeboxes }}.lineNumbers = true;
                        config_{{ num_codeboxes }}.mode = '{{ cell.codemirror_mode }}';
                    }

                    if('{{ cell.programming_language }}' === '' && {{ cell.rows }} > 0) {
                        config_{{ num_codeboxes }}.lineWrapping = true;
                    }

                    if ({{ cell.rows }} > 0) {
                        var editor_{{ num_codeboxes }} = getLargeCodeMirror(document.getElementById("codebox_{{ num_codeboxes }}"), config_{{ num_codeboxes }});
                        editor_{{ num_codeboxes }}.setSize(null, rowsToPixels({{ cell.rows }}));
                    }
                    else {
                        var editor_{{ num_codeboxes }} = getSmallCodeMirror(document.getElementById("codebox_{{ num_codeboxes }}"), config_{{ num_codeboxes }});
                    }

                    {# Populate codebox and set state of buttons initially #}
                    {% if highest_version == 0 %}
                        setCodeBox("codebox_{{ num_codeboxes }}", "clear");
                        document.getElementById("codebox_{{ num_codeboxes }}_clear_button").disabled = true;
                        document.getElementById("codebox_{{ num_codeboxes }}_recent_button").style.visibility = 'hidden';
                    {% else %}
                        setCodeBox("codebox_{{ num_codeboxes }}", "recent");
                        document.getElementById("codebox_{{ num_codeboxes }}_clear_button").disabled = false;
                        document.getElementById("codebox_{{ num_codeboxes }}_recent_button").disabled = true;
                    {% endif %}
                </script>
                {% set num_codeboxes = num_codeboxes + 1 %}

            {# Handle if cell is multiple choice #}
            {% elseif cell.type == "multiple_choice" %}
                {% if cell.randomize_order == true %}
                    {% set choices_indices = numberUtils.getRandomIndices(cell.choices|length, student_id, gradeable_id ) %}
                {% else %}
                    {% set choices_indices = cell.choices|keys %}
                {% endif %}

                <fieldset id="mc_field_{{ num_multiple_choice }}"
                          class="mc"
                          {% if cell.recent_submission is defined %}data-prev_checked="{{ cell.recent_submission }}"{% endif %}>
                    {% if cell.allow_multiple == true %}
                        <legend>
                            {% if cell.label %}
                                {{ cell.label | markdown }}
                            {% else %}
                                You may select many:
                            {% endif %}
                        </legend>

                        {{ _self.render_testcase_messages(cell, testcase_messages) }}

                        {% for idx in choices_indices %}
                            <label for="multiple_choice_{{ num_multiple_choice }}_{{ loop.index0 }}">

                                <input type="checkbox" class="key_to_click" tabindex="0"
                                       name="multiple_choice_{{ num_multiple_choice }}"
                                       id="multiple_choice_{{ num_multiple_choice }}_{{ loop.index0 }}"
                                       value="{{ cell.choices[idx].value }}"
                                       onclick="handle_input_keypress();"
                                />
                                {{ cell.choices[idx].description | markdown }}
                            </label>
                        {% endfor %}
                    {% else %}
                        <legend>
                            {% if cell.label %}
                                {{ cell.label | markdown }}
                            {% else %}
                                Select one:
                            {% endif %}
                        </legend>

                        {{ _self.render_testcase_messages(cell, testcase_messages) }}

                        {% for idx in choices_indices %}
                            <label for="multiple_choice_{{ num_multiple_choice }}_{{ loop.index0 }}">
                                <input type="radio" class="key_to_click" tabindex="0"
                                       name="multiple_choice_{{ num_multiple_choice }}"
                                       id="multiple_choice_{{ num_multiple_choice }}_{{ loop.index0 }}"
                                       value="{{ cell.choices[idx].value }}"
                                       onclick="handle_input_keypress();"
                                />
                                {{ cell.choices[idx].description | markdown }}
                            </label>
                        {% endfor %}
                    {% endif %}
                </fieldset>

                {# Create reset to recent submission button #}
                <button type="button" id="mc_{{ num_multiple_choice }}_clear_button" class="btn btn-primary mc-clear">Clear</button>
                <button type="button" id="mc_{{ num_multiple_choice }}_recent_button" class="btn btn-primary mc-recent">Use Most Recent Submission</button>

                <script>
                    {# Populate checkboxes initially #}
                    {% if cell.recent_submission is defined %}
                        setMultipleChoices("mc_field_{{ num_multiple_choice }}");
                    {% endif %}

                    {# Configure initial state for the button #}
                    {% if highest_version == 0 %}
                        $("#mc_{{ num_multiple_choice }}_clear_button").attr("disabled", true);
                        $("#mc_{{ num_multiple_choice }}_recent_button").hide();
                    {% else %}
                        $("#mc_{{ num_multiple_choice }}_clear_button").attr("disabled", false);
                        $("#mc_{{ num_multiple_choice }}_recent_button").attr("disabled", true);
                    {% endif %}
                </script>

                {% set num_multiple_choice = num_multiple_choice + 1 %}

            {% elseif cell.type == "file_submission" %}
                {% set num_file_submissions = num_file_submissions + 1 %}

                {{ _self.renderFileSubmission(max_file_uploads,num_file_submissions, old_files, cell.label) }}

                <button type="button" class="btn btn-primary 
                    sa-clear-reset" onclick="deleteFiles({{num_file_submissions}});"> 
                    Clear
                </button>

                <button type="button" 
                    onclick="populatePreviousFiles({{num_file_submissions}});"
                    class="btn btn-primary mc-recent fs-recent">Use Most Recent Submission
                </button>
            {% endif %}

        </div>

    {% endfor %}



</div>

<script>
    function populatePreviousFiles(part){
        let prev_files = {
            {% for file in old_files %}
                {{file.part}} : {'name' : '{{file.name}}', 'size' : '{{file.size}}' },
            {% endfor %}
        };


        let tgt = prev_files[part];
        if (typeof tgt === "undefined"){
            return;
        }

        deleteFiles(part);
        addLabel(tgt['name'], tgt['size'], part);
        readPrevious(tgt['name'], part);
        setUsePrevious();
    }


    $(function(){

        {% if is_grader_view | default(null) %}
            //disable inputs if we're viewing from the grader's view
            let nb = document.getElementsByClassName("notebook")[0];
            let tgts = nb.querySelectorAll('input');
            for(let x of tgts){
                x.disabled = true;
            }

            tgts = nb.querySelectorAll('button');
            for(let x of tgts){
                x.disabled = true;
            }

            tgts = nb.querySelectorAll('textarea');
            for(let x of tgts){
                x.disabled = true;
            }

            tgts = nb.querySelectorAll('.CodeMirror');
            for(let x of tgts){
                x.CodeMirror.refresh();
            }

        {% endif %}

        createArray({{ num_file_submissions }});

        {% for file in old_files %}
            addLabel('{{ file.name }}', '{{ file.size }}', {{ file.part }}, true);
            readPrevious('{{ file.name }}', {{ file.part }});
        {% endfor %}
        setUsePrevious();

        {% if old_files | length == 0 %}
            let btns = document.getElementsByClassName("fs-recent");
            for (let btn of btns){
                btn.disabled = true;
            }
        {% endif %}
    });
</script>


{% macro render_testcase_messages(cell, testcase_messages) %}

    {# If testcase_ref is set then attempt to display associated messages #}
    {% if cell.testcase_ref is defined %}
        {% if testcase_messages[cell.testcase_ref] is defined %}
            {% for msg in testcase_messages[cell.testcase_ref] %}
                <p class="feedback-msg-{{ msg.type }}">{{ msg.message }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endmacro %}

{# File submission for notebooks #}
{% macro renderFileSubmission(max_file_uploads, index, old_files, label) %}
    <div id="upload-boxes">
        {# uploadIndex and input-file + Index required for drag-and-drop.js #}
        <div tabindex="0"
             id="upload{{index}}"
             class="upload-box"
             onkeypress="clicked_on_box(event)"
             role="text"
             aria-label="Press enter to upload your part {{ index }} file"
        >
            <h2 class="label" id="label{{index}}">
                Drag your {{ label }} file(s) here or click to open file browser
            </h2>
            <input type="file" name="files" id="input-file{{index}}" 
                   class="hide" onchange="addFilesFromInput({{index}})"
                   multiple aria-label="Select Files to upload" 
            />
            <table class="file-upload-table" id="file-upload-table-{{index}}">
            <tr style="background:transparent; display:none;">
                <th>File Name:</th>
                <th>Size:</th>
            </tr>
            </table>
            <p>Maximum allowed number of files to be uploaded is {{ max_file_uploads }}.</p>
        </div>
    </div>

    <script>
        $(function(){
            //initialize the dropzone just created
            initMaxNoFiles({{max_file_uploads}});
            initializeDropZone("upload{{ index }}");
        });
    </script>
{% endmacro %}
