<div id="leaderboard" class="content">
    {% if rebuildingGradeable %}
    <p>
        Leaderboard is temporarily unavailable because the gradeable is being
        rebuilt. Please try refreshing the page in a few minutes.
    </p>
    {% else %}
    <h1>Leaderboards for {{gradeable_name}}</h1>
    <p class="leaderboard-tab-bar-wrapper">
        Leaderboards:

        {% for leaderboard in leaderboards %}
        <a class="leaderboard-nav key_to_click normal-btn" id="{{leaderboard.getTag}}_nav" onclick="onChangeLeaderboard('{{leaderboard.getTag}}');">{{leaderboard.getTitle}}</a>
        {% endfor %}
    </p>
    <div id="leaderboard-table">
    </div>
    {% endif %}
</div>
<script>
    function onChangeLeaderboard(leaderboard_tag) {
        $("#leaderboard-table").html("");
        $("#leaderboard-table").load("{{leaderboard_data_url}}/" + leaderboard_tag);

        $(".leaderboard-nav").removeClass("active-btn");
        $(".leaderboard-nav").addClass("unselected-btn");

        $("#" + leaderboard_tag + "_nav").addClass("active-btn");
        $("#" + leaderboard_tag + "_nav").removeClass("unselected-btn");
    }

    $(document).ready(function() {
        onChangeLeaderboard('{{initial_leaderboard_tag}}');
    });
</script>
