<div id="leaderboard">
    {% if rebuildingGradeable %}
    <p>
        Leaderboard is temporarily unavailable because the gradeable is being
        rebuilt. Please try refreshing the page in a few minutes.
    </p>
    {% else %}
    <div class="tab-bar-wrapper">
        {% for leaderboard in leaderboards %}
        <a class="nav-bar key_to_click" id="{{leaderboard.tag}}_nav" onclick="onChangeLeaderboard('{{leaderboard.tag}}');">{{leaderboard.title}}</a>
        {% endfor %}
    </div>
    <div id="leaderboard-table">
    </div>
    {% endif %}
</div>
<script>
    function onChangeLeaderboard(leaderboard_tag) {
        $("#leaderboard-table").load("{{leaderboard_data_url}}" + "/" + leaderboard_tag);
    }

    $(document).ready(function() {
        onChangeLeaderboard('{{initial_leaderboard_tag}}');
    });
</script>
