{% if studentIsAnonymous %}
  {% set you_text = '(you, anonymous to others)' %}
{% else %}
  {% set you_text = '(you, visible to everyone)' %}
{% endif %}


<table class="table table-striped" style="width: 100%">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">User</th>
			<th scope="col">Points on Relevant Testcases</th>
			<th scope="col">Time</th>
			<th scope="col">Memory</th>
		</tr>
	</thead>
	<tbody>
		{% for entry in leaderboard %}
			{% if loop.index0 < top_visible_students or top_visible_students == 0 or accessFullGrading %}
				<tr class="{% if entry["user_group"] < 4%}leaderboard-grader{% endif %}">
					<th scope="row" class="row_number">{{ loop.index }}</th>
					<td>
						{% if user_id == entry['user_id'] %}
							{{ user_name }} {{you_text}}
						{% else %}
							{{ entry["name"] }} {% if entry["user_group"] < 4%}(course staff){% endif %}
						{% endif %}
						{% if accessFullGrading %}
							({{ entry["user_id"] }})
						{% endif %}
					</td>
					<td>{{ entry["points"] }}</td>
					<td>{{ entry["time"] | round(1) }}s</td>
					<td>{{ (entry["memory"] / 1000) | round }}MB</td>
				</tr>
			{% endif %}
		{% endfor %}

    {# Show the student #}
		{% if user_index >= top_visible_students and top_visible_students != 0 and not accessFullGrading %}
			<tr class="blank_row">
				<td colspan="5">...</td>
			</tr>
			{% for entry in leaderboard %}
				{% if loop.index0 > user_index - 4 and loop.index0 <= user_index %}
					<tr>
						<td class="row_number"></td>
						<td>
							{% if user_id == entry['user_id'] %}
								{{ user_name }} {{you_text}}
							{% else %}
								{{entry['anon_id']}} ({{user_index - loop.index0}} ahead of you)
							{% endif %}
						</td>
						<td>{{ entry["points"] }}</td>
						<td>{{ entry["time"] |round(1) }}s</td>
						<td>{{ (entry["memory"] / 1000) | round }}MB</td>
					</tr>
				{% endif %}
			{% endfor %}
      <tr class="blank_row">
				<td colspan="5">...</td>
			</tr>
		{% endif %}

	</tbody>
</table>
