{#
************************
    --- WHEN UPDATING THIS FILE MAKE SURE TO ALSO UPDATE site/public/templates/misc/MarkdownArea.twig ---
    --- IMPORTANT: When adding new variables to this file, be sure to update the array in /app/controllers/MarkdownController.php
                   THIS IS NECESSARY for OverallComment.twig, the Notebook Builder (and any other future pages that fetch the MarkdownArea.twig template
                   via AJAX or have MarkdownArea.twig included in a template that is located in the public directory (common in TAGrading) )
************************
    markdown_area_id: required
    class: optional, a string with classes separated by a space to be applied to the markdown_area
    onclick: required, onclick event string for the preview_button
    markdown_area_name: optional, but be careful make sure to maintain preexisting names
                        when converting forms to use this template otherwise they might not work
    markdown_area_value: optional, initial value for markdown_area to have
    markdown_buttons_id: optional, id for the span holding the markdown_buttons
    other_textarea_attributes: optional, string containing any custom attributes you want the textarea to have. (doesn't work very reliably, consider just adding more variables)
                               The string should not have attribute values wrapped in quotes
                                ex. "other_textarea_attributes": "required onkeyup='doSomething()'" <----- BAD
                                    "other_textarea_attributes": "required onkeyup=doSomething()" <----- GOOD
    render_buttons: optional, boolean
    placeholder: optional, placeholder text for the markdown_area
    preview_div_id: technically optional, but giving an id makes getting the div in JS much easier
    textarea_onchange: optional, event handler for onchange event of the markdown_area
    textarea_onkeyup: optional, event handler for onkeyup event of the markdown_area
    data_previous_comment: specifically for use in OverallComment.twig
#}
<div class="markdown-area fill-available {{ root_class|default('') ? root_class : '' }}">
    <div id="{{ markdown_header_id is defined ? markdown_header_id : "markdown_header" }}" class="markdown-area-header" style="display: {{ render_header|default(false) ? "flex" : "none" }}" data-mode="edit">
        <div class="markdown-mode-buttons">
            <button title="Edit Markdown" type="button" onclick="{{ onclick }}.call(this, 'edit')" class="markdown-mode-tab markdown-write-mode active key_to_click">Write</button>
            <button title="Preview Markdown" type="button" onclick="{{ onclick }}.call(this, 'preview')" class="markdown-mode-tab markdown-preview-mode key_to_click" tabindex="0" data-initialize-preview="{{initialize_preview|default(false)}}">Preview</button>
        </div>
        <div class="markdown-area-toolbar">
            <a target="_blank" href="https://submitty.org/student/communication/markdown">
                <i style="font-style:normal;" class="fa-question-circle"></i>
            </a>
            <button type="button" title="Insert a link" onclick="addMarkdownCode(1, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown btn-markdown-link key_to_click"  tabindex="0">Link <i class="fas fa-link fa-1x"></i></button>
            <button title="Insert a code segment" type="button" onclick="addMarkdownCode(0, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown btn-markdown-code key_to_click"  tabindex="0">Code <i class="fas fa-code fa-1x"></i></button>
            <button title="Insert bold text" type="button" onclick="addMarkdownCode(2, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown btn-markdown-bold key_to_click"  tabindex="0">Bold <i class="fas fa-bold fa-1x"></i></button>
            <button title="Insert italic text" type="button" onclick="addMarkdownCode(3, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown btn-markdown-italic key_to_click"  tabindex="0">Italics <i class="fas fa-italic fa-1x"></i></button>
        </div>
    </div>
    <div class="markdown-area-body">
        <label for="{{ markdown_area_id }}" tabindex="-1" class="screen-reader">{{ markdown_area_id }}</label>
        {% include "./AccessibilityMessage.twig" %}
        <textarea
            id="{{ markdown_area_id }}"
            class="fill-available {{ class is defined ? class }}"
            name="{{ markdown_area_name is defined ? markdown_area_name : "markdown_area" }}"
            {% if placeholder is defined %}
                placeholder="{{ placeholder }}"
            {% endif %}
            rows="10" cols="30"
            {# 524288 characters is the default max length for text input fields #}
            maxlength="{{no_maxlength|default(null) ? '524288' : '5000'}}"
            {% if textarea_onchange is defined %}
                onchange="{{ textarea_onchange }}"
            {% endif %}
            {% if textarea_onkeydown is defined %}
                onkeydown="{{ textarea_onkeydown }}"
            {% endif %}
            {% if textarea_onpaste is defined %}
                onpaste="{{ textarea_onpaste }}"
            {% endif %}
            {% if textarea_maxlength is defined %}
                maxlength="{{ textarea_maxlength }}"
            {% endif %}
            data-previous-comment="{{ data_previous_comment is defined ? data_previous_comment : '' }}"
            {% if other_textarea_attributes is defined %}
                {{ other_textarea_attributes }}
            {% endif %}
        >{{ markdown_area_value is defined ? markdown_area_value : '' }}</textarea>
        <div id="{{ preview_div_id }}" class="fill-available markdown-preview" style="min-height:{{ min_height is defined ? min_height : "100px" }}; max-height:{{ max_height is defined ? max_height : "none" }}" hidden></div>
    </div>
</div>
<script>
    $('#{{markdown_area_id}}').ready(function() {
        enableTabsInTextArea("#{{markdown_area_id}}");
        const markdown_area = $('#{{markdown_area_id}}').closest('.markdown-area')
        markdown_area.find('[data-initialize-preview="1"]').trigger('click');
    });
    $('.markdown-mode-tab').on('click', function(){
        $(this).addClass('active');
        const markdown_area = $(this).closest('.markdown-area');
        markdown_area.find('.markdown-mode-tab').not(this).removeClass('active');
    });
</script>