{# make sure edits are made in both site/public/templates/misc/Vue.twig and site/app/templates/Vue.twig #}
<div
    class="{{ class is defined ? class }}"
    style="{{ style is defined ? style : '' }}"
>
    <script>
        window.submitty.render(
            document.currentScript.parentElement,
            "{{ type }}",
            "{{ name }}",
            {{ args | default({}) | json_encode() | raw() }}
        );
    </script>
</div>
