{% if new_vcs_token is defined and new_vcs_token_val is defined %}
    <div class="content" id="new-token-banner" data-testid="new-token-banner">
        <p>
            Your new VCS Authentication Token was created successfully and its value is displayed below.<br>
            <em>NOTE: Do not share this token with others. Treat it like a password.</em><br>
            <br>
        </p>
        <p>
            Save this value in a secure place -- <em>it will not be displayed if you reload this webpage</em>.<br>
            If you lose this value, you will need to create a new VCS Authentication Token.
        </p>
        <br>
        <p><b>Name</b>: {{ new_vcs_token.getName() }}</p>
        {% if new_vcs_token.getExpiration() is null %}
            <p><b>Expiration</b>: Never expires</p>
        {% else %}
            <p><b>Expiration</b>: {{ new_vcs_token.getExpiration()|date('m/d/Y @ h:i A T') }}</p>
        {% endif %}
        <p data-testid="new-vcs-token">
            <b>Value</b>: {{ new_vcs_token_val }}
            <i class="fas fa-copy" id="token-copy-button" title="Copy to clipboard" data-val="{{ new_vcs_token_val }}"></i>
        </p>
    </div>
{% endif %}

{% if new_api_token is defined %}
    <div class="content" id="new-token-banner">
        <p>
            Your new API Token was created successfully and its value is displayed below.<br>
            <em>NOTE: Do not share this token with others. Treat it like a password.</em><br>
            <br>
        </p>
        <p>
            Save this value in a secure place -- <em>it will not be displayed if you reload this webpage</em>.<br>
            If you lose this value, you will need to create a new API Token.
        </p>
        <br>
        <p id="new-api-token">
            <b>Token</b>: {{ new_api_token }}
            <i class="fas fa-copy" id="token-copy-button" title="Copy to clipboard" data-val="{{ new_api_token }}"></i>
        </p>
    </div>
{% endif %}

<div class="content">
    <h1>Authentication Tokens</h1>
        <h2>API Token</h2>
        <p>
            To get your API token, press the Get API Token button below.
            Retrieving your API token will invalidate any previous token
            generated. If you wish to invalidate your token without generating
            a new one, press the Revoke Current API Token button.
        </p>
        <br>
        <p>
            Learn more about the API <a href="https://api.submitty.org/">here</a>.
        </p><br>
        <form method="POST" action="/authentication_tokens/api">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit" class="btn btn-primary">Get API Token</button>
        </form>

        <form method="POST" action="/authentication_tokens/api/invalidate">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit" class="btn btn-danger">Revoke Current API Token</button>
        </form>

        <br><br>
    <h2>Version Control System (GIT) Authentication Tokens</h2>
    <p>
        For more information about managing and using these tokens, please see:<br>
        <a href="https://submitty.org/student/account/authentication_tokens">Submitty Authentication Tokens</a>
        <br><br>
    </p>
    <button class="btn btn-primary" id="new-auth-token-button" data-testid="new-auth-token-button">Create New VCS Authentication Token</button>
    <br><br>
    {% if vcs_tokens|length != 0 %}
    <table class="table mobile-table">
        <tr>
            <th>Name</th>
            <th>Expiration</th>
            <th>Action</th>
        </tr>
        {% for token in vcs_tokens %}
            <tr>
                <td data-testid="auth-token-name">{{ token.getName() }}</td>
                {% if token.getExpiration() is null %}
                    <td data-testid="auth-token-expire">Never expires</td>
                {% else %}
                    {% if token.isExpired(current_time) %}
                        <td data-testid="auth-token-expire">EXPIRED on {{ token.getExpiration()|date('m/d/Y @ h:i A T') }}</td>
                    {% else %}
                        <td data-testid="auth-token-expire">{{ token.getExpiration()|date('m/d/Y @ h:i A T') }}</td>
                    {% endif %}
                {% endif %}
                <td>
                    <form action="/authentication_tokens/vcs/revoke" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="hidden" name="id" value="{{ token.getId() }}">
                        <input data-testid="auth-token-revoke" type="submit" class="btn btn-danger" value="Revoke">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p data-testid="no-auth-token">You don't have any Authentication Tokens.</p>
    {% endif %}
</div>

{% include('CreateVcsAuthTokenForm.twig') %}