<div class="content shadow" id="login-box">
    <div id="login-guest">
        {% include 'Vue.twig' with {
            type: "component",
            name: "Markdown",
            args: {
                content: login_content
            }
        } only %}
    </div>
    <!--
    <em>Note: Registered students have not yet been uploaded to the Submitty course databases.  Please check back later.</em>
    -->
    {% if is_saml %}
    <a href="{{ saml_url }}" class="btn btn-primary" id="saml-login">{{ saml_name }}</a>
    {% else %}
    <form action="{{ login_url }}" method="post" id="login">
        <label>
            User ID
            <input type="text" name="user_id" onchange="$(this).val($(this).val().trim())" required autofocus/>
        </label>
        <label>
            Password
            <input type="password" name="password" required />
        </label>
        <label class="inline-label">
            Stay Logged In
            <input type="checkbox" name="stay_logged_in" checked />
        </label>
        <input type="submit" name="login" value="Login" class="btn btn-primary" />
        {% if user_create_account and is_database_auth %}
            <a href="{{ new_account_url }}" class="btn btn-default" id="new-account" data-testid="new-account-button">{{ new_account_text }}</a>
        {% endif %}
    </form>
    {% endif %}
</div>
