<div class="content">
    <p>
        Click this button to stop the page from automatically updating
    </p>
    <button class="btn btn-primary" id="toggle-btn">
        Pause Update
    </button>
</div>
<div class="content">
    <h1>
        Job Statistics
    </h1>
    <h2>
        Course Statistics
    </h2>
    <table class="table table-striped mobile-table" id="course-table">
        <thead>
            <tr>
                <th>
                    Semester
                </th>
                <th>
                    Course
                </th>
                <th>
                    Gradeable Id
                </th>
                <th>
                    Interactive
                </th>
                <th>
                    Regrade
                </th>
            </tr>
        </thead>
        <tbody>
        {% for sem_course, info in progress["course_info"] %}
            {% for gradeable, types in info %}
                <tr>
                    {% set course_name = sem_course|split("__") %}
                    <td>{{ course_name[0] }}</td>
                    <td>{{ course_name[1] }}</td>
                    <td>{{ gradeable }}</td>
                    <td>{{ types["interactive"] }}</td>
                    <td>{{ types["regrade"] }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <h2 style="padding-top: 1em;">
        Machine Statistics
    </h2>
    <table class="table table-striped" id="machine-table">
        <thead>
            <tr>
                <th>Machine</th>
                <th>Semester</th>
                <th>Course</th>
                <th>Gradeable Id</th>
                <th>User Id</th>
                <th>Elapsed Time</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for machine, worker_info in progress["ongoing_job_info"] %}
                    {% for info in worker_info %}
                    <tr>
                        <td> {{machine}} </td>
                        <td> {{info["semester"]}} </td>
                        <td> {{info["course"]}} </td>
                        <td> {{info["gradeable_id"]}} </td>
                        {% if info["semester"] ~ " " ~ info["course"] in courses %}
                        <td> {{info["user_id"]}} </td>
                        {% else %}
                        <td>Hidden</td>
                        {% endif %}
                        <td> {{info["elapsed_time"]}} </td>
                        <td> {{info["error"]}} </td>
                    </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="content table-content custom-scrollbar">
    <h1>
        Autograding Monitor
    </h1>
    <div id="data" data-machine-num="{{progress["machine_grading_counts"]|keys|length}}" data-capability-num="{{progress["capability_queue_counts"]|keys|length}}" hidden>
    </div>
    <table class="table table-striped" id="autograding-status-table">
        <thead>
            <tr>
                <th rowspan="3" class="col-md-2 right-boarder">
                    TIME STAMP
                </th>
                <th colspan="2" style="text-align: left;"  class="col-md-4">
                    INTERATIVE
                </th>
                <th colspan="2" style="text-align: left;"  class="col-md-4 right-boarder">
                    REGRADE
                </th>
                <th class="col-md-2 right-boarder" colspan="{{ progress["machine_grading_counts"]|keys|length }}" style="text-align: left;">
                    MACHINES (active work)
                </th>
                <th class="col-md-2" colspan="{{ progress["capability_queue_counts"]|keys|length }}" style="text-align: left;">
                    CAPABILITIES (queue)
                </th>
            </tr>
            <tr>
                <th class="col-md-2" rowspan="2">
                    grading
                </th>
                <th class="col-md-2 right-boarder" rowspan="2">
                    in queue
                </th>
                <th class="col-md-2" rowspan="2">
                    grading
                </th>
                <th class="col-md-2 right-boarder" rowspan="2">
                    in queue
                </th>
                {% for machines in progress["machine_grading_counts"]|keys %}
                {% if machines == progress["machine_grading_counts"]|keys|last %}
                <th class="col-md-2 right-boarder">
                    {{ machines|upper }}
                </th>
                {% else %}
                <th class="col-md-2">
                    {{ machines|upper }}
                </th>
                {% endif %}
                {% endfor %}
                {% for capability in progress["capability_queue_counts"]|keys %}
                <th class="col-md-2" rowspan="2">
                    {{ capability|upper }}
                </th>
                {% endfor %}
            </tr>
            <tr>
                {# Should display number of shippers instead for each machine #}
                {% for machine in progress["machine_grading_counts"]|keys %}
                    {% if machine == progress["machine_grading_counts"]|keys|last %}
                    <th class="right-boarder">
                        {{ progress["num_autograding_workers"][machine] }}
                    </th>
                    {% else %}
                    <th>
                        {{ progress["num_autograding_workers"][machine] }}
                    </th>
                    {% endif %}
                {% endfor %}
                <th colspan="{{ progress["capability_queue_counts"]|keys|length }}">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="right-boarder">
                    {{ time }}
                </td>
                <td>
                    {{ progress["queue_counts"]["interactive_ongoing"] }}
                </td>
                <td class="right-boarder">
                    {{ progress["queue_counts"]["interactive"] }}
                </td>
                <td>
                    {{ progress["queue_counts"]["regrade_ongoing"] }}
                </td>
                <td class="right-boarder">
                    {{ progress["queue_counts"]["regrade"] }}
                </td>
                {% for machine, count in progress["machine_grading_counts"] %}
                {% if machine == progress["machine_grading_counts"]|keys|last %}
                <td class="right-boarder">
                    {{ count }}
                </td>
                {% else %}
                <td>
                    {{ count }}
                </td>
                {% endif %}
                {% endfor %}
                {% for count in progress["capability_queue_counts"]%}
                <td>
                    {{ count }}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>