<div class="content">
    <p>
        Click this button to stop the page from automatically updating
    </p>
    <button class="btn btn-primary" id="toggle-btn">
        Pause Update
    </button>
</div>
<div class="content">
    <h1>
        Job Statistics
    </h1>
    <h2>
        Course Statistics
    </h2>
    {# css was added to enable the column names to show up when the windows become to small causing the table to become "mobile-fied"#}    
    <table class="table table-striped mobile-table" id="course-table">
        <thead>
            <tr>
                <th>
                    Term
                </th>
                <th>
                    Course
                </th>
                <th>
                    Gradeable Id
                </th>
                <th>
                    Interactive
                </th>
                <th>
                    Regrade
                </th>
            </tr>
        </thead>
        <tbody>
        {% for sem_course, info in progress["course_info"] %}
            {% for gradeable, types in info %}
                <tr>
                    {% set course_name = sem_course|split("__") %}
                    <td>{{ course_name[0] }}</td>
                    <td>{{ course_name[1] }}</td>
                    <td>{{ gradeable }}</td>

                    <td>
                        {% if types["interactive"] != 0 %}
                            {{ types["interactive"] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if types["regrade"] != 0 %}
                            {{ types["regrade"] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <h2 style="padding-top: 1em;">
        Machine Statistics
    </h2>
    <table class="table table-striped" id="machine-table">
        <thead>
            <tr>
                <th>Machine</th>
                <th>Term</th>
                <th>Course</th>
                <th>Gradeable Id</th>
                <th>User Id</th>
                <th>Elapsed Time</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for machine, worker_info in progress["ongoing_job_info"] %}
                {% for info in worker_info %}
                    <tr>
                        <td> {{machine}} </td>
                        <td> {{info["term"]}} </td>
                        <td> {{info["course"]}} </td>
                        <td> {{info["gradeable_id"]}} </td>
                        <td> {{info["user_id"]}} </td>
                        <td> {{info["elapsed_time"]}} </td>
                        <td> {{info["error"]}} </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="content table-content custom-scrollbar">
    <h1>
        Autograding Monitor
    </h1>
    <div id="data" data-machine-num="{{progress["machine_grading_counts"]|keys|length}}" data-capability-num="{{progress["capability_queue_counts"]|keys|length}}" hidden>
    </div>
    <table class="table table-striped table-bordered" id="autograding-status-table">
        <thead>
            <tr>
                <th rowspan="3" class="col-md-2 right-boarder">
                    TIME STAMP
                </th>
                <th colspan="2" class="col-md-4 text-left">
                    INTERACTIVE
                </th>
                <th colspan="2" class="col-md-4 right-boarder text-left">
                    REGRADE
                </th>
                <th class="col-md-2 right-boarder text-left" colspan="{{ progress["machine_grading_counts"]|keys|length }}">
                    MACHINES (active work)
                </th>
                <th class="col-md-2 text-left" colspan="{{ progress["capability_queue_counts"]|keys|length }}">
                    CAPABILITIES (queue)
                </th>
            </tr>
            <tr>
                <th class="col-md-2" rowspan="2">
                    grading
                </th>
                <th class="col-md-2 right-boarder" rowspan="2">
                    in queue
                </th>
                <th class="col-md-2" rowspan="2">
                    grading
                </th>
                <th class="col-md-2 right-boarder" rowspan="2">
                    in queue
                </th>
                {% for machines in progress["machine_grading_counts"]|keys %}
                    {% if machines == progress["machine_grading_counts"]|keys|last %}
                        <th class="col-md-2 right-boarder">
                            {{ machines|upper }}
                        </th>
                    {% else %}
                        <th class="col-md-2">
                            {{ machines|upper }}
                        </th>
                    {% endif %}
                {% endfor %}
                {% for capability in progress["capability_queue_counts"]|keys %}
                    <th class="col-md-2" rowspan="2">
                        {{ capability|upper }}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                {# Should display number of shippers instead for each machine #}
                {% for machine in progress["machine_grading_counts"]|keys %}
                    {% if machine == progress["machine_grading_counts"]|keys|last %}
                        <th class="right-boarder">
                            {{ progress["num_autograding_workers"][machine] }}
                        </th>
                    {% else %}
                        <th>
                            {{ progress["num_autograding_workers"][machine] }}
                        </th>
                    {% endif %}
                {% endfor %}
                <th colspan="{{ progress["capability_queue_counts"]|keys|length }}">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="right-boarder">
                    {{ progress["time"] }}
                </td>
                <td>
                    {% if progress["queue_counts"]["interactive_ongoing"] != 0 %}
                        {{ progress["queue_counts"]["interactive_ongoing"] }}
                    {% endif %}
                </td>
                <td class="right-boarder">
                    {% if progress["queue_counts"]["interactive"] != 0 %}
                        {{ progress["queue_counts"]["interactive"] }}
                    {% endif %}
                </td>
                <td>
                    {% if progress["queue_counts"]["regrade_ongoing"] != 0 %}
                        {{ progress["queue_counts"]["regrade_ongoing"] }}
                    {% endif %}
                </td>
                <td class="right-boarder">
                    {% if progress["queue_counts"]["regrade"] != 0 %}
                        {{ progress["queue_counts"]["regrade"] }}
                    {% endif %}
                </td>
                {% for machine, count in progress["machine_grading_counts"] %}
                    {% if machine == progress["machine_grading_counts"]|keys|last %}
                        <td class="right-boarder">
                            {% if count != 0 %}
                                {{ count }}
                            {% endif %}
                        </td>
                    {% else %}
                    <td>
                        {% if count != 0 %}
                            {{ count }}
                        {% endif %}
                    </td>
                    {% endif %}
                {% endfor %}
                {% for count in progress["capability_queue_counts"]%}
                    <td>
                        {% if count != 0 %}
                            {{ count }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<div class="content">
    <h1>
        Autograding Error Stacktrace
    </h1>
    <button class="btn btn-primary stack-refresh-btn" style="margin-bottom: 1em;">Refresh Stacktrace</button>
    <div class="stack-trace">
    </div>
</div>
