{% extends 'generic/Popup.twig' %}
{% block popup_id %}change-password-form{% endblock %}
{% block title %}Change Password{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <div class="flex-col">
        <div class="display-box">
            <p style="display:block">Password <button class="requirements-button" type="button" onclick="showRequirements(this.id)" id="change-password">Show Requirements</button></p>
            <div class="hidden-helper" id="change-password-helper">
                Password Requires at least:<br/>
                <ul class="requirements-list">
                    {% if password_requirements["require_uppercase"] is not defined or password_requirements["require_uppercase"] %}
                        <li> 1 Capital Letter </li>
                    {% endif %}
                    {% if password_requirements["require_lowercase"] is not defined or password_requirements["require_lowercase"] %}
                        <li> 1 Lowercase Letter </li>
                    {% endif %}
                    {% if password_requirements["require_numbers"] is not defined or password_requirements["require_numbers"] %}
                        <li> 1 Number </li>
                    {% endif %}
                    {% if password_requirements["require_special_chars"] is not defined or password_requirements["require_special_chars"] %}
                        <li> 1 Special Character </li>
                    {% endif %}
                    <li> {{ password_requirements["min_length"] is defined ? password_requirements["min_length"] : 12 }} Characters </li>
                </ul>
            </div>
            <input type="password" name="new_password" id="new_password" />
        </div>
        <div class="display-box">
            Confirm Password
            <input type="password" name="confirm_new_password" id="confirm_new_password" />
        </div>
    </div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ change_password_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
