<div class="content">
    <h1>New Course -- Work In Progress</h1>

    <form id="course-creation-form" action="{{ course_creation_url }}"
          method="post" enctype="multipart/form-data">
        <div class="option row">
            <div class="option-desc col-md-6">
                <label for="course_semester">
                    <span class="option-title block">Term</span>
                    <span class="option-alt">
                      <span class="block">What is the term for the new course?</span>
                      <span class="block">Contact the system administrator if the desired term is not available from the drop down menu.</span>
                      <span class="required_type">(Required)</span>
                    </span>
                </label>
            </div>
            <div class="option-input col-md-6">
                <select name="course_semester" id="course_semester" class="auto_save">
                    {% for semester in semesters %}
                        <option value="{{ semester }}">
                            {{ semester }}
                        </option>
                    {% endfor %}
                </select>
                {% if is_superuser %}
                    <button class="btn btn-secondary" type="button" style="margin-left:10px;" onclick="addNewTerm()">Other</button>
                {% endif %}
            </div>
        </div>


        <div class="option row">
            <div class="option-desc col-md-6">
                <label for="course_title">
                    <span class="option-title block">Course Code</span>
                    <span class="option-alt">
                      <span class="block">What is the course code for the new course?
                      {{ course_code_requirements }} </span>
                      <span class="block">Please follow course code conventions established by your school and department.<br>
                      My Prior Course Codes: {% for course in courses %}{{ course }}{% if not loop.last %}, {% endif %}{% endfor %}.<br>
                      Contact the system administrator if you are unsure what course code you should use.</span>
                      <span class="block">Note: This field must contain only lowercase letters (a-z), digits (0-9), and the underscore character.</span>
                      <span class="required_type">(Required)</span>
                    </span>
                </label>
            </div>
            <div class="option-input col-md-6">
                <textarea name='course_title' id='course_title' class="required auto_save" style="overflow:hidden" placeholder="(Required)" required></textarea>
            </div>
        </div>

        {% if is_superuser %}
            <div class="option row">
                <div class="option-desc col-md-6">
                    <label for="head_instructor">
                        <span class="option-title block">Head Instructor</span>
                        <span class="option-alt block">Who is the head instructor?
                          <span class="required_type">(Required)</span>
                        </span>
                    </label>
                </div>

                <div class="option-input col-md-6">
                    <select name="head_instructor" id="head_instructor" class="auto_save">
                        {% for instructor in faculty %}
                            <option value="{{ instructor.getId() }}">
                                {{ instructor.getId() }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% else %}
            <input type="hidden" name="head_instructor" id="head_instructor" value="{{ head_instructor }}" />
        {% endif %}

        <div class="option row">
            <div class="option-desc col-md-6">
                <label for="group_name">
                    <span class="option-title block">GNU/Linux Filesystem Group</span>
                    <span class="option-alt">Select the appropriate GNU/Linux filesystem group for this course from the dropdown menu.</span>
                    <span class="option-alt block">Instructors and graders in this group with ssh access to the server will be able to access files for this new course.</span>
                    <span class="option-alt block">Contact the system administrator if you do not see an appropriate GNU/Linux group in this list.  Or if you need to modify the members of the GNU/Linux filesystem group.</span>
                    <span class="required_type">(Required)</span>
                </label>
            </div>

            <div class="option-input col-md-6">
                <select name="group_name" id="group_name" class="auto_save" onchange="onGroupChange()">
                    <option value="">Please select an option</option>
                </select>
                <p id="group_users" style="display: none;">Users in this group: </p>
            </div>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />

        <div class="row">
            <button class="btn btn-primary" type="submit" style="margin-left:10px;">Create New Course</button>
        </div>
    </form>
</div>

{% include 'AddTerm.twig' %}

<script>
    function addNewTerm() {
        $('.popup-form').css('display', 'none');
        var form = $("#add-new-term");
        form.css("display", "block");
        form.find('.form-body').scrollTop(0);
        $("#term-id").focus();
    }

    function onHeadInstructorChange() {
        let headInstructor = $('#head_instructor').val();
        $.ajax({
            type: "GET",
            url: buildUrl(['home', 'groups']) + `?user_id=${headInstructor}`,
            success: function(data) {
                let json = JSON.parse(data);
                let groups = json['data'];
                $('#group_name').find('option').remove();
                $('#group_name').append('<option value="">Please select an option</option>');
                $.each(groups, (i, val) => {
                    $('#group_name').append(`<option value="${val['group_name']}">${val['group_name']}`)
                })
                onGroupChange();
            }
        });
    }

    function onGroupChange() {
        let group = $('#group_name').val();
        $('#group_users').text("Users in this group: ");
        if (group === "") {
            $('#group_users').hide();
            return;
        }
        $.ajax({
            type: "GET",
            url: buildUrl(['home', 'group', 'users']) + `?group_name=${group}`,
            success: function(data) {
                let json = JSON.parse(data);
                if (json.status === "success") {
                    let users = json.data;
                    $('#group_users').text(`Users in this group: ${users}`);
                    $('#group_users').show();
                }
                else {
                    alert("Error displaying group members:\n\n" + json.message)
                }
            }
        });
    }

    $(document).ready(function() {
        onHeadInstructorChange();
        $('[name="head_instructor"]').change(onHeadInstructorChange);
    });
</script>
