{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-pronouns-form{% endblock %}
{% block title %}Edit Pronous (Optional){% endblock %}
{% block body %}

    <p class="std-margin">
       You are invited to optionally add <em>pronouns</em> to your Submitty account.
       These pronouns will be shared with your instructors.
       Example: he/him, she/her, they/them, etc.
    </p>
    <div class="flex-col" id="user_settings_modal">
        <input id="user-pronouns-csrf" type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <div class="edit_user_row">
            <label for="user-pronouns-change">Pronouns:&emsp;</label>
            <input type="text"
                   name="user_pronouns_change"
                   value="{{ user.getPronouns() }}"
                   id="user-pronouns-change"
                   data-current-pronouns="{{ user.getPronouns() }}"/>
        </div>
    </div>
{% endblock %}
{% block form %}
    <form method="post" onsubmit="return updateUserPronouns()">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
