{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-username-form{% endblock %}
{% block title %}Edit User Information{% endblock %}
{% block body %}
    <p class="std-margin">{{ change_name_text }}</p>
    <p class="std-margin">
        Your instructor and the system administrators reserve the right to remove
        a preferred name if it contains inappropriate or offensive language,
        or is being used for misrepresentation.
    </p>
    <div class="flex-col" id="user_settings_modal">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <h2>Preferred Name</h2>
        <div class="edit_user_row">
            <label for="user-firstname-change">Preferred First Name:&emsp;</label>
            <input type="text" name="user_firstname_change" value="{{ user_first }}" id="user-firstname-change" />
        </div>
        <div class="edit_user_row">
            <label for="user-lastname-change">Preferred Last Name:&emsp;</label>
            <input value="{{ user_last }}" type="text" name="user_lastname_change" id="user-lastname-change" />
        </div>
        <hr />
        <h2>Preferred User Image</h2>
        <label for="user_image_button">
            You may upload a passport-style photograph of yourself for display to course teaching staff.<br>
            NOTE:  This feature is NOT for avatars, memes, etc.
        </label>
        <input type="file" name="user_image" id="user_image_button" accept="image/*">
    </div>
{% endblock %}
{% block form %}
    <form method="post" enctype="multipart/form-data" action="{{ change_username_url }}" >
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
