{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-name-order-format-form{% endblock %}
{% block title %}Choose Display Name Order{% endblock %}
{% block body %}
hi
    <div class="flex-col" id="user_settings_modal">
        <input id="user-last-initial-format-csrf" type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <p class="std-margin"> Implement Description Later </p>
        <div class="edit_user_row">
            <label for="user-last-initial-format-change">Display Format:&emsp;</label>
            <select id="user-last-initial-format-change" data-default="{{ user.getDispayNameOrder() }}" onchange="previewUserLastInitialFormat()">
                {% for i in 0..1 %}
                    <option value="{{ i }}">{{ user.getDisplayNameFormat(i) }}</option>
                {% endfor %}
            </select>
            <span id="user-last-initial-format-preview" style="margin-left: 10px; font-weight: bold;" data-options="{{ (0..3)|map(i => user.getDisplayAbbreviatedName(i))|join('|') }}">{{ user.getDisplayAbbreviatedName() }}</span>
        </div>
    </div>
{% endblock %}
{% block form %}
    <form method="post" onsubmit="return updateUserDisplayNameOrder()">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
