{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-username-form{% endblock %}
{% block title %}Specify Preferred Names{% endblock %}
{% block body %}
    <p class="std-margin">{{ change_name_text }}</p>
    <p class="std-margin">
        Your instructor and the system administrators reserve the right to remove
        a preferred name if it contains inappropriate or offensive language,
        or is being used for misrepresentation.
    </p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <div class="flex-col">
    	<label for="user-firstname-change">
            Preferred First Name:&emsp;
            <input type="text" name="user_firstname_change" value="{{ user_first }}" id="user-firstname-change" />
        </label>
    	<label for="user-lastname-change">
            Preferred Last Name:&emsp;
            <input value="{{ user_last }}" type="text" name="user_lastname_change" id="user-lastname-change" />
        </label>
    </div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ change_username_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
