{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-username-form{% endblock %}
{% block title %}Edit Preferred Names{% endblock %}
{% block body %}
    <p class="std-margin">{{ change_name_text }}</p>
    <p class="std-margin">
        Your instructor and the system administrators reserve the right to remove
        a preferred name if it contains inappropriate or offensive language,
        or is being used for misrepresentation.
    </p>
    <div class="flex-col" id="user_settings_modal">
        <input id="user-preferred-name-csrf" type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <h2>My Preferred Name</h2>
        <div class="edit_user_row">
            <label for="user-firstname-change">Preferred First / Given Name:&emsp;</label>
            <input type="text"
                   name="user_firstname_change"
                   value="{{ user_first }}"
                   id="user-firstname-change"
                   data-current-name="{{ user_first }}"/>
        </div>
        <div class="edit_user_row">
            <label for="user-lastname-change">Preferred Last / Family Name:&emsp;</label>
            <input type="text"
                   name="user_lastname_change"
                   value="{{ user_last }}"
                   id="user-lastname-change"
                   data-current-name="{{ user_last }}"/>
        </div>
    </div>
{% endblock %}
{% block form %}
    <form method="post" onsubmit="return updateUserPreferredNames()">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
