{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-pronouns-form{% endblock %}
{% block title %}Edit Pronous (Optional){% endblock %}
{% block body %}
    <p class="std-margin">
       Your <em>primary email address</em> is most likely an email account affilitiated
       with your educational institution.
       Contact your instructor or system administrator if you need to modify the primary email
       address associated with your Submitty account.
    </p>

    <p class="std-margin">
       You are invited to optionally add a <em>secondary email address</em> to your Submitty account.
       This email address will be shared with your instructors.
    </p>
    <div class="flex-col" id="user_settings_modal">
        <input id="user-pronouns-csrf" type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <div class="edit_user_row">
            <label for="user-pronouns-change">Secondary Email Address:&emsp;</label>
            <input type="text"
                   name="user_pronouns_change"
                   value="{{ user.getPronouns() }}"
                   id="user-pronouns-change"
                   data-current-pronouns="{{ user.getPronouns() }}"/>
        </div>
    </div>
{% endblock %}
{% block form %}
    <form method="post" onsubmit="return updateUserPronouns()">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
