{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-username-form{% endblock %}
{% block title %}Specify Preferred Names{% endblock %}
{% block body %}
    <p>{{ change_name_text }}</p>
    <p>&emsp;</p>
    <p>Your instructor and the system administrators reserve the right to remove
       a preferred name if it contains inappropriate or offensive language,
       or is being used for misrepresentation.</p>
    <p>&emsp;</p>
    <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
    <div>
    	<label for="user_firstname_change">Preferred First Name:&emsp;</label>
        <input type="text" name="user_firstname_change" value="{{ user_first }}" id="user_firstname_change" /><br /><br />
    	<label for="user_lastname_change">Preferred Last Name:&emsp;</label>
        <input value="{{ user_last }}" type="text" name="user_lastname_change" id="user_lastname_change" />
    </div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildNewUrl(['home', 'change_username']) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
