<div class="content" style="min-height:78vh">
    <Table class="table">
        {% if not data|length == 0 %}
            {% for subject in data|keys %}
                <button class="btn btn-outline-secondary text-left"  data-toggle="collapse" href={{"#collapse" ~ loop.index}} aria-expanded="false">
                    <div> {{subject ~ " "}} </div>
                    <div> {{data[subject][0]["created"]}}</div>
                </button>
                <div class="collapse in card" id={{"collapse"~loop.index}}>
                    <ul class="list-group list-group-flush">
                        {% for row in data[subject] %}
                            {% if  row["sent"] != null %}
                                <li class="list-group-item"> {{row["user_id"]}}, time sent: {{row["sent"]}} </li>
                            {% else %}
                                <li class="list-group-item list-group-item-danger"> {{row["user_id"]}}, Not Sent </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <div>
                No Emails Created For This Course
            </div>
        {% endif %}
    </Table>
</div>