<div class="content">
    <h1>Email Status</h1>
    {% if not subjects|length == 0 %}
        {% for subject in subjects|keys %}
            <div class="status-container">
                {% if errors[subject]|length == 0 and pending[subject]|length == 0 %}
                    <div class = "button-container">
                        <div>
                            <div> Email Subject: {{subject ~ " "}} </div>
                            <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                        </div>
                        <button class="btn btn-success text-left"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)">
                            Show Details
                        </button>
                    </div>
                {% elseif errors[subject]|length != 0 %}
                    <div class = "button-container">
                        <div> Email Subject: {{subject ~ " "}} </div>
                        <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                        <button class="btn btn-danger  text-left"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)">
                            Show Details
                        </button>
                    </div>
                {% else %}
                    <div class = "button-container">
                        <div> Email Subject: {{subject ~ " "}} </div>
                        <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                        <button class="btn btn-primary  text-left"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)">
                            Show Details
                        </button>
                    </div>
                {% endif %}
                <div class="expand" id={{"collapse"~loop.index}}>
                    <ul>
                        {% for row in errors[subject] %}
                            <li class="status status-error">
                                <div>Recipient: {{row["user_id"]}}</div>
                                <div>Time Sent: Not Sent</div>
                                <div>
                                    Error: {{row["error"]}}
                                </div>
                            </li>
                        {% endfor %}
                        {% for row in pending[subject] %}
                            <li  class="status status-warning">
                                <div>Recipient: {{row["user_id"]}}</div>
                                <div>Time Sent: Not Sent</div>
                            </li>
                        {% endfor %}
                        {% for row in successes[subject] %}
                            <li class="status status-success"> 
                                <div>Recipient: {{row["user_id"]}}</div> 
                                <div>Time Sent: {{row["sent"]|slice(0,19)}}</div> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class = "divider">
            </div>
        {% endfor %}
    {% else %}
        <div>
            No Emails Created For This Course
        </div>
    {% endif %}
</div>
<script>
    function onExpandButtonClick(button){
        const expandTarget = $(button).data('target');
        if ($(expandTarget).is(':visible')) {
            $(expandTarget).hide();
            $(button).text("Show Details");
        }
        else {
            $(expandTarget).show();
            $(button).text("Hide Details");
        }
    }
</script>