<div id="email" class="content">
    <h1>Email Status</h1>
    {% if not subjects|length == 0 %}
        {% for subject in subjects|keys %}
            <div class="status-container">
                <div class = "button-container">
                    <div>
                        <div> Email Subject: {{subject ~ " "}} </div>
                        <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                    </div>
                    <button class="btn
                    {% if (subject not in errors|keys or errors[subject]|length == 0) and (subject not in pending|keys or
                        pending[subject]|length == 0) %}
                        btn-success
                    {% elseif subject in errors|keys and errors[subject]|length != 0 %}
                        btn-danger
                    {% else %}
                        btn-primary
                    {% endif %}
                    text-left status-btn"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)">
                        Show Details
                    </button>
                </div>
                <div class="expand" id={{"collapse"~loop.index}}>
                    <ul>
                        {% if subject in errors|keys %}
                        {% for row in errors[subject] %}
                            <li class="status status-error">
                                <div class="status-message">Recipient: {{row["user_id"]}}</div>
                                <div class="status-message">Time Sent: Not Sent</div>
                                <div class="status-message">
                                    Error: {{row["error"]}}
                                </div>
                            </li>
                        {% endfor %}
                        {% endif %}
                        {% if subject in pending|keys %}
                        {% for row in pending[subject] %}
                            <li  class="status status-warning status">
                                <div class="status-message">Recipient: {{row["user_id"]}}</div>
                                <div class="status-message">Time Sent: Not Sent</div>
                            </li>
                        {% endfor %}
                        {% endif %}
                        {% if subject in successes|keys %}
                        {% for row in successes[subject] %}
                            <li class="status status-success status"> 
                                <div class="status-message">Recipient: {{row["user_id"]}}</div> 
                                <div class="status-message">Time Sent: {{row["sent"]|slice(0,19)}}</div> 
                            </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <hr class = "divider">
            </div>
        {% endfor %}
    {% else %}
        <div>
            No Emails Created For This Course
        </div>
    {% endif %}
</div>
<script>
    function onExpandButtonClick(button){
        const expandTarget = $(button).data('target');
        if ($(expandTarget).is(':visible')) {
            $(expandTarget).hide();
            $(button).text("Show Details");
        }
        else {
            $(expandTarget).show();
            $(button).text("Hide Details");
        }
    }
</script>
