{% if not subjects|length == 0 %}
    {% for subject in subjects|keys %}
        <div class="status-container">
            <div class = "button-container">
                <div>
                    <div> Email Subject: {{subject}} </div>
                    <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                    {% if courses is defined and courses[subject] is defined and courses[subject] is not null %}
                        <div> Course: {{courses[subject]}}</div>
                    {% else %}
                        <div> Superuser Email </div>
                    {% endif %}
                </div>
                {% if errors[subject]|length == 0 and pending[subject]|length == 0 %}
                    <button class="btn btn-success text-left status-btn"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)" style="margin: 0;">
                        Show Details
                    </button>
                {% elseif errors[subject]|length != 0 %}
                    <button class="btn btn-danger  text-left status-btn"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)" style="margin: 0;">
                        Show Details
                    </button>
                {% else %}
                    <button class="btn btn-primary  text-left status-btn"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)" style="margin: 0;">
                        Show Details
                    </button>
                {% endif %}
            </div>
            <div class="expand" id={{"collapse"~loop.index}}>
                <ul>
                    {% for row in errors[subject] %}
                        <li class="status status-error">
                            <div class="status-message">Recipient: {{row["user_id"]}}</div>
                            <div class="status-message">Time Sent: Not Sent</div>
                            <div class="status-message">Email Address: {{row["email_address"]}} </div>
                            <div class="status-message">
                                Error: {{row["error"]}}
                            </div>
                        </li>
                    {% endfor %}
                    {% for row in pending[subject] %}
                        <li class="status status-warning">
                            <div class="status-message">Recipient: {{row["user_id"]}}</div>
                            <div class="status-message">Time Sent: Not Sent</div>
                            <div class="status-message">Email Address: {{row["email_address"]}} </div>
                        </li>
                    {% endfor %}
                    {% for row in successes[subject] %}
                        <li class="status status-success"> 
                            <div class="status-message">Recipient: {{row["user_id"]}}</div> 
                            <div class="status-message">Time Sent: {{row["sent"]|slice(0,19)}}</div>
                            <div class="status-message">Email Address: {{row["email_address"]}} </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr class = "divider">
        </div>
    {% endfor %}
{% else %}
    <div>
        No Emails Created For This Course
    </div>
{% endif %}

<script>
    function onExpandButtonClick(button){
        const expandTarget = $(button).data('target');
        if ($(button).parent().parent().find(expandTarget).is(':visible')) {
            $(button).parent().parent().find(expandTarget).hide();
            $(button).text("Show Details");
        }
        else {
            $(button).parent().parent().find(expandTarget).show();
            $(button).text("Hide Details");
        }
    }
</script>
