{% if not subjects|length == 0 %}
    {% for subject in subjects|keys %}
        <div class="status-container">
            {% if errors[subject]|length == 0 and pending[subject]|length == 0 %}
                <div class = "button-container">
                    <div>
                        <div> Email Subject: {{subject ~ " "}} </div>
                        <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                    </div>
                    <button class="btn btn-success text-left status-btn"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)">
                        Show Details
                    </button>
                </div>
            {% elseif errors[subject]|length != 0 %}
                <div class = "button-container">
                    <div> Email Subject: {{subject ~ " "}} </div>
                    <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                    <button class="btn btn-danger  text-left status-btn"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)">
                        Show Details
                    </button>
                </div>
            {% else %}
                <div class = "button-container">
                    <div> Email Subject: {{subject ~ " "}} </div>
                    <div> Time Created: {{subjects[subject]|slice(0,19)}}</div>
                    <button class="btn btn-primary  text-left status-btn"  data-target={{"#collapse"~loop.index}} onclick="onExpandButtonClick(this)">
                        Show Details
                    </button>
                </div>
            {% endif %}
            <div class="expand" id={{"collapse"~loop.index}}>
                <ul>
                    {% for row in errors[subject] %}
                        <li class="status status-error">
                            <div class="status-message">Recipient: {{row["user_id"]}}</div>
                            <div class="status-message">Time Sent: Not Sent</div>
                            <div class="status-message">
                                Error: {{row["error"]}}
                            </div>
                        </li>
                    {% endfor %}
                    {% for row in pending[subject] %}
                        <li  class="status status-warning status">
                            <div class="status-message">Recipient: {{row["user_id"]}}</div>
                            <div class="status-message">Time Sent: Not Sent</div>
                        </li>
                    {% endfor %}
                    {% for row in successes[subject] %}
                        <li class="status status-success status"> 
                            <div class="status-message">Recipient: {{row["user_id"]}}</div> 
                            <div class="status-message">Time Sent: {{row["sent"]|slice(0,19)}}</div> 
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr class = "divider">
        </div>
    {% endfor %}
{% else %}
    <div>
        No Emails Created For This Course
    </div>
{% endif %}

<script>
    function onExpandButtonClick(button){
        const expandTarget = $(button).data('target');
        console.log(expandTarget);
        if ($(button).parent().parent().find(expandTarget).is(':visible')) {
            $(button).parent().parent().find(expandTarget).hide();
            $(button).text("Show Details");
        }
        else {
            $(button).parent().parent().find(expandTarget).show();
            $(button).text("Hide Details");
        }
    }
</script>
