{% import _self as self %}
{# Looks mismatched because this is a continuation of GlobalHeader.twig #}
                    </div> {# /#nav-positioner #}
                </div> {# /.col-md#nav-body #}
            </div> {# /.row #}
            <div id="footer">
                <span id="copyright">&copy; 2018 RPI | An <a href="https://rcos.io" target="_blank">RCOS project</a></span>|
                <span id="github">
                    <a href="https://github.com/Submitty/Submitty" target="_blank" title="Fork us on GitHub" aria-label="Visit our GitHub">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                </span>

                {% if is_debug %}
                    <a href="#" onClick="togglePageDetails();">Show Page Details</a>
                {% endif %}
            </div>
        </div> {# /#site-body #}
        {% if wrapper_urls['right_sidebar.html'] != null %}
            {# uploaded homepage redirect can go here? #}
            <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="right_sidebar" src="{{ wrapper_urls['right_sidebar.html'] }}" frameborder="0"></iframe>
        {% endif %}
    </div> {# /#center-container #}
    {% if wrapper_urls['bottom_bar.html'] != null %}
        {# uploaded homepage redirect can go here? #}
        <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="bottom_bar" src="{{ wrapper_urls['bottom_bar.html'] }}" frameborder="0"></iframe>
    {% endif %}
</div> {# /#container #}
{% if is_debug %}
    <div id='page-info'>
        Runtime: {{ runtime }}<br /><br />
        <h3>Site Details</h3>
        Total Submitty Details: {{ submitty_queries|length }}<br /><br />
        Submitty Queries:<br /> {{ self.query_list(submitty_queries) }}

        <h3>Course Details</h3>
        Total Course Queries: {{ course_queries|length }}<br /><br />
        Course Queries: <br /> {{ self.query_list(course_queries) }}
    </div>
{% endif %}
</body>
</html>

{% macro query_list(queries) %}
    <table>
        <tr>
            <td class="query-list"></td>
            <td></td>
        </tr>
        {% for query in queries %}
            <tr>
                <td class="index">
                    {{ loop.index }}&nbsp;&nbsp;
                </td>
                <td>
                    <pre>{{ query }}</pre>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
