<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ pageTitle }}</title>
    <link rel="shortcut icon" href="{{ core.getConfig().getBaseUrl() }}img/favicon.ico" type="image/x-icon" />

    {% for css_ref in css %}
    <link rel='stylesheet' type='text/css' href='{{ css_ref }}' />
    {% endfor %}


    {% for js_ref in js %}
    <script type='text/javascript' src='{{ js_ref }}'></script>
    {% endfor %}
</head>
<script>var onAjaxInit;</script>
<body data-site-url="{{ core.getConfig().getSiteUrl() }}" data-csrf-token="{{ core.getCsrfToken() }}" onload="if (onAjaxInit) { onAjaxInit(); }">
<div id='messages'>
    {% for message in messages %}
    <div id='{{ message.type }}-{{ message.key }}' class="inner-message alert alert-{{ message.type }}">
        <a class="fa fa-times message-close" onClick="removeMessagePopup('{{ message.type }}-{{ message.key }}');"></a>
        <i class="fa fa-times-circle"></i> {{ message.error }}
    </div>
    {% endfor %}
</div>
<div id="container">
{% if navURLs|length > 0 %}
    <div id="nav">
        <ul>
            {% for url in navURLs %}
            <li>
                <a href="{{ url.href }}">{{ url.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <div id="header">
        <a href="http://submitty.org" target=_blank><div id="logo-submitty"></div></a>
        <div id="header-text">
            <h2>
                {% if core.userLoaded() %}
                <span id="login">
                    Hello <span id="login-id">{{ core.getUser().getDisplayedFirstName() }}</span>
                </span> (<a id='logout' href='{{ core.buildUrl({'component': 'authentication', 'page': 'logout'}) }}'>Logout</a>)
                {% else %}
                <span id="login-guest">Welcome to Submitty</span>
                {% endif %}
            </h2>
            <h2>
                {% for b in breadcrumbs %}
                    {% if loop.index0 > 0 and not b.getIcon() %}
                        &gt;
                    {% endif %}
                    {% if b.getUrl() != null and b.getUrl() != "" %}
                        {% if b.getIcon() %}
                            <a class="external" href="{{ b.getUrl() }}" target="_blank"><i style="margin-left: 10px;" class="fa fa-external-link"></i></a>
                        {% else %}
                            {% if b.getTop() %}
                                <a target="_top" href='{{ b.getUrl() }}'>{{ b.getTitle() }}</a>
                            {% else %}
                                <a href='{{ b.getUrl() }}'>{{ b.getTitle() }}</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {{ b.getTitle() }}
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
    </div>
