{% import _self as self %}

<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="{{ base_url }}img/favicon.ico" type="image/x-icon" />

    {% for css_ref in css %}
    <link rel='stylesheet' type='text/css' href='{{ css_ref }}' />
    {% endfor %}

    {#
        TODO: When we are mobile-friendly
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    #}

    {% for js_ref in js %}
    <script type='text/javascript' src='{{ js_ref }}'></script>
    {% endfor %}
</head>
<script>var onAjaxInit;</script>
<body data-site-url="{{ site_url }}" data-base-url="{{ base_url }}" data-course-url="{{ course_url }}" data-csrf-token="{{ csrf_token }}" onload="if (onAjaxInit) { onAjaxInit(); }">
<a id="skip-nav" href="#nav-positioner">Skip to main content</a>
<div id="container">
    {% if wrapper_urls['top_bar.html'] != null %}
        {# uploaded homepage redirect can go here? #}
        <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="top_bar" src="{{ wrapper_urls['top_bar.html'] }}" frameborder="0"></iframe>
    {% endif %}
    <div id="center-container">
        {% if wrapper_urls['left_sidebar.html'] != null %}
            {# uploaded sidebar can go here? #}
            <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="left_sidebar" src="{{ wrapper_urls['left_sidebar.html'] }}" frameborder="0"></iframe>
        {% endif %}
        <div id="site-body">
            <div id='messages'>
                {% for message in messages %}
                    <div id='{{ message.type }}-{{ message.key }}' class="inner-message alert alert-{{ message.type }}">
                        <a class="fas fa-times message-close" onClick="removeMessagePopup('{{ message.type }}-{{ message.key }}');"></a>
                        {% if message.type == "error" %}
                        <i class="fas fa-times-circle"></i>
                        {% else %}
                        <i class="fas fa-check-circle"></i>
                        {% endif %}
                        {{ message.error }}
                    </div>
                {% endfor %}
            </div>
            <div id="header" class="row">
                <div class="col-12 col-sm" id="header-text">
                    <div>
                        {% for b in breadcrumbs %}
                            {% if loop.index0 > 0 %}
                                &gt;
                            {% endif %}
                            {% if b.getUrl() is not empty %}
                                <a href='{{ b.getUrl() }}'>{{ b.getTitle() }}</a>
                            {% else %}
                                {{ b.getTitle() }}
                            {% endif %}
                            {% if b.getExternalUrl() is not empty %}
                                <a class="external" href="{{ b.getExternalUrl() }}" target="_blank" aria-label="Go to {{ b.getTitle() }}"><i class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a class="col-12 col-sm-auto" id="logo-box" href="http://submitty.org" target="_blank" aria-label="Visit submitty dot org">
                    <img id="logo-submitty" src="{{ base_url }}/img/submitty_logo.png" alt="Submitty Logo">
                </a>
            </div>
            <noscript>
                <div class="row noscript">
                    <span>You must have JavaScript enabled for Submitty to function properly. Please re-enable it when browsing this site.</span>
                </div>
            </noscript>
            {% if system_message is not null and system_message|length > 0 %}
            <div class="row system_message">
                <span>{{ system_message }}</span>
            </div>
            {% endif %}
            <div class="row" id="push">
                {% if sidebar_buttons|length > 0 %}
                    <div class="col-md-auto" id="sidebar">
                        <div id="nav-buttons-visible">
                            <div id="nav-buttons">
                                <ul>
                                    {% for button in sidebar_buttons %}
                                        {{ self.render_sidebar_button(button) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md" id="nav-body">
                    <div id="nav-positioner">
{# Looks mismatched because this lines up with GlobalFooter.twig #}

{% macro render_sidebar_button(button) %}
    {% if button.getTitle() == "" %}
        <li class="short-line"></li>
    {% else %}
        <li>
            {% if button.getHref() == null %}
                <span
                    {% if button.getClass() != "" %}
                        class="{{ button.getClass() }}"
                    {% endif %}
                    {% if button.getId() != "" %}
                        id="{{ button.getId() }}"
                    {% endif %}
                >
                    {% if button.getIcon() != null %}
                        <i class="fa {{ button.getIcon() }}"></i>
                    {% endif %}

                    {{ button.getTitle() }}
                    {% if button.getBadge() > 0 %}
                        <span class="notification_badge">{{  button.getBadge() }} </span>
                    {% endif %}
                </span>
            {% else %}
                <a href="{{ button.getHref() }}"
                    data-toggle="tooltip"
                    title="{{ button.getTitle() }}"
                    {% if button.getClass() != "" %}
                        class="{{ button.getClass() }}"
                    {% endif %}
                    {% if button.getId() != "" %}
                        id="{{ button.getId() }}"
                    {% endif %}
                >
                    {% if button.getIcon() != null %}
                        <i class="fa {{ button.getIcon() }}"></i>
                    {% endif %}

                    <span class="iconTitle"> {{ button.getTitle() }} </span>
                    {% if button.getBadge() > 0 %}
                        <span class="notification_badge">{{  button.getBadge() }} </span>
                    {% endif %}
                </a>

            {% endif %}
        </li>
    {% endif %}
{% endmacro %}
