{% import _self as self %}

{% set container_class = '' %}
{% set header_class = '' %}
{% set nav_pos = '' %}
{% set row_height = '' %}
{% if fixed_height %}
    {% set container_class = 'class=full_height' %}
    {% set header_class = 'full_height' %}
    {% set nav_pos = 'class=full_height' %}
    {% set row_height = 'style=height:0px' %}
{% endif %}


<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="{{ base_url }}img/favicon.ico" type="image/x-icon" />

    {% for css_ref in css %}
    <link rel='stylesheet' type='text/css' href='{{ css_ref }}' />
    {% endfor %}

    {#
        TODO: When we are mobile-friendly
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    #}

    {% for js_ref in js %}
    <script type='text/javascript' src='{{ js_ref }}'></script>
    {% endfor %}
</head>
<script>var onAjaxInit;</script>
<body data-site-url="{{ site_url }}" data-csrf-token="{{ core.getCsrfToken() }}" onload="if (onAjaxInit) { onAjaxInit(); }">
<div id="container" {{ container_class }}>
    {% if wrapper_urls['top_bar.html'] != null %}
        {# uploaded homepage redirect can go here? #}
        <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="top_bar" src="{{ wrapper_urls['top_bar.html'] }}" frameborder="0"></iframe>
    {% endif %}
    <div id="center-container">
        {% if wrapper_urls['left_sidebar.html'] != null %}
            {# uploaded sidebar can go here? #}
            <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="left_sidebar" src="{{ wrapper_urls['left_sidebar.html'] }}" frameborder="0"></iframe>
        {% endif %}
        <div id="site-body">
            <div id='messages'>
                {% for message in messages %}
                    <div id='{{ message.type }}-{{ message.key }}' class="inner-message alert alert-{{ message.type }}">
                        <a class="fas fa-times message-close" onClick="removeMessagePopup('{{ message.type }}-{{ message.key }}');"></a>
                        <i class="fas fa-times-circle"></i> {{ message.error }}
                    </div>
                {% endfor %}
            </div>
            <div id="header" class="row {{ header_class }}">
                <div class="col-12 col-sm" id="header-text">
                    <div>
                        <h2>
                            {% for b in breadcrumbs %}
                                {% if loop.index0 > 0 %}
                                    &gt;
                                {% endif %}
                                {% if b.getUrl() is not empty %}
                                    <a href='{{ b.getUrl() }}'>{{ b.getTitle() }}</a>
                                {% else %}
                                    {{ b.getTitle() }}
                                {% endif %}
                                {% if b.getExternalUrl() is not empty %}
                                    <a class="external" href="{{ b.getExternalUrl() }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                                {% endif %}
                            {% endfor %}
                        </h2>
                    </div>
                </div>
                <a class="col-12 col-sm-auto" id="logo-box" href="http://submitty.org" target=_blank>
                    <img id="logo-submitty" src="../img/submitty_logo.png" alt="Submitty Logo">
                </a>
            </div>
            <div class="row" id="push" {{ row_height }}>
                {% if sidebar_buttons|length > 0 %}
                    <div class="col-md-auto" id="sidebar">
                        <div id="nav-buttons-visible">
                            <div id="nav-buttons">
                                <ul>
                                    {% for button in sidebar_buttons %}
                                        {{ self.render_sidebar_button(button) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md" id="nav-body">
                    <div id="nav-positioner" {{ nav_pos }}>
{# Looks mismatched because this lines up with GlobalFooter.twig #}

{% macro render_sidebar_button(button) %}
    {% if button.getTitle() == "" %}
        <li class="short-line"></li>
    {% else %}
        <li>
            {% if button.getIcon() != null %}
                <a
                    class="collapse-icon {{ button.getClass() }}"
                    href="{{ button.getHref() }}"
                    data-toggle="tooltip"
                    title="{{ button.getTitle() }}"
                    {% if button.getId() != "" %}
                        id="{{ button.getId() }}"
                    {% endif %}
                >
                    <i class="fa {{ button.getIcon() }}"></i>
                    {% if button.getBadge() > 0 %}
                        <span class="notification_badge">{{  button.getBadge() }} </span>
                    {% endif %}
                </a>
            {% endif %}
            {% if button.getHref() == null %}
                <span
                    {% if button.getClass() != "" %}
                        class="{{ button.getClass() }}"
                    {% endif %}
                    {% if button.getId() != "" %}
                        id="{{ button.getId() }}"
                    {% endif %}
                >
                    {% if button.getIcon() != null %}
                        <i class="fa {{ button.getIcon() }}"></i>
                    {% endif %}

                    {{ button.getTitle() }}
                    {% if button.getBadge() > 0 %}
                        <span class="notification_badge">{{  button.getBadge() }} </span>
                    {% endif %}
                </span>
            {% else %}
                <a href="{{ button.getHref() }}"
                    {% if button.getClass() != "" %}
                        class="{{ button.getClass() }}"
                    {% endif %}
                    {% if button.getId() != "" %}
                        id="{{ button.getId() }}"
                    {% endif %}
                >
                    {% if button.getIcon() != null %}
                        <i class="fa {{ button.getIcon() }}"></i>
                    {% endif %}

                    {{ button.getTitle() }}
                    {% if button.getBadge() > 0 %}
                        <span class="notification_badge">{{  button.getBadge() }} </span>
                    {% endif %}
                </a>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}
