<div id="courses" class="content">
    {% for ranks in statuses %}
        {% if loop.index == 1 or ranks|length > 0 %}
            <h1>My {{ loop.index == 1 ? "" : "Archived " }}Courses</h1>
            {% for rank in ranks %}
                <h2>As {{ rank.title }}</h2>
                {% set display_term = '' %}
                {% for course in rank.courses %}
                    {% if display_term != course.display_term %}
                        {% if display_term != '' %}
                            </ul>
                        {% endif %}
                        {% set display_term = course.display_term %}
                        <h3> {{ display_term }} </h3>
                        <ul class="bare-list course-list">
                    {% endif %}
                    <li>
                        <a id="{{ course['term'] }}_{{ course['title'] }}" class="btn btn-primary btn-block btn-course" href="{{ core.buildUrl(['courses', course['term'], course['title']]) }}">
                            {{ course['display_term'] }} &nbsp; &nbsp;
                            {{ course['title'] | upper }} &nbsp; &nbsp;
                            {% if course['display_name'] != "" %}
                                {{ course['display_name'] }} &nbsp; &nbsp;
                            {% endif %}
                            {% if course['registration_section'] != null %}
                                (Section {{ course['registration_section'] }})
                            {% endif %}
                            {{ user.accessAdmin() }}
                        </a>
                    </li>
                {% endfor %}
                {% if display_term != '' %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
