<div id="courses" class="content" data-testid="courses-list">
    {% for course_type, ranks in statuses %}
        {% if loop.first or ranks|length > 0 %}
            {% if not loop.first %}
                <br>
                <br>
            {% endif %}
            {% set course_type_message = "" %}
            {% if course_type == "dropped_courses" %}
                {% set course_type_message = "Recently Dropped " %}
            {% elseif course_type == "archived_courses" %}
                {% set course_type_message = "Archived " %}
            {% endif %}
            {% if course_type == "self_registration_courses" %}
                <h1 data-testid="courses-header">Courses Available for Self Registration</h1>
            {% else %}
                <h1 data-testid="courses-header">My {{ course_type_message }}Courses</h1>
            {% endif %}
            {% for rank in ranks %}
                {% if course_type != "dropped_courses" and course_type != "self_registration_courses" %}
                    <h2>As {{ rank.title }}</h2>
                {% endif %}
                {% set display_semester = '' %}
                {% for course in rank.courses %}
                    {% if display_semester != course.display_semester %}
                        {% if display_semester != '' %}
                            </ul>
                        {% endif %}
                        {% set display_semester = course.display_semester %}
                        <h3> {{ display_semester }} </h3>
                        <ul class="bare-list course-list">
                    {% endif %}
                    <li>
                        <a id="{{ course['semester'] }}_{{ course['title'] }}" class="btn btn-primary btn-block btn-course" href="{{ core.buildUrl(['courses', course['semester'], course['title']]) }}" data-testid="{{ course['title'] }}-button">
                            {{ course['display_semester'] }} &nbsp; &nbsp;
                            {{ course['title'] | upper }} &nbsp; &nbsp;
                            {% if course['display_name'] != "" %}
                                {{ course['display_name'] }} &nbsp; &nbsp;
                            {% endif %}
                            {% if course['registration_section'] != null %}
                                (Section {{ course['registration_section'] }})
                            {% endif %}
                            {{ user.accessAdmin() }}
                        </a>
                    </li>
                {% endfor %}
                {% if display_semester != '' %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
