<div id="courses" class="content">
<div class="banner">
  {% for file in files %}
    <div>
      <img id="club_banners_{{ file.filename }}" class="club_banners {{ file.filename }}" src="{{ file.image_link }}" alt="File: {{ file.filename }}" />
      <button class="delete-button" onclick="toggleImage(this)">x</button>
    </div>
  {% endfor %}
  <button class="prev-button" onclick="changeImage(-1)">&#10094;</button>
  <button class="next-button" onclick="changeImage(1)">&#10095;</button>
</div>




<script>

    var currentImageIndex = 0;




    var hiddenImages = getHiddenImages();
    var images = document.getElementsByClassName('club_banners');
    images[currentImageIndex].classList.add("active");
    for (var i = 0; i < images.length; i++) {
        var className = images[i].className.split(' ')[1];
        if (hiddenImages.includes(className)) {
            console.log(hiddenImages);
            images[i].style.display = 'none';
        }
    }

    function changeImage(n) {
      var originalIndex = currentImageIndex;

      if (images[currentImageIndex].style.display !== 'none') {
        images[currentImageIndex].classList.remove("active");
      }
      currentImageIndex += n;
      if (currentImageIndex < 0) {
        currentImageIndex = images.length - 1;
      } else if (currentImageIndex >= images.length) {
        currentImageIndex = 0;
      }


      // Wrap around to the first or last image if the index goes out of bounds
      while (images[currentImageIndex].style.display === 'none' && currentImageIndex !== originalIndex) {
        currentImageIndex += n;
              if (currentImageIndex < 0) {
                 currentImageIndex = images.length - 1;
              } else if (currentImageIndex >= images.length) {
                 currentImageIndex = 0;
               }
      }

      images[currentImageIndex].classList.add("active");
      if (images[currentImageIndex].style.display === 'none' && currentImageIndex === originalIndex) {
        document.querySelector(".banner").style.display = 'none';
      }
    }




    function toggleImage(button) {
        alert(`You are removing this image from display`);
        image = images[currentImageIndex];
        console.log(button);
        console.log(image);
        var className = image.className.split(' ')[1]; 
        var hiddenImages = getHiddenImages();
        var imageIndex = hiddenImages.indexOf(className);
        if (imageIndex === -1) {
            image.style.display = 'none'; 
            hiddenImages.push(className);  
        } 
        setCookie('hiddenImages', JSON.stringify(hiddenImages));
        changeImage(1);
    }

    function getHiddenImages() {
        var hiddenImagesCookie = getCookie('hiddenImages');
        return hiddenImagesCookie ? JSON.parse(hiddenImagesCookie) : [];
    }

    function setCookie(name, value) {
        var date = new Date();
        date.setFullYear(date.getFullYear() + 100); 
        document.cookie = name + '=' + (value || '') + '; path=/';
    }

    function getCookie(name) {
        var nameEQ = name + '=';
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1, cookie.length);
            }
            if (cookie.indexOf(nameEQ) === 0) {
                return cookie.substring(nameEQ.length, cookie.length);
            }
        }
        return null;
    }

</script>



    {% for ranks in statuses %}
        {% if loop.index == 1 or ranks|length > 0 %}
            <h1>My {{ loop.index == 1 ? "" : "Archived " }}Courses</h1>
            {% for rank in ranks %}
                <h2>As {{ rank.title }}</h2>
                {% set display_semester = '' %}
                {% for course in rank.courses %}
                    {% if display_semester != course.display_semester %}
                        {% if display_semester != '' %}
                            </ul>
                        {% endif %}
                        {% set display_semester = course.display_semester %}
                        <h3> {{ display_semester }} </h3>
                        <ul class="bare-list course-list">
                    {% endif %}
                    <li>
                        <a id="{{ course['semester'] }}_{{ course['title'] }}" class="btn btn-primary btn-block btn-course" href="{{ core.buildUrl(['courses', course['semester'], course['title']]) }}">
                            {{ course['display_semester'] }} &nbsp; &nbsp;
                            {{ course['title'] | upper }} &nbsp; &nbsp;
                            {% if course['display_name'] != "" %}
                                {{ course['display_name'] }} &nbsp; &nbsp;
                            {% endif %}
                            {% if course['registration_section'] != null %}
                                (Section {{ course['registration_section'] }})
                            {% endif %}
                            {{ user.accessAdmin() }}
                        </a>
                    </li>
                {% endfor %}
                {% if display_semester != '' %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
