<div class="flex-wrapper">
    <div id="courses" class="content">
        {% for ranks in statuses %}
            {% if loop.index == 1 or ranks|length > 0 %}
                <h1>Your {{ loop.index == 1 ? "" : "Archived " }}Courses</h1>
                {% for rank in ranks %}
                    <h2>As {{ rank.title }}</h2>
                    {% set display_semester = '' %}
                    {% for course in rank.courses %}
                        {% if display_semester != course.display_semester %}
                            {% if display_semester != '' %}
                            </ul>
                            {% endif %}
                            {% set display_semester = course.display_semester %}
                            <h3> {{ display_semester }} </h3>
                            <ul class="bare-list course-list">
                        {% endif %}
                                <li>
                                    <a id="{{ course['semester'] }}_{{ course['title'] }}" class="btn btn-primary btn-block btn-course" href="{{ core.buildUrl([course['semester'], course['title']]) }}">
                                        {{ course['display_semester'] }} &nbsp; &nbsp;
                                        {{ course['title'] | upper }} &nbsp; &nbsp;
                                        {% if course['display_name'] != "" %}
                                            {{ course['display_name'] }}
                                        {% endif %}
                                        {{ user.accessAdmin() }}
                                    </a>
                                </li>
                    {% endfor %}
                    {% if display_semester != '' %}
                            </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="content">
        <h1>About You</h1>
        <ul class="bare-list">
            <li><b>Username:</b> {{ user.getId() }}</li>
            <li class="flex-row">
                <span><b>First Name:</b>&nbsp;{{ user.getDisplayedFirstName() }}</span>
                <a class="icon" tabindex="0" href="javascript:userNameChange()" aria-label="Change preferred names" title="Change preferred names">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </li>
            <li><b>Last Name:</b> {{ user.getDisplayedLastName() }}</li>
            <li><b>Email:</b> {{ user.getEmail() }}</li>
            {% if display_access_level %}
                <li><b>Access Level: </b> {{ access_level }}</li>
            {% endif %}
            {% if show_change_password %}
                <li class="flex-row">
                    <b>Change Password</b>
                    <a class="icon" tabindex="0" href="javascript:passwordChange()" aria-label="Change password" title="Change password">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </li>
            {% endif %}
            <li class="li_with_drop_down">
                <b id="time_zone_selector_label" data-user_time_zone="{{ user_time_zone }}" data-available_time_zones="{{ available_time_zones }}">Time Zone (<span id="utc_offset_stub">UTC Offset <span id="user_utc_offset">{{ user_utc_offset }}</span></span>): <a target=_blank href="https://submitty.org/student#how-can-i-specify-my-local-timezone">
                    <i style="font-style:normal;" class="fa-question-circle"></i></a></b>
                    <em>Important Note: All due dates are currently displayed in server timezone.</em>
                <label for="time_zone_general_drop_down">General Area:</label>
                <select id="time_zone_general_drop_down"></select>
                <label for="time_zone_specific_drop_down">Specific Area:</label>
                <select id="time_zone_specific_drop_down"></select>
            </li>
            <li class="li_with_drop_down">
                <b>Color Theme:</b>
                <select id="theme_change_select" class="form-control" aria-label="Change Submitty's Theme" onchange="updateTheme();">
                    <option value="system">Follow Device Theme</option>
                    <option value="system_black">Follow Device Theme (Black)</option>
                    <option value="light">Light Mode</option>
                    <option value="dark">Dark Mode</option>
                    <option value="dark_black">Dark Mode (Black)</option>
              </select>
            </li>
        </ul>
    </div>
</div>
{% include 'EditNameForm.twig' %}
{% if show_change_password %}
    {% include 'ChangePasswordForm.twig' %}
{% endif %}
