{# This table is a data table #}
<table id="late-day-table" class="mobile-table">
    <thead>
        <tr>
            <th>Assignment name</th>
            <th>Event/Assignment date</th>
            <th>Maximum number of late days allowed for this assignment</th>
            <th>Assignment submitted # of days after deadline</th>
            <th>Student granted # of days extension for this assignment</th>
            <th>Status</th>
            <th>Grade Inquiries</th>
            <th>Change in late days</th>
            <th>Late days remaining</th>
        </tr>
    </thead>
    <tbody>

    {# Initial late days row #}
    {% set empty_late_day = '' %}
    <tr>
        <td data-before-content="Event/Assignment Name" class="align-left"> Initial Late Days </td>
        <td data-before-content="Event/Assignment Date"> -- </td>
        <td data-before-content="Max Late Days"> </td>
        <td data-before-content="Days Submitted Late"> {{ empty_late_day }} </td>
        <td data-before-content="Days From Extensions"> {{ empty_late_day }} </td>
        <td data-before-content="Status"> {{ empty_late_day }} </td>
        <td data-before-content="Grade Inquiry Count"> {{ empty_late_day }} </td>
        <td data-before-content="Late Days Used Here"> {{ ((late_days.getDefaultLateDays() > 0) ? '+' : '') ~ late_days.getDefaultLateDays() }} </td>
        <td data-before-content="Late Days Remaining"> {{ late_days.getDefaultLateDays() }} </td>
    </tr>
    
    {% for late_day_info in late_days.getLateDayInfo() %}
        {% set class = "" %}
        {% set id = "" %}
        {% if highlight_gradeable is defined and highlight_gradeable == late_day_info.getGradeableId() %}
            {% set class = 'blue-background' %}
            {% set id = 'id="curr-status"' %}
        {% endif %}
        {% set placeholder = late_day_info.isLateDayUpdate() ? empty_late_day : 'N/A' %}

        <tr class={{class}}>
            <td data-before-content="Event/Assignment" class="align-left">{{ late_day_info.getEventTitle() }}</td>
            <td data-before-content="Event/Assignment Date">{{ late_day_info.getLateDayEventTime()|date('m/d/Y') }}</td>
            <td data-before-content="Max Late Days">{{ late_day_info.isLateDayUpdate() ? '' : (late_day_info.getAssignmentAllowedLateDays() ?? placeholder) }}</td>
            <td data-before-content="Days Submitted Late">{{ (late_day_info.getDaysLate() != 0) ? late_day_info.getDaysLate() : placeholder }}</td>
            <td data-before-content="Days From Extensions">{{ (late_day_info.getLateDayException() != 0) ? late_day_info.getLateDayException() ~ ' (' ~ late_day_info.getReasonForException() ~ ') ' : placeholder }}</td>
            <td data-before-content="Status" {{ id }}>{{ late_day_info.isLateDayUpdate() ? placeholder : late_day_info.getStatusMessage() }}</td>
            <td data-before-content="Grade Inquiry Count" {{ id }}>{{ late_day_info.isGradeInquiryAllowed() ? late_day_info.getGradeInquiryCount() : placeholder }}</td>
            <td data-before-content="Late Days Used Here">{{ ((late_day_info.getLateDaysChange() > 0) ? '+' : '') ~ late_day_info.getLateDaysChange() }}</td>
            <td data-before-content="Late Days Remaining">{{ late_day_info.getLateDaysRemaining() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
