<div class="content">
    <h3>Overall Late Day Usage for {{ user_id }}</h3><br/>
    {#Since allowed per term is the same across all gradeables, we can just use the first one as a reference.#}
    <p>Allowed per term: {{ student_gradeables[0].getStudentAllowedLateDays()}}</p>
    <table>
        <thead>
        <tr>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Assignment name</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Due date</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Allowed per assignment</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Submitted days after deadline</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Extensions</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Status</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Late Days Charged</th>
        </tr>
        </thead>
        <tbody id="late_day_table">
        {% set num_status = 0 %}
        {% for gradeable in student_gradeables %}
            <tr>
                <td $class style="padding:5px; border:thin solid black">{{gradeable.getName()}}</td>
                <td $class style="padding:5px; border:thin solid black">{{gradeable.getDueDate()|date('Y-m-d')}}</td>
                <td $class style="padding:5px; border:thin solid black">{{gradeable.getAllowedLateDays()}}</td>
                <td $class style="padding:5px; border:thin solid black">{{gradeable.getLateDays()}}</td>
                <td $class style="padding:5px; border:thin solid black">{{gradeable.getLateDayExceptions()}}</td>
                <td $class style="padding:5px; border:thin solid black">{{attribute(status_array, num_status)}}</td>
                <td $class style="padding:5px; border:thin solid black">{{attribute(late_charged_array, num_status)}}</td>
            </tr>
            {% set num_status = num_status + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <p>Total late days used: {{ total_late_used }}</p>
    <p>Total late days remaining: {{ student_gradeables[0].getStudentAllowedLateDays() - total_late_used}}</p>
</div>
