{# This table is a data table #}
<table id="late-day-table" class="mobile-table">
    <thead>
        <tr>
            <th>Assignment name</th>
            <th>Event/Assignment date</th>
            <th>Maximum number of late days allowed for this assignment</th>
            <th>Assignment submitted # of days after deadline</th>
            <th>Student granted # of days extension for this assignment</th>
            <th>Status</th>
            {% if grade_inquiry_enabled %}
                <th>Grade Inquiries</th>
            {% endif %}
            <th>Change in late days</th>
            <th>Late days remaining</th>
        </tr>
    </thead>
    <tbody>

    {# Initial late days row #}
    {% set empty_late_day = '' %}
    <tr>
        <td data-before-content="Event/Assignment Name" class="align-left"> Initial Late Days </td>
        <td data-before-content="Event/Assignment Date"> -- </td>
        <td data-before-content="Max Late Days"> </td>
        <td data-before-content="Days Submitted Late"> {{ empty_late_day }} </td>
        <td data-before-content="Days From Extensions"> {{ empty_late_day }} </td>
        <td data-before-content="Status"> {{ empty_late_day }} </td>
        {% if grade_inquiry_enabled %}
            <td data-before-content="Regrade Inquiry Count"> {{ empty_late_day }} </td>
        {% endif %}
        <td data-before-content="Late Days Used Here"> {{ ((late_days.getDefaultLateDays() > 0) ? '+' : '') ~ late_days.getDefaultLateDays() }} </td>
        <td data-before-content="Late Days Remaining"> {{ late_days.getDefaultLateDays() }} </td>
    </tr>
    
    {% for late_day_info in late_days.getLateDayInfo() %}
        {% set full_class = "" %}
        {% set class = "" %}
        {% set id = "" %}
        {% if highlight_gradeable is defined and highlight_gradeable == late_day_info.getId() %}
            {% set full_class = 'class="blue-background"' %}
            {% set class = 'blue-background' %}
            {% set id = 'id="curr-status"' %}
        {% endif %}
        {% set placeholder = late_day_info.isLateDayUpdate() ? empty_late_day : 'N/A' %}

        <tr>
            <td data-before-content="Event/Assignment" class="align-left {{ class }}">{{ late_day_info.getEventTitle() }}</td>
            <td data-before-content="Event/Assignment Date" {{ full_class }}>{{ late_day_info.getLateDayEventTime()|date('m/d/Y') }}</td>
            <td data-before-content="Max Late Days" {{ full_class }}>{{ late_day_info.getAssignmentAllowedLateDays() ?? placeholder }}</td>
            <td data-before-content="Days Submitted Late" {{ full_class }}>{{ (late_day_info.getDaysLate() != 0) ? late_day_info.getDaysLate() : placeholder }}</td>
            <td data-before-content="Days From Extensions" {{ full_class }}>{{ (late_day_info.getLateDayException() != 0) ? late_day_info.getLateDayException() : placeholder }}</td>
            <td data-before-content="Status" {{ full_class }} {{ id }}>{{ late_day_info.isLateDayUpdate() ? placeholder : late_day_info.getStatusMessage() }}</td>
            {% if grade_inquiry_enabled %}
                <td data-before-content="Regrade Inquiry Count" {{ full_class }} {{ id }}>{{ late_day_info.isRegradeAllowed() ? late_day_info.getGradeInquiryCount() : placeholder }}</td>
            {% endif %}
            <td data-before-content="Late Days Used Here" {{ full_class }}>{{ ((late_day_info.getLateDaysChange() > 0) ? '+' : '') ~ late_day_info.getLateDaysChange() }}</td>
            <td data-before-content="Late Days Remaining" {{ full_class }}>{{ late_day_info.getLateDaysRemaining() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
