<div class="content">
    <h3>Overall Late Day Usage for {{ user_id }}</h3><br/>
    <p>Initial total late days allowed: {{ student_gradeables[0].getStudentAllowedLateDays() }}</p>
    <p>Late day history:</p>
    {% if late_update|length == 0 %}
        <p style='margin-left:30px'>None</p>
    {% endif %}
    {% set temp = student_gradeables[0].getStudentAllowedLateDays() %}
    {% for lateday in late_update %}
        {% if lateday.allowed_late_days - temp >= 0 %}
            <p style='margin-left:30px'>{{ lateday.since_timestamp|date('m/d')}}: Earned {{ lateday.allowed_late_days - temp}} late day(s)</p>
        {% else %}
            <p style='margin-left:30px'>{{ lateday.since_timestamp|date('m/d')}}: Lost {{ (lateday.allowed_late_days - temp)|abs}} late day(s)</p>
        {% endif %}
        {% set temp = lateday.allowed_late_days %}
    {% endfor %}
    {#We use the most recent gradeable for allowed per term because late days are flexible#}
    {% set curr_late = student_gradeables[student_gradeables|length-1].getStudentAllowedLateDays() %}
    <p>Total late days used: {{ total_late_used }}</p>
    <p>Total late days remaining: {{ curr_late - total_late_used}}</p>
    <table>
        <thead>
        <tr>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Assignment name</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Due date</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Allowed per assignment</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Submitted days after deadline</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Extensions</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Status</th>
            <th style="padding:5px; border:thin solid black; vertical-align:middle">Late Days Charged</th>
        </tr>
        </thead>
        <tbody id="late_day_table">
        {% set num_status = 0 %}
        {% for gradeable in student_gradeables %}
            {% if g_id != NULL and gradeable.getId() == g_id %}
                {% set class = "class=yellow-background" %}
            {% endif %}
            <tr>
                <td {{ class }} style="padding:5px; border:thin solid black">{{gradeable.getName()}}</td>
                <td {{ class }} align="center" style="padding:5px; border:thin solid black">{{gradeable.getDueDate()|date('m/d/y')}}</td>
                <td {{ class }} align="center" style="padding:5px; border:thin solid black">{{gradeable.getAllowedLateDays()}}</td>
                <td {{ class }} align="center" style="padding:5px; border:thin solid black">{{gradeable.getLateDays()}}</td>
                <td {{ class }} align="center" style="padding:5px; border:thin solid black">{{gradeable.getLateDayExceptions()}}</td>
                <td {{ class }} align="center" style="padding:5px; border:thin solid black">{{attribute(status_array, num_status)}}</td>
                <td {{ class }} align="center" style="padding:5px; border:thin solid black">{{attribute(late_charged_array, num_status)}}</td>
            </tr>
            {% set num_status = num_status + 1 %}
            {% set class = "" %}
        {% endfor %}
        </tbody>
    </table>
</div>
