<script>

function updateImageData(imageData) {
    var imgElement = document.getElementById('bye');
    if (imgElement) {
        imgElement.src = "data:image/png;base64," + imageData.data;
        imgElement.alt = imageData.name + "_" + imageData.id;
    } else {
        console.error("Image element with id 'bye' not found");
    }
}

function duckTalking() {
    const imageElement = document.querySelector('#moorthy-duck');
    if (!imageElement) return;

    const bannerArray = localStorage.getItem('bannerArray');

    if (bannerArray && JSON.parse(bannerArray).length > 0 && localStorage.getItem('open') != 'true' && localStorage.getItem('duckTalking') == 'true') {
        imageElement.src = "data:image/gif;base64,{{duckGif}}";
    } else {
        imageElement.src = "{{ base_url }}/img/{{ duck_img }}";
    }
}


function includesBanner(bannerArray, banner) {
    return bannerArray.some(item => item.id === banner.id);
}


function initializeBanner() {
    //window width isn't longer than 500 pixels will need to do something          if (window.innerWidth <= 500) {

    if (localStorage.getItem('open') != 'true' && localStorage.getItem('open') != 'false' ) {
        localStorage.setItem('open', 'false'); 
    }

    
    var bannerArray = JSON.parse(localStorage.getItem('bannerArray'));
    var openBanner = localStorage.getItem('open') != "false"; 
    var imageDataArray = {{ imageDataArray | json_encode | raw }}; 

    if (!bannerArray) { // there are no bannners
        localStorage.setItem('bannerArray', JSON.stringify([]));
        localStorage.setItem('removedArray', JSON.stringify([]));
        localStorage.setItem('currEventIndex', 0);    
        localStorage.setItem('open', 'false');
    }    


    let removedArray = JSON.parse(localStorage.getItem('removedArray')) || [];


    //adding in new banners for the update
    let updated = false;
    imageDataArray.forEach(item => {
        if (!includesBanner(bannerArray, item) && !includesBanner(removedArray, item)) {
            bannerArray.unshift(item);
            updated = true;

        }
    });

    if (updated) {
        localStorage.setItem('bannerArray', JSON.stringify(bannerArray));
        localStorage.setItem('currEventIndex', 0);
        localStorage.setItem('duckTalking', 'true');
    }


    bannerArray = JSON.parse(localStorage.getItem('bannerArray'));
    removedArray = JSON.parse(localStorage.getItem('removedArray'));
    var currEventIndex = parseInt(localStorage.getItem('currEventIndex'), 0);
    let eventsHolder = document.getElementById('hola');


    //if we are going to open banners
    if (bannerArray.length > 0 && openBanner) {
        var imageData = bannerArray[currEventIndex];
        updateImageData(imageData);
        if (eventsHolder) {
            eventsHolder.style.setProperty('display', 'block', 'important');
            localStorage.setItem('duckTalking', 'false');

        }
    }
    else if (bannerArray.length <= 0 || !openBanner) {
        //if banner isn't open or the length is 0
        localStorage.setItem('currEventIndex', 0);  
        if (eventsHolder) {
            eventsHolder.style.setProperty('display', 'none');
        }
    }

    duckTalking();
}

document.addEventListener('DOMContentLoaded', function() {
    let bannerArray = JSON.parse(localStorage.getItem('bannerArray')) || [];
    let removedArray = JSON.parse(localStorage.getItem('removedArray')) || [];
    var imageDataArray = {{ imageDataArray | json_encode | raw }};

    initializeBanner();
    const prevButton = document.getElementById('prevButton');
    if (prevButton) {
        prevButton.addEventListener('click', previousBanner);
    }

    const nextButton = document.getElementById('nextButton');
    if (nextButton) {
        nextButton.addEventListener('click', nextBanner);
    }

    const removeButton = document.getElementById('removeButton');
    if (removeButton) {
        removeButton.addEventListener('click', removeBanner);
    }

    const closeButton = document.getElementById('closeButton');
    if (closeButton) {
        closeButton.addEventListener('click', closeBanner);
    }

    const inquireButton = document.getElementById('inquireButton');
    if (inquireButton) {
        inquireButton.addEventListener('click', inquireBanner);
    }

});

function inquireBanner() {
    let bannerArray = JSON.parse(localStorage.getItem('bannerArray')) || [];
    let currEventIndex = parseInt(localStorage.getItem('currEventIndex'), 0); 
    var imageData = bannerArray[currEventIndex];

    if (imageData.extra_info === "" && imageData.link_name !== "") {
        window.open(imageData.link_name, '_blank');
    }
    else if (imageData.extra_info != "") {
    displayBigBanner(imageData.extra_info, imageData.link_name)
    }

}

function closeBanner() {
    localStorage.setItem('open', 'false');   
    initializeBanner();
}

function removeBanner() {
    let bannerArray = JSON.parse(localStorage.getItem('bannerArray')) || [];
    let removedArray = JSON.parse(localStorage.getItem('removedArray')) || [];

    let currEventIndex = parseInt(localStorage.getItem('currEventIndex'), 0); 

    if (currEventIndex >= 0 && currEventIndex < bannerArray.length) {
        removedArray.push(bannerArray[currEventIndex]);

        bannerArray.splice(currEventIndex, 1);

        localStorage.setItem('bannerArray', JSON.stringify(bannerArray));
        localStorage.setItem('removedArray', JSON.stringify(removedArray));

    } else {
        console.log("Invalid index for the banner.");
    }

    initializeBanner();

}

function previousBanner() {
    var currEventIndex = parseInt(localStorage.getItem('currEventIndex'), 0); 
    var bannerArray = JSON.parse(localStorage.getItem('bannerArray')) || [];
    
    currEventIndex = (currEventIndex - 1 + bannerArray.length) % bannerArray.length;
    localStorage.setItem('currEventIndex', currEventIndex);

    initializeBanner();
}

function nextBanner() {
    var currEventIndex = parseInt(localStorage.getItem('currEventIndex'), 0); 
    var bannerArray = JSON.parse(localStorage.getItem('bannerArray')) || [];

    currEventIndex = (currEventIndex + 1) % bannerArray.length;
    localStorage.setItem('currEventIndex', currEventIndex);

    initializeBanner();
}



</script>



{% if imageDataArray | length != 0 %}
    <div id="display-container">
    <div id="hola" style="z-index: 2; position: absolute; top: 52px; right: 50%; transform: translate(50%, -50%); text-align: center; display: none;"> 
        <div style="display: grid; grid-template-columns: 1fr;">
            <!-- Placeholder for image -->
            <img id="bye"
                alt="Banner"
                class="club-banners"
                src="" 
            />
        <div id="bannerNavigation" style="display: inline-flex; justify-content: center; margin: 0px">
            <div style="display: inline-flex; background-color: lightgray; border: 1px solid black; border-radius: 5px;">

                <button id="prevButton" style="border: none; background: none; cursor: pointer;">
                    Prev
                </button>

                <button id="nextButton" style="border: none; background: none; cursor: pointer;">
                     Next
                </button>

                <button id="closeButton" style="border: none; background: none; cursor: pointer;">
                     Close
                </button>

                <button id="removeButton" style="border: none; background: none; cursor: pointer;">
                     Remove
                </button>

                <button id="inquireButton" style="border: none; background: none; cursor: pointer;">
                     See More
                </button>
            </div>
        </div>
        </div>
    </div>
    </div>

{{ include('banner/BiggerBanner.twig') }}

<style>
@media (max-width: 600px) {
    #display-container {
        display: none !important;
    }
}

</style>

{% endif %}
