<script>
    if (!Cookies.get('imageDataArray')) {
        Cookies.set('imageDataArray', JSON.stringify(imageDataArray));
        Cookies.set('currEventIndex', 0);
    } 

    var imageDataArray = JSON.parse(Cookies.get('imageDataArray'));
    var currEventIndex = parseInt(Cookies.get('currEventIndex'));
    
</script>
{% if imageDataArray|length != 0 %}

{% set imageData = imageDataArray[0] %}
<div style="position: absolute; top: 40px; right: 50%; transform: translate(50%, -50%); text-align: center;">

<div style="display: grid; grid-template-columns: 1fr;">
    <img id="club-bannersid"
        alt="{{imageData.name}}_{{imageData.id}}"
        class="club-banners {{imageData.name}}_{{imageData.id}}"
        src="data:imgName/png;base64,{{ imageData.data }}"
        {% if imageData.extra_info != "" and imageData.link_name == "" %}
            onclick="window.location.href='{{ imageData.extra_info }}';"
        {% elseif imageData.extra_info == "" and imageData.link_name != "" %}
            onclick="window.location.href='{{ imageData.link_name }}';"
        {% endif %}
    />


    <div id="bannerNavigation" style="display: inline-flex; justify-content: center; margin: 0px">
        <div style="display: inline-flex; background-color: lightgray; border: 1px solid black; border-radius: 5px;" >
        <!-- Previous Button -->
        <button onclick="previousBanner()" style="border: none; background: none; cursor: pointer;">
            <i class="fa fa-arrow-left"></i> Prev
        </button>

        <!-- Next Button -->
        <button onclick="nextBanner()" style="border: none; background: none; cursor: pointer;">
            <i class="fa fa-arrow-right"></i> Next
        </button>

        <!-- Close Button -->
        <button onclick="closeBanner()" style="border: none; background: none; cursor: pointer;">
            <i class="fa fa-times"></i> Close
        </button>

        <!-- Delete Banner Button -->
        <button onclick="deleteBanner()" style="border: none; background: none; cursor: pointer;">
            <i class="fa fa-trash"></i> Delete
        </button>

        <!-- See More Inquire Button -->
        <button onclick="seeMoreInquire()" style="border: none; background: none; cursor: pointer;">
            <i class="fa fa-info-circle"></i> See More
        </button>
        </div>
    </div>

</div>
</div>


{% endif %}


