{% import _self as self %}

<script>
    $(document).ready(() => {
        // Attach the collapsible panels on
        attachCollapsiblePanel("#gradeables .course-section-heading", 951, "panel-head-active");
    });
</script>

{% if display_custom_message %}
    <div class="content">
        {# This is a layout table #}
        <table border=1 cellpadding=5 cellspacing=0 style="background-color:#ddffdd; width:auto;">
            <tr><td>
                <table border=0 cellpadding=5 cellspacing=0>
                    <h3>{{ message_file_details.title }}</h3>
                    <tr><td><a href="{{ message_file_details.filename }}" download="provided_files.zip">{{ message_file_details.description }}</a></td></tr>
                </table>
            </td></tr>
        </table>
    </div>
{% endif %}

{% if display_room_seating %}
    <div class="content">
        {% include 'navigation/RoomSeating.twig' %}
    </div>
{% endif %}

<div id="gradeables-content" class="content">
    <h1>Gradeables</h1>
    {% if sections|length > 0 %}
        <div id="gradeables">
        {% for list_section, info in sections %}
            <div id="{{ info.section_id }}"
                 class="course-section-heading
                 {% if info.is_panel_expanded %} panel-head-active {% endif %}"
            >
                <div class="course-section-title">
                    <i class="collapse-icon fas fa-caret-right"></i>
                    <i class="expand-icon fas fa-caret-down"></i>
                    {{ info.title }}
                    {% if info.subtitle != "" %}
                        &nbsp;&nbsp;<em>{{ info.subtitle }}</em>
                    {% endif %}
                </div>
                {% for button in 1 .. max_buttons %}
                    <div class="button-placeholder"></div>
                {% endfor %}
            </div>

            <div id="{{ info.section_id }}-section"
                 class="course-section
                 {% if info.is_panel_expanded %} panel-active {% endif %}"
            >
                {% for g_info in info.gradeables %}
                <div id="{{ g_info.id }}" class="gradeable-row">
                    <div class="course-main">
                        {% if g_info.edit_buttons or g_info.delete_buttons %}
                            {% for button in g_info.edit_buttons %}
                                {{ self.renderButton(button, date_time_format) }}
                            {% endfor %}
                            {% for button in g_info.delete_buttons %}
                                {{ self.renderButton(button, date_time_format) }}
                            {% endfor %}
                        {% endif %}
                        <div class="course-title">
                            {{ g_info.name }}
                            {% if g_info.url|trim != "" %}
                                <a class="external"
                                   href="{{ g_info.url }}"
                                   target="_blank"
                                   aria-label="Go to instructions for {{ g_info.name }}"
                                >
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% for button in g_info.buttons %}
                        <div class="course-button">{{ self.renderButton(button, date_time_format) }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="no-assignments-message">
            <p>There are currently no assignments posted.  Please check back later.</p>
        </div>
    {% endif %}
</div>

{% macro renderButton(button, date_format) %}
    {% if button is null %}
        <div class="button-placeholder"></div>
    {% else %}
        <a class="{{ button.getClass() }}{{ (button.getTitle() == 'Edit' or button.getTitle() == 'Delete') and has_build_error ? 'edit-build-error' : '' }} {% if button.hasOnclick() %} key_to_click {% endif %}" tabindex="0"
            {% if button.isDisabled() %}
                disabled
            {% else %}
                {# assigns the href unless button has onclick affect #}
                {% if not button.hasOnclick() %}
                    href="{{ button.getHref() }}"
                {% else %}
                    onclick="{{ button.getOnclick() }}"
                {% endif %}
            {% endif %}
            {% if button.isTitleOnHover %}
                title="{{ button.getTitle() }}"
            {% endif %}
            {% if button.getAriaLabel() != null  %}
                aria-label="{{ button.getAriaLabel() }}"
            {% endif %}
        >
            {% if button.getBadge() > 0 %}
                <span class="notification-badge">{{  button.getBadge() }} </span>
            {% endif %}

            {% if not button.isTitleOnHover() and button.getTitle() != null %}
                {{ button.getTitle() }}
            {% endif %}
            {% if button.getSubtitle() != null %}
                {% if button.getTitle() != null %}
                    <br>
                {% endif %}
                {% if button.getDate() != null %}
                    <span class="subtitle">({{ button.getSubtitle()|nl2br }} {{ button.getDate()|date(date_format) }})</span>
                {% else %}
                    <span class="subtitle">{{ button.getSubtitle()|nl2br }}</span>
                {% endif %}
            {% endif %}
        </a>
        {% if button.getProgress() != null %}
            <div class="meter">
                <span style="width: {{ max(2, button.getProgress()) }}%"></span>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
