<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<div class="content">
  <h1> Office Hours Queue </h1> <br/>
  {% if queue_open == 0 %}
    <p>The queue is currently closed {{queue_open}}</p>
  {% else %}

  {% if oh_queue.getNumInQueue() == 1 %}
    <p>There is currently {{oh_queue.getNumInQueue()}} person in the queue</p>
  {% else %}
    <p>There are currently {{oh_queue.getNumInQueue()}} people in the queue</p>
  {% endif %}
  {% if not oh_queue.isInQueue() %}
    <form method="post" id="add_to_queue" action="{{add_url}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
      <input type="text" name="name" maxlength="20" placeholder="Name" value = "{{oh_queue.getName()}}">
      <input type="text" name="code" placeholder="Code">
      <input type="submit" value="Join" class="btn btn-primary">
    </form>
  {% else %}
    {% if oh_queue.getStatus() == 0 %}
      You are number {{oh_queue.getPositionInQueue()}} in the queue as {{oh_queue.getName()}} <br/>
      You joined the queue at {{oh_queue.getTimeIn()}}
      <form method="post" id="remove_from_queue" action="{{remove_url}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <input type="hidden" name="entry_id" value="{{oh_queue.getEntryId()}}" />
        <input type="submit" value="Remove me from the queue" class="btn btn-primary">
      </form>
    {% else %}
      You are currently being helped
    {% endif %}
  {% endif %}

  {% endif %}
</div>
