<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<script>
  function confirmQueueToggle(){
    var result = confirm('Do you really want to {{ queue_open == 1 ? 'close': 'open'}} the queue?');
    if(result){
      document.getElementById('open_close').submit();
    }else{
      document.getElementById('queue-open').checked = !document.getElementById('queue-open').checked;
    }
  }

</script>

<div class="content">
  <h1> This is a page for office hours instructors </h1> <br/>
  {% if num_in_queue == 1 %}
    <h3> There is currently {{num_in_queue}} person in the queue</h3> <br/>
  {% else %}
    <h3> There are currently {{num_in_queue}} people in the queue</h3> <br/>
  {% endif %}

  <form method="post" id="open_close" action="{{toggle_open_url}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <input type="checkbox" name="queue_open" id="queue-open" onChange="confirmQueueToggle()" value="true" {{ queue_open ? 'checked': '' }} />
  </form>

  <table class="table table-striped" style="width:100%;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
    <tr>
      <th scope="row">{{entry.getPositionInQueue() }}</th>
      <td>{{ entry.getTimeIn() }}</td>
      <td>{{ entry.getUserId() }}</td>
      <td>{{ entry.getName() }}</td>
      {% if entry.getStatus() == 0 %}
      <td>
        <form method="post" id="start_help" action="{{start_help_url}}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
          <input type="hidden" name="user_id" value="{{entry.getUserId()}}" />
          <input type="submit" value="Help" class="btn btn-primary">
        </form>
      </td>
      {% elseif entry.getStatus() == 1 %}
        <td>
          <form method="post" id="finish_help" action="{{finish_help_url}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="user_id" value="{{entry.getUserId()}}" />
            <input type="submit" value="Finish Helping" class="btn btn-primary">
          </form>
        </td>
      {% endif %}
      <td>
        <form method="post" id="remove" action="{{remove_url}}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
          <input type="hidden" name="user_id" value="{{entry.getUserId()}}" />
          <input type="submit" value="Remove" class="btn btn-primary">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  <br><br>
  <h1>Previously Helped Students</h1>
  <table class="table table-striped" style="width:100%;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Time Entered</th>
        <th scope="col">Time Helped</th>
        <th scope="col">Time Out</th>
        <th scope="col">Removed By</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entries_helped %}
    <tr>
      <th scope="row">{{entry.getPositionInQueue() }}</th>
      <td>{{ entry.getUserId() }} </td>
      <td>{{ entry.getName() }}</td>
      <td>{{ entry.getTimeIn() }}</td>
      {% if entry.getStatus() == 2 %}
        <td>{{ entry.getTimeHelped() }}</td>
      {% else %}
        <td>Left Queue</td>
      {% endif %}
      <td>{{ entry.getTimeOut() }}</td>
      <td>{{ entry.getRemovedBy() }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
