<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<style media="screen">
    .row_color_0{background: var(--standard-light-yellow)!important;}
    .row_color_1{background: var(--alert-border-blue)!important;}
    .row_color_2{background: var(--standard-light-pink)!important;}
    .row_color_3{background: var(--standard-light-orange)!important;}
    .row_color_4{background: var(--standard-light-green)!important;}
</style>


<div class="content">
    <h1>
        Office Hours Queue
    </h1>
    <br/>
    <ul class="list-group">
    {% for queue in viewer.getAllQueues() %}
        <form method="post" id="add_to_queue" action="{{base_url}}toggle">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
            <input type="hidden" name="queue_state" value="{{queue['open']}}"/>
            {% if queue['open'] == 0 %}
                <input type="submit" value="Open Queue" class="btn btn-primary">
            {% else %}
                <input type="submit" value="Close Queue" class="btn btn-primary">
            {% endif %}
            <label>{{queue['code']}}</label>
        </form>
        <form method="post" id="add_to_queue" action="{{base_url}}empty" onsubmit="return confirm('Are you sure you want to empty the queue? This will kick everyone out of the queue.');">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
            <input type="submit" value="Empty Queue" class="btn btn-primary">
            <label>{{queue['code']}}</label>
        </form>
        <form method="post" id="add_to_queue" action="{{base_url}}deleteQueue">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
            <input type="submit" value="Delete Queue" class="btn btn-primary">
            <label>{{queue['code']}}</label>
        </form>
        <br>
    {% endfor %}
    </ul>

    <br><br><br>

    <form method="post" id="open_new_queue" action="{{base_url}}open">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <input type="text" name="code" placeholder="Code">
        <input type="submit" value="Open New Queue" class="btn btn-primary">
    </form>

    <br><br><br>
    <form method="post" id="add_to_queue" action="{{base_url}}add">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <label for="name_box">Your Name:</label>
        <input type="text" id="name_box" name="name" maxlength="20" placeholder="Name" value="{{viewer.getName()}}" style="margin:.5rem">
        <br>
        <label for="code_box">Code:</label>
        <input type="text" name="code" id="code_box" placeholder="Code" style="margin:.5rem">
        <br>
        <input type="submit" value="Join" class="btn btn-primary" style="margin:.5rem">
    </form>
    <br><br><br>

    <table class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Remove</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in viewer.getCurrentQueue() %}
                <tr class="row_color_{{viewer.getIndexFromCode(entry['queue_code'])}}">
                    <th scope="row">{{entry['row_number'] }}</th>
                    <td>{{ entry['name'] }}</td>

                    {% if viewer.getStateInQueue(entry['status']) == 0 %}
                        <td>
                            <form method="post" id="start_help" action="{{base_url}}startHelp">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                                <input type="hidden" name="queue_code" value="{{ entry['queue_code'] }}" />
                                <input type="submit" value="Help" class="btn btn-primary">
                            </form>
                        </td>
                    {% elseif viewer.getStateInQueue(entry['status']) == 1 %}
                        <td>
                            <form method="post" id="finish_help" action="{{base_url}}finishHelp">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                                <input type="hidden" name="queue_code" value="{{ entry['queue_code'] }}" />
                                <input type="submit" value="Finish Helping" class="btn btn-primary">
                            </form>
                        </td>
                    {% endif %}

                    {% if viewer.getStateInQueue(entry['status']) == 1 %}
                        <td class="help_timer" help_time="{{ viewer.timeToISO(entry['time_help_start']) }}"></td>
                    {% else %}
                        <td>{{ viewer.timeToHM(entry['time_in']) }}</td>
                    {% endif %}

                    <td>
                        <form method="post" id="remove" action="{{base_url}}remove" onsubmit="return confirm('Are you sure you want to remove {{ entry['name'] }} from the queue?');">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                            <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                            <input type="hidden" name="queue_code" value="{{ entry['queue_code'] }}" />
                            <input type="submit" value="Remove" class="btn btn-default">
                        </form>
                    </td>
                    <td>{{ entry['user_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <br><br>
    <h1>Previously Helped Students</h1>
    <table class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Time Entered</th>
                <th scope="col">Time In Queue</th>
                <th scope="col">Time Helped</th>
                <th scope="col">Removed By</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in viewer.getPastQueue() %}
                <tr>
                    <th scope="row">{{entry['row_number']}}</th>
                    <td>{{ entry['user_id'] }}</td>
                    <td>{{ entry['name'] }}</td>
                    <td>{{ viewer.timeToHM(entry['time_in']) }}</td>

                    <td>{{viewer.getTimeWaitingInQueue(entry['time_out'],entry['time_help_start'],entry['time_in'])}}</td>

                    {% if viewer.getLeaveReason(entry['status']) == 2 %}
                        <td>{{viewer.getTimeBeingHelped(entry['time_out'],entry['time_help_start'])}}</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 3 %}
                        <td>Removed</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 1 %}
                        <td>Left Queue</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 4 %}
                        <td>Queue Emptyed</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 0 %}
                        <!-- This should never happen but I put this here just in case -->
                        <td>In queue</td>
                    {% else %}
                        <td>Not in queue</td>
                    {% endif %}

                    <td>{{ entry['removed_by'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        //get all the timers on the page
        times = []
        $(".help_timer").each(function() {
            times.push([$(this), new Date($(this).attr("help_time"))]);
        });

        //update the timers every second
        updateTimes();
        setInterval(updateTimes, 1000);
        function updateTimes(){
            for(var i=0;i<times.length;i++){
                timer = (new Date() - times[i][1])/1000
                var min = Math.floor(timer/60)
                var sec = Math.floor(timer%60).toString().padStart(2, '0')
                var timeString = min + ":"+ sec;
                if(min >= 100){
                    timeString = "∞";
                }
                times[i][0].html(timeString);
            }
        }
    </script>
