<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<div class="content">
    <h1>
        Office Hours Queue
    </h1>
    <br/>

    <form method="post" id="open_new_queue" action="{{base_url}}open">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <input type="text" name="code" placeholder="Code">
        <input type="submit" value="Open New Queue" class="btn btn-primary">
    </form>

    <div style="margin-right:2rem; margin-bottom:1rem">
        <form method="post" id="empty_queue" action="{{base_url}}empty" onsubmit="return confirm('Are you sure you want to empty the queue? This will kick everyone out of the queue.');">
          <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
          <input type="text" name="code" placeholder="Code">
          <input type="submit" name="empty_queue" value="Empty Queue" class="btn btn-danger">
        </form>
    </div>

    <br><br><br>
    <form method="post" id="add_to_queue" action="{{base_url}}add">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <label for="name_box">Your Name:</label>
        <input type="text" id="name_box" name="name" maxlength="20" placeholder="Name" value="{{viewer.getName()}}" style="margin:.5rem">
        <br>
        <label for="code_box">Code:</label>
        <input type="text" name="code" id="code_box" placeholder="Code" style="margin:.5rem">
        <br>
        <input type="submit" value="Join" class="btn btn-primary" style="margin:.5rem">
    </form>
    <br><br><br>

    <table class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Remove</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in viewer.getCurrentQueue() %}
                <tr>
                    <th scope="row">{{entry['row_number'] }}</th>
                    <td>{{ entry['name'] }}</td>

                    {% if viewer.getStateInQueue(entry['status']) == 0 %}
                        <td>
                            <form method="post" id="start_help" action="{{base_url}}startHelp">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                                <input type="hidden" name="queue_code" value="{{ entry['queue_code'] }}" />
                                <input type="submit" value="Help" class="btn btn-primary">
                            </form>
                        </td>
                    {% elseif viewer.getStateInQueue(entry['status']) == 1 %}
                        <td>
                            <form method="post" id="finish_help" action="{{base_url}}finishHelp">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                                <input type="hidden" name="queue_code" value="{{ entry['queue_code'] }}" />
                                <input type="submit" value="Finish Helping" class="btn btn-primary">
                            </form>
                        </td>
                    {% endif %}

                    {% if viewer.getStateInQueue(entry['status']) == 1 %}
                        <td class="help_timer" help_time="entry.getTimeHelpedWithSeconds()"></td>
                    {% else %}
                        <td>{{ entry['time_in'] }}</td>
                    {% endif %}

                    <td>
                        <form method="post" id="remove" action="{{base_url}}remove" onsubmit="return confirm('Are you sure you want to remove {{ entry['name'] }} from the queue?');">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                            <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                            <input type="hidden" name="queue_code" value="{{ entry['queue_code'] }}" />
                            <input type="submit" value="Remove" class="btn btn-default">
                        </form>
                    </td>
                    <td>{{ entry['user_id'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <br><br>
    <h1>Previously Helped Students</h1>
    <table class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Time Entered</th>
                <th scope="col">Time In Queue</th>
                <th scope="col">Time Helped</th>
                <th scope="col">Removed By</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in viewer.getPastQueue() %}
                <tr>
                    <th scope="row">{{entry['row_number']}}</th>
                    <td>{{ entry['user_id'] }}
                    </td>
                    <td>{{ entry['name'] }}</td>
                    <td>{{ entry['time_in'] }}</td>

                    <td>entry.getTimeWaitingInQueue()</td>

                    {% if viewer.getLeaveReason(entry['status']) == 2 %}
                        <td>{{ entry.getTimeBeingHelped() }}</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 3 %}
                        <td>Removed</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 1 %}
                        <td>Left Queue</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 4 %}
                        <td>Queue Emptyed</td>
                    {% elseif viewer.getLeaveReason(entry['status']) == 0 %}
                        <!-- This should never happen but I put this here just in case -->
                        <td>In queue</td>
                    {% else %}
                        <td>Not in queue</td>
                    {% endif %}

                    <td>{{ entry['removed_by'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
