{% extends 'generic/Popup.twig' %}
{% block popup_id %}sync-notification-popup{% endblock %}
{% block title %}Sync Notification Settings{% endblock %}
{% block body %}
<div class="form-group">
    {{ dump(courses[0]|keys) }}
    <label for="sync_course_ids">
        Select courses to copy the current notification settings to:
    </label>
    <select id="sync_course_ids"
            name="sync_course_ids[]"
            class="form-control"
            multiple
            size="8"
            style="width:100%;">
        {% for course in courses %}
            {{ dump(courses[0]|keys) }}
            <option value="{{ course.getCourse() }}">
                {{ course.getTerm() }} — {{ course.getTitle() }}
            </option>
        {% endfor %}
    </select>
</div>
{% endblock %}
{% block buttons %}
<button class="btn btn-primary" onclick="setNotification(this)">
    Sync Settings
</button>
    {{block('close_button')}}
{% endblock %}