<div class="content">
    <h1>
        My Profile
    </h1>
    <div class="user-info-wrapper">
        <div id="user-card-img">
            <div class="user-img-cont">
                {% set image = user.getDisplayImage() %}
                {% if image is not null %}
                    {{ base64_image(image.getImageBase64MaxDimension(250), image.getMimeType(), '%s %s'|format(user.getDisplayedFirstName(), user.getDisplayedLastName())) }}
                {% else %}
                    <span class="center-img-tag">N/A</span>
                {% endif %}
            </div>
            <span class="edit-user-img">
                <a class="icon" tabindex="0" href="javascript:showUpdateProfilePhotoForm()" aria-label="Edit user profile photo" title="Edit user profile photo">
                    <i class="fas fa-upload"></i> Upload profile photo
                </a>
            </span>
            <span class="red-message" id="flagged-message" data-flagged="{{ user.getDisplayImageState }}">Your preferred image was flagged as inappropriate.</span>
        </div>
        <div id="user-card">
            <div class="user-info-cont">
                <div class="user-info-title" id="basic_info">
                    <span>Basic Information</span>
                    <span>
                        <a class="icon" tabindex="0" href="javascript:showUpdatePrefNameForm()" aria-label="Edit user preferred names" title="Edit user preferred names">
                            <i class="fas fa-pencil-alt"></i> Edit Preferred Names
                        </a>
                    </span>
                </div>
                <div class="user-info">
                    <div class="flex-row" id="username-row">
                        <span class="label">
                            Username:
                        </span>
                        <span class="value">
                            {{ user.getId() }}
                        </span>
                    </div>
                    <div class="flex-row" id="firstname-row">
                        <span class="label">
                            First Name:
                        </span>
                        <span class="value">
                            {{ user.getDisplayedFirstName() }}
                        </span>
                    </div>
                    <div class="flex-row" id="lastname-row">
                        <span class="label">
                            Last Name:
                        </span>
                        <span class="value">
                            {{ user.getDisplayedLastName() }}
                        </span>
                    </div>
                    <div class="flex-row" id="email-row">
                        <span class="label">
                            Email:
                        </span>
                        <span class="value">
                            {{ user.getEmail() }}
                        </span>
                    </div>
                    {% if display_access_level %}
                        <div class="flex-row" id="access-row">
                            <span class="label">
                                Access Level:
                            </span>
                            <span class="value">
                                {{ access_level }}
                            </span>
                        </div>
                    {% endif %}
                    {% if show_change_password %}
                        <div class="flex-row-col" id="password-row">
                            <span>
                                Change Password:
                            </span>
                            <span>
                                <a class="icon" tabindex="0" href="javascript:showUpdatePasswordForm()" aria-label="Change password" title="Change password">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="user-info-cont">
                <div class="user-info-title">
                   <span id="time_zone_selector_label"
                         data-user_time_zone="{{ user_time_zone_with_offset }}"
                         data-available_time_zones="{{ available_time_zones }}"
                   >Time Zone (<span id="utc_offset_stub">UTC Offset <span id="user_utc_offset">{{ user_utc_offset }}</span></span>):
                       <a target=_blank href="https://submitty.org/student#how-can-i-specify-my-local-timezone" aria-label="How can I specify my local timezone">
                           <i style="font-style:normal;" class="fa-question-circle"></i>
                       </a>
                   </span>
                </div>
                <div class="user-info">
                    <div class="flex-row-col">
                        <label for="time_zone_drop_down">Select Timezone: </label>
                        <select id="time_zone_drop_down"></select>
                    </div>
                </div>
            </div>
            <div class="user-info-cont">
                <div class="user-info-title">
                    <span>Color Theme:</span>
                </div>
                <div class="user-info">
                    <div class="flex-row-col">
                        <label for="theme_change_select">Choose a color theme</label>
                        <select id="theme_change_select" class="form-control" aria-label="Change Submitty's Theme">
                            <option value="system">Follow Device Theme</option>
                            <option value="system_black">Follow Device Theme (Black)</option>
                            <option value="light">Light Mode</option>
                            <option value="dark">Dark Mode</option>
                            <option value="dark_black">Dark Mode (Black)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'EditNameForm.twig' %}
{% include 'EditProfilePhotoForm.twig' %}
{% if show_change_password %}
    {% include 'ChangePasswordForm.twig' %}
{% endif %}
