<div class="content">
    <h1>
    {{ localize('My_Profile.My_Profile', "My Profile") }}
    </h1>
    <div class="user-info-wrapper">
        <div id="user-card-img">
            <div class="user-img-cont">
                {% set image = user.getDisplayImage() %}
                {% if image is not null %}
                    {{ base64_image(image.getImageBase64MaxDimension(250), image.getMimeType(), '%s %s'|format(user.getDisplayedGivenName(), user.getDisplayedFamilyName())) }}
                {% else %}
                    <span class="center-img-tag">N/A</span>
                {% endif %}
            </div>
            <span class="edit-user-img">
                <button class="icon" data-testid="upload-photo-button" tabindex="0" onclick="showUpdateProfilePhotoForm()" aria-label="Edit user profile photo" title="Edit user profile photo">
                    <i class="fas fa-upload"></i> {{ localize('My_Profile.Upload_profile_photo', "Upload profile photo") }}
                </button>
            </span>
            <span class="red-message" id="flagged-message" data-flagged="{{ user.getDisplayImageState }}">Your preferred image was flagged as inappropriate.</span>
        </div>
        <div id="user-card">
            <div class="user-info-cont">
                <div class="user-info-title" id="basic_info">
                    <span>
                    {{ localize('My_Profile.Basic_Information', "Basic Information" )}}
                    </span>
                </div>
                <div class="user-info">
                    <div class="flex-row" id="username-row" data-testid="username-row">
                        <span class="label">
                        {{ localize('My_Profile.Username', "Username" )}}:
                        </span>
                        <span class="value">
                            {{ user.getId() }}
                        </span>
                    </div>
                    <div class="flex-row" id="givenname-row" data-testid="givenname-row">
                        <span class="label">
                        {{ localize('My_Profile.Given_Name', "Given Name" )}}:
                        </span>
                        <button class="icon" tabindex="0" onclick="showUpdatePrefNameForm()" aria-label="Edit user preferred name" title="Edit user preferred name">
                            <i class="fas fa-pencil-alt"></i> {{ user.getDisplayedGivenName() }}
                        </button>
                    </div>
                    <div class="flex-row" id="familyname-row" data-testid="familyname-row">
                        <span class="label">
                        {{ localize('My_Profile.Family_Name', "Family Name" )}}:
                        </span>
                        <button class="icon" tabindex="0" onclick="showUpdatePrefNameForm()" aria-label="Edit user preferred name" title="Edit user preferred name">
                            <i class="fas fa-pencil-alt"></i> {{ user.getDisplayedFamilyName() }}
                        </button>
                    </div>
                    <div class="flex-row" id="last-initial-format-row" data-testid="last-initial-format-row">
                        <span class="label">
                            {{ localize('My_Profile.Abbreviated_Name', "Abbreviated Name") }}:
                        </span>
                        <button class="icon" tabindex="0" onclick="showUpdateLastInitialFormatForm()" aria-label="Edit user last initial format" title="Edit user last initial format">
                            <i class="fas fa-pencil-alt"></i> {{ user.getDisplayAbbreviatedName() }}
                        </button>
                    </div>
                    <div class="flex-row" id="pronouns-row" data-testid="pronouns-row">
                        <span class="label">
                             {{ localize('My_Profile.Pronouns', "Pronouns" )}}:
                        </span>
                        <button id='pronouns_val' data-testid="pronouns-val" class="icon" tabindex="0" onclick="showUpdatePronounsForm()" aria-label="Edit user pronouns" title="Edit user pronouns">
                            <i class="fas fa-pencil-alt"></i> {{ user.getPronouns() }}
                        </button>
                    </div>
                    <div class="flex-row" id="pronouns-display-row">
                        <span class="label">
                            {{ localize('My_Profile.Pronouns_Forum', "Display Pronouns in Discussion Forum" )}}:
                        </span>
                        <button id='display_pronouns_val' data-testid="display-pronouns-val" class="icon" tabindex="0" onclick="showUpdatePronounsForm()" aria-label="Edit user pronouns" title="Edit user pronouns">
                            {% if user.getDisplayPronouns() %}
                                <i class="fas fa-pencil-alt"></i> True
                            {% else %}
                                <i class="fas fa-pencil-alt"></i> False
                            {% endif %}
                        </button>
                    </div>
                    <div class="flex-row" id="display-name-order-row" data-testid="display-name-order-row">
                        <span class="label">
                            Display Name Order:
                        </span>
                        <button id='display_name_order_val' class="icon" tabindex="0" onclick="showDisplayNameOrderForm()" aria-label="Edit user display name order" title="Edit user display name order">
                            <i class="fas fa-pencil-alt"></i> {% if user.getDisplayNameOrder() is same as("GIVEN_F")%}Given Name First{% else %}Family Name First{% endif %}
                        </button>
                    </div>
                    <div class="flex-row" id="email-row" data-testid="email-row">
                        <span class="label">
                            {{ localize('My_Profile.Primary_Email', "Primary Email" )}}:
                        </span>
                        <span class="value">
                            {{ user.getEmail() }}
                        </span>
                    </div>
                    <div class="flex-row" id="secondary-email-row">
                        <span class="label">
                            {{ localize('My_Profile.Secondary_Email', "Secondary Email" )}}:
                        </span>
                        <button class="icon" tabindex="0" onclick="showUpdateSecondaryEmailForm()" aria-label="Edit user secondary email" title="Edit user secondary email">
                            <i class="fas fa-pencil-alt"></i> {{ user.getSecondaryEmail() }}
                        </button>
                    </div>
                    <div class="flex-row" id="secondary-email-notify-row">
                        <span class="label">
                            {{ localize('My_Profile.Send_Email', "Send Email to Secondary Address" )}}:
                        </span>
                        <button class="icon" tabindex="0" onclick="showUpdateSecondaryEmailForm()" aria-label="Edit user secondary email" title="Edit user secondary email">
                            <i class="fas fa-pencil-alt"></i> {% if user.getEmailBoth() %}True{% else %}False{% endif %}
                        </button>
                    </div>
                    {% if display_access_level %}
                        <div class="flex-row" id="access-row">
                            <span class="label">
                                {{ localize('My_Profile.Access_Level', "Access Level" )}}:
                            </span>
                            <span class="value">
                                {{ access_level }}
                            </span>
                        </div>
                    {% endif %}
                    {% if show_change_password %}
                        <div class="flex-row-col" id="password-row">
                            <span>
                                Change Password:
                            </span>
                            <span>
                                <button class="icon" tabindex="0" onclick="showUpdatePasswordForm()" aria-label="Change password" title="Change password">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="user-info-cont">
                <div class="user-info-title">
                   <span id="time_zone_selector_label"
                         data-user_time_zone="{{ user_time_zone_with_offset }}"
                         data-available_time_zones="{{ available_time_zones }}"
                   >Time Zone (<span id="utc_offset_stub">UTC Offset <span id="user_utc_offset">{{ user_utc_offset }}</span></span>):
                       <a target="_blank" href="https://submitty.org/student/account/local_timezone" aria-label="How can I specify my local timezone?">
                           <i style="font-style:normal;" class="fa-question-circle"></i>
                       </a>
                   </span>
                </div>
                <div class="user-info">
                    <div class="flex-row-col">
                        <label for="time_zone_drop_down">Select Timezone: </label>
                        <select id="time_zone_drop_down" data-testid="time-zone-dropdown"></select>
                    </div>
                </div>
            </div>
            <div class="user-info-cont">
                <div class="user-info-title">
                    <span>Preferred Locale (Language/Region):
                        <a target="_blank" href="https://submitty.org/developer/development_instructions/localization" aria-label="How can I contribute to Language Translation?">
                            <i style="font-style:normal;" class="fa-question-circle"></i>
                        </a>
                    </span>
                </div>
                <div class="user-info">
                    <div class="flex-row-col">
                        <label for="pref_locale_select">Choose a locale:</label>
                        {% set user_locale = user.getPreferredLocale() %}
                        <select id="pref_locale_select">
                            <option value="0">[Default] | {{ default_locale_name }}</option>
                            {% for locale, locale_name in supported_locales %}
                            <option value="{{ locale }}" {% if locale == user_locale %}selected{% endif %}>{{ locale_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if user_locale != 'en_US' and user_locale != '' %}
                    <div class="tip-note" style="text-align: right; margin-left: 25%;">Note: Support for languages other than English is currently incomplete. If you would like to contribute to translation, see our guidelines <a href="https://submitty.org/developer/development_instructions/localization">here</a>.</div>
                    {% endif %}
                </div>
            </div>
            <div class="user-info-cont">
                <div class="user-info-title">
                    <span>Color Theme:</span>
                </div>
                <div class="user-info">
                    <div class="flex-row-col">
                        <label for="theme_change_select">Choose a color theme</label>
                        <select id="theme_change_select" class="form-control" aria-label="Change Submitty's Theme" data-testid="theme-change-dropdown">
                            <option value="system">Follow Device Theme</option>
                            <option value="system_black">Follow Device Theme (Black)</option>
                            <option value="light">Light Mode</option>
                            <option value="dark">Dark Mode</option>
                            <option value="dark_black">Dark Mode (Black)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="user-info-cont">
                <div class="user-info-title">
                    <span>Sidebar Preference:</span>
                </div>
                <div class="user-info">
                    <div class="flex-row-col">
                        <label for="desktop_sidebar_preference">Choose a sidebar preference</label>
                        <select id="desktop_sidebar_preference" class="form-control" aria-label="Change Sidebar Preference" data-testid="desktop-sidebar-preference-dropdown">
                            <option value="automatic">[Default] | Collapse On Narrow View</option>
                            <option value="manual">Disable Automatic Collapse</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="user-info-cont">
                <div class="user-info-title">
                    <span>Notification Preference:</span>
                </div>
                <div class="user-info">
                    <div class="flex-row-col">
                        <div class="flex-row-col">
                            <label for="notification_sync_preference">Choose notification sync preference</label>
                            {% if user.getNotificationsSyncedUpdate() %}
                                <span class="option-alt">Last updated: {{ user.getNotificationsSyncedUpdate()|date("Y-m-d H:i:s") }}</span>
                            {% else %}
                                <span class="option-alt">Last updated: Never</span>
                            {% endif %}
                        </div>
                        <select id="notification_sync_preference" class="form-control" aria-label="Change Notification Sync Preference" data-testid="notification-sync-preference-dropdown">
                            {% if user.getNotificationsSynced() %}
                                <option value="sync" selected>Sync</option>
                                <option value="unsync">Unsync</option>
                            {% else %}
                                <option value="sync">Sync</option>
                                <option value="unsync" selected>Unsync</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div> 
            <div>
                <span class="option-alt" id="browser-support">Submitty supports an installable Progressive Web App (PWA) which requires Chrome, see <a href="https://support.google.com/chrome/answer/9658361">here</a> for installation instructions</span>
                <button class="addpwa btn btn-primary">Install App</button>
                <span class="option-alt" id="pwa-uninstall-lable">The Submitty Progressive Web App (PWA) has already been installed, see <a href="https://support.google.com/chrome/answer/9658361">here</a> to uninstall it</span>
            </div>
            <div class="flex-row-col">
                <button class="btn btn-primary" id="auth-tokens-btn" onclick="location.href='authentication_tokens';">
                    <i class="fa fa-key"></i>
                    Authentication Tokens
                </button>
                <button class="btn btn-primary" onclick="location.href='manage_sessions';">
                    <i class="fa fa-user-shield"></i>
                    Manage Sessions
                </button>
            </div>
        </div>
    </div>
</div>
{% include 'EditNameForm.twig' %}
{% include 'EditLastInitialFormatForm.twig' %}
{% include 'EditProfilePhotoForm.twig' %}
{% include 'EditSecondaryEmailForm.twig' %}
{% include 'EditPronounsForm.twig' %}
{% include 'EditDisplayNameOrderForm.twig' %}
{% if show_change_password %}
    {% include 'ChangePasswordForm.twig' %}
{% endif %}
