<div class="content">

<p>
<em>NOTE:  Community Events is work-in-progress.  Uploaded events will be stored, but will not yet be displayed.</em><br>
&nbsp;
</p>

  <button class="upload-banner btn btn-primary" onclick="newUploadBanner()" style="margin: 20px 0;"> 
    Upload a New Community Event 
  </button>





<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
{% for bannerImage in banners %}
  {% set imageName = bannerImage.getName() %}
  {% set imagePath = bannerImage.getPath() %}
  {% set id = bannerImage.getId() %}
  {% set description = bannerImage.getExtraInfo() %}
  {% set releaseDate = bannerImage.getReleaseDate().format('Y-m-d') %}
  {% set closeDate = bannerImage.getClosingDate().format('Y-m-d') %}

  {# Do something with the attributes... #}
  <div>
    <div class="image-info" style="display: inline-flex; align-items: center;">
      <h3 style="margin-right: 10px;">{{ imageName }}</h3>
      <a onclick='deleteBannerImage("{{ csrf_token|e('js') }}", "{{ id|e('js') }}", "{{ imageName|e('js') }}", 
        "{{ imagePath|e('js') }}", "{{ description|e('js') }}", "{{ releaseDate|e('js') }}", 
        "{{ closeDate|e('js') }}");'>
        <i class="fas fa-trash" style="font-size: 16px;"></i>

      </a>
    </div>
    <p> {{ imagePath}} </p>
    <p>{{ description }}</p>
    <p> Id: {{id}} </p>
    <p>Release Date: {{ releaseDate|date('Y-m-d') }}</p>
    <p>Close Date: {{ closeDate|date('Y-m-d') }}</p>


</div>
{% endfor %}
<br>
<hr style="border: 1px solid #ccc; margin: 20px 0;">


  <button class="upload-svg btn btn-primary" onclick="newUploadSVG()" style="margin: 20px 0;"> 
    Upload a New Notification Duck
  </button>



<br>
<img src="data:image/gif;base64,{{data2}}" alt="GIF image">


</div>
  {{ include('banner/UploadBannerPopup.twig') }}
  <br />
  {{ include('banner/UploadSvgPopup.twig') }}

