<div class="content">

<button class="upload-banner btn btn-primary" onclick="newUploadBanner()"> Upload an Event Banner </button>

<p>
Instructors can upload an advertisement banner for different club or community events. Once a banner is uploaded a log will be printed of the current banners in our database.
Please remember that a banner must have certain dementions. The file width needs to be between 200 and 800 pixels, and the height needs to be between 10 pixels and 100 pixels,
although we recommend having a 600px x 70px as the standard dimentions. 
</p>
<br>


<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
{% for bannerImage in banners %}
  {% set imageName = bannerImage.getName() %}
  {% set imagePath = bannerImage.getPath() %}
  {% set id = bannerImage.getId() %}
  {% set description = bannerImage.getExtraInfo() %}
  {% set releaseDate = bannerImage.getReleaseDate().format('Y-m-d') %}
  {% set closeDate = bannerImage.getClosingDate().format('Y-m-d') %}

  {# Do something with the attributes... #}
  <div>
    <div class="image-info" style="display: inline-flex; align-items: center;">
      <h3 style="margin-right: 10px;">{{ imageName|e('js') }}</h3>
      <a onclick='deleteBannerImage("{{ csrf_token|e('js') }}", "{{ imageName|e('js') }}", 
        "{{ imagePath|e('js') }}", "{{ description|e('js') }}", "{{ releaseDate|e('js') }}", 
        "{{ closeDate|e('js') }}");'>
        <i class="fas fa-trash" style="font-size: 16px;"></i>

      </a>
    </div>
    <p> {{ imagePath}} </p>
    <p>{{ description }}</p>
    <p> Id: {{id}} </p>
    <p>Release Date: {{ releaseDate|date('Y-m-d') }}</p>
    <p>Close Date: {{ closeDate|date('Y-m-d') }}</p>
</div>
{% endfor %}
</div>

{{ include('banner/UploadBannerPopup.twig') }}