<div class="content">

<button class="Upload_Banner" onclick="newUploadBanner()"> Upload a Banner </button>

<br>
<br>

{% for bannerImage in banners %}
    {% set imageName = bannerImage.getName() %}
    {% set imagePath = bannerImage.getPath() %}
    {% set description = bannerImage.getExtraInfo() %}
    {% set releaseDate = bannerImage.getReleaseDate().format('Y-m-d') %}
    {% set closeDate = bannerImage.getClosingDate().format('Y-m-d') %}

    {# Do something with the attributes... #}
    <div>
		<div class="image-info" style="display: inline-flex; align-items: center;">
		  <h3 style="margin-right: 10px;">{{ imageName }}</h3>
		  <a onclick='deleteItem("{{ bannerImage.getId() }}");' >

		  <i class="fas fa-trash" style="font-size: 16px;"></i>

		  </a>
		</div>
        <p> {{ imagePath}} </p>
        <p>{{ description }}</p>
        <p>Release Date: {{ releaseDate|date('Y-m-d') }}</p>
        <p>Close Date: {{ closeDate|date('Y-m-d') }}</p>
    </div>
{% endfor %}
</div>
    <script>
        function deleteItem(itemId) {
            // Send an asynchronous request to the PHP controller function
            fetch(`/delete_item.php?id=${itemId}`, {
                method: 'POST',
            }).then(response => {
                if (response.ok) {
                    // If successful, reload the page to update the item list
                    window.location.reload();
                } else {
                    // Handle any error, e.g., show an error message
                    console.error('Error deleting item.');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

{{ include('banner/UploadBannerPopup.twig') }}