<div class="content" data-testid="systemwide-info">
    <h1>Submitty Docker Interface</h1>

    <h2>System Wide information:</h2>
    {# TODO: include worker information here in the future #}
    {#
    Should be added back eventually, ideally showing workers' version as well
    <p>Docker Version : {{ docker_info['ServerVersion'] }} </p>
    #}
    <p>Docker info updated on: {{ last_updated }}</p>
    <p>System info updated on: {{ sysinfo_last_updated }}</p>
    {% if error_logs | length > 0 %}
        <h2 style="margin-top: 1vh;">Error Logs associated with the last update attempt:</h2>
        <pre class="error-log">
            {% for error_log in error_logs %}
                {{error_log }} <br>
            {% endfor %}
        </pre>
    {% endif %}
    <button class="btn btn-primary" id="update-machines" onclick=updateImage("{{admin_url}}/update_docker") style="margin-top: 1em"> Update dockers and machines</button>
</div>

<div class="content">
    <h2 class="docker-header">Worker Machines</h2>
    <table class="machine-table">
        <tr>
            <th rowspan=2 style="text-align: center; vertical-align: middle;">Machine</th>
            <th rowspan=2 style="text-align: center; vertical-align: middle;">Num Autograding Workers</th>
            <th rowspan=2 style="text-align: center; vertical-align: middle">System Info</th>
            <th rowspan=2 style="text-align: center; vertical-align: middle">Docker Version</th>
            <th colspan={{capabilities|length}}>Capabilities</th>
        </tr>
        <tr>
            {% for capability in capabilities %}
                <td>{{capability}}</td>
            {% endfor %}
        </tr>
        {% for worker in worker_machines %}
            <tr data-enabled = {{worker.is_enabled == true and worker.failed_to_update == false }}>
            <th style="vertical-align: middle;">{{worker.name}}</th>
            <td>{{worker.num_autograding_workers}}</td>
            <td data-testid="system-info">
                {% if worker.system_information is not null %}
                    OS: {{ worker.os }} <br />
                    Disk Usage: {{ worker.system_information.disk_usage }} <br/>
                    Load: {{ worker.system_information.load }} <br />
                    Worker: {{ worker.system_information.worker_service }} <br/>
                    {% if worker.system_information.shipper_service is not null %}
                        Shipper: {{  worker.system_information.shipper_service }}<br/>
                    {% endif %}
                    {% if worker.system_information.daemon_service is not null %}
                        Daemon: {{ worker.system_information.daemon_service }}
                    {% endif %}
                {% else %}
                    No information parsed for {{ worker.name }}
                {% endif %}
            </td>
            <td data-testid="docker-version">{{ worker.docker_version }}</td>
            {% for capability in capabilities %}
                <td>
                {% if capability in worker.capabilities %}
                    <i class="fas fa-check"></i>
                {% else %}
                    <i class="fas fa-x"></i>
                {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div class="content">
    <h2 class ="docker-header">Autograding Docker Images</h2>
    {% if capabilities is not null %}
        <div class="filter">
            <div style="display:inline-block;">Capability Filter: </div>
            <div style="display:inline-block;">
                <button class="btn btn-primary" id="show-all">Show All</button>
                {% for capability in capabilities %}
                    <button data-capability="{{capability}}" class="btn filter-buttons" style="background-color:var(--category-color-{{capability_to_color_mapping[capability]}});">
                        {{capability}}
                    </button>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <table class="table table-striped docker-table mobile-table">
        <thead>
            <tr>
                <th>Image Name</th>
                <th>Owner</th>
                <th>Id</th>
                <th>Size</th>
                <th>Tag</th>
                <th>Created</th>
                <th>Alias</th>
                <th>Capabilities Containing This Image</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
        {% for image in docker_images %}
            {% set full = image.primary_name | split(":") %}
            {% set name = full[0] %}
            {% set tag = full[1] %}

            <tr class="image-row" >
                <td>{{ name }}</th>
                <td>{{ image.id | trim("sha256:")}}</td>
                <td>{{ image.size_mb }}</td>
                <td>{{ tag }}</td>
                <td>{{ image.created_timestamp }}</td>
                <td>
                    {% if image.aliases|length > 0 %}
                        <ul class="tag-list">
                            {% for alias in image.aliases %}
                                <li>{{ alias }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    {% for capability in image.capabilities %}
                        <span class="badge badge-{{ capability_to_color_mapping[capability] % 8 + 1 }}">{{capability}}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if is_super_user or (docker_image_owners[image.id] is defined and user_id == docker_image_owners[image.id]) %}
                        <button class="send-button btn btn-default" id="{{ image.id }}" data-image-id="{{ image.id }}" onclick=confirmationDialog("{{admin_url}}/remove_image",id)>Remove</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if no_image_capabilities | length > 0 %}
<div class="content">
    <h2 class="docker-header">Capabilities With No Image Associated</h2>
    <p>The follow capabilities were found to not have any images associated with them under autograding_containers.json:</p>
    <ul id="capabilities-list">
        {% for capability in no_image_capabilities %}
            <li>{{capability}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="content">
    <div> </div>
    <h2 class="docker-header">Add Image to Capability</h2>
    <p id="docker-name-example">
        Docker name should be in the format of organization/repository:tag.<br>
        Example: submittyrpi/csci1200:default
    </p>
    <p id="docker-warning" class="danger docker-warning" style="display: none;">
        Not a proper docker image name, must be in the format of organization/repository:tag
    </p>
    <div style="margin-bottom: 1em">
        <label for="capability-form" style="display: inline-block; margin-right: 1em; width: 5%;">
            Capability:
        </label>
        <select class="form-control form-control-lg" style="width:93%; display: inline-block;" id="capability-form">
            {% for capability in capabilities %}
                <option>{{capability}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="add-field" style="display: inline-block; margin-right: 1em; width: 5%">
            Image:
        </label>
        <input type="text" id="add-field" style="width:93%; padding:1%;"></input>
    </div>
    <button class="send-button btn btn-primary" id="send-button" onclick=addImage("{{admin_url}}/add_image") disabled="disabled">Submit</button>
</div>
