<div class="content">
    <h1>Submitty Docker Interface</h1>

    <h2>System Wide information:</h2>
    {% if docker_info is not null %}
        {# TODO: include worker information here in the future #}
        <p>Docker Version : {{ docker_info['ServerVersion'] }} </p>
        <p>Updated on: {{last_updated}}</p>
        {% if error_logs | length > 0 %}
            <textarea disabled="disabled" style="resize: none; width: 100%; height:25vh;">
                {% for error_log in error_logs %}
                    {{error_log ~ "\n"}}
                {% endfor %}
            </textarea>
        {% endif %}
        <button class="btn btn-primary" id="update-machines" onclick=updateImage("{{admin_url}}/update_docker") style="margin-top: 1em"> Update dockers and machines</button>
    {% endif %}
</div>

<div class="content">
    <h2 class="docker-header">Worker Machines</h2>
    <table>
        <tr>
            <th></th>
            {% for capability in capabilities %}
            <th>{{capability}}</th>
            {% endfor %}
            <th>Num Autograding Workers</th>
        </tr>
        {% for worker in worker_machines %}
        <tr data-enabled = {{worker['enabled'] == true and (worker['name'] not in machine_to_update | keys or machine_to_update[worker['name']] == true)? 'true' : 'false'}}>
            <th>{{worker['name']}}</th>
            {% for capability in worker['capabilities'] %}
                {% if capability %}
                    <td><i class="fas fa-check"></i></td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            <td>{{worker['num_autograding_workers']}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="content">
    <h2 class ="docker-header">Autograding Docker Images</h2>
    {% if capabilities is not null %}
        <div class="filter">
            <div style="display:inline-block;">Capability Filter: </div>
            <div style="display:inline-block;">
                {% for capability in capabilities %}
                    <button data-capability="{{capability}}" class="btn filter-buttons" style="background-color:{{capability_to_color[capability]}}; border-color: {{capability_to_color[capability]}}">
                        {{capability}}
                    </button>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <table class="table docker-table mobile-table">
        <thead>
            <tr>
                <th>Image Name</th>
                <th>Tag</th>
                <th>ID</th>
                <th>Size</th>
                <th>Created Date</th>
                <th>Alias</th>
                <th>Capabilities Containing This Image</th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in autograding_containers['all_images'] %}
            <tr class="image-row" data-error={{value["name"] in fail_images ? "true" : "false"}}>
                <td>{{ value["name"] }}</th>
                <td>{{ value["tag"] }} </td>
                <td>{{ value["short_id"] | trim("sha256:") }} </td>
                <td>{{ value["size"] }} (Virtual Size: {{ value["virtual_size"] }})
                </td>
                <td> Created on: {{ value["created"] }} </td>
                <td>
                {% if value["additional_names"] | length > 0 %}
                <ul id="tag-list">
                    {% for name in value["additional_names"] %}
                    <li>{{ name }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                </td>
                <td>
                    {% if value["name"] ~ ':' ~ value["tag"] in image_to_capability|keys %}
                        {% for capability in image_to_capability[value["name"] ~':'~ value["tag"]] %}
                            <span class="badge" style="background-color:{{capability_to_color[capability]}}">{{capability}}</span>
                        {% endfor %}
                    {% else %}
                        {% for name in value["additional_names"] %}
                            {% if name in image_to_capability|keys %}
                                {% for capability in image_to_capability[name] %}
                                    <span class="badge" style="background-color:{{capability_to_color[capability]}}">{{capability}}</span>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if no_image_capabilities | length > 0 %}
<div class="content">
    <h2 class="docker-header">Capabilities With No Image Associated</h2>
    <p>The follow capabilities were found to not have any images associated with them under autograding_containers.json:</p>
    <ul id="capabilities-list">
        {% for capability in no_image_capabilities %}
            <li>{{capability}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="content">
    <div> </div>
    <h2 class="docker-header">Add Image to Capability</h2>
    <p id="docker-warning" class="danger docker-warning" style="display: none;">
        Not a proper docker image name
    </p>
    <div style="margin-bottom: 1em">
        <div style="display: inline-block; margin-right: 1em; width: 5%;">
            Capability:
        </div> 
        <select class="form-control form-control-lg" style="width:93%; display: inline-block;" id="capability-form">
            {% for capability in capabilities %}
                <option>{{capability}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <div style="display: inline-block; margin-right: 1em; width: 5%">
            Image:
        </div> 
        <input type="text" id="add-field" style="width:93%; padding:1%;"></input>
    </div>
    <button class="send-button btn btn-primary" id="send-button" onclick=addImage("{{admin_url}}/add_image") disabled="disabled">Send</button>
</div>
