<div type="hidden" id="message"></div>
<div class="content">
    <h1>Late Days Allowed</h1>
    <form id="lateDayForm" method="post" enctype="multipart/form-data" onsubmit="return updateLateDays($(this));">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <p>
            Use this form to grant students additional late days (beyond the initial number specified in the course configuration).<br>
            Students may use these additional late days for any future homeworks (after the specificed date).
        </p>
        <fieldset>
            <legend class="option-title">Single Student Entry</legend>
            <label for="user_id">
                Student ID:
                <input class="option-input" type="text" name="user_id" id="user_id">
            </label>
            <label for="datestamp">
                Datestamp (MM/DD/YYYY):
                <input class="option-input" type="text" name="datestamp" id="datestamp">
            </label>
            <label for="late_days">
                Late Days:
                <input class="option-input" type="text" name="late_days" id="late_days">
            </label>
            <div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span class="option-title" id="csv_upload_title">Multiple Student Entry Via CSV Upload</span>
                <div id="csv_upload_format">Do not use column headers. CSV must be of the following form: student_id, MM/DD/YY, late_days</div>
            </legend>
            <input type="file" name="csv_upload" id="csv_upload" aria-labelledby="csv_upload_title csv_upload_format" onchange="return updateLateDays($(this));">
            <label for="csv_option_overwrite_all">
                Upload overwrites <em>all</em> values
                <input type="radio" name="csv_option" id="csv_option_overwrite_all" value="csv_option_overwrite_all" checked>
            </label>
            <label for="csv_option_preserve_higher">
                Do not overwrite higher values
                <input type="radio" name="csv_option" id="csv_option_preserve_higher" value="csv_option_preserve_higher">
            </label>
        </fieldset>
    </form>
    <div id="load-late-days" align="center">
        <div class="option-title" id="late_day_title">Late Days Allowed</div>
        {# This is a data table #}
        <table id="late_day_table" class="table table-striped table-bordered persist-area" style="width:80%">
			<caption />
            <thead class="persist-thead">
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Total Allowed Late Days</th>
                <th>Effective Date</th>
                <th>Delete</th>
            </thead>
            <tbody>
            {% if not users or (users|length < 1) %}
            <tr><td colspan="6">No late days are currently entered.</td></tr>
            {% else %}
                {% for user in users %}
                <tr>
                    <td>{{ user.getId() }}</td>
                    <td>{{ user.getDisplayedFirstName() }}</td>
                    <td>{{ user.getDisplayedLastName() }}</td>
                    <td>{{ user.getAllowedLateDays() }}</td>
                    <td>{{ user.getSinceTimestamp() }}</td>
                    <td><a aria-label='Delete latedays for {{ user.getId() }} on {{ user.getSinceTimestamp() }}' onclick="deleteLateDays('{{ user.getId() }}', '{{ user.getSinceTimestamp() }}');"><i class="fas fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $("#user_id").autocomplete({
        source: {{ student_full|raw }}
    });
    flatpickr("#datestamp", {
            plugins: [ShortcutButtonsPlugin(
                    {
                        button: [
                            {
                                label: "Now"
                            }, 
                            {
                                label: "End of time"
                            }
                        ],
                        label: "or",
                        onClick: (index, fp) => {
                            let date;
                            switch (index) {
                                case 0: 
                                    date = new Date();
                                    break;
                                case 1: 
                                    date = new Date("01/01/9998");
                                    break;
                            }
                            fp.setDate(date, true);
                        }
                    }
                )],
            allowInput: true,
            dateFormat: "Y-m-d"
        });

</script>
