<div class="content">
    <script>
        let config = null;
        try {
            config = JSON.parse('{{ config_string|escape('js') }}');
        }
        catch (err) {
            console.error(err);
            displayErrorMessage('JSON parse failure!');
        }

        window.builder_data = {
            g_id: '{{ gradeable.getId()|escape('js') }}',
            config: config,
            images: JSON.parse('{{ images|escape('js') }}'),
            codemirror_languages: JSON.parse('{{ codemirror_languages|escape('js') }}')
        };

        // Attach notebook_builder object to the window
        window.addEventListener('DOMContentLoaded', () => {
            const attachment_div = document.getElementById('notebook-builder');
            attachment_div.innerHTML = '';
            window.notebook_builder = new RootBuilder(attachment_div);
        });
    </script>

    <h2 data-testid="notebook-builder-title">{{ gradeable.getTitle() }} Notebook Builder</h2>
    <div id="notebook-builder">
        <p>Loading...</p>
    </div>
    <button class="btn btn-nav btn-nav-grade btn-default" onclick="javascript:document.getElementById('holder').innerHTML=JSON.stringify(notebook_builder.getJSON(), null, 2)">Show JSON</button>
    <pre id="holder"></pre>
</div>
