{% import _self as self %}

<div class="content">
    <h1>Upload Gradeable Config</h1>
    <br><br>
    <p>
        Following the assignment configuration specifications:<br>
        <a href="http://submitty.org/instructor/assignment_configuration">
            http://submitty.org/instructor/assignment_configuration</a><br>
        and examples:<br>
        <a target=_blank href="https://github.com/Submitty/Tutorial/tree/master/examples">Submitty Tutorial example autograding configurations</a><br>
        <a target=_blank href="https://github.com/Submitty/Submitty/tree/master/more_autograding_examples">Additional example autograding configurations</a><br>
    </p>

    <br><br>
    <p>
        Prepare your assignment configuration as a single <code>config.json</code> file.<br>
        Or as a zip of the <code>config.json</code>, and the directories <code>provided_code</code>,
        <code>test_input</code>, <code>instructor_solution</code>, <code>test_output</code>, and/or <code>custom_validation_code</code>.
    </p>

    <br><br>

    <form action="{{ core.buildUrl({'component': 'admin', 'page': 'gradeable', 'action': 'process_upload_config'}) }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        Upload Config: <input type="file" name="config_upload" /><br />
        <input type="submit" value="Upload" />
    </form>
</div>

{% if all_files|length > 0 %}
<div class="content">
    <h2>Previous Uploads</h2>
    <br>
    <b>located in {{ target_dir }}</b>
    <br>&nbsp;<br>
    <link>
    <script>
        function openRenamePopup(file_path){
            var url = buildUrl({'component': 'admin', 'page': 'gradeable', 'action': 'check_being_used', 'config': file_path});
            $('#alert_in_use').html('');
            $('#gradeables_using_config').empty();
            $.ajax({
                url : url,
                success(data){
                    var gradeable_ids = JSON.parse(data)['data'];
                    if(gradeable_ids.length > 0){
                        $('#alert_in_use').html("Note: Currently these gradeables are using this config, rename at your own risk");
                        for(var i = 0; i < gradeable_ids.length; i++){
                            $('#gradeables_using_config').append("<li>" + gradeable_ids[i] + "</li>");
                        }
                    }
                }
            })
            $('#rename_config_popup').css('display', 'block');
            $('#curr_config_name').val(file_path);
        }
    </script>
    <ul>
        {{ self.display_files(self, all_files, 1, false, inuse_config) }}
    </ul>
</div>
{% endif %}

{% macro display_files(self, files, indent, seen_root, inuse_config) %}
    {% set margin_left = 15 %}
    {% set neg_margin_left = -15 * indent %}
    {% for name, file in files %}
        {% set id = file.path | trim('/', 'right') | replace({'/': '_', '.': '_'}) %}
        {% if file.files != null %}
            <div>
                {% if indent == 1 %}
                    <a class="fas fa-pencil-alt" onclick="openRenamePopup('{{ file.path }}')"></a>
                    {% if file.path not in inuse_config %}
                        <a class="fas fa-trash" href="{{core.buildUrl({'component': 'admin', 'page': 'gradeable', 'action': 'delete_config', 'config': file.path})}}"></a>
                    {% endif %}
                {% endif %}
                <span id='{{ id }}-span' class='fa icon-folder-closed'></span><a onclick='openDiv("{{ id }}");'>{{ seen_root ? name : file.path }}</a>
                <div id='{{ id }}' style='margin-left: {{ margin_left }}px; display: none'>
                    {{ self.display_files(self, file.files, indent + 1, true) }}
                </div>
            </div>
        {% else %}
            {% set url = core.buildUrl({'component': 'misc', 'page': 'display_file', 'dir': 'config_upload', 'path': file.path}) %}
            <div>
                <div class="file-viewer"><a onclick='openFrame("{{ url }}", "{{ id }}", "{{ file.name }}")'>
                    <span class='icon-plus'></span>{{ file.name }}</a> <a onclick='openUrl("{{ url }}")'>(Popout)</a>
                </div>
                <div id="file_viewer_{{ id }}" style='margin-left: {{ neg_margin_left }}px'></div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% include('admin/RenameConfigPopup.twig')%}
