<div class="content">
	<h1>Customize Website Theme</h1>
	<div>
        Instructors can upload a JSON file to customize sidebar links.<br>
        Note that they are loaded in frames and will not be able to run scripts or affect the rest of Submitty.<br>
        <br>
        You can also upload a CSS file to override the default styles from Submitty.<br>
        <a target=_blank href="http://submitty.org/instructor/website_customization">More information about Website Customization <i style="font-style:normal;" class="fa-question-circle"></i></a>
    </div>
    <br>
    {# This is a data table #}
    <table class="wrapper-upload">
        <tr class="wrapper-layout-header">
            <th class="layout_th_cell">Panel</th>
            <th class="layout_th_cell">File Type</th>
            <th class="layout_th_cell">Upload</th>
            <th class="layout_th_cell">Current File</th>
        </tr>
        {{ _self.table_file(wrapper_files, "override.css", "Custom Style", "CSS", "wrapper-css", "custom_style", csrf_token, upload_url, delete_url) }}
        {{ _self.table_file(wrapper_files, "sidebar.json", "Sidebar Links", "JSON", "wrapper-css", "sidebar_links", csrf_token, upload_url, delete_url) }}
    </table>
</div>

{% macro table_file(wrapper_files, file, name, type, class, aria_labelledby_id, csrf_token, upload_url, delete_url) %}
    <tr class="{{ class }}" data-testid="{{ file }}">
        <td id="name_{{ aria_labelledby_id }}">{{ name }}</td>
        <td id="type_{{ aria_labelledby_id }}">{{ type }}</td>
        <td>
            <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                <input type="hidden" name="location" value="{{ file }}">
                <input type="file" class="wrapper_upload" name="wrapper_upload" aria-labelledby="name_{{ aria_labelledby_id }} type_{{ aria_labelledby_id }}" data-testid="{{ file }}-upload-input" />
                <input type="submit" class="btn btn-default" value="Upload" data-testid="{{ file }}-upload-button" />
            </form>
        </td>
        <td data-testid="{{ file }}-current-file">
            {% if wrapper_files[file] is defined and wrapper_files[file] != null %}
                <form action="{{ delete_url }}" method="post">
                    <input type="hidden" name="location" value="{{ file }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="submit" class="btn btn-danger" value="Delete" data-testid="{{ file }}-delete-button">&nbsp;
                    {{ wrapper_files[file] }}
                </form>
            {% endif %}
        </td>
    </tr>
{% endmacro %}
