<div class="component-tabs" data-g_id="{{ g_id }}" >
    {% for component in gradeable_components %}
        {% set component_color = grade_inquiries[component.id].status == -1 ? '#ad3937' : '#000000' %}
        <button class="component-tab component-{{ component.id }} btn" id="{{ component_pending_inquiry }}" data-component_id="{{ component.id }}" data-color="{{ component_color }}" onclick="onComponentTabClicked(this)">
            {{ component.title }}
        </button>
    {% endfor %}
</div>
