{% import _self as self %}
{% if grade_inquiry_per_component_allowed %}
<h3>Grade Inquiries</h3>
{% endif %}
<p>{{ regrade_message }}</p>
{% if not has_submission %}
    <span class="yellow-message">No Submission</span>
{% endif %}
{% if is_inquiry_yet_to_start %}
    <span class="yellow-message">Grade inquiries are not yet started. No new grade inquiries can be made.</span>
{% elseif not is_inquiry_open %}
    <span class="yellow-message">It is currently after grade inquiry deadline. No new grade inquiries can be made.</span>
{% endif %}
{% if can_inquiry and has_submission %}
    {% if grade_inquiry_per_component_allowed %}
        {%  include "submission/regrade/ComponentTabs.twig" with { "gradeable_components": gradeable_components, 'grade_inquiries': grade_inquiries } only %}
    {% endif %}
    <div class='grade-inquiries'>
        {% for component in gradeable_components %}
            <div class="grade-inquiry" data-component_id={{ component.id }}>
                <div class="grade-inquiry-header-div">
                    {% if grade_inquiries[component.id] is defined %}
                        {% if (grade_inquiry_per_component_allowed and (not component.id == 0 or grade_inquiries[component.id] is defined and grade_inquiries[component.id].status is defined and grade_inquiries[component.id].status == -1)) or not grade_inquiry_per_component_allowed %}
                            <h3 class="grade-inquiry-header">Grade Inquiry:</h3>
                            <span class="grade-inquiry-status">
                            {% if grade_inquiries[component.id].status == -1 and is_grading %}
                                    <span class="fas fa-hourglass" style="font-size: 16px; color: #af0000"></span>
                                    <span class="red-message">Unresolved Grade Inquiry</span>
                            {% elseif grade_inquiries[component.id].status == -1 %}
                                <span class="fas fa-hourglass" style="font-size: 16px; color: #af0000"></span>
                                <span class="red-message">Grade Inquiry Under Review</span>
                            {% elseif grade_inquiries[component.id] is defined and grade_inquiries[component.id].status is not null and grade_inquiries[component.id].status == 0 %}
                                <span class="fas fa-check" style="font-size: 16px; color: #008800"></span>
                                <span class="green-message">Grade Inquiry Has Been Resolved</span>
                            {% endif %}
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
                {% if grade_inquiries[component.id] is defined and not grade_inquiries[component.id].posts is empty %}
                    {% for post in grade_inquiries[component.id].posts %}
                        {% include "submission/regrade/Post.twig" with {"post": post} %}
                    {% endfor %}
                {% elseif component.id == 0 %}
                    <p class="yellow-message no-post-warning" >No posts!</p>
                {% endif %}
                {# show form if it is before grade inquiry deadline or this is an already opened inquiry #}
                {% if is_inquiry_open or grade_inquiries[component.id] is defined %}
                {# show form if grade inquiry per component and (it is not the all tab or there is an unresolved inquiry that is not a component) #}
                {% if (grade_inquiry_per_component_allowed and (not component.id == 0 or grade_inquiries[component.id] is defined and grade_inquiries[component.id].status is defined and grade_inquiries[component.id].status == -1)) or not grade_inquiry_per_component_allowed %}
                    <form method="POST" class="reply-text-form" id="reply-text-form-{{ component.id }}" >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" >
                        <input type="hidden" id="thread_id" name="thread_id" value="{{ grade_inquiries[component.id].id is defined ? grade_inquiries[component.id].id : 0  }}">
                        <input type="hidden" id="submitter_id" name="submitter_id" value="{{ submitter_id }}">
                        <input type="hidden" id="gc_id" name="gc_id" value="{{ component.id }}">
                        {% if grade_inquiries[component.id] is not defined or grade_inquiries[component.id].status == 0 %}
                            {% set text_area_label_text = 'Write an inquiry:' %}
                        {% elseif grade_inquiries[component.id].status == -1 %}
                            {% set text_area_label_text = 'Add comment to grade inquiry:' %}
                        {% endif %}
                        <label for="reply-text-area">{{ text_area_label_text }}</label>
                        {% include "misc/MarkdownArea.twig" with {
                            "markdown_area_id" : "reply-text-area-" ~ component.id,
                            "markdown_area_name" : "replyTextArea",
                            "markdown_area_value" : "",
                            "placeholder" : "Enter response here...",
                            "preview_div_id" : "inquiry_preview",
                            "preview_div_name" : "inquiry_preview",
                            "onclick" : "previewInquiryMarkdown.call(this)",
                            "render_buttons" : true,
                            "min_height" : "100px",
                            "other_textarea_attributes" : "required onkeyup=onReplyTextAreaKeyUp(this)"
                        } only %}
                        <div id="grade-inquiry-actions" class="row" style="justify-content: flex-end">
                            {% if grade_inquiries[component.id] is not defined%}
                                {# No request yet #}
                                <button disabled type="button" formaction="{{ request_regrade_url }}" class="gi-submit btn btn-primary key_to_click" tabindex="0" style="float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Submit Grade Inquiry
                                </button>
                            {% elseif grade_inquiries[component.id].status == -1 and is_grading %}
                                {# Grader view,request is open #}
                                <button disabled type="button" formaction="{{ change_request_status_url }}" class="gi-submit btn btn-primary key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Respond and Resolve Grade Inquiry
                                </button>
                                <button disabled type="button" formaction="{{ make_request_post_url }}" class="gi-submit btn btn-primary key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Post Additional Information
                                </button>
                                <button type="button" id="grading-close" formaction="{{ change_request_status_url }}" class="gi-ignore-disabled gi-submit btn btn-default key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Close Grade Inquiry
                                </button>
                            {% elseif grade_inquiries[component.id].status == -1 %}
                                {# Request pending, we can submit new posts #}
                                <button disabled type="button" formaction="{{ make_request_post_url }}" class="gi-submit btn btn-primary key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Post Additional Information
                                </button>
                                <button type="button" formaction="{{ change_request_status_url }}" class="gi-submit btn btn-default key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Close Grade Inquiry
                                </button>
                            {% elseif grade_inquiries[component.id].status == 0 and is_grading %}
                                {# Grader view, Request closed #}
                                {# Letting Instructor reply(comment) to the inquiry without reopening the grade_inquiry #}
                                <button disabled type="button" formaction="{{ make_request_post_url }}" class="gi-submit btn btn-primary key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Add Comment
                                </button>
                                <button type="button" formaction="{{ change_request_status_url }}" class="gi-ignore-disabled gi-submit btn btn-primary key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Reopen Grade Inquiry
                                </button>
                            {% elseif grade_inquiries[component.id].status == 0 %}
                                {# Request closed #}
                                <button disabled type="button" formaction="{{ change_request_status_url }}" class="gi-submit btn btn-default key_to_click" tabindex="0" style="margin:15px 0 0 5px; float: right" onclick="onGradeInquirySubmitClicked(this)">
                                    Reopen Grade Inquiry
                                </button>
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <script>
        // Shorthand for $( document ).ready()
        $(onReady());
        //prevent spam submission
        $('#grade-inquiry-actions').on('click', function() {
            $(this).find('button').prop('disabled', true);
        });
    </script>
{% endif %}
