{% import _self as self %}
{% if btn_type == "request" %}
    <div>
        <h3>Regrade Request</h3>
    </div>
    <div>
        <p>"{{ regrade_message }}"</p>
    </div>
    {% set message = "Request Regrade" %}
{% elseif btn_type == "admin_open" %}
    <div>
        <h3>Regrade Request
            <span>
                <span class="fa fa-hourglass" style="font-size: 16px; color: #af0000"></span> 
                <span class="red-message">Regrade Request Awaiting Review</span>
            </span> 
        </h3>
    </div>
    {% set message = "Type response here" %}
    {% set button_message = "Respond and Resolve request" %}
{% elseif btn_type == "admin_closed" %}
    <div>
        <h3>Regrade Request
            <span>
                <span class="fa fa-check" style="font-size: 16px; color: #008800"></span>  
                <span class="green-message">Regrade Request Has Been Reviewed</span>
            </span>
        </h3>
    </div>
    {% set message = "Type response here" %}
    {% set button_message = "Post Message" %}
{% elseif btn_type == "pending" %}
    <div>
        <h3>Regrade Request
            <script type="text/javascript">
                toggleRegradeRequests();
                document.getElementById("ShowRegradeRequestButton").style.display = 'none'
            </script>
        <span>
            <span class="fa fa-hourglass" style="font-size: 16px; color: #af0000"></span> 
            <span class="red-message">Regrade Request Being Reviewed</span>
        </span> 
        </h3>
    </div>
    <div>
        <p>"{{ regrade_message }}"</p>
    </div>
    {% set message = "Additional Details" %}
    {% set button_message = "Submit Additional Information" %}
{% elseif btn_type == "completed" %}
    <div>
        <h3>Regrade Request
            <script type="text/javascript">
                toggleRegradeRequests();
                document.getElementById("ShowRegradeRequestButton").style.display = 'none'
            </script>
        <span>
            <span class="fa fa-check" style="font-size: 16px; color: #008800"></span>  
            <span class="green-message">Regrade Request Has Been Reviewed</span>
        </span>
        </h3>
    </div>
    <div>
        <p>"{{ regrade_message }}"</p>
    </div>
    {% set message = "Request Reviewed" %}
    {% set button_message = "Send Information Without Reopening Regrade Request" %}
{% endif %}
{% for post in posts %}
    <div style="margin-top: 20px;">
        <div class='{{ post.is_staff ? "post_box important" : "post_box" }} {{ loop.index0 == 0 ? "first_post" : "" }}' style="padding:20px;">
            <p style='white-space:pre'>{{ post.content }}</p>
            <hr>
            <div style="float:right">
                <b>{{ post.name }}</b> &nbsp;
                {{ post.date }}
            </div>
        </div>
    </div>
{% endfor %}
<div style="padding:20px;">
    <form method="POST" id="replyTextForm" action="{{ url }}">
        <input type="hidden" id="thread_id" name="thread_id" value="{{ thread_id }}">
        <input type="hidden" id="gradeable_id" name="gradeable_id" value="{{ gradeable_id }}">
        <input type="hidden" id="submitter_id" name="submitter_id" value="{{ submitter_id }}">
        <input type="hidden" id="status" name="status" value="0">
        <textarea name="replyTextArea" id="replyTextArea" style="resize:none;min-height:100px;width:100%; font-family: inherit;" rows="10" cols="30" placeholder="{{ message }}" required></textarea>
        {% if btn_type == 'pending' %}
            {# Request pending, we can submit new posts #}
            <input type="submit" value="{{ button_message }}" class="btn btn-primary" style="margin-top: 15px; float: right" onclick="$('#status').val(-1);">
            <input type="button" class="btn btn-default" id="cancelRegrade" value="Cancel Regrade Request" style="margin-top: 15px; float: right" onclick="changeRegradeStatus({{ thread_id }}, '{{ gradeable_id }}', '{{ submitter_id }}', 0);">
            {{ self.bbcode_buttons() }}
        {% elseif btn_type == 'completed' %}
            {# Request closed #}
            <input type="button" class="btn btn-primary" id="cancelRegrade" value="Reopen Regrade Request Without Responding" style="margin-top: 15px; float: right" onclick="changeRegradeStatus({{ thread_id }}, '{{ gradeable_id}}', '{{ submitter_id }}', -1);">
            <input type="submit" value="{{ button_message }}" class="btn btn-default" style="margin-top: 15px; float: right" onclick="$('#status').val(0);">
            {{ self.bbcode_buttons() }}
        {% elseif btn_type == 'admin_open' %}
            {# Admin, request is open #}
            <input type="submit" value="Respond and Resolve Regrade Request" class="btn btn-primary" style="margin-top: 15px; float: right" onclick="$('#status').val(0);">
            {{ self.bbcode_buttons() }}
            <input type="submit" class="btn btn-default" id="extraInfoRegrade" value="Request Additional Information" style="margin-top: 15px; float: right" onclick="$('#status').val(-1);">
            <input type="button" class="btn btn-default" id="cancelRegrade" value="Resolve Regrade Request Without Response" style="margin-top: 15px; float: right" onclick="changeRegradeStatus({{ thread_id }}, '{{ gradeable_id}}', '{{ submitter_id }}', 0);">
        {% elseif btn_type == 'admin_closed' %}
            {# Admin, request is closed #}
            <input type="submit" value="Post" class="btn btn-primary" style="margin-top: 15px; float: right" onclick="$('#status').val(0);">
            <input type="button" class="btn btn-default" id="cancelRegrade" value="Open Regrade Request" style="margin-top: 15px; float: right" onclick="changeRegradeStatus({{ thread_id }}, '{{ gradeable_id}}', '{{ submitter_id }}', -1);">
            {{ self.bbcode_buttons() }}
        {% else %}
            {# No request yet #}
            <input type="submit" value="Submit Regrade Request" class="btn btn-primary" style="margin-top: 15px; float: right" onclick="$('#status').val(-1);">
            {{ self.bbcode_buttons() }}
        {% endif %}
    </form>
</div>
<script type="text/javascript">
    $("#replyTextForm").submit(function(event) {
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: $(this).serialize(),
            success: function(data){
                window.location.reload();
            }
        });
        event.preventDefault();
    });
</script>

{% macro bbcode_buttons() %}
    <button type="button" title="Insert a link" onclick="addBBCode(1, '#replyTextArea')" style="margin-right:10px;" class="btn btn-default">
        Link <i class="fa fa-link fa-1x"></i>
    </button>
    <button title="Insert a code segment" type="button" onclick="addBBCode(0, '#replyTextArea')" class="btn btn-default">
        Code <i class="fa fa-code fa-1x"></i>
    </button>
{% endmacro %}
