<div class='{{ post.is_staff ? "post_box important" : "post_box" }}' data-post_id="{{ post.id }}">
    <div>{% include "forum/RenderPost.twig" with { "post_content": post.content, render_markdown: true } only %}</div>
    <hr>
    {% if grade_inquiry_per_component_allowed and component.id == 0 %}
        <div style="float:left">
            <p class="component-identifier-post"><b>{{ post.gc_title }}</b></p>
        </div>
    {% endif %}
    <div style="float:right">
        <b>{{ post.name }}</b> &nbsp;
        {{ post.date }}
    </div>
</div>
