{% if btn_type == "request" %}
    {% set message = "Request Regrade" %}
    {% set is_disabled = false %}
    {% set class = "btn-default" %}
    {% set action = "showPopUp()" %}
    {% set submit = false %}
{% elseif btn_type == "delete" %}
    {% set message = "Delete Request" %}
    {% set is_disabled = false %}
    {% set class = "btn-danger" %}
    {% set action = "" %}
    {% set submit = true %}
{% elseif btn_type == "pending" %}
    {% set message = "Request in Review" %}
    {% set is_disabled = true %}
    {% set class = "btn-default" %}
    {% set action = "" %}
    {% set submit = false %}
{% elseif btn_type == "completed" %}
    {% set message = "Request Reviewed" %}
    {% set is_disabled = true %}
    {% set class = "btn-default" %}
    {% set action = "" %}
    {% set submit = false %}
{% endif %}

<div class="sub">
    <div style="float: left; width: 50%"><h3>Regrade Discussion</h3></div>
    {% if submit %}
        <div style="float:right">
            <form method="POST" action="{{ url }}" id="deleteRequest">
                <button class="btn {{ class }}" type="submit">{{ message }}</button>
            </form>
        </div>
    {% else %}
        <div style="float:right"><button class="btn {{ class }}" onclick="{{ action }}" {{ is_disabled ? "disabled" : "" }} >{{ message }}</button></div>
    {% endif %}
    <div class="modal" id="modal-container">
        <div class="modal-content" id="regradeBox">
            <h3>Request Regrade</h3>
            <hr>
            <p class="red-message">Warning: Frivoulous requests may result in a grade deduction, loss of late days, or having to retake data structures!</p>
            <br style="margin-bottom: 10px;">
            <form id="requestRegradeForm" method="POST" action="{{ url }}">
                <div style="text-align: center;">
                <textarea id="requestTextArea" name ="request_content" maxlength="400" style="resize: none; width: 85%; height: 200px; font-family: inherit;"
                          placeholder="Please enter a consise description of your request and indicate which areas/checkpoints need to be re-checked"></textarea>
                    <br style="margin-bottom: 10px;">
                    <input type="submit" value="Submit" class="btn btn-default" style="margin: 15px;">
                    <input type="button" id="cancelRegrade" value="Cancel" class="btn btn-default" onclick="hidePopUp()" style="margin: 15px;">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#deleteRequest").submit(function(event) {
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: $(this).serialize(),
            success: function(data){
                window.location.reload();
            }
        });
        event.preventDefault();
    });
    var regradeBox = document.getElementById("regradeBox");
    var modal = document.getElementById("modal-container");
    function showPopUp(){
        regradeBox.style.display = "block";
        modal.style.display = "block";
    }
    function hidePopUp(){
        regradeBox.style.display = "none";
        modal.style.display = "none";
    }
</script>