{% extends 'generic/Popup.twig' %}
{% block popup_id %}admin-team-form{% endblock %}
{% block title_tag %}<h1 id="admin-team-title"></h1>{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" name="new_team" />
    <input type="hidden" name="new_team_user_id" />
    <input type="hidden" name="edit_team_team_id" />
    <input type="hidden" name="num_users" />
    <input type="hidden" id="student_full_id" value='{{ student_full }}'/>
    {% if view %}
        <input type="hidden" name="view" value="{{ view }}" />
    {% endif %}
    <div id="admin-team-members" class="left-panel"></div>
    <div class="right-panel">
        Registration Section:<br />
        <select name="reg_section">
            {% for section in all_reg_sections %}
                <option value="{{ section }}">Section {{ section }}</option>
            {% endfor %}
            <option value="NULL">Section NULL</option>
        </select><br /><br />
        Rotating Section:<br />
        <select name="rot_section">
            {% for section in all_rot_sections %}
                <option value="{{ section }}">Section {{ section }}</option>
            {% endfor %}
            <option value="NULL">Section NULL</option>
        </select>
    </div>
    <br />
    <br />
    <h4 id="admin-team-history-title"></h4>
    <div id="admin-team-history-left"></div>
    <div id="admin-team-history-right"></div>
    <div id="admin-team-history-bottom" class="red-message" style="margin-top:3px;"></div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ team_submit_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" id="admin-team-form-submit" />
{% endblock %}