{% extends 'generic/Popup.twig' %}
{% block popup_id %}admin-team-form{% endblock %}
{% block title_tag %}<h1 id="admin-team-title"></h1>{% endblock %}
{% block body %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" name="new_team" />
    <input type="hidden" name="new_team_user_id" />
    <input type="hidden" name="edit_team_team_id" />
    <input type="hidden" name="num_users" />
    <input type="hidden" id="student_full_id" value='{{ student_full }}'/>
    {% if view %}
        <input type="hidden" name="view" value="{{ view }}" />
    {% endif %}
    <div id="admin-team-members" class="left-panel" tabIndex="-1"></div>
    <div class="right-panel" tabIndex="-1">
        <label for="admin_team_reg_section" tabIndex="-1">Registration Section:</label><br />
        <select id="admin_team_reg_section" name="reg_section" tabIndex="0">
            {% for section in all_reg_sections %}
                <option value="{{ section }}">Section {{ section }}</option>
            {% endfor %}
            <option value="NULL">Section NULL</option>
        </select><br /><br />
        <label for="admin_team_rot_section" tabIndex="-1">Rotating Section:</label><br />
        <select id="admin_team_rot_section" name="rot_section" tabIndex="0">
            {% for section in all_rot_sections %}
                <option value="{{ section }}">Section {{ section }}</option>
            {% endfor %}
            <option value="NULL">Section NULL</option>
        </select>
    </div>
    <br />

    {# This is a data table #}
    <table id="admin_team_history_table" class="table table-striped table-bordered persist-area">
        <caption>Team History</caption>
        {# Table header #}
        <thead>
            <tr>
                <th> User </th>
                <th> Action </th>
                <th> Date </th>
            </tr>
        </thead>
        {# /Table header #}
        <tbody></tbody>
        <tfoot style="display:none;">
            <tr>
                <td colspan="3">Rows highlighted in pink/red indicate actions performed after the team lock date.</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
{% block form %}
    <form method="post" action="{{ team_submit_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" id="admin-team-form-submit" />
{% endblock %}