<div class="content">
    {% if hasInstructorPermission %}
        <div style="float: right; margin-bottom: 20px;">
            <a onclick="newUploadImagesForm()" class="btn btn-primary key_to_click" tabindex="0">Upload Student Photos</a>
        </div>
    {% endif %}
    <h1>Student Photos</h1>
    {# This is a layout table #}
    <table class="table table-bordered persist-area">
        {% if sections|length > 0 %}
            {% for registration, students in sections %}
                <tr class="info">
                    <th colspan="5" style="text-align: center">Students Enrolled in Registration Section {{ registration }}</th>
                </tr>
                <tbody>
                {% set count = 4 - (students|length % 5) %}
                {% for student in students %}
                    {% if loop.index % 5 == 1 %}
                        <tr>
                    {% endif %}
                        <td>
                            {% if imageData[student.getId()] is defined %}
                                {{ base64_image(imageData[student.getId()].path, student.getId()) }}
                            {% else %}
                                {% if errorImageData == '_NONE_' %}
                                    <i><span style="color:var(--no-image-available)">No Image Available</span></i>
                                {% else %}
                                    {{ base64_image(errorImageData.path, 'No Image Available') }}
                                {% endif %}
                            {% endif %}
                            <div class="name">
                                <br /><br />{{student.getDisplayedFirstName()}} {{student.getDisplayedLastName()}}
                                <br />{{student.getId()}}
                            </div>
                        </td>
                    {% if loop.index % 5 == 0 %}
                        </tr>
                    {% endif %}
                    {% flush %}
                {% endfor %}
                  {% if count < 4 %}
                      {% for spacer in 0..count %}
                          <td></td>
                      {% endfor %}
                      </tr>
                  {% endif %}
                </tbody>
            {% endfor %}
        {% else %}
            <tr>
                <td>No students found</td>
            </tr>
        {% endif %}
    </table>
</div>
{% include('grading/UploadImagesForm.twig') %}
