<div class="content">
    {% if hasInstructorPermission %}
        <div style="float: right; margin-bottom: 20px;">
            <a onclick="newUploadImagesForm()" class="btn btn-primary">Upload Student Photos</a>
        </div>
    {% endif %}
    <h1>Student Photos</h1>
    <table class="table table-bordered persist-area">
        {% if sections|length > 0 %}
            {% for registration, students in sections %}
                <tr class="info persist-header">
                    <td colspan="8" style="text-align: center">Students Enrolled in Registration Section {{ registration }}</td>
                </tr>
                <tbody id="section-{{ registration }}">
                {% for student in students %}
                    {% if loop.index % 5 == 1 %}
                        <tr id="user-{{ student.getId() }}">
                    {% endif %}
                    {% set image_found = false %}
                    {% for imageData in imageDataArray if not image_found %}
                        {% set imgName = imageNameArray[loop.index-1] %}
                        {% if student.getId() == imgName %}
                            <td><img src="data:imgName/png;base64,{{ imageData }}" width="150" height="200/>
                            <div class="name"><br /><br />{{student.getDisplayedFirstName()}} {{student.getLastName()}}
                            <br />{{student.getId()}}</div>
                            </td>
                            {% set image_found = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not image_found %}
                        {% if errorImageData == '_NONE_' %}
                            <td><i><font color="gray"><img alt="No Image Available" /></font></i>
                            <div class="name"><br />
                        {% else %}
                            <td><img src="data:imgName/png;base64,{{ errorImageData }}" width="150" height="200/>
                            <div class="name"><br /><br />
                        {% endif %}
                        {{student.getDisplayedFirstName()}} {{student.getLastName()}}
                        <br />{{student.getId()}}</div>
                        </td>
                    {% endif %}
                    {% if loop.index % 5 == 0 %}

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No students found</td>
            </tr>
        {% endif %}
    </table>
</div>
{% include('admin/users/UserForm.twig') with {'action': 'update_student'} %}
{% include('grading/UploadImagesForm.twig') %}
