<div class="content">
    {% if hasInstructorPermission %}
        <div style="float: right; margin-bottom: 20px;">
            <a onclick="newUploadImagesForm()" class="btn btn-primary key_to_click" tabindex="0">Upload Student Photos</a>
        </div>
    {% endif %}
    <h1>Student Photos</h1>
    {# This is a layout table #}
    <table class="table table-bordered persist-area">
        {% if sections|length > 0 %}
            {% for registration, students in sections %}
                <tr class="info">
                    <th colspan="5" style="text-align: center">Students Enrolled in Registration Section {{ registration }}</th>
                </tr>
                <tbody>
                {% set count = 4 - (students|length % 5) %}
                {% for student in students %}
                    {% if loop.index % 5 == 1 %}
                        <tr>
                    {% endif %}
                        <td>
                            {% set image = student.getDisplayImage() %}
                            {% if image is not null %}
                                {{ base64_image(image.getImageBase64MaxDimension(200), image.getMimeType(), '%s %s'|format(student.getDisplayedFirstName(), student.getDisplayedLastName())) }}
                            {% else %}
                                <i><span style="color:var(--no-image-available)">No Image Available</span></i>
                            {% endif %}
                            <div class="name">
                                <br /><br />{{student.getDisplayedFirstName()}} {{student.getDisplayedLastName()}}
                                <br />{{student.getId()}}
                                {% if hasInstructorPermission %}
                                    {% if student.getDisplayImageState() == 'preferred' %}
                                        <a href="javascript:flagUserImage('{{ student.getId() }}', true)"><i class="fas fa-flag"></i></a>
                                    {% elseif student.getDisplayImageState() == 'flagged' %}
                                        <a href="javascript:flagUserImage('{{ student.getId() }}', false)"><i class="fas fa-undo"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    {% if loop.index % 5 == 0 %}
                        </tr>
                    {% endif %}
                    {% flush %}
                {% endfor %}
                  {% if count < 4 %}
                      {% for spacer in 0..count %}
                          <td></td>
                      {% endfor %}
                      </tr>
                  {% endif %}
                </tbody>
            {% endfor %}
        {% else %}
            <tr>
                <td>You may only view students in your grading sections.  You have no grading sections assigned.</td>
            </tr>
        {% endif %}
    </table>
</div>
{% include('grading/UploadImagesForm.twig') %}
