<script>
    $(document).ready(function() {
        setUpPlagView("{{ gradeable_id }}", "{{ term_course_gradeable }}", "{{ config_id }}", {{ rankings|json_encode()|raw }});
    });
</script>
<div class="content plagiarism-result-cont">
    <div id="result-title-bar">
        <h2 style="display:inline;">{{ gradeable_title }} <span class="config-id-title">#{{ config_id }}</span> </h2>
        <span class="plag-results-header-right">
            <a class="btn btn-secondary" title="View Key" onclick="showPlagiarismHighKey()"><i class="fa fa-info-circle fa-lg"></i></a>
            <a class="btn btn-secondary" onclick="toggleFullScreenMode();"><i class="fa fa-expand fa-lg"></i></a>
        </span>
    </div>
    <hr />
    <form id="users_with_plagiarism" class="plag-flex">
        <div class="plag-flex-row">
            <span class="plag-flex-item">
                <select id="user-1-dropdown-list" name="user_id_1" class="user1-select">
                    {% for ranking in rankings %}
                        <option value="{{ ranking["user_id"] }}">(Max Match: {{ ranking["percent"] }}) {{ ranking["display_name"] }} &lt;{{ ranking["user_id"] }}&gt;</option>
                    {% endfor %}
                </select>
            </span>
            <a id="swap-students-button" class="btn btn-secondary"><i class="fa fa-reply fa-lg"></i></a>
            <span class="plag-flex-item">
                <select id="user-2-dropdown-list" name="user_id_2" class="user2-select">
                    <option>Loading...</option>
                </select>
            </span>
        </div>

        <div class="plag-flex-row">
            <span class="plag-flex-item">Version:
                <select id="user-1-version-dropdown-list" name="version_user_1">
                    <option>Loading...</option>
                </select>
            </span>
        </div>
    </form>
    <div class="code-cont">
        <div class="sub">
            <div class="sub-item left-sub-item">
                <textarea id="code_box_1" name="code_box_1"></textarea>
            </div>
            <div class="plag-drag-bar"></div>
            <div class="sub-item right-sub-item">
                <textarea id="code_box_2" name="code_box_2"></textarea>
            </div>
        </div>
    </div>
</div>

{% include("admin/PlagiarismHighlightingKey.twig") %}
{% include("plagiarism/ShowPlagiarismMatches.twig") %}
