<script>
    $(document).ready(function() {
        setUpPlagView("{{ gradeable_id }}");
    });
</script>
<div class="content plagiarism-result-cont">
    <div>
        <h2>{{ gradeable_title }}
            <div class="plag-results-header-right">
                <a class="btn btn-primary" onclick="toggle();">Swap Students</a> {# TODO: Disable "Swap Students" button when no user selected #}
                <a class="btn btn-primary" onclick="toggleFullScreenMode();">Toggle Full-Screen</a>
                <a class="btn btn-primary" title="View Key" onclick="showPlagiarismHighKey()">View Key</a>
            </div>
        </h2>
    </div>
    <hr />
    <form id="users_with_plagiarism" class="plag-flex">
        <div class="plag-flex-row">
            <span class="plag-flex-item">
                <select name="user_id_1" class="user1-select">
                    {% for ranking in rankings %}
                        <option value="{{ ranking[1] }}">(Max Match: {{ ranking[0] }}) {{ ranking[3] }} {{ ranking[4] }} &lt;{{ ranking[1] }}&gt;</option>
                    {% endfor %}
                </select>
            </span>
            <span class="plag-flex-item">
                <select name="user_id_2" class="user2-select"></select>
            </span>
        </div>

        <div class="plag-flex-row">
            <span class="plag-flex-item">Version:
                <select name="version_user_1">
                    <option value="">None</option>
                </select>
            </span>
        </div>
    </form>
    <div class="code-cont">
        <div class="sub">
            <div class="sub-item left-sub-item">
                <textarea id="code_box_1" name="code_box_1"></textarea>
            </div>
            <div class="plag-drag-bar"></div>
            <div class="sub-item right-sub-item">
                <textarea id="code_box_2" name="code_box_2"></textarea>
            </div>
        </div>
    </div>
</div>

{% include("admin/PlagiarismHighlightingKey.twig") %}
