<div class="content">
    <h1>Plagiarism Detection Configuration -- WORK IN PROGRESS</h1>

    <div id="save-configuration-form">
        <form method="post" action="{{ form_action_link }}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="prior_term_gradeables_number" value="{{ prior_term_gradeables_number }}" />
            <input type="hidden" name="ignore_submission_number" value="{{ ignore_submission_number }}" /><br />
            <div class="plag-data-group">
                <div class="plag-data-label">Select Gradeable:</div>
                <div class="plag-data">

                    {% if new_or_edit == "new" %}
                        <select name="gradeable_id">
                            {% for gradeable_id_title in gradeable_ids_titles %}
                                <option value="{{ gradeable_id_title['g_id'] }}">{{ gradeable_id_title['g_title'] }} (Due {{ gradeable_id_title['g_grade_due_date'] }})</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ title }}
                    {% endif %}

                </div>
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">
                    Instructor Provided Code:
                </div>
                <div class="plag-data">
                    <span class="radio-label-pair">
                        <input type="radio" id="no_code_provided_id" value="no_code_provided" name="provided_code_option" {{ no_provided_code }} >
                        <label for="no_code_provided_id">No</label>
                    </span>
                    <span class="radio-label-pair">
                        <input type="radio" id="code_provided_id" value="code_provided" name="provided_code_option" {{ provided_code }}>
                        <label for="code_provided_id">Yes</label>
                    </span>
                </div>
                <div class="low-margin-top"><input id="provided_code_file" type="file" name="provided_code_file"></div>
                {% if new_or_edit == "edit" and saved_config['instructor_provided_code'] %}
                    <div id="current_code_file">Current Provided Code: {{ provided_code_filename }}</div>
                {% endif %}
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">Version:</div>
                <div class="plag-data">
                    <span class="radio-label-pair">
                        <input type="radio" id="all_version_id" value="all_version" name="version_option" {{ all_version }} >
                        <label for="all_version_id">All Versions</label>
                    </span>
                    <span class="radio-label-pair">
                        <input type="radio" id="active_version_id" value="active_version" name="version_option" {{ active_version }}>
                        <label for="active_version_id">Only Active Version</label>
                    </span>
                </div>
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">Files to be Compared:</div>
                <div class="plag-data">
                    <span class="radio-label-pair">
                        <input type="radio" id="all_files_id" value="all_files" name="file_option" {{ all_files }}>
                        <label for="all_files_id">All Files</label>
                    </span>
                    <span class="radio-label-pair">
                        <input type="radio" id="regex_matching_files_id" value="regex_matching_files" name="file_option" {{ regex_matching_files }}>
                        <label for="regex_matching_files_id">Regex matching files</label>
                    </span>
                    <input type="text" name="regex_to_select_files" class="low-margin-top" value="{{ regex }}"/>
                </div>
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">Language:</div>
                <div class="plag-data">
                    <select name="language">
                        <option value="plaintext" {{ language["plaintext"] }}>Plain Text</option>
                        <option value="python" {{ language["python"] }}>Python</option>
                        <option value="cpp" {{ language["cpp"] }}>C++</option>
                        <option value="java" {{ language["java"] }}>Java</option>
                        <option value="mips" {{ language["mips"] }}>MIPS Assembly</option>
                    </select>
                </div>
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">Threshold/Maximum number of students (more than this number of students with matching code will be considered common code):</div>
                <div class="plag-data">
                    <input type="text" name="threshold" value="{{ threshold }}" placeholder="(Required)"/>
                </div>
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">Sequence Length:</div>
                <div class="plag-data">
                    <input type="text" name="sequence_length" value="{{ sequence_length }}" placeholder="(Required)"/>
                </div>
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">Prior Terms Gradeables:</div>
                <div class="plag-data" id="prev_gradeable_div">
                    <div id="add_more_prev_gradeable" class="add-more" aria-label="Add more">
                        <i class="fas fa-plus-square"></i>Add more
                    </div>
                    {% if new_or_edit == "edit" %}
                        {% for saved_prev_term_gradeable_path in saved_config['prev_term_gradeables'] %}
                            {% set reversed_per_term_grad_path = saved_prev_term_gradeable_path|reverse %}
                            {% set exploded_reversed_per_term = reversed_per_term_grad_path|split('/') %}
                            {% set saved_prev_sem = exploded_reversed_per_term[3]|reverse %};
                            {% set saved_prev_course = exploded_reversed_per_term[2]|reverse %};
                            {% set saved_prev_gradeable = exploded_reversed_per_term[0]|reverse %};

                            <select name="prev_sem_{{ loop.index0 }}">
                                <option value="">None</option>
                                {% for sem, sem_courses in prior_term_gradeables %}
                                    <option value="{{ sem }}"
                                            {% if sem == saved_prev_sem %}
                                                selected
                                            {% endif %}
                                    >
                                        {{ sem }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="prev_course_{{ loop.index0 }}">
                                <option value="">None</option>
                                {% for sem_course, course_gradeables in prior_term_gradeables[saved_prev_sem] %}
                                    <option value="{{ sem_course }}"
                                            {% if sem_course == saved_prev_course %}
                                                selected
                                            {% endif %}
                                    >
                                        {{ sem_course }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="prev_gradeable_{{ loop.index0 }}">
                                <option value="">None</option>
                                {% for course_gradeable in prior_term_gradeables[saved_prev_sem][saved_prev_course] %}
                                    <option value="{{ course_gradeable }}"
                                    {% if course_gradeable == saved_prev_gradeable %}
                                    selected
                                    {% endif %}
                                    >
                                        {{ course_gradeable }}
                                    </option>
                                {% endfor %}
                            </select>
                            <br />
                        {% endfor %}
                    {% endif %}
                    {% set saved_prev_term_grad_length = saved_config['prev_term_gradeables']|length %}
                    <select name="prev_sem_{{ saved_prev_term_grad_length }}">
                        <option value="">None</option>
                        {% for sem, sem_courses in prior_term_gradeables %}
                            <option value="{{ sem }}">{{ sem }}</option>
                        {% endfor %}
                    </select>

                    <select name="prev_course_{{ saved_prev_term_grad_length }}">
                        <option value="">None</option>
                    </select>
                    <select name="prev_gradeable_{{ saved_prev_term_grad_length }}">
                        <option value="">None</option>
                    </select>
                </div>
            </div>
            <div class="plag-data-group">
                <div class="plag-data-label">Are there any submissions that should be ignored?</div>
                <div id="ignore_submission_div" class="plag-data">
                    <span class="radio-label-pair">
                        <input type="radio" id="ignore_none_id" value="no_ignore" name="ignore_submission_option" {{ no_ignore }}>
                        <label for="ignore_none_id">No</label>
                    </span>
                    <span class="radio-label-pair">
                        <input type="radio" id="ignore_id" value="ignore" name="ignore_submission_option" {{ ignore }}>
                        <label for="ignore_id">Yes</label>
                    </span>

                    <div id="add_more_ignore" class="add-more" aria-label="Add more">
                        <i class="fas fa-plus-square"></i>Add more
                    </div>

                    <div id="text_ignore_submission">
                        {% if new_or_edit == "edit" %}
                            {% for saved_ignore_submission in saved_config['ignore_submissions'] %}
                                <div name="wrapper_ignore_submission_{{ loop.index0 }}">
                                    <input type="text" name="ignore_submission_{{ loop.index0 }}" class="low-margin-top deletable-text" value="{{ saved_ignore_submission }}"/>
                                    <i class="fa fa-trash delete-btn"></i>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div name="wrapper_ignore_submission_0">
                                <input type="text" name="ignore_submission_0" class="low-margin-top deletable-text"/>
                                <i class="fa fa-trash delete-btn"></i>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <a href="{{ plagiarism_link }}" class="btn btn-danger">Cancel</a>
                <input class="btn btn-primary" type="submit" value="Save Configuration" />
            </div>
        </form>
    </div>
</div>

<script>
    const form = $("#save-configuration-form");
    const prior_term_gradeables = JSON.parse('{{ prior_term_gradeables_json }}');
    $("select").change(function(){
        const select_element_name = $(this).attr("name");
        configureNewGradeableForPlagiarismFormOptionChanged(prior_term_gradeables, select_element_name);
    });

    // PROVIDED CODE ///////////////////////////////////////////////////////////
    $("#no_code_provided_id").change(function() {
        $("#current_code_file").hide();
        $("#provided_code_file").hide();
    });

    $("#code_provided_id").change(function() {
        $("#current_code_file").show();
        $("#provided_code_file").show();
    });

    // PRIOR TERM GRADEABLES ///////////////////////////////////////////////////

    $('#add_more_prev_gradeable', form).on('click', function(){
        addMorePriorTermGradeable(prior_term_gradeables);
    });

    // IGNORED SUBMISSIONS /////////////////////////////////////////////////////
    $("#ignore_none_id").change(function() {
        if ($("#ignore_none_id").is(":checked")) {
            $("#text_ignore_submission").hide();
            $("#add_more_ignore").hide();
        }
    });

    $("#ignore_id").change(function() {
        if ($("#ignore_id").is(":checked")) {
            $("#text_ignore_submission").show();
        }
    });

    $('#add_more_ignore', form).on('click', function(){
        const ignore_submission_number = $('[name="ignore_submission_number"]', form).val();
        $('#text_ignore_submission', form).append(`
            <div name="wrapper_ignore_submission_` + ignore_submission_number + `">
                <input type="text" name="ignore_submission_` + ignore_submission_number + `" class="low-margin-top deletable-text"/>
                <i class="fa fa-trash delete-btn"></i>
            </div>
        `);
        $('[name="ignore_submission_number"]', form).val(parseInt(ignore_submission_number)+1);
    });

    $(".delete-btn").on("click", function() {
        // delete the div with the text field whose delete icon was clicked
        $(this).parent().remove();
        // renumber all other fields
        $(".deletable-text").each(function(index) {
            $(this).attr("name", "ignore_submission_"+index);
            $(this).parent().attr("name", "wrapper_ignore_submission_"+index);
        });
    });

    // OTHER CRAP //////////////////////////////////////////////////////////////

    $('[name="threshold"], [name="sequence_length"]').change(function(){
        if($(this).val().length === 0){
            $(this)[0].setCustomValidity('Input is required');
        }
        else if(!(/^[\d]+$/g).test($(this).val())){
            $(this)[0].setCustomValidity('Input must only contain numeric characters');
        } else {
            $(this)[0].setCustomValidity('');
        }
    });
</script>
