<script>
    $( document ).ready(function() {
        setUpPlagView("{{ gradeable_id }}");
    });
</script>
<div style="padding:5px 5px 0px 5px;" class="full_height content forum_content forum_show_threads">

    <span style="line-height: 2">Gradeable: <b>{{ gradeable_title }}</b> <a style="float:right;" class="btn btn-primary" title="View Key" onclick="$('#Plagiarism-Highlighting-Key').css('display', 'block');">View Key</a></span>
    <hr style="margin-top: 10px;margin-bottom: 10px;" />
    <form id="users_with_plagiarism">
        User 1 (sorted by %match):
        <select name="user_id_1">
            <option value="">None</option>

            {% for ranking in rankings %}
                <option value="{{ ranking[1] }}">{{ ranking[3] }} {{ ranking[4] }} &lt;{{ ranking[1] }}&gt; ({{ ranking[1] }})</option>
            {% endfor %}

        </select>
        Version:
        <select name="version_user_1">
            <option value="">None</option>
        </select>
        <span style="float:right;"> User 2:
                <select name="user_id_2">
                    <option value="">None</option>
                </select>
                <a name="toggle" class="btn btn-primary" onclick="toggle();">Toggle</a>
            </span>
    </form><br />
    <div style="position:relative; height:80vh; overflow-y:hidden;" class="row">
        <div style="max-height: 100%; width:100%;" class="sub">
            <div style="float:left;width:48%;height:100%;line-height:1.5em;overflow:auto;padding:5px;border: solid 1px #555;background:white;border-width: 2px;">
                <textarea id="code_box_1" name="code_box_1"></textarea>
            </div>
            <div style="float:right;width:48%;height:100%;line-height:1.5em;overflow:auto;padding:5px;border: solid 1px #555;background:white;border-width: 2px;">
                <textarea id="code_box_2" name="code_box_2"></textarea>
            </div>
        </div>
    </div>
</div>








{% include("admin/PlagiarismHighlightingKey.twig") %}
