<div class="content">
    <h1>Plagiarism Detection Configuration -- WORK IN PROGRESS</h1>

    <div id="save-configuration-form">
        <form method="post" action="{{ form_action_link }}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Select Gradeable:</div>
                <div class="plag-data">

                    {% if new_or_edit == "new" %}
                        <select name="gradeable_id">
                            {% for gradeable_id_title in config["gradeable_ids_titles"] %}
                                <option value="{{ gradeable_id_title['g_id'] }}">{{ gradeable_id_title['g_title'] }} (Due {{ gradeable_id_title['g_grade_due_date'] }})</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ config["title"] }}
                    {% endif %}

                </div>
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">
                    Instructor Provided Code:
                </div>
                <div class="plag-data">
                    <span class="radio-label-pair">
                        <input type="radio" id="no-code-provided-id" value="no_code_provided" name="provided_code_option" {{ config["provided_code"] ? "" : "checked" }} >
                        <label for="no-code-provided-id">No</label>
                    </span>
                    <span class="radio-label-pair">
                        <input type="radio" id="code-provided-id" value="code_provided" name="provided_code_option" {{ config["provided_code"] ? "checked" : "" }}>
                        <label for="code-provided-id">Yes</label>
                    </span>
                </div>
                <div class="low-margin-top"><input id="provided-code-file" type="file" name="provided_code_file"></div>
                {% if new_or_edit == "edit" and config["provided_code"] %}
                    <div id="current-code-file">
                        <br />
                        <div>Current Provided Code:</div>
                        {% for file_name in config["provided_code_filenames"] %}
                            <div>{{ file_name }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Version:</div>
                <div class="plag-data">
                    <span class="radio-label-pair">
                        <input type="radio" id="all-version-id" value="all_versions" name="version_option" {{ config["version"] == "all_versions" ? "checked" : "" }} >
                        <label for="all-version-id">All Versions</label>
                    </span>
                    <span class="radio-label-pair">
                        <input type="radio" id="active-version-id" value="active_version" name="version_option" {{ config["version"] == "all_versions" ? "" : "checked" }}>
                        <label for="active-version-id">Only Active Version</label>
                    </span>
                </div>
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Files to be Compared:</div>
                <div class="plag-data">
                    <div id="files-to-be-compared">
                        <span class="option-alt">
                            <a target=_blank href="https://submitty.org/instructor/course_management/plagiarism">How do I specify a regex expression?
                                <i style="font-style: normal;" class="fa-question-circle"></i>
                            </a>
                        </span>
                        <span class="right">
                            <span class="radio-label-pair">
                                <input type="checkbox" id="regex-submissions-dir" name="regex_dir[]" value="submissions" {{ "submissions" in config["regex_dirs"] ? "checked" : ""}} />
                                <label for="regex-submissions-dir">Submissions</label>
                            </span>
                            <span class="radio-label-pair">
                                <input type="checkbox" id="regex-results-dir" name="regex_dir[]" value="results" {{ "results" in config["regex_dirs"] ? "checked" : "" }} />
                                <label for="regex-results-dir">Results</label>
                            </span>
                            <span class="radio-label-pair">
                                <input type="checkbox" id="regex-checkout-dir" name="regex_dir[]" value="checkout" {{ "checkout" in config["regex_dirs"] ? "checked" : "" }} />
                                <label for="regex-checkout-dir">Checkout</label>
                            </span>
                        </span>
                        <input type="text" id="regex-to-select-files" name="regex_to_select_files" class="low-margin-top" value="{{ config["regex"] }}" placeholder="Leave blank to select all files"/>
                    </div>
                </div>
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Language:</div>
                <div class="plag-data">
                    <select name="language">
                        <option value="plaintext" {{ config["language"]["plaintext"] }}>Plain Text</option>
                        <option value="python" {{ config["language"]["python"] }}>Python</option>
                        <option value="cpp" {{ config["language"]["cpp"] }}>C++</option>
                        <option value="java" {{ config["language"]["java"] }}>Java</option>
                        <option value="mips" {{ config["language"]["mips"] }}>MIPS Assembly</option>
                    </select>
                </div>
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Common Code Threshold:</div>
                <label for="threshold">More than this number of students with matching code will be considered common code</label>
                <div class="plag-data">
                    <input type="number" id="threshold" name="threshold" value="{{ config["threshold"] }}" min="2"/>
                </div>
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Sequence Length:</div>
                <label for="sequence-length">This is the minimum size of matching regions</label>
                <div class="plag-data">
                    <input type="number" id="sequence-length" name="sequence_length" value="{{ config["sequence_length"] }}" placeholder="(Required)" min="1"/>
                </div>
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Prior Terms Gradeables:</div>
                <div class="plag-data">
                    <span class="radio-label-pair">
                        <input type="radio" id="no-past-terms-id" value="no_past_terms" name="past_terms_option" {{ config["prior_terms"] ? "" : "checked" }}>
                        <label for="no-past-terms-id">No</label>
                    </span>
                    <span class="radio-label-pair">
                        <input type="radio" id="past-terms-id" value="past_terms" name="past_terms_option" {{ config["prior_terms"] ? "checked" : "" }}>
                        <label for="past-terms-id">Yes</label>
                    </span>
                    <div class="past-terms-wrapper" id="prev-gradeable-div">
                        <div id="add-more-prev-gradeable" class="add-more" aria-label="Add more">
                            <i class="fas fa-plus-square"></i>Add more
                        </div>
                        {% if new_or_edit == "edit" %}
                            {% for row in config["prior_term_gradeables"] %}
                                <div id="prior-g-option-{{ loop.index0 }}" class="prior-gradeable-wrapper">
                                    <select name='prior_semester_course[]' onchange='getGradeables(this)'>
                                        {% for semester_course in config["prior_semester_courses"] %}
                                            {% set tokens = semester_course|split(' ') %}
                                            <option value="{{ tokens[0] }} {{ tokens[1] }}" {{ tokens[0] == row["prior_semester"] and tokens[1] == row["prior_course"] ? "selected" : "" }}>{{ tokens[0] }}/{{ tokens[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name='prior_gradeable[]'>
                                        {% for other_gradeable in row["other_gradeables"] %}
                                            <option value="{{ other_gradeable }}" {{ other_gradeable == row["prior_gradeable"] ? "selected" : "" }}>{{ other_gradeable }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="remove-prev-gradeable" onclick="deletePrevGradeable(this)">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {##################################################################}
            <div class="plag-data-group">
                <div class="plag-data-label">Users to be Ignored:</div>
                <div class="plag-data radio-label-pair">
                    <input type="checkbox" id="ignore-instructors" value="ignore_instructors" name="ignore_submission_option[]" {{ "instructors" in config["ignore_submissions"] ? "checked" : "" }}>
                    <label for="ignore-instructors">Instructors</label>
                </div>
                <div class="plag-data radio-label-pair">
                    <input type="checkbox" id="ignore-full-access-graders" value="ignore_full_access_graders" name="ignore_submission_option[]" {{ "full_access_graders" in config["ignore_submissions"] ? "checked" : "" }}>
                    <label for="ignore-full-access-graders">Full Access Graders</label>
                </div>
                <div class="plag-data radio-label-pair">
                    <input type="checkbox" id="ignore-limited-access-graders" value="ignore_limited_access_graders" name="ignore_submission_option[]" {{ "limited_access_graders" in config["ignore_submissions"] ? "checked" : "" }}>
                    <label for="ignore-limited-access-graders">Limited Access Graders</label>
                </div>
                <div class="plag-data radio-label-pair" id="ignore-others-container">
                    <input type="checkbox" id="ignore-others" value="ignore_others" name="ignore_submission_option[]" {{ "others" in config["ignore_submissions"] ? "checked" : "" }}>
                    <label for="ignore-others">Others:</label>
                    <input type="text" id="ignore-others-list" value="{{ config["ignore_submissions_list"] }}" placeholder="List user ID's separated by commas and spaces" name="ignore_others_list">
                </div>
            </div>
            {##################################################################}
            <div>
                <a href="{{ plagiarism_link }}" class="btn btn-danger">Cancel</a>
                <input id="submit-form" class="btn btn-primary" type="submit" value="Save Configuration"/>
            </div>
        </form>
    </div>
</div>

<script>
    const form = $("#save-configuration-form");
    const prior_semester_course_list = JSON.parse(`{{ config["prior_semester_courses"] | json_encode() | raw }}`);

    // SUBMIT FORM /////////////////////////////////////////////////////////////
    $(document).ready(function() {
        form.submit(function () {
            $('#submit-form').attr('disabled', true);
        });
    });

    // PROVIDED CODE ///////////////////////////////////////////////////////////
    $("#no-code-provided-id").change(function() {
        $("#current-code-file").hide();
        $("#provided-code-file").hide();
    });

    $("#code-provided-id").change(function() {
        $("#current-code-file").show();
        $("#provided-code-file").show();
    });

    $(document).ready(function() {
        if ({{ config["provided_code"] ? "true" : "false" }} && $("#code-provided-id").is(":checked")) {
            $("#current-code-file").show();
            $("#provided-code-file").show();
        }
        if ({{ config["prior_terms"] ? "true" : "false" }} && $("#past-terms-id").is(":checked")) {
            $("#prev-gradeable-div").show();
        }
    });

    // PRIOR TERM GRADEABLES ///////////////////////////////////////////////////
    $(document).ready(function() {
        if ({{ config["prior_terms"] ? "true" : "false" }} && $("#past-terms-id").is(":checked")) {
            $("#prev-gradeable-div").show();
        }
    });

    $('#add-more-prev-gradeable', form).on('click', function(){
        addMorePriorTermGradeable();
    });

    $("#no-past-terms-id").change(function() {
        $(".past-terms-wrapper").hide();
    });

    $("#past-terms-id").change(function() {
        $(".past-terms-wrapper").show();
    });

    function deletePrevGradeable(clickedElement) {
        // remove element
        $($(clickedElement).parent()).remove();
        // renumber the rest of the rows
        for (let i = 0; i < $(".prior-gradeable-wrapper").length; i++) {
            $($(".prior-gradeable-wrapper")[i]).attr("id", "prior-g-option-" + i);
        }
    }

    function getGradeables(selectObject) {
        let semester_course_dropdown = $(selectObject);
        let gradeable_dropdown = $(selectObject).siblings().first();
        // clear the dropdown and display a "loading" message
        gradeable_dropdown.empty();
        gradeable_dropdown.append("<option value=''>Loading...</option>");
        $.ajax({
            url: "{{ base_url }}" + "/getPriorGradeables",
            type: "POST",
            data: {
                csrf_token: csrfToken,
                semester_course: semester_course_dropdown.val()
            },
            success: function(data) {
                data = JSON.parse(data);
                if (data.status !== 'success') {
                    alert(data.message);
                    return;
                }

                gradeable_dropdown.empty();
                $.each(data.data, function(index, gradeable) {
                    gradeable_dropdown.append("<option value='" + gradeable + "'>" + gradeable + "</option>");
                });
            },
            error: function(e) {
                gradeable_dropdown.empty();
                gradeable_dropdown.append("<option value=''>Error: Ajax request failed</option>");
            }
        });
    }

    function addMorePriorTermGradeable() {
        const form = $("#save-configuration-form");
        // add a new row with the next index, with empty dropdowns
        let first_free_index = $(".prior-gradeable-wrapper").length;
        $('#prev-gradeable-div', form).append(`
            <div id='prior-g-option-`+first_free_index+`' class='prior-gradeable-wrapper'>
                <select name='prior_semester_course[]' onchange='getGradeables(this)'>
                </select>
                <select name='prior_gradeable[]'>
                </select>
                <span class="remove-prev-gradeable" onclick="deletePrevGradeable(this)">
                    <i class="fas fa-trash"></i>
                </span>
            </div>
        `);
        // fill in the left dropdown
        let semester_course_dropdown = $("#prior-g-option-"+first_free_index).children().first();
        $.each(prior_semester_course_list, function(index, semester_course) {
            let tokens_array = semester_course.split(" ");
            semester_course_dropdown.append("<option value='" + tokens_array[0] + " " + tokens_array[1] + "'>" + tokens_array[0] + "/" + tokens_array[1] + "</option>");
        });
        // fill in the right dropdown
        getGradeables(semester_course_dropdown[0]);
    }

    // LANGUAGE, SEQUENCE LENGTH, THRESHOLD ////////////////////////////////////
    $('[name="threshold"], [name="sequence_length"]').change(function(){
        if($(this).val().length === 0){
            $(this)[0].setCustomValidity('Input is required');
        }
        else if(!(/^[\d]+$/g).test($(this).val())) {
            $(this)[0].setCustomValidity('Input must only contain numeric characters');
        } else {
            $(this)[0].setCustomValidity('');
        }
    });

    $("select[name='language']").change(function() {
        var form = $("#save-configuration-form")
        // Following code is used to set default window size for different languages
        // that will appear in 'configureNewGradeableForPlagiarismForm'
        // to change the default values, just change the val attribute for the language.

        if ($('[name="language"]', form).val() == "python") {
            $('[name="sequence_length"]', form).val('10');
        }
        else if ($('[name="language"]', form).val() == "cpp") {
            $('[name="sequence_length"]', form).val('2');
        }
        else if ($('[name="language"]', form).val() == "java") {
            $('[name="sequence_length"]', form).val('3');
        }
        else if ($('[name="language"]', form).val() == "plaintext") {
            $('[name="sequence_length"]', form).val('4');
        }
        else if ($('[name="language"]', form).val() == "mips") {
            $('[name="sequence_length"]', form).val('5');
        }
    });
</script>
