<div class="content">
{{ set NO_SELF_REGISTER = 0 }}
{{ set ALL_SELF_REGISTER = 1 }}
{{ set REQUEST_SELF_REGISTER = 2 }}

    {% if self_registration_type != ALL_SELF_REGISTER %}
        You don't have access to this course. <br />
        This is <b>{{course_name}}</b> for <b>{{semester}}</b>. <br/>
        If you think this is a mistake,
        {% if ability_to_readd %}
            you may select below to temporarily re-add yourself to the course. <br/>
            Your instructor will be notified and can then choose to keep you in the course.
            </br>
            </br>
            <form method="POST" action="{{ readd_url }}">
                <input type="hidden" name="csrf_token" value={{ csrf_token }}>
                <button type="submit" class="btn btn-primary">Rejoin Course</button>
            </form>
        {% else %}
            please contact your instructor to gain access. <br/>
            Click <a href = "{{main_url}}"> here </a> to back to homepage and see your courses list.
        {% endif %}
    {% else %}
        This course is open to self registration <br />
        You may select below to add yourself to the course. <br/>
        Your instructor will be notified and can then choose to keep you in the course.
        </br>
        </br>
        <form method="POST" action="{{ self_register_url }}">
        
            <input type="hidden" name="csrf_token" value={{ csrf_token }}>
            <button type="submit" class="btn btn-primary">Register for the Course</button>
        </form>
        
    {% endif %}

</div>