{% extends 'generic/Popup.twig' %}
{% block popup_id %}category-list{% endblock %}
{% block title %}Categories{% endblock %}
{% block body %}
    <span  style="float: right;">
        <input id="new_category_text" placeholder="New Category" style="resize:none;" rows="1" type="text" name="new_category" id="new_category" />
        <button type="button" title="Add new category" onclick="addNewCategory();" style="margin-left:10px;" class="btn btn-primary btn-sm">
            <i class="fa fa-plus-circle fa-1x"></i> Add category
        </button>
    </span>
    <pre>(Drag to re-order)</pre><br>
    {% if categories|length == 0 %}
        <span class='category-list-no-element' style="margin-left: 1em;" >
            No categories exists please create one.
        </span>
    {% endif %}

    <ul id='ui-category-list' style="padding-left: 1em;">
        {# TODO: scrollbar #}
        {% for category in categories %}
            <li id="categorylistitem-{{ category.category_id }}" {% if loop.index != 1 %} class="category-sortable"{% endif %} style="color: {{ category.color }}; {% if loop.index == 1 %}display: none;{% endif %}">
                <i class="fa fa-bars handle" aria-hidden="true" title="Drag to reorder"></i>
                <span class="categorylistitem-desc">
                    <span>{{ category.category_desc }}</span>
                    <a class="post_button" title="Edit Category Description"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </span>
                <span class="categorylistitem-editdesc" style="display: none;">
                    <input type="text" placeholder="New Description of Category" style="padding: 0;">
                    <a class="post_button" title="Save Changes"><i class="fa fa-check" aria-hidden="true"></i></a>
                    <a class="post_button" title="Cancel Changes"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
                <div style="float: right;width: auto;">
                    <select class='category-color-picker' style="color: white;font-size: 14px;height: 18px;padding: 0px;">
                        {% for color_name, color_code in category_colors %}
                            <option value="{{ color_code }}" style="color: white;background-color: {{ color_code }};" {% if color_code == category.color %}selected="selected"{% endif %}>{{ color_name }}</option>
                        {% endfor %}
                    </select>
                    &nbsp;
                    <a class="post_button" title="Delete Category"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <script type="text/javascript">
        $(function() {
            $("#ui-category-list").sortable({
                items : '.category-sortable',
                handle: ".handle",
                update: function (event, ui) {
                    reorderCategories();
                }
            });
            $("#ui-category-list").find(".fa-trash").click(function() {
                var item = $(this).parent().parent().parent();
                var category_id = parseInt(item.attr('id').split("-")[1]);
                var category_desc = item.find(".categorylistitem-desc span").text().trim();
                deleteCategory(category_id, category_desc);
            });
            $("#ui-category-list").find(".fa-edit").click(function() {
                var item = $(this).parent().parent().parent();
                var category_desc = item.find(".categorylistitem-desc span").text().trim();
                item.find(".categorylistitem-editdesc input").val(category_desc);
                item.find(".categorylistitem-desc").hide();
                item.find(".categorylistitem-editdesc").show();

            });
            $("#ui-category-list").find(".fa-times").click(function() {
                var item = $(this).parent().parent().parent();
                item.find(".categorylistitem-editdesc").hide();
                item.find(".categorylistitem-desc").show();
            });

            $("#ui-category-list").find(".fa-check").click(function() {
                var item = $(this).parent().parent().parent();
                var category_id = parseInt(item.attr('id').split("-")[1]);
                var category_desc_original = item.find(".categorylistitem-desc span").text().trim();
                var category_desc = item.find("input").val().trim();
                if(category_desc != category_desc_original) {
                    editCategory(category_id, category_desc, null);
                }
                item.find(".categorylistitem-editdesc").hide();
                item.find(".categorylistitem-desc").show();
            });
            var refresh_color_select = function(element) {
                $(element).css("background-color",$(element).val());
            }
            $(".category-color-picker").change(function(color) {
                var category_id = parseInt($(this).parent().parent().attr('id').split("-")[1]);
                var category_color = $(this).val();
                editCategory(category_id, null, category_color);
                refresh_color_select($(this));
            });
            $(".category-color-picker").each(function(){
                refresh_color_select($(this));
            });
        });
    </script>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'page': 'change_username'}) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    <div style="width: 100%; margin-top: 10px;">
        <a style="float: right;" onclick="$('#ui-category-list').find('.fa-times').click();$('#category-list').css('display', 'none');" class="btn btn-default">Close</a>
    </div>
{% endblock %}