<div class="{{ classes|join(" ") }}" id="{{ post_id }}" style="margin-left:{{ offset }}px;" data-reply_level="{{ reply_level }}" data-parent_id="{{ parent_id }}">
    {% if first == true %}
        <h2 class="create-post-head">

            {% if userGroup <= 2 and activeThreadAnnouncement %}

                <a class="active-thread-remove-announcement key_to_click" tabindex="0" onClick="alterAnnouncement({{ activeThread.id }}, 'Are you sure you want to unpin this thread?', 0, '{{ csrf_token }}')" title="Unpin Thread" aria-label="Unpin Thread"><i class="fas fa-thumbtack reverse_golden_hover"></i></a>

            {% elseif activeThreadAnnouncement %}

                <i class="fas fa-thumbtack active-thread-announcement" title = "Pinned Thread" aria-label="Pinned Thread"></i>

            {% elseif userGroup <= 2 and not activeThreadAnnouncement %}

                <a class="not-active-thread-announcement key_to_click" tabindex="0" onClick="alterAnnouncement({{ activeThread.id }}, 'Are you sure you want to pin this thread to the top?', 1, '{{ csrf_token }}')" title="Make thread an announcement" aria-label="Pin Thread"><i class="fas fa-thumbtack golden_hover" title = "Make Announcement"></i></a>

            {% endif %}

            {% if isCurrentFavorite %}

                <a class="current-favorite key_to_click" tabindex="0" onClick="bookmarkThread({{ activeThread.id }}, '0');" title="Bookmark Thread" aria-label="Bookmark Thread"><i class="fas fa-bookmark reverse_golden_hover"></i></a>

            {% else %}

                <a class="pinned-thread key_to_click" tabindex="0" onClick="bookmarkThread({{ activeThread.id }}, '1');" title="Bookmark Thread" aria-label="Bookmark Thread"><i class="fas fa-bookmark golden_hover"></i></a>

            {% endif %}

            {{ activeThreadTitle }}

        </h2>

    {% endif %}

    <pre class='pre_forum'><span class="post_content markdown" style="white-space: normal;" >{% include "forum/RenderPost.twig" with { "post_content": post_content, "render_markdown": render_markdown } only %}</span></pre>

    <hr style="margin-bottom: 3px;">

    {% if display_option == 'tree' %}

        {% if not (isThreadLocked != 1 or userAccessFullGrading) %}
            {# pass #}
        {% elseif not first %}
            <a class="btn btn-default btn-sm post_button_color text-decoration-none key_to_click" tabindex = "0" onClick="replyPost({{ post.id }})"> Reply</a>
        {% else %}
            <a class="btn btn-default btn-sm post_button_color text-decoration-none key_to_click" tabindex = "0" onClick="$('html, #posts_list').animate({ scrollTop: document.getElementById('posts_list').scrollHeight }, 'slow');"> Reply</a>
        {% endif %}
        {% if userGroup <= 3 %}
            {% if has_history %}
                <a class="btn btn-default btn-sm post_button_color text-decoration-none key_to_click" tabindex = "0" onClick="showHistory({{ post.id }})">Show History</a>
            {% endif %}
            {% if (isThreadLocked != 1 or accessFullGrading) and first != 1 %}
                <a class="btn btn-default btn-sm post_button_color text-decoration-none" tabindex = "0" onClick="showSplit({{ post.id }})">
                    {% if thread_previously_merged %}
                        Unmerge Thread
                    {% else %}
                        Split Post
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}


    {% endif %}

    {% if includeReply and (userGroup <= 3 or post.author_user_id == current_user) and first and thread_resolve_state == -1 %}
        <a class="btn btn-default btn-sm post_button_color text-decoration-none key_to_click" tabindex = "0" onClick="changeThreadStatus({{ post.thread_id }})" title="Mark thread as resolved">Mark as resolved</a>
    {% endif %}

    <span class="post-action-container">

        {% if userGroup <= 2 and post.author_user_id != current_user %}
            <a class="post-email-toggle key_to_click" tabindex = "0" onClick='$(this).next().toggle();' title="Show/Hide email address" aria-label="Show/Hide email address"><i class="fas fa-envelope"></i></a>
            <a href="mailto:{{ author_email }}" style="display: none;">{{ author_email }}</a>
        {% endif %}

        {% if userGroup <= 2 %}
            <a class="post-user-info key_to_click" tabindex = "0" onClick='changeName(this.parentNode, {{ post_user_info.info_name }}, {{ post_user_info.visible_user_json}}, {{ post_user_info.jscriptAnonFix}})' title="Show full user information" aria-label="Show full user information"><i class="fas fa-eye"></i></a>
        {% endif %}

        {% if userGroup <= 3 or post.author_user_id == current_user %}
            {% if not (isThreadLocked != 1 or userAccessFullGrading == true) %}
                {#pass#}
            {% else %}
                <a class="post_button delete-post-button key_to_click" tabindex = "0" onClick="deletePostToggle({{ post_buttons.delete.ud_toggle_status }}, {{ post.thread_id }}, {{ post.id }}, '{{ post.author_user_id }}', '{{ post_date }}', '{{ csrf_token }}' )" title="{{ post_buttons.delete.ud_button_title }}" aria-label="{{ post_buttons.delete.ud_button_title }}"><i class="fa {{ post_buttons.delete.ud_button_icon }}"></i></a>
                <a class="post_button edit-post-button key_to_click" tabindex = "0" onClick="showEditPostForm({{ post.id }}, {{ post.thread_id }}, {{ post_buttons.edit.shouldEditThread }}, {{ render_markdown?1:0 }}, '{{ csrf_token }}')" title="{{ post_buttons.edit.edit_button_title }}" aria-label="{{ post_buttons.edit.edit_button_title }}"><i class="fas fa-edit"></i></a>
            {% endif %}
        {% endif %}

        <span class="last-edit">
			<strong class="post_user_id">{{ visible_username }}</strong>
			{{ post_date }}
            {% if edit_date is not null %}
                (<i>Last edit at {{ edit_date }}</i>)
            {% endif %}
        </span>
    </span>

    {% if post_attachment.exist == true %}

        <a href="#" id="{{ post_attachment.params.button_id }}" onclick="loadInlineImages('{{ post_attachment.params.encoded_data }}');" class="attachment-btn btn btn-default btn-sm key_to_click" tabindex="0" type="button">
                    Attachments <span class="attachment-badge badge">{{ post_attachment.params.num_files }}</span> </a>


        <div id="{{ post_attachment.params.well_id }}" class="attachment-well well well-lg"></div>

    {% endif %}

    {% set offset = offset + 30 %}
</div>

{% if isThreadLocked != 1 or userAccessFullGrading %}
    <form class="reply-box post_reply_form" id="{{ post_id }}-reply" style="margin-left:{{ offset }}px" method="POST" action="{{ form_post_url }}" enctype="multipart/form-data">
        <input type="hidden" name="thread_id" value="{{ thread_id }}" />
        <input type="hidden" name="parent_id" value="{{ post_id }}" />
        <br/>

        {%  include "forum/ThreadPostForm.twig" with {
            "show_post" : true,
            "post_content_placeholder" : "Enter your reply to " ~ visible_username ~ " here...",
            "show_merge_thread_button" : false,
            "post_box_id" : post_box_id,
            "csrf_token" : csrf_token,
            "show_anon" : true,
            "thread_resolve_state": thread_resolve_state,
            "show_unresolve": show_unresolve,
            "visible_username" : visible_username,
            "submit_label" : "Submit Reply to " ~ visible_username,
        } %}

    </form>
{% endif %}
