{% for thread in thread_content %}
    <a href="{{ thread.link }}" class="thread_box_link" data-thread_id="{{ thread.thread_id }}">
        <div class="{{ thread.class }}">
            {% if thread.pinned %}
                <i class="fas fa-thumbtack thread-announcement" title = "Pinned to the top" aria-label="Pinned to the top"></i>
            {% endif %}
            {% if thread.favorite %}
                <i class="fas fa-bookmark thread-favorite" title="Bookmarked as my favorite" aria-label="Bookmarked as my favorite"></i>
            {% endif %}
            {% if thread.merged_thread_id != -1 %}
                <i class="fas fa-link thread-merged" title="Thread Merged" aria-label="Thread Merged"></i>
            {% endif %}

            {% if thread.status != 0 %}
                <i class="fa {{ thread.fa_icon }} {{ thread.fa_class }} thread-status" title="{{ thread.tooltip }}" aria-label="{{ thread.tooltip }}"></i>
            {% endif %}

            {% if thread.is_locked %}
                <i class="fas fa-lock thread-locked" title="Locked" aria-label="Locked"></i>
            {% endif %}

            <span class="thread-list-item">{% if thread.current_user_posted %}
                    <i class="fas fa-comments" title="You have contributed" aria-label="You have contributed"></i>
                {% endif %}
                {{ thread.title }}</span>
            <span class="thread-content">{{ thread.content }}</span>

            {% for category in thread.categories %}
                <span class="label_forum" style="background-color: {{ category[1] }}">{{ category[0] }}</span>
            {% endfor %}

            {% if thread.date.not_null %}
                <span class="thread-date">{{ thread.date.formatted }}</span>
            {% endif %}

        </div>
    </a>
    <hr style="margin-top: 0px;margin-bottom:0px;">
{% endfor %}
