{% for thread in thread_content %}
    <a href="{{ thread.link }}" class="thread_box_link" data-thread_id="{{ thread.thread_id }}" data-thread_title="{{ thread.title }}" id="thread_box_link_{{ thread.thread_id }}" data-testid="thread_box">
        <div class="{{ thread.class }}">
            <div class="flex-row"  data-testid="flex-row">
                <span class="thread-title-cont">
                    <span class="thread-list-item" data-testid="thread-list-item">{{ thread.title }}</span>
                </span>
                <span class="thread-icons-cont">
                    {%- if thread.pinned -%}
                        {% set expiringVisual = (thread.expiring) ? 'thread-announcement-expiring' : 'thread-announcement' %}
                        {% set hoverText = (thread.expiring) ? 'Pinned thread -- will expire soon' : 'Pinned thread' %}
                        <i class="fas fa-thumbtack {{expiringVisual}}" title ="{{hoverText}}" aria-label="{{hoverText}}"></i>
                    {%- endif -%}
                    {%- if thread.favorite -%}
                        <i class="fas fa-bookmark thread-favorite" title="Bookmarked as my favorite" aria-label="Bookmarked as my favorite"></i>
                    {%- endif -%}
                    {%- if thread.merged_thread_id != -1 -%}
                        <i class="fas fa-link thread-merged" title="Thread Merged" aria-label="Thread Merged"></i>
                    {%- endif -%}
                    {%- if thread.status != 0 -%}
                        <i class="fa {{ thread.fa_icon }} {{ thread.fa_class }} thread-status" title="{{ thread.tooltip }}" aria-label="{{ thread.tooltip }}"></i>
                    {%- endif -%}
                    {%- if thread.is_locked -%}
                        <i class="fas fa-lock thread-locked" title="Locked" aria-label="Locked"></i>
                    {%- endif -%}
                </span>
            </div>

            <div class="thread-content">{{ thread.content }}</div>

            {% set categoriesCountGap = (is_full_page is defined and is_full_page) ? '16' : '8' %}
            <div class="thread-info-container" style="--custom-gap: {{ categoriesCountGap }}px;">
                <span class="categories-container">
                    {% for category in thread.categories %}
                        {% set tag = category[0] %}
                        {% if tag|length > 20 and (is_full_page is not defined or not is_full_page) %}
                            {% set tag = category[0]|slice(0, 17) ~ "..." %}
                        {% endif %}
                        <span class="label_forum" style="background-color: {{ category[1] }}">{{ tag }}</span>
                    {% endfor %}
                </span>

                <span class="sub-info-container">
                    <span class="count-container">
                        <i  
                            data-testid="thread-upduck-button" 
                            class="upduck-button text-decoration-none" 
                            style="margin-right: 4px;" 
                            title="Total upduck">
                            <img 
                                id="ThreadsumDucksIcon_{{thread.thread_id}}" 
                                src="{{'/img/on-duck-button.svg'}}" 
                                alt="sum_like"
                                width="30" 
                                height="30"
                            >
                        </i>
                        <span data-testid="thread-like-count"
                            id="Thread_likeCounter_{{thread.thread_id}}"
                            class="thread-like-counter"
                            style="margin-right: {{ is_full_page is defined and is_full_page ? '22' : '16' }}px;">
                            {{ thread.sum_ducks }}
                        </span>
                        <i class="fas fa-comments" style="margin-right: 9px;" title="Total posts" aria-label="Total posts"></i>
                        <span data-testid="thread-post-count"
                            id="Thread_postCounter_{{thread.thread_id}}"
                            class="thread-post-counter">
                            {{ thread.num_posts }}
                        </span>
                    </span>

                    <span class="post-action-container" data-testid="post-action-container">
                        {% if is_full_page is defined and is_full_page %}
                            {% if thread.date.not_null %}
                                <span class="thread-date" style="--custom-spacing: 5px">{{ thread.date.formatted }}</span>
                            {% endif %}
                            <span>
                                <strong class="post_user_id">{{thread.author_info.name}}</strong>
                                {% if thread.author_info.pronouns and thread.author_info.display_pronouns and thread.author_info.name != "Anonymous" %}
                                    <strong class="post_user_pronouns">({{thread.author_info.pronouns}})</strong>
                                {% endif %}
                            </span>
                        {% elseif thread.date.not_null %}
                            {% set dateArray = thread.date.formatted|split(" ") %}
                            <span class="thread-date">
                                <span class="date">{{ dateArray[0] }}</span>
                                <span class="time">{{ dateArray[1] }} {{ dateArray[2] }}</span>
                            </span>
                        {% endif %}
                    </span>
                </span>
            </div>

        </div>
    </a>

{% endfor %}
