{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-user-post-{{ post_id }}{% endblock %}
{% block title_tag %}<h1 id="edit_user_prompt">Editing a post</h1>{% endblock %}
{% block body %}
    <input type="hidden" id="edit_thread_id" name="edit_thread_id" value="{{ thread_id }}" data-ays-ignore="true"/>
    <input type="hidden" id="edit_post_id" name="edit_post_id" value="{{ post_id }}" data-ays-ignore="true"/>

    {% include 'forum/ThreadPostForm.twig' with {
        "show_title": first,
        "show_post": true,
        "post_content_placeholder": "Enter your post here...",
        "show_categories": true,
        "post_box_id": 0,
        "show_thread_status": true,
        "show_anon": true,
        "anon_edit_post_id": "thread_post_anon_edit",
        "show_cancel_edit_form": true,
        "show_lock_date": true,
        "show_expiration" : true,
        "submit_label": "Update Post",
        "categories" : categories,
        "post_attachment" : post_attachment,
        "post_id" : post_id,
        "post_content" : post_content,
    } %}
    <script>
        $("#edit-thread-form-{{ post_id }}").on("submit", {
            post_id : {{post_id}}
        }, modifyOrSplitPost);
        document.querySelector('.popup-box').onclick = null;
    </script>
{% endblock %}
{% block form %}
    <form class="edit-thread-form" id="edit-thread-form-{{ post_id }}" method="post" action="{{ edit_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
{% block buttons_panel %}
    {#
        TODO: Make the post form not have its own buttons so we can use the normal
        buttons for the popup
    #}
{% endblock %}
