{% extends 'generic/Popup.twig' %}
{% block popup_id %}category_wrapper{% endblock %}
{% block title %}Filter by Categories/Status{% endblock %}
{% block body %}
    <i>Please unselect all options for removing filter.</i><br/>
    <div style="text-align: center;">
        <select id="thread_category" name="thread_category" class="form-control" multiple size="10" style="height: auto;" data-ays-ignore="true">
        {% for category in categories %}
                <option value="{{ category.category_id }}" style="color: {{ category.color }}">{{ category.category_desc }}</option>
            {% endfor %}
        </select>
        &nbsp;
        <select id="thread_status_select" class="form-control" multiple style="height: auto;" data-ays-ignore="true">
            <option value="0">Comment</option>
            <option value="-1">Unresolved</option>
            <option value="1">Resolved</option>
        </select>
    </div>

    <script type="text/javascript">
        function updateThreads(loadFirstPage, success_callback) {
            {% if thread_exists %}
            modifyThreadList({{ current_thread }}, '{{ current_category_ids|join("|") }}', '{{ current_course }}', loadFirstPage, success_callback);
            {% endif %}
        }
        $( document ).ready(function() {
            $('#thread_category option, #thread_status_select option').mousedown(function(e) {
                e.preventDefault();
                var current_selection = $(this).prop('selected');
                $(this).prop('selected', !current_selection);
                updateThreads(true, null);
                return true;
            });
            {% for category in cookie_selected_categories %}
            $('#thread_category option[value="{{ category }}"]').prop('selected', true);
            {% endfor %}
            {% for status in cookie_selected_thread_status %}
            $('#thread_status_select option[value="{{ status }}"]').prop('selected', true);
            {% endfor %}

            $("#tree").prop("checked", true);
            {% if display_option in ['tree', 'time', 'alpha'] %}
            $("#{{ display_option }}").prop("checked", true);
            {% endif %}
        });
    </script>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'page': 'change_username'}) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    <a class="btn btn-default" title="Clear Filter" onclick="$('#thread_category option, #thread_status_select option').prop('selected', false); updateThreads(true, null); $('#category_wrapper').css('display', 'none');"><i class="fa fa-eraser"></i> Clear Filter</a>
    <a class="btn btn-default close-button" title="Close Popup" onclick="$('#category_wrapper').css('display', 'none');">Close</a>
{% endblock %}
