{% set user_group = core.getUser().getGroup() %}
<div id="forum_bar">
	{% for button in forum_bar_buttons %}
		{% if user_group <= button.required_rank %}
			{% set link = (button.link[0]) ? 'href=' ~ button.link[1] %}
			{% set onclick = (button.onclick[0]) ? 'onclick=' ~ button.onclick[1] %}
			<a class="btn btn-primary {{ button.optional_class }}" style="{{ button.style }}" {{ link }} title="{{ button.title }}" {{ onclick }} >
				{{ button.display_text }}
			</a>
		{% endif %}
	{% endfor %}

	{% if thread_exists %}
		<button class="btn btn-primary" style="float:right;position:relative;top:3px;right:5px;display:inline-block;" title="Display search bar" onclick="this.style.display='none'; document.getElementById('search_block').style.display = 'inline-block'; document.getElementById('search_content').focus();">Search</button>
	{% endif %}

	{% if show_threads %}
		<div style="margin-left:10px;display:inline-block;position:relative;top:3px;" class="btn-group btn-group-toggle" data-toggle="buttons">
  			<label id="tree_label" for="radio" onclick="changeDisplayOptions('tree', {{ current_thread }})" class="btn btn-secondary">
    			<input type="radio" name="selectOption" id="tree" value="tree"> Hierarchical
  			</label>
  			<label id="time_label" for="radio2" onclick="changeDisplayOptions('time', {{ current_thread }})" class="btn btn-secondary">
    			<input type="radio" name="selectOption" id="time" value="time"> Chronological
  			</label>
		{% if user_group <= 3 %}
			<label id="alpha_label" for="radio3" onclick="changeDisplayOptions('alpha', {{ current_thread }})" class="btn btn-secondary">
    			<input type="radio" name="selectOption" id="alpha" value="alpha"> Alphabetical
  			</label>
  		{% endif %}
  		</div>
	{% endif %}

	{% if thread_exists %}
		<form id="search_block" style="float:right;position:relative;top:3px;right:5px;display:none;" method="post" action="{{ core.buildUrl({'component':'forum', 'page':'search_threads'}) }}">
			<input type="text" size="35" placeholder="search" name="search_content" id="search_content"/>

			<button type="submit" name="search" title="Submit search" class="btn btn-primary">
	  			Search
			</button>
		</form>
	{% endif %}

</div>
<hr/>