{% extends 'generic/Popup.twig' %}
{% block popup_id %}merge-threads{% endblock %}
{% block title %}Merge Threads{% endblock %}
{% block body %}
        Merge current thread into
        <input type="hidden" id="merge_thread_child" name="merge_thread_child" value="{{ current_thread }}" data-ays-ignore="true">

        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}" data-ays-ignore="true"/>
        <select class="chosen-select" id="merge_thread_parent" name="merge_thread_parent" data-ays-ignore="true">

            {% for threads in possibleMerges %}
                <option value=({{ threads['id'] }})>({{ threads['id'] }}) {{ threads['title'] }}</option>
            {% endfor %}
        </select>
        <script>
            $(document).ready(function(){
                $(".chosen-select").chosen({ width: "210px" });
                $("#merge-threads .form-body").css("min-height", "inherit");
                $("#merge-threads .form-body").css('overflow-y', 'initial');
            });

        </script>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'component': 'forum', 'page': 'merge_thread'}) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Merge Thread" />
{% endblock %}
