{% extends 'generic/Popup.twig' %}
{% block popup_id %}merge-threads{% endblock %}
{% block title %}Merge Threads{% endblock %}
{% block body %}
    <p>You may merge a thread and all of its posts into a chronologically earlier thread.<br/> Warning: This action is not reversible.</p>
    {% if possibleMerges is empty %}
        <p class="yellow-message">The selected thread is the chronologically oldest thread. No merge action is available.</p>
    {% else %}
        <div>
            <p>Merge current thread into:</p>
            <input type="hidden" id="merge_thread_child" name="merge_thread_child" value="{{ current_thread }}" data-ays-ignore="true">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" data-ays-ignore="true"/>
            <select class="chosen-select" id="merge_thread_parent" name="merge_thread_parent" aria-label="Select thread to merge into" data-ays-ignore="true">
                {% for threads in possibleMerges %}
                    <option value=({{ threads['id'] }}) data-first-post-id={{ threads['first_post_id'] }}>({{ threads['id'] }}) {{ threads['title'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <p>Content of Selected Thread:</p>
            <div id="thread-content" class=""></div>
            <script>
                $(document).ready(function(){
                    $(".chosen-select").chosen({ width: "100%" });
                    // Make AJAX call to get the content of the
                    // first post.
                    var selected_thread_first_post_id = $(".chosen-select").children("option").first().attr('data-first-post-id');
                    updateSelectedThreadContent(selected_thread_first_post_id);
                    $(".chosen-select").change(function() {
                        selected_thread_first_post_id = $(this).children("option:selected").attr('data-first-post-id');
                        updateSelectedThreadContent(selected_thread_first_post_id);
                     });
                    $("#merge-threads .form-body").css("min-height", "inherit");
                    $("#merge-threads .form-body").css('overflow-y', 'initial');
                    document.getElementsByClassName('chosen-search-input')[0].setAttribute('aria-label', 'Chosen thread');
                });
            </script>
        </div>

    {% endif %}
{% endblock %}
{% block form %}
    <form method="post" action="{{ merge_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}

    <input class="btn btn-primary" type="submit" value="Merge Thread" {{ possibleMerges is empty ? 'disabled' : '' }}/>
{% endblock %}
