{% extends 'generic/Popup.twig' %}
{% block popup_id %}merge-threads{% endblock %}
{% block title %}Merge Threads{% endblock %}
{% block body %}
    {% if merge_thread_list|length == 0 %}
        Nothing to merge.
    {% else %}
        Merge current thread into
        <input type="hidden" id="merge_thread_child" name="merge_thread_child" value="{{ current_thread }}" data-ays-ignore="true">
        <select style="margin-right:10px;" name="merge_thread_parent" class="form-control" required data-ays-ignore="true">
            {% for thread in merge_thread_list %}
                <option value='{{ thread.id }}'>{{ thread.title }} ({{ thread.id }})</option>
            {% endfor %}
        </select>
    {% endif %}
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'component': 'forum', 'page': 'merge_thread'}) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    {% if merge_thread_list|length > 0 %}
        <input class="btn btn-primary" type="submit" value="Submit" />
    {% endif %}
{% endblock %}