{% extends 'generic/Popup.twig' %}
{% block popup_id %}merge-threads{% endblock %}
{% block title %}Merge Threads{% endblock %}
{% block body %}
        Merge current thread into
        <input type="hidden" id="merge_thread_child" name="merge_thread_child" value="{{ current_thread }}" data-ays-ignore="true">
        <select style="margin-right:10px;" name="merge_thread_parent" class="form-control" required data-ays-ignore="true" current-thead-date="{{ current_thread_date }}">
                <option>Loading...</option>
        </select>
{% endblock %}
{% block form %}
    <form method="post" action="{{ core.buildUrl({'component': 'forum', 'page': 'merge_thread'}) }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" disabled="disabled" />
{% endblock %}