{% if render_markdown %}
    {% include "Vue.twig" with {
        type: "component",
        name: "Markdown",
        args: {
            content: post_content
        }
    } only %}
{% else %}
    {{- post_content -}}
{% endif %}
{% if post_attachment is defined and post_attachment.exist == true %}
    <table>
        <tbody class="history-attachment-table" id="history-table-{{ edit_id }}">
            {% for row in post_attachment.params.unencoded_data %}
            {% if row[2] is defined %}
                <tr>
                    <td style="padding: 20px">
                        <img 
                            src="{{ row[0] }}"
                            alt="Click to view attachment in popup"
                            title="Click to view attachment in popup"
                            class="attachment-img"
                            onclick="openInWindow(this)"
                        />
                    </td>
                    <td class="attachment-name-history">{{ row[2] }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default history-attachment-btn" onclick="displayHistoryAttachment('{{ edit_id }}')">
        Attachments
        <span class="attachment-badge badge">{{ post_attachment.params.num_files }}</span>
    </a>
{% endif %}
