{% extends 'generic/Popup.twig' %}
{% block popup_id %}popup-post-split{% endblock %}
{% block title %}Split Post{% endblock %}
{% block body %}
    <p>You may split a post and all of its children into a new top level thread.</p>
    <p>Make sure you update the post title to accurately reflect what will be in the new thread!</p>
    <p id="split_post_previously_merged" style="display: none">This post was previously merged; the previous
    thread name is shown below.</p>
    <div>
        <p>Name of new thread: <p>
        <input type="hidden" id="split_post_id" name="split_post_id" value="-1" data-ays-ignore="true">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}" data-ays-ignore="true"/>
        <input type="text" aria-label="Split Post Input" id="split_post_input" name="split_post_input" oninput="disableIfEmpty(this, 'split_post_submit')" placeholder="Name of new thread" style="width: 100%"/>
    </div>
    <fieldset>
        <legend>Categories of new thread: </legend>
        {% for category in categories %}
            <a class="btn cat-buttons" data-color="{{ category.color }}" style="border-color: {{ category.color }}; background-color: #FFFFFF; color: {{ category.color }};" id="split_post_category_{{ category.category_id }}">
                {{ category.category_desc }}
                <input type="checkbox" name="cat[]" value="{{ category.category_id }}" aria-label="Category {{ category.category_desc }}">
            </a>
        {% endfor %}
    </fieldset>

{% endblock %}
{% block form %}
    <form method="post" action="{{ split_url }}">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}

    <input class="btn btn-primary" type="submit" id="split_post_submit" value="Split Post" disabled/>

    <script>
        function disableIfEmpty(obj, id) {
            document.getElementById(id).disabled = obj.value.length === 0;
        }
    </script>

{% endblock %}
