<div class="thread-post-form" {% if post_box_id %} post_box_id="{{ post_box_id }}" {% endif %}>
    <div class="form-group row" style="position: relative;">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ core.getCsrfToken() }}" data-ays-ignore="true"/>
        {% if show_title %}
            <span class="edit_thread">
                Title:
                <input id="title" name="title" placeholder="Title" required size="45" type="text"/>
            </span>
        {% endif %}

        {% if show_editcat and core.getUser().accessGrading() %}
            <span style="position:absolute;right: 0px;display:inline-block;">
                <a class="btn btn-primary btn-sm" onclick="$('#category-list').css('display', 'block');" title="Edit Categories">Edit Categories</a>
            </span>
        {% endif %}
    </div>
    <br/>
    {% if show_post %}
        <div class="form-group row" style="margin-bottom:10px;position: relative;">
            <button class="btn btn-default" id="link_btn" onclick="addMarkdownCode(1, $(this).closest('.thread-post-form').find('[name=thread_post_content]'))" style="margin-right:10px;" title="Insert a link" type="button">Link
                <i class="fas fa-link fa-1x"></i>
            </button>
            <button class="btn btn-default" id="code_btn" onclick="addMarkdownCode(0, $(this).closest('.thread-post-form').find('[name=thread_post_content]'))" title="Insert a code segment" type="button">Code
                <i class="fas fa-code fa-1x"></i>
            </button>
            {% if show_merge_thread_button and core.getUser().accessGrading() %}
                <a class="btn btn-primary" onclick="$('#merge-threads').css('display', 'block');" style="position:absolute;right: 0px;top:3px;display:inline-block;" title="Merge Threads">Merge Threads</a>
            {% endif %}
            {% if show_lock_date and core.getUser().getGroup() <= 2 %}
                <label for="lock_thread_date" id="label_lock_thread" style="position:absolute;right: 0px;display:inline-block;margin: 0 2px">
                    Lock Thread Date
                    <input class="date_picker" id="lock_thread_date" name="lock_thread_date" placeholder="Lock Thread Date" type="text">
                </label>
                <script>
                    $(document).ready(function () {
                        flatpickr(".date_picker", {
                            plugins: [ShortcutButtonsPlugin(
                                    {
                                        button: [
                                            {
                                                label: "Now"
                                            }, 
                                            {
                                                label: "End of time"
                                            }
                                        ],
                                        label: "or",
                                        onClick: (index, fp) => {
                                            let date;
                                            switch (index) {
                                                case 0: 
                                                    date = new Date();
                                                    break;
                                                case 1: 
                                                    date = new Date("9999-01-01 00:00:00");
                                                    break;
                                            }
                                            fp.setDate(date);
                                        }
                                    }
                                )],
                            allowInput: true,
                            enableTime: true,
                            enableSeconds: true,
                            time_24hr: true,
                            dateFormat: "Y-m-d H:i:S"
                        });
                    })
                </script>

            {% endif %}
        </div>
        <div class="form-group row">
            {% set min_height = (post_textarea_large?"40vmin":"100px") %}
            <textarea name="thread_post_content" id="thread_post_content" class="fill-available post_content_reply" style="resize:none;min-height:{{ min_height }};max-height:300px" rows="10" cols="30" placeholder="{{ post_content_placeholder }}" required></textarea>
        </div>
        <br/>
    {% endif %}
    {% if show_categories %}
        <div class="form-group row" id="category-selection-container" style="margin-bottom:10px;display: inline-block;">
            <label for="cat" id="cat_label">Categories</label>
            <br>
            {% if categories | length == 0 %}
                <span class='category-list-no-element' style="margin-left: 1em;">
                    No categories exists please create one.
                </span>
            {% endif %}
            <div id='categories-pick-list'>

                {% for category in categories %}
                    <a class="btn cat-buttons" cat-color="{{ category.color }}" style="word-wrap: break-word; background-color: {{ category.color }}; color: white; max-width: 350px; text-align: left !important; white-space: unset !important;">{{ category.category_desc }}
                        <input type="checkbox" name="cat[]" value="{{ category.category_id }}">
                    </a>
                {% endfor %}
            </div>
            <script type="text/javascript">
                $(function () {
                    refreshCategories();
                });
            </script>
        </div>
    {% endif %}
    <div class="form-group row" style="margin-bottom:10px;position: relative;">
        {% if post_box_id %}
            <span style="display:inline-block;">
                <div class="upload_attachment_box" id="upload{{ post_box_id }}" style="cursor: pointer;">
                    <label class="btn btn-default" id="file_input_label">Upload Attachment</label>
                    <input accept="image/*" id="input_file{{ post_box_id }}" multiple onchange="addFilesFromInput({{ post_box_id }});testAndGetAttachments({{ post_box_id }}, true);" style="display: none;" type="file"/>
                    <br>
                </div>
            </span>
            <br>

            {% if attachment_script %}
                {# To be executed at last attachment box #}
                <script type="text/javascript">
                    $(function () {
                        $('div.upload_attachment_box').on('DOMNodeInserted', function (e) {
                            var part = get_part_number(e);
                            if (isNaN(parseInt(part))) {
                                return;
                            }
                            var target = $(e.target);
                            var file_object = null;
                            var filename = target.attr("fname");
                            for (var j = 0; j < file_array[part - 1].length; j++) {
                                if (file_array[part - 1][j].name == filename) {
                                    file_object = file_array[part - 1][j];
                                    break;
                                }
                            }
                            var image = document.createElement('div');
                            $(image).addClass("thumbnail");
                            $(image).css("background-image", "url(" + window.URL.createObjectURL(file_object) + ")");
                            target.prepend(image);
                        });

                        // Attachments on Create Thread
                        var part = "{{ post_box_id }}";
                        createArray(part);
                        $(".upload_attachment_box").each(function () {
                            this.addEventListener("click", clicked_on_box, false);
                        });
                    });
                </script>
            {% endif %}
        {% endif %}
        <span style="display:inline-block;right: 0px;position: absolute;">
            {% if show_anon %}
                <label for="Anon">Anonymous (to class)?</label>
                <input type="checkbox" id="{{ anon_edit_post_id | default('thread_post_anon') }}" style="margin-right:15px;display:inline-block;" name="Anon" value="Anon" data-ays-ignore="true"/>
            {% endif %}
            {% if show_thread_status %}
                <select data-ays-ignore="true" id="thread_status" name="thread_status" style="margin-right:15px;display:inline-block;">
                    <option value="0">Comment</option>
                    <option selected="selected" value="-1">Unresolved</option>
                    <option value="1">Resolved</option>
                </select>
            {% endif %}
            {% if show_announcement and core.getUser().accessFullGrading() %}
                <label for="Announcement" style="display:inline-block;">Announcement?</label>
                <input data-ays-ignore="true" name="Announcement" style="margin-right:15px;display:inline-block;" type="checkbox" value="Announcement"/>
            {% endif %}
            {% if show_announcement and core.getUser().accessFullGrading() %}
                <label for="EmailAnnouncement" style="display:inline-block;">Send Email?</label>
                <input data-ays-ignore="true" name="EmailAnnouncement" style="margin-right:18px;display:inline-block;" type="checkbox" value="EmailAnnouncement"/>
            {% endif %}
            {% if show_cancel_edit_form %}
                <a class="btn btn-default close-button" onclick="$('#edit-user-post').css('display', 'none');
                                     $(this).closest('.thread-post-form').find('[name=thread_post_content]').val('');
                                     $('#title').val('');
                                     $(this).closest('form').trigger('reinitialize.areYouSure');">Cancel</a>
            {% endif %}
            <input type="submit" style="display:inline-block;" name="post" value="{{ submit_label }}" class="btn btn-primary"/>
        </span>
    </div>
    <br>
</div>
<script>
    $(function () {
        $("input[name='title']").change(function () {
            $(this).val($.trim($(this).val()));
        });
    });
</script>
