<div class="content">
    <div class="sub">
        {# Actual results #}
        {% if docker_error %}
            <div style="background-color: var(--standard-light-red);">
                <div class="error-container">
                    <p class="error-header">Docker Image not present on machine. Please contact your instructor about this.</p>
                    {% if docker_error_data is not null %}
                        <p class="error-details">Error Details:</p>
                        <ul class="error-listing">
                            {% for error in docker_error_data %}
                                <li class="error-content">
                                    <strong>Image:</strong> {{ error.image }}<br>
                                    <strong>Machine:</strong> {{ error.machine }}<br>
                                    <strong>Error:</strong> {{ error.error }}<br>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% elseif in_queue or in_progress_grading %}
            {% if in_progress_grading %}
                <p class="red-message">
                    This submission is currently being graded.
                </p>
            {% else %}
                <p class="red-message">
                    This submission is currently in the queue to be graded. Your submission is number {{ queue_pos }} out of {{ queue_total }}.
                </p>
            {% endif %}
        {% elseif results is not defined %}
            <p class="red-message">
                Something went wrong when grading this submission. Please contact your instructor about this.
            </p>
            <script>
                (() => {
                    const params = new URLSearchParams(window.location.search);
                    const loadAttempt = Number(params.get('loadAttempt') ?? '0');
                    if (loadAttempt < 3) {
                        params.set('loadAttempt', loadAttempt + 1);
                        window.location.search = params.toString();
                    }
                })();
            </script>
        {% else %}
            {# Has results! #}
            {% if show_incentive_message is defined and show_incentive_message %}
                <script>
                    (function() {
                        $('#incentive_message').show();
                    })();
                </script>
            {% endif %}
        {% endif %}

        {{ result_text|raw }}
    </div>
</div>