<div class="box half" style="float: right; width: 25%; word-break: break-word">
    View/Download original submission:
    {% for file in files %}
        {{ file.relative_name }} ({{ (file.size / 1024) | number_format(2) | default(-1) }}kb)
        {# download icon if student can download files #}
        {% if can_download %}
            <button class = 'btn btn-primary' onclick='downloadFile("{{ file.relative_name|url_encode }}","{{ file.path|url_encode }}", "submissions")'> Download
                <i class="fas fa-download" aria-hidden="true" title="Download the file"></i></button>
        {% endif %}

        {% if loop.index != files|length %}
            <br />
        {% endif %}
    {% endfor %}
    {% if can_download and files|length > 1 %}
        <br />
        <br />
        Download all files: <button class = "btn btn-primary" onclick='downloadZip("{{ gradeable_id }}", "{{ user_id }}", "{{ display_version }}")'> Download Zip<i class="fas fa-download" aria-hidden="true" title="Download zip of all files"></i></button>
    {% endif %}
</div>