<div class="content gradeable_message">
    <header id="gradeable-info">
        <h1>
            Message for: {{ gradeable_name }}
        </h1>
    </header>
    <div>{{ load_gradeable_message | markdown }}</div>
    </div>
    <div class="content">
    <a type="button" id="continue" href="{{ button_forward }}"class="btn btn-primary btn-lg" style="float: right">Accept, Continue to<br>'{{ gradeable_name }}'</a>
    <a type="button" id="back" href="{{ button_back }}" class="btn btn-primary btn-lg">Cancel, Return to<br>Home Page</a>
</div>