{% import _self as self %}

<div class="content">
    <div class="upperinfo">
        <h2 class="upperinfo-left">New submission for: {{ gradeable.getName() }}</h2>
        <h2 class="upperinfo-right">Due: {{ gradeable.getDueDate()|date("m/d/Y @ H:i") }}</h2>
    </div>

    {# Admin submission type selector #}
    {% if core.getUser().accessGrading() %}
        <form id="submissionForm" method="post" style="text-align: center; margin: 0 auto; width: 100%; ">
            <div >
                <input type='radio' id="radio_normal" name="submission_type" checked="true">
                Normal Submission
                {% if core.getUser().accessFullGrading() %}
                    <input type='radio' id="radio_student" name="submission_type">
                    Make Submission for a Student
                {% endif %}
                {% if gradeable.getNumParts() == 1 and not gradeable.useVcsCheckout() %}
                    <input type='radio' id="radio_bulk" name="submission_type">
                    Bulk Upload
                {% endif %}
            </div>
            <div id="user_id_input" style="display: none">
                <div class="sub">
                    Input the user_id of the student you wish to submit for. This <i>permanently</i> affects the student's submissions, so please use with caution.
                </div>
                <div class="sub">
                    <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
                    user_id: <input type="text" id= "user_id" value ="" placeholder="{{ gradeable.getUser().getId() }}"/>
                </div>
            </div>
            <div class = "sub" id="pdf_submit_button" style="display: none">
                <div class="sub">
                    # of page(s) per PDF: <input type="number" id= "num_pages" placeholder="required"/>
                </div>
            </div>
        </form>

        <script type="text/javascript">
            $(function() {
                var cookie = document.cookie;
                students_full = {{ students_full|json_encode|raw }};
                if (cookie.indexOf("student_checked=") !== -1) {
                    var cookieValue = cookie.substring(cookie.indexOf("student_checked=")+16, cookie.indexOf("student_checked=")+17);
                    $("#radio_student").prop("checked", cookieValue==1);
                    $("#radio_bulk").prop("checked", cookieValue==2);
                    document.cookie="student_checked="+0;
                }
                if ($("#radio_student").is(":checked")) {
                    $('#user_id_input').show();
                }
                if ($("#radio_bulk").is(":checked")) {
                    $('#pdf_submit_button').show();
                }
                $('#radio_normal').click(function() {
                    $('#user_id_input').hide();
                    $('#pdf_submit_button').hide();
                    $('#user_id').val('');
                });
                $('#radio_student').click(function() {
                    $('#pdf_submit_button').hide();
                    $('#user_id_input').show();
                });
                $('#radio_bulk').click(function()  {
                    $('#user_id_input').hide();
                    $('#pdf_submit_button').show();
                    $('#user_id').val('');
                });
                $("#user_id").autocomplete({
                    source: students_full
                });
            });
        </script>
    {% endif %}
    {# /Admin submission type selector #}

    <div class="sub">
        {% if gradeable.hasAssignmentMessage() %}
            <p class='green-message'>{{ gradeable.getAssignmentMessage()|raw }}</p>
        {% endif %}
    </div>

    {% if gradeable.useVcsCheckout() %}
        {#
            TODO: Build ability for students to specify their own repo url
            if (strpos($gradeable->getSubdirectory(),"\$repo_id") !== false) {
                $return .= <<<HTML
    repository id: <input type="text" id="repo_id" class="required" value="" placeholder="(Required)"/><br /><br />
    HTML;
            }
            else if ($gradeable->getSubdirectory() == "" && $this->core->getConfig()->getVcsBaseUrl() == "") {
                $return .= <<<HTML
    Enter the URL for your repository, ex. <kbd>https://github.com/username/homework-1</kbd><br />
    repository URL: <input type="text" id="repo_id" class="required" value ="" placeholder="(Required)"/><br /><br />
    HTML;
            }
        #}
        <h3>To access your Repository:</h3>
        <span><em>Note: There may be a delay before your repository is prepared, please refer to assignment instructions.</em></span><br />
        <samp>git  clone  {{ gradeable.getRepositoryPath() }}  SPECIFY_TARGET_DIRECTORY</samp><br /><br />
        <input type="submit" id="submit" class="btn btn-primary" value="Grade My Repository" />
    {% else %}
        <div id="upload-boxes" style="display:table; border-spacing: 5px; width:100%">

            {# Text boxes #}
            {% for textbox in textboxes %}
                {{ self.render_textbox(textbox) }}
            {% endfor %}
            {# /Text boxes #}

            {# Submit boxes #}
            {% for part in gradeable.getPartNames() %}
                <div id="upload{{ loop.index }}" style="cursor: pointer; text-align: center; border: dashed 2px lightgrey; display:table-cell; height: 150px;">
                    <h3 class="label" id="label{{ loop.index }}">
                        {% if gradeable.getNumParts() > 1 %}
                            Drag your {{ part }} here or click to open file browser
                        {% else %}
                            Drag your file(s) here or click to open file browser
                        {% endif %}
                    </h3>
                    <input type="file" name="files" id="input_file{{ loop.index }}" style="display: none" onchange="addFilesFromInput({{ loop.index }})" multiple />
                </div>
            {% endfor %}
            {# /Submit boxes #}
        </div>

        {# Page selector #}
        {% if student_page %}
            <form id="pdfPageStudent">
                <div class="sub">
                    <div>Enter the page number that corresponds to each question. If the answer spans multiple pages, enter the page the answer starts on.</div>
                    {% for component in gradeable.getComponents() %}
                        <div>{{ component.getTitle() }}: <input type="number" id="page_{{ loop.index0 }}" min="1"></div><br />
                    {% endfor %}
                </div>
            </form>
        {% endif %}
        {# /Page selector #}

        <div>
            {{ core.getConfig().getUploadMessage() }}
            <br>
            &nbsp;
        </div>

        <button type="button" id="submit" class="btn btn-success" style="margin-right: 100px;">Submit</button>
        <button type="button" id="startnew" class="btn btn-primary">Clear</button>

        {% if gradeable.getCurrentVersionNumber() == gradeable.getHighestVersion() and gradeable.getCurrentVersionNumber() > 0 %}
            <button type="button" id= "getprev" class="btn btn-primary">Use Most Recent Submission</button>

            {% if core.getConfig().keepPreviousFiles() %}
            <script type="text/javascript">
                $(function() {
                    setUsePrevious();
                    {% for file in old_files %}
                        addLabel('{{ file.name }}', '{{ file.size }}', {{ file.part }}, true);
                        readPrevious('{{ file.name }}', {{ file.part }});
                    {% endfor %}
                });
            </script>
            {% endif %}
        {% endif %}

        <script type="text/javascript">
            $(function() {
                setButtonStatus();
            });

            // CLICK ON THE DRAG-AND-DROP ZONE TO OPEN A FILE BROWSER OR DRAG AND DROP FILES TO UPLOAD
            var num_parts = {{ gradeable.getNumParts() }};
            createArray(num_parts);
            var assignment_version = {{ gradeable.getCurrentVersionNumber() }};
            var highest_version = {{ gradeable.getHighestVersion() }};
            for (var i = 1; i <= num_parts; i++ ){
                var dropzone = document.getElementById("upload" + i);
                dropzone.addEventListener("click", clicked_on_box, false);
                dropzone.addEventListener("dragenter", draghandle, false);
                dropzone.addEventListener("dragover", draghandle, false);
                dropzone.addEventListener("dragleave", draghandle, false);
                dropzone.addEventListener("drop", drop, false);
            }

            $("#startnew").click(function(e){ // Clear all the selected files in the buckets
                for (var i = 1; i <= num_parts; i++){
                    deleteFiles(i);
                }
                e.stopPropagation();
            });

            // GET FILES OF THE HIGHEST VERSION
            if (assignment_version == highest_version && highest_version > 0) {
                $("#getprev").click(function(e){
                    $("#startnew").click();
                    {% for file in old_files %}
                        addLabel('{{ file.name }}', '{{ file.size }}', {{ file.part }}, true);
                        readPrevious('{{ file.name }}', {{ file.part }});
                    {% endfor %}
                    setUsePrevious();
                    setButtonStatus();
                    e.stopPropagation();
                });
            }
        </script>
    {% endif %}
</div>

<script type="text/javascript">
    function makeSubmission(user_id, highest_version, is_pdf, path, count, repo_id, merge_previous=false, clobber=false) {
        // submit the selected pdf
        path = decodeURIComponent(path);
        if (is_pdf) {
            submitSplitItem("{{ core.getCsrfToken() }}", "{{ gradeable.getId() }}", user_id, path, count, merge_previous=merge_previous, clobber=clobber);
            moveNextInput(count);
        }

        // otherwise, this is a regular submission of the uploaded files
        else if (user_id == "") {
            handleSubmission({{ late_days_use }},
                {{ gradeable.getAllowedLateDays() }},
                {{ gradeable.getHighestVersion() }},
                {{ gradeable.getMaxSubmissions() }},
                "{{ core.getCsrfToken() }}",
                {{ gradeable.useVcsCheckout() ? "true" : "false" }},
                {{ gradeable.getNumTextBoxes() }},
                "{{ gradeable.getId() }}",
                "{{ gradeable.getUser().getId() }}",
                repo_id,
                {{ student_page ? "true" : "false" }},
                {{ gradeable.getComponents()|length }},
                merge_previous=merge_previous,
                clobber=clobber
            );
        }
        else {
            handleSubmission({{ late_days_use }},
                {{ gradeable.getAllowedLateDays() }},
                highest_version,
                {{ gradeable.getMaxSubmissions() }},
                "{{ core.getCsrfToken() }}",
                {{ gradeable.useVcsCheckout() ? "true" : "false" }},
                {{ gradeable.getNumTextBoxes() }},
                "{{ gradeable.getId() }}",
                user_id,
                repo_id,
                {{ student_page ? "true" : "false" }},
                {{ gradeable.getComponents()|length }},
                merge_previous=merge_previous,
                clobber=clobber
            );
        }
    }
    $(function() {
        $("#submit").click(function(e){ // Submit button
            var user_id = "";
            var repo_id = "";
            var num_pages = 0;
            // depending on which is checked, update cookie
            if ($('#radio_normal').is(':checked')) {
                document.cookie="student_checked="+0;
            };
            if ($('#radio_student').is(':checked')) {
                document.cookie="student_checked="+1;
                user_id = $("#user_id").val();
            };
            if ($('#radio_bulk').is(':checked')) {
                document.cookie="student_checked="+2;
                num_pages = $("#num_pages").val();
            };
            // vcs upload
            if ({{ gradeable.useVcsCheckout() ? "true" : "false" }}) {
                repo_id = $("#repo_id").val();
            }
            // bulk upload
            if ($("#radio_bulk").is(":checked")) {
                handleBulk("{{ gradeable.getId() }}", num_pages);
            }
            // no user id entered, upload for whoever is logged in
            else if (user_id == ""){
                makeSubmission(user_id, {{ gradeable.getHighestVersion() }}, false, "", "", repo_id);
            }
            // user id entered, need to validate first
            else {
                validateUserId("{{ core.getCsrfToken() }}", "{{ gradeable.getId() }}", user_id, false, "", "", repo_id, makeSubmission);
            }
            e.stopPropagation();
        });
    });
</script>

{% macro render_textbox(textbox) %}
    {% for image in textbox.images %}
        <img src="{{ image.src }}"
        {% if image.image_width > 0 %}
            width="{{ image.image_width }}"
        {% endif %}
        {% if image.image_height > 0 %}
            height="{{ image.image_height }}"
        {% endif %}
        />
    {% endfor %}

    <p style="max-width: 50em;">
        {{ textbox.label }}
        <br>
        {% if textbox.rows == 0 %}
            <input type="text" name="textbox_{{ textbox.index }}" id="textbox_{{ textbox.index }}" onKeyPress="handle_textbox_keypress();">
        {% else %}
            <textarea rows="{{ textbox.rows }}" cols="50"  style="width:60em; height:100%;" name="textbox_{{ textbox.index }}" id="textbox_{{ textbox.index }}" onKeyPress="handle_textbox_keypress();"></textarea>
            {#
                Allow tab in the larger text boxes (normally tab moves to the next textbox)
                http://stackoverflow.com/questions/6140632/how-to-handle-tab-in-textarea
            #}
            <script>
                $("#textbox_{{ textbox.index }}").keydown(function(e) {
                    if(e.keyCode === 9) { // tab was pressed
                        // get caret position/selection
                        var start = this.selectionStart;
                        var end = this.selectionEnd;
                        var $this = $(this);
                        var value = $this.val();
                        // set textarea value to: text before caret + tab + text after caret
                        $this.val(value.substring(0, start)
                            + "\t"
                            + value.substring(end));
                        // put caret at right position again (add one for the tab)
                        this.selectionStart = this.selectionEnd = start + 1;
                        // prevent the focus lose
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                });
            </script>
        {% endif %}
    </p>
    <br>
{% endmacro %}
