<div style="margin-top: 20px;">
        {% if graded_percentage != -1 or core.getUser().accessFullGrading() or peer %}
            {% if core.getUser().getGradingRegistrationSections()|length != 0 %}
                {%  if team_assignment %}
                    <details class="btn btn-primary" id="details_button">
                        <summary float="left">
                            <a id="zip_link_limited"
                                href="{{ download_zip_url }}">
                                Download Zip of Assigned Teams
                            </a>
                        </summary>

                        <div>
                            <form class="dropdown">
                                <input type="checkbox" id="results_folder" onclick="editZipDownload( '{{ download_zip_url }}', true )">
                                <label for="results_folder"> Include Results Folder</label><br>
                                <input type="checkbox" id="active_version" onclick="editZipDownload( '{{ download_zip_url }}', true )">
                                <label for="active_version"> Only Current Active Version</label><br>
                            </form>
                        </div>
                    </details>
                {% else %}
                    <details class="btn btn-primary" id="details_button">
                        <summary float="left">
                            <a id="zip_link_limited"  
                                href="{{ download_zip_url }}">
                                Download Zip of Assigned Students
                            </a>
                        </summary>

                        <div>
                            <form class="dropdown">
                                <input type="checkbox" id="results_folder" onclick="editZipDownload( '{{ download_zip_url }}', true )">
                                <label for="results_folder"> Include Results Folder</label><br>
                                <input type="checkbox" id="active_version" onclick="editZipDownload( '{{ download_zip_url }}', true )">
                                <label for="active_version"> Only Current Active Version</label><br>
                            </form>
                        </div>
                    </details>
                {% endif %}

            {% endif %}
            {% if core.getUser().accessFullGrading() and submitted_total %}
                <details class="btn btn-default" id="details_button">
                    <summary float="left">
                        <a id="zip_link_full"
                            href="{{ download_zip_url }}?type=all">
                            Download Zip of All Students
                        </a>
                    </summary>
                   
                    <div>
                        <form class="dropdown">
                            <input type="checkbox" id="results_folder" onclick="editZipDownload( '{{ download_zip_url }}', false )">
                            <label for="results_folder"> Include Results Folder</label><br>
                            <input type="checkbox" id="active_version" onclick="editZipDownload( '{{ download_zip_url }}', false )">
                            <label for="active_version"> Only Current Active Version</label><br>
                        </form>
                    </div>
                </details>
            {% endif %}
            {% if core.getUser().accessFullGrading() %}
                <a class="btn btn-default"
                   href="{{ bulk_stats_url }}"style="float: right">
                    Bulk Upload Forensics
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>