Name: ________________________________________
<span style="float:right;">
        Date: ____________________
        </span>
<br />
<b>{{ gradeable.getTitle() }}</b>
<span style="float:right;">
        Section: <b>{{ section }}</b>
        </span>
<br />
<br />

{% set width = 50 / checkpoints|length %}

{# This is a data table #}
<table border="1" width="100%">
    <caption />
    <thead>
        <tr>
            <th style="width: 10%">User Id</th>
            <th style="width: 20%">Given Name</th>
            <th style="width: 20%">Family Name</th>
            {% for checkpoint in checkpoints %}
                <th style="width: {{ width }}%">{{ checkpoint }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for student in students %}
        <tr style="background-color: {{ loop.index0 % 2 == 0 ? "white" : "lightgrey" }}">
            <td>
                {{ student.getId() }}
            </td>
            <td>
                {{ student.getDisplayedGivenName() }}
            </td>
            <td>
                {{ student.getDisplayedFamilyName() }}
            </td>
            {% for checkpoint in checkpoints %}
                <td></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
