{% import 'functions/Badge.twig' as Badge %}
{% import _self as self %}

<script>
$( document ).ready(function() {
    var numPosts = $('.post_box').length;
    if (numPosts > 0) {
        $("#regradeBoxSection").show();
        $("#ShowRegradeRequestButton").hide();
    }
});
</script>

{% if not been_ta_graded %}
    <br>
    <h3>This assignment has not been graded yet</h3>
{% elseif not active_same_as_graded %}
    <br>
    <h3>The version you have selected to be graded above does not match the version graded by your TA/instructor, please contact TA/instructor if necessary to resolve the problem.</h3>
{% elseif not grading_complete %}
    <br>
    <h3>Grading not complete, please contact an instructor/grader</h3>
{% else %}
    <div class="sub">

        {# Overview #}
        <div class="box" style="padding: 10px; word-break: break-word;">
            <p>Version #{{ ta_graded_version }}</p>
            {% if regrade_available %}
                <i>Grade inquiries are due by {{ regrade_date }}</i>
            {% endif %}
            {% for user in ordered_graders if overall_comments[user] is not empty %}
                <div class="overall-comment-box">
                    <p class="overall-comment-author">
                        Overall note from {{peer_aliases[user]}}:
                    </p>
                    <p class="overall-comment">
                        <span class='gradeable_comment'>{{ overall_comments[user] | nl2br }}</span>
                    </p>
                </div>
            {% endfor %}
        </div>

        {% if uploaded_pdfs|length >= 1 %}
            <div class = "row" style="float: right">
                    <div class="col-sm-2" style=" padding: 10px; width: 25%; word-break: break-word; display: inline-block">
                        <p style="text-align:center">File Name:</p>
                    </div>
                    <div class="col-sm-3" style="text-align:center; padding: 10px; width: 25%; word-break: break-word; display: inline-block">
                        <p style="text-align:center">&nbsp;&nbsp;Original:</p>
                    </div>
                    <div class="col-sm-3" style="text-align:center; padding: 10px; width: 25%; word-break: break-word; display: inline-block">
                        <p style="text-align:center"> &nbsp;&nbsp;&nbsp;&nbsp;Grader Feedback:</p>
                    </div>
                <div class="row">
                    <div class="box col-sm-3" style="float: right; padding: 20px; width: 25%; word-break: break-word; display: inline-block">
                        {% for file in files %}
                            {% if loop.index != uploaded_pdfs|length %}
                                <div style="margin-bottom: 2em">
                                    {{ file.relative_name }}
                                </div>
                            {% else %}
                                {{ file.relative_name }}
                            {% endif %}

                        {% endfor %}
                    </div>
                    <div class="box col-sm-6" style="padding: 10px; width: 40%; word-break: break-word; display: inline-block">
                        {% for file in files %}
                            <p style="text-align:center">
                                {# download icon if student can download files #}
                                {% if can_download %}
                                    <button class = 'btn btn-default' onclick='downloadFile("{{ file.path|url_encode }}", "submissions")' aria-label="Download the file"> Download
                                        <i class="fas fa-download" title="Download the file"></i></button>
                                {% endif %}
                                <a class="btn btn-primary" onclick="openUrl('{{ student_pdf_view_url }}?filename={{ file.relative_name }}')">View Popup <i class="fas fa-window-restore"></i></a>
                            </p>
                            {% if loop.index != files|length %}
                                <br />
                            {% endif %}
                        {% endfor %}
                        {% if can_download and files|length > 1 %}
                            <hr>
                            <p style="text-align:center">
                                Download all files: <button class = "btn btn-default" onclick='downloadSubmissionZip("{{ gradeable_id }}", "{{ user_id }}", "{{ display_version }}")' aria-label="Download zip of all files" > Download Zip
                                    <i class="fas fa-download" title="Download zip of all files"></i></button>
                            </p>
                        {% endif %}
                    </div>
                    <div class="box col-sm-3" style="padding: 10px; width: 30%; word-break: break-word; display: inline-block">
                        {% for file in uploaded_pdfs %}
                            {% if file.name in annotated_file_names %}
                                {% if loop.index != uploaded_pdfs|length %}
                                    <div style="margin-bottom: 1.28em">
                                        <p style="text-align:center"> {#<a class="btn btn-primary" onclick="openUrl('{{ core.buildUrl({'component':'student', 'page':'PDF', 'action':'download_annotated_pdf', 'gradeable_id': gradeable_id, 'file_name': file.name}) }}')">Download <i class="fas fa-download"></i></a>#}
                                            <a class="btn btn-success" onclick="openUrl('{{ student_pdf_view_url }}?filename={{ file.name }}')">View Popup <i class="fas fa-window-restore"></i></a></p>
                                    </div>
                                {% else %}
                                    <p style="text-align:center"> {#<a class="btn btn-primary" onclick="openUrl('{{ core.buildUrl({'component':'student', 'page':'PDF', 'action':'download_annotated_pdf', 'gradeable_id': gradeable_id, 'file_name': file.name}) }}')">Download <i class="fas fa-download"></i></a>#}
                                        <a class="btn btn-success" onclick="openUrl('{{ student_pdf_view_url }}?filename={{ file.name }}')">View Popup <i class="fas fa-window-restore"></i></a></p>
                                {% endif %}
                            {% else %}
                                {% if loop.index != uploaded_pdfs|length %}
                                    <div style="margin-bottom: 3.4em"></div>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>

            </div>
        {% endif %}
        {# /Overview #}

        {% if (peer_score >= peer_max) %}
            <canvas id="confetti_canvas"></canvas>
        {% endif %}

        {% if peer_components | length > 0 %}
            <div class="box submission-page-total-header">
                <div class="box-title-total"
                    {% if peer_score >= peer_max %}
                        onclick="addConfetti();" style="cursor:pointer;"
                    {% endif %}>

                    <h4>Peer Grading Total</h4>
                </div>
            </div>

            {# Peer Component boxes #}
            {% for component in peer_components %}
                {% if component.peer_ids | length <= 5 %}
                    {{ self.renderFewPeerResults(component, peer_aliases, ordered_graders)  }}
                {% else %}
                    {{ self.renderManyPeerResults(component) }}
                {% endif %}                
            {% endfor %}
            {# /Peer Component boxes #}
        {% endif %}
    {# /Total auto + manual #}
    </div>
    {% if regrade_available %}
        <div id="ShowRegradeRequestButton">
            <button type="button" title="Open Grade Inquiry" onclick="$('#regradeBoxSection').show();$([document.documentElement, document.body]).animate({scrollTop: $('#regradeBoxSection').offset().top}, 1000);$(this).hide()" style="margin-right:10px;" class="btn btn-default">Open Grade Inquiry</button>
        </div>
    {% endif %}
{% endif %}


{%- macro renderManyPeerResults(component) -%}
    <div class="box grade-results">
        <div class="box-badge">
            {{ Badge.render(component.total_score, component.points_possible, component.extra_credit) }}
        </div>
        <div class="box-info" style="width:100%">
            <h4>
                {{ component.title|escape }}
            </h4>
            <div style="float:left; width:100%;">
                <p style="padding-bottom: 10px;">
                    {{ component.student_comment|nl2br }}
                </p>
                <p>

                {# This is a layout table #}
                <table class="mobile-table">
                     <thead>
                        <tr>
                            <th class="peer-table-header" style="width:90px;"># of Peers</th>
                            <th class="peer-table-header"> Points </th>
                            <th class="peer-table-title-data"> Title  </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mark in component.marks|filter((mark) => mark.show_mark) %}
                            <tr>
                                <td class="peer-table-data">
                                    {{ mark.num_earned }}
                                </td>
                                <td class="peer-table-data">
                                    {{ mark.points|number_format(num_decimals) }}
                                </td>
                                <td class="peer-table-title-data">
                                    {{ mark.title|nl2br }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>
{%- endmacro -%}


{%- macro renderFewPeerResults(component, peer_aliases, ordered_graders) -%}
    <div class="box grade-results">
        <div class="box-badge">
            {{ Badge.render(component.total_score, component.points_possible, component.extra_credit) }}
        </div>
        <div class="box-info" style="width:100%">
            <h4>
                {{ component.title|escape }}
            </h4>
            <div style="float:left; width:100%;">
                <p style="padding-bottom: 10px;">{{ component.student_comment|nl2br }}</p>
                <p>

                {# This is a layout table #}
                <table class="mobile-table">
                     <thead>
                        <tr>
                            {% for grader in ordered_graders if grader in component.peer_ids %}
                                <th class="peer-table-header">
                                    {{ peer_aliases[grader] }}
                                </th>
                            {% endfor %}
                            <th> Points </th>
                            <th class="peer-table-title-data"> Title  </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mark in component.marks|filter((mark) => mark.show_mark) %}
                            <tr>
                                {% for grader in ordered_graders if grader in component.peer_ids %}
                                    <td class="peer-table-data">
                                        {% if mark.earned[grader] %}
                                            <div class="col-no-gutters indicator">
                                                <i class="far fa-check-square fa-1g"></i>
                                            </div>
                                        {% else %}
                                            <div class="col-no-gutters indicator">
                                                <i class="far fa-square fa-1g"></i>
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td class="peer-table-data">
                                    {{ mark.points|number_format(num_decimals) }}
                                </td>
                                <td class="peer-table-title-data">
                                    {{ mark.title|nl2br }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>
{%- endmacro -%}
