{% import 'functions/Badge.twig' as Badge %}
{% import _self as self %}

{% if not gradeable.beenTAgraded() %}
    <br>
    <h3>This assignment has not been graded yet</h3>
{% elseif not active_same_as_graded %}
    <br>
    <h3>The version you have selected to be graded above does not match the version graded by your TA/instructor, please contact TA/instructor if necessary to resolve the problem.</h3>
{% elseif not grading_complete %}
    <br>
    <h3>Grading not complete, please contact an instructor/grader</h3>
{% else %}
    <div class="sub">
        {# Overview #}
        <div class="box half" style="padding: 10px; width: 40%; word-break: break-word;">
            <p>Version #{{ gradeable.getActiveVersion() }} graded by: {{ grader_names|join(", ") }}</p>
            <i>Any regrade requests are due within 7 days of posting</i>
            <p>
                {% if gradeable.getOverallComment()|length != 0 %}
                    <hr>
                    Overall note from Grader:
                    <span class='gradeable_comment'>{{ gradeable.getOverallComment() }}</span>
                {% endif %}
            </p>
        </div>
        {% if gradeable.getLateDays() > 0 %}
            <a name="show_late_table" style="float:right" class="btn btn-primary" href="{{ core.buildUrl({'component': 'student', 'page': 'view_late_table', 'g_id': gradeable.getId()}) }}">Show my late days information</a>
        {% endif %}
        <div class="box half" style="float: right; width: 25%; word-break: break-word">
            View/Download submission with feedback:
            <br />
            {% for file in uploaded_files %}
                {{ file.name }}
                <a class="btn btn-primary">Download <i class="fa fa-download"></i></a>
                <a class="btn btn-primary" onclick="openUrl('{{ core.buildUrl({'component':'student', 'page':'PDF', 'action':'view_annotated_pdf', 'gradeable_id': gradeable.getId(), 'file_name': file.name}) }}')">View Popup <i class="fa fa-window-restore"></i></a>
            {% endfor %}
        </div>
        {# /Overview #}

        {# Manual total #}
        <div class="box">
            <div class="box-title">
                {{ Badge.render(graded_score, graded_max, false) }}
                <h4>{{ has_autograding ? "TA / Instructor Grading Subtotal" : "Total" }}</h4>
            </div>
        </div>
        {# /Manual total #}

        {# Component boxes #}
        {% for component in gradeable.getComponents() %}
            {# Todo: This is heinous #}
            {% set extra_credit = component.getTitle()|lower|trim == "extra credit" %}

            <div class="box">
                <div class="box-title">
                    {{ Badge.render(component.getGradedTAPoints(), component.getMaxValue(), extra_credit) }}
                    <h4>{{ component.getTitle() }}
                        {# Grader only shows up if they are not peer and full access #}
                        {% if not gradeable.getPeerGrading() and component.getGrader().accessFullGrading() %}
                            <i>(Graded by: {{ component.getGrader().getLastName() }})</i>
                        {% endif %}
                    </h4>
                    <div style="float:left; word-break: break-word;">
                        <p style="padding-bottom: 10px;">{{ component.getStudentComment() }}</p>
                        <p>
                            <table class="gradeable_comment">
                                {% for mark in component.getMarks() if mark.getHasMark() or mark.getPublish() == 't' %}
                                    <tr>
                                        <td>
                                            {% if mark.getHasMark() %}
                                                <i class="fa fa-check-square-o fa-1g"></i>
                                            {% else %}
                                                <i class="fa fa-square-o fa-1g"></i>
                                            {% endif %}
                                        </td>
                                        <td style="text-align: right">
                                            {{ mark.getPoints()|number_format(num_decimals) }}
                                        </td>
                                        <td>
                                            {{ mark.getNote() }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if component.getScore() != 0 or component.getComment() != '' %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-check-square-o fa-1g"></i>
                                        </td>
                                        <td style="text-align: right">
                                            {{ component.getScore()|number_format(num_decimals) }}
                                        </td>
                                        <td>
                                            {{ component.getComment() }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {# /Component boxes #}

        {# Total auto + manual #}
        {% if has_autograding %}
            <div class="box">
                <div class="box-title" style="padding-top: 15px; padding-bottom: 15px;">
                    {{ Badge.render(total_score, total_max, false) }}
                    <h4>Total</h4>
                </div>
            </div>
        {% endif %}
        {# /Total auto + manual #}
    </div>
    {% if regrade_enabled == true %}
    <div id="ShowRegradeRequestButton">
        <button type="button" title="Show Regrade Requests" onclick="toggleRegradeRequests()" style="margin-right:10px;" class="btn btn-default"> Show Regrade Request </button>
    </div>
    {% endif %}
{% endif %}
