{% import 'functions/Badge.twig' as Badge %}
{% import _self as self %}

{% if not been_ta_graded %}
    <br>
    <h3>This assignment has not been graded yet</h3>
{% elseif not active_same_as_graded %}
    <br>
    <h3>The version you have selected to be graded above does not match the version graded by your TA/instructor, please contact TA/instructor if necessary to resolve the problem.</h3>
{% elseif not grading_complete %}
    <br>
    <h3>Grading not complete, please contact an instructor/grader</h3>
{% else %}
    <div class="sub">
        {# Overview #}
        <div class="box half" style="padding: 10px; width: 40%; word-break: break-word;">
            <p>Version #{{ ta_graded_version }} graded by: {{ grader_names|join(", ") }}</p>
            {% if regrade_available %}
                <i>Grade inquiries are due by {{ regrade_date }}</i>
            {% endif %}
            <p>
                {% if overall_comment|length != 0 %}
            <hr>
            Overall note from Grader:
            <span class='gradeable_comment'>{{ overall_comment|nl2br }}</span>
            {% endif %}
            </p>
        </div>
        {% if any_late_days_used %}
            <a name="show_late_table" style="float:right" class="btn btn-primary" href="{{ late_days_url }}">Show my late days information</a>
        {% endif %}
        {% if uploaded_pdfs|length >= 1 %}
        <div class="box half" style="float: right; width: 25%; word-break: break-word">
            View/Download submission with feedback:
            <br />
            {% for file in uploaded_pdfs %}
                {{ file.name }}
                {#<a class="btn btn-primary" onclick="openUrl('{{ core.buildUrl({'component':'student', 'page':'PDF', 'action':'download_annotated_pdf', 'gradeable_id': gradeable_id, 'file_name': file.name}) }}')">Download <i class="fas fa-download"></i></a>#}
                <a class="btn btn-primary" onclick="openUrl('{{ core.buildUrl({'component':'pdf', 'page':'student_pdf_view', 'gradeable_id': gradeable_id, 'file_name': file.name}) }}')">View Popup <i class="fas fa-window-restore"></i></a>
            {% endfor %}
        </div>
        {% endif %}
        {# /Overview #}

        {# Manual total #}
        <div class="box">
            <div class="box-title">
                {{ Badge.render(graded_score, graded_max, false) }}
                <h4>{{ has_autograding ? "TA / Instructor Grading Subtotal" : "Total" }}</h4>
            </div>
        </div>
        {# /Manual total #}

        {# Component boxes #}
        {% for component in components %}
            <div class="box grade-results">
                <div class="box-badge">
                    {{ Badge.render(component.total_score, component.points_possible, component.extra_credit) }}
                </div>
                <div class="box-info">
                    <h4>{{ component.title|escape }}
                        {% if not is_peer and component.graders|length != 0 %}
                            <i>(Graded by: {{ component.graders|join(' / ') }})</i>
                        {% endif %}
                    </h4>
                    <div style="float:left; word-break: break-word;">
                        <p style="padding-bottom: 10px;">{{ component.student_comment|nl2br }}</p>
                        <p>
                        {# This is a layout table #}
                        <table class="gradeable_comment">
                            {% for mark in component.marks|filter((mark) => mark.show_mark) %}
                                <tr>
                                    <td>
                                        {% if mark.earned %}
                                            <i class="far fa-check-square fa-1g"></i>
                                        {% else %}
                                            <i class="far fa-square fa-1g"></i>
                                        {% endif %}
                                    </td>
                                    <td class="mark-score">
                                        {{ mark.points|number_format(num_decimals) }}
                                    </td>
                                    <td>
                                        {{ mark.title|nl2br }}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if component.custom_mark_score != 0 or component.comment != '' %}
                                <tr>
                                    <td>
                                        <i class="far fa-check-square fa-1g"></i>
                                    </td>
                                    <td class="mark-score">
                                        {{ component.custom_mark_score|number_format(num_decimals) }}
                                    </td>
                                    <td>
                                        {{ component.comment|nl2br }}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {# /Component boxes #}

        {# Total auto + manual #}
        {% if has_autograding %}
            <div class="box">
                <div class="box-title"
                    {% if total_score >= total_max %}
                        onclick="addConfetti();" 
                        style="padding-top: 15px; padding-bottom: 15px; cursor:pointer;" 
                    {% else %}
                        style="padding-top: 15px; padding-bottom: 15px;"
                    {% endif %}
                >
                    {{ Badge.render(total_score, total_max, false) }}
                    <h4>Total</h4>
                </div>
            </div>
            <canvas id="confetti_canvas"></canvas>
        {% endif %}
        {# /Total auto + manual #}
    </div>
    {% if regrade_available %}
        <div id="ShowRegradeRequestButton">
            <button type="button" title="Submit Grade Inquiry" onclick="toggleRegradeRequests()" style="margin-right:10px;" class="btn btn-default">Submit Grade Inquiry</button>
        </div>
    {% endif %}
{% endif %}
