{% import 'functions/Badge.twig' as Badge %}
{% import 'functions/TAResultsFunctions.twig' as TAResultsFunctions %}
{% import _self as self %}

<script>
$( document ).ready(function() {
    var numPosts = $('.post_box').length;
    if (numPosts > 0) {
        $("#gradeInquiryBoxSection").show();
        $("#ShowGradeInquiryButton").hide();
    }
    {% if not active_same_as_graded %}
        $(".ta-results-box").css('background-color', 'var(--standard-light-red)')
    {% endif %}
});
</script>
{% if not been_ta_graded %}
    <h3>This assignment has not been graded yet, please contact an instructor/grader.</h3>
{% elseif not grading_complete %}
    <h3>Grading not complete, please contact an instructor/grader.</h3>
{% else %}
    <div class="sub">
        {% if not active_same_as_graded %}
            <h3 data-testid="version-conflict-ta">A
            <a href="https://submitty.org/student/submission/submission_version_conflict" target="_blank"> Version Conflict <i class="fa-question-circle" style="font-style:normal;"></i></a>
            has been detected in your submission. A grade of zero will be recorded in the gradebook. Please resolve as necessary.</h3>
            <br>
        {% endif %}
        {% if ta_components | length > 0 %}
            {# TA/Instructor Manual total #}
            <div class="box submission-page-total-header" data-testid="ta-total-score">
                <div class="box-title-total key_to_click" tabindex="0">

                    {{ Badge.render(ta_score, ta_max, false, active_same_as_graded) }}
                    <h4>TA / Instructor Grading Total</h4>
                </div>
            </div>
            {# /TA/Instructor Manual total #}

            {# TA Component boxes #}
            {% for component in ta_components %}
                {{ TAResultsFunctions.renderComponent(component, false, num_decimals, active_same_as_graded) }}
            {% endfor %}
        {% endif %}

        {% if grader_info is not empty %}
        <div class="no-border-box" style="padding: 10px; word-break: break-word;">
            {% for user in grader_info | keys | sort %}
                <div class="overall-comment-box">
                    <p class="overall-comment-author">
                        Overall note from {{grader_info[user].display_name}}:
                    </p>
                    {% if grader_info[user].comment is not empty %}
                    <p class="overall-comment">
                        <span class='gradeable_comment'>
                            {% include 'misc/Markdown.twig' with {
                                content: grader_info[user].comment
                            } only %}
                        </span>
                    </p>
                    {% endif %}
                    {% if grader_info[user].attachments is not empty %}
                    <div id="attachments-{{ user | escape }}">
                        {% for file in grader_info[user].attachments %}
                            {% include "autograding/Attachments.twig" with {
                                file: file,
                                id: "a-" ~ loop.parent.loop.index ~ "-" ~ loop.index,
                                is_grader_view: false,
                                can_modify: false
                            } only %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {# /Overview #}
        </div>
        {# Overview #}
        {# /Component boxes #}
    <div id="grade-inquiry-container" data-testid="grade-inquiry-container">
        {% if is_grade_inquiry_valid %}
            {% if is_grade_inquiry_yet_to_start %}
                <i>Grade Inquiries will start from</i> <b>{{ grade_inquiry_start_date|date(date_time_format)  }}</b>
            {% elseif grade_inquiry_available %}
                <i>Grade inquiries are due by</i> <b>{{ grade_inquiry_due_date|date(date_time_format)  }}</b>
                <div id="ShowGradeInquiryButton">
                    <button type="button" title="Open Grade Inquiry" onclick="$('#gradeInquiryBoxSection').show();$([document.documentElement, document.body]).animate({scrollTop: $('#gradeInquiryBoxSection').offset().top}, 1000);$(this).hide()" style="margin-right:10px;" class="btn btn-default" tabindex="0">Open Grade Inquiry</button>
                </div>
            {% elseif is_grade_inquiry_ended %}
                <i>Grade inquiries closed on</i> <b>{{ grade_inquiry_due_date|date(date_time_format)  }}</b>
            {% endif %}
        {% else %}
            <i>There will be no grade inquiries. Contact the instructor if this is a mistake.</i>
        {% endif %}
    </div>
{% endif %}
