{% import 'functions/Badge.twig' as Badge %}
{% import 'functions/TAResultsFunctions.twig' as TAResultsFunctions %}
{% import _self as self %}

<script>
$( document ).ready(function() {
    var numPosts = $('.post_box').length;
    if (numPosts > 0) {
        $("#regradeBoxSection").show();
        $("#ShowRegradeRequestButton").hide();
    }
});
</script>

{% if not been_ta_graded %}
    <br>
    <h3>This assignment has not been graded yet</h3>
{% elseif not active_same_as_graded %}
    <br>
    <h3>The version you have selected to be graded above does not match the version graded by your TA/instructor, please contact TA/instructor if necessary to resolve the problem.</h3>
{% elseif not grading_complete %}
    <br>
    <h3>Grading not complete, please contact an instructor/grader</h3>
{% else %}
    <div class="sub">
        {% if ta_components | length > 0 %}
            {# TA/Instructor Manual total #}
            <div class="box submission-page-total-header">
                <div class="box-title-total key_to_click" tabindex="0">

                    {{ Badge.render(ta_score, ta_max, false) }}
                    <h4>TA / Instructor Grading Total</h4>
                </div>
            </div>
            {# /TA/Instructor Manual total #}

            {# TA Component boxes #}
            {% for component in ta_components %}
                {{ TAResultsFunctions.renderComponent(component, false, num_decimals) }}
            {% endfor %}
        <div class="no-border-box" style="padding: 10px; word-break: break-word;">
            {% for user in overall_comments | keys | sort %}
                <div class="overall-comment-box">
                    <p class="overall-comment-author">
                        Overall note from {{user}}:
                    </p>
                    <p class="overall-comment">
                        <span class='gradeable_comment'>{{ overall_comments[user] | nl2br }}</span>
                    </p>
                </div>
            {% endfor %}
        </div>

        {% if uploaded_pdfs|length >= 1 %}
            <div class = "no-border-box">
                <div class="row">
                    <div class="no-border-box col-sm-3" style="float: right; padding: 20px; width: 25%; word-break: break-word; display: inline-block">
                        <b>Grader Feedback</b>
                        </br>
                        {% for file in files %}
                            {% if loop.index != uploaded_pdfs|length %}
                                <div style="margin-bottom: 2em">
                                    {{ file.relative_name }}
                                </div>
                            {% else %}
                                {{ file.relative_name }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="no-border-box col-sm-5" style="float: center; padding: 40px; width: 40%; word-break: break-word; display: inline-block">
                        {% for file in files %}
                            <p style="text-align:center; vertical-align: middle;">
                                {# download icon if student can download files #}
                                <a class="btn btn-primary key_to_click" tabindex="0" style="margin-right:20px;" onclick="openFile('{{ display_original_pdf }}?dir=submissions&path={{ file.path|url_encode }}')">View Popup<i class="fas fa-window-restore"></i></a>
                                {% if can_download %}
                                    <button class = 'btn btn-default key_to_click' onclick='downloadFile("{{ file.path|url_encode }}", "submissions")' aria-label="Download the file"> Download
                                        <i class="fas fa-download" title="Download the file"></i></button>
                                {% endif %}
                            </p>
                            {% if loop.index != files|length %}
                                <br />
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="no-border-box col-sm-3" style="float: center; padding: 40px; width: 40%; word-break: break-word; display: inline-block">
                    {% if can_download %}
                        <p style="text-align:center; vertical-align: middle;">
                            Download all files: <button class = "btn btn-default key_to_click" tabindex="0" onclick='downloadSubmissionZip("{{ gradeable_id }}", "{{ user_id }}", "{{ display_version }}")' aria-label="Download zip of all files" > Download Zip
                                <i class="fas fa-download" title="Download zip of all files"></i></button>
                        </p>
                    {% endif %}
                    </div>
                </div>

                {% if annotated_file_names|length > 0 %}
                    <div class="row">
                        <div class="no-border-box col-sm-3" style="float: right; padding: 20px; width: 25%; word-break: break-word; display: inline-block">
                            <b>Annotated Feedback</b>
                            </br>
                            {% for file in uploaded_pdfs %}
                                {% if file.encoded_name in annotated_file_names %}
                                    {% if loop.index != uploaded_pdfs|length %}
                                        <div style="margin-bottom: 2em">
                                            {{ file.relative_name }}
                                        </div>
                                    {% else %}
                                        {{ file.relative_name }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="no-border-box col-sm-5" style="float: center; padding: 40px; width: 40%; word-break: break-word; display: inline-block">
                            {% for file in uploaded_pdfs %}
                                {% if file.encoded_name in annotated_file_names %}
                                    <p style="text-align:center; vertical-align: middle;">
                                        <a class="btn btn-success key_to_click" style="margin-right:20px;" tabindex="0" onclick="openUrl('{{ student_pdf_view_url }}?filename={{ file.name }}&path={{ file.path|url_encode }}')">View Popup <i class="fas fa-window-restore"></i></a>
                                        {% if can_download %}
                                            <button class = 'btn btn-default key_to_click' onclick='downloadStudentAnnotations("{{ student_pdf_download_url }}?filename={{ file.name }}&path={{ file.path|url_encode }}", "{{file.path|url_encode}}", "annotated_pdfs")' aria-label="Download the file"> Download
                                            <i class="fas fa-download" title="Download the file"></i></button>
                                        {% endif %}
                                    </p>
                                    {% if loop.index != files|length %}
                                        <br />
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {##}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {# /Overview #}
        </div>
        {# Overview #}
        {# /Component boxes #}
    {% endif %}
    {% if is_grade_inquiry_yet_to_start %}
        <i>Grade Inquiries will start from</i> <b>{{ grade_inquiry_start_date|date(date_time_format)  }}</b>
    {% elseif regrade_available %}
        <i>Grade inquiries are due by</i> <b>{{ grade_inquiry_due_date|date(date_time_format)  }}</b>
        <div id="ShowRegradeRequestButton">
            <button type="button" title="Open Grade Inquiry" onclick="$('#regradeBoxSection').show();$([document.documentElement, document.body]).animate({scrollTop: $('#regradeBoxSection').offset().top}, 1000);$(this).hide()" style="margin-right:10px;" class="btn btn-default key_to_click" tabindex="0">Open Grade Inquiry</button>
        </div>
    {% elseif is_grade_inquiry_ended %}
        <i>Grade inquiries closed on</i> <b>{{ grade_inquiry_due_date|date(date_time_format)  }}</b>
    {% endif %}
{% endif %}
