{#
Required Input:
    component: {id}
    show_mark_list: If the marks table should be started hidden or not
#}

{% set mark_list_visibility = show_mark_list ? '' : 'hidden' %}
<div class="box component" data-component_id="{{ component.id }}" onclick="{% block component_click %}{% endblock %}">

    {# Title bar #}
    <div class="box-title">
        {% block badge_block %}
        {% endblock %}

        <span>
            {% block header_block %}{% endblock %}
        </span>
        <br/>

        <span data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
            {% block ta_note %}
            {% endblock %}
        </span>

        <span data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
            {% block student_note %}
            {% endblock %}
        </span>

        {# Page number #}
        <span data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
            {% block page_number %}
            {% endblock %}
        </span>

        {# Saving status #}
        {% import "SavingTools.twig" with {
            'editable': show_mark_list,
            'cancel_on_click': disabled ? '' : 'onCancelComponent(this)'
        } only %}
    </div>
    {# /Title bar #}

    {# Marks table #}
    <table class="ta-rubric-table" data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
        {% for mark in component.marks %}
            {% set first_mark = loop.index0 == 0 %}
            {% block mark_parameters %}{% endblock %}
            {% include "Mark.twig" %}
        {% endfor %}
    </table>
    {# /Marks table #}

    {% block mark_list_footer %}
    {% endblock %}
</div>