{#
Required Input:
    component: {id}
    show_mark_list: If the marks table should be started hidden or not
#}

{% set mark_list_visibility = show_mark_list ? '' : 'hidden' %}
<div id="component-{{ component.id }}"
     class="box component"
     data-component_id="{{ component.id }}"
     data-title="{{ component.title }}"
     data-ta_comment="{{ component.ta_comment }}"
     data-student_comment="{{ component.student_comment }}"
     data-page="{{ component.page }}">

    {# Title bar (only part that triggers collapse on click) #}
    <div class="box-title" onclick="{% block component_click %}{% endblock %}">
        {% block badge_block %}
        {% endblock %}

        <span>
            {% block header_block %}{% endblock %}
        </span>
        <br/>

        <span data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
            {% block ta_note %}
            {% endblock %}
        </span>

        <span data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
            {% block student_note %}
            {% endblock %}
        </span>

        {# Page number #}
        <span data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
            {% block page_number %}
            {% endblock %}
        </span>

        {# Saving status #}
        {% include "SavingTools.twig" with {
            'editable': show_mark_list,
            'cancel_on_click': disabled ? '' : 'onCancelComponent(this)'
        } only %}
    </div>
    {# /Title bar #}

    {# Marks table #}
    <div class="ta-rubric-table" data-component_id="{{ component.id }}" {{ mark_list_visibility }}>
        {# twig.js doens't support blocks inside of for loops ... ANNOYING #}
        {% block marks_block %}
        {% endblock %}
        {% if editable %}
            <div class="add-new-mark">
                <span onclick="onAddNewMark(this);">
                    <i class="fa fa-plus-square" aria-hidden="true">Add new mark</i>
                </span>
            </div>
        {% endif %}
        {% block extra_mark_rows %}
        {% endblock %}
    </div>
    {# /Marks table #}

    {% block mark_list_footer %}
    {% endblock %}
</div>