<span class="col-no-gutters badge-container edit-mode">
    <strong class="badge green-background">
        {{ component.max_value|round(decimal_precision) }} {{ extra_credit_points > 0 ? '(+' ~ extra_credit_points|round(decimal_precision) ~ ')' }} {{ penalty_points > 0 ? '(-' ~ penalty_points|round(decimal_precision) ~ ')' : '' }}
    </strong>
</span>

<span class="component-title col-no-gutters">
    <b><span class="component-title-text">{{ component.title|escape }}</span></b>
</span>

{% if component.page > 0 %}
    <span class="page-number-view col-no-gutters">
        <i>(Page # <span class="component-page-number-text">{{ component.page }}</span>)</i>
    </span>
{% endif %}

<span class="divider col"> </span>

<span class="col-no-gutters">
    {# Saving status #}
    {% include "SavingTools.twig" with {
        'show_save_tools': show_mark_list,
        'cancel_on_click': 'onCancelEditRubricComponent(this)'
    } only %}
</span>

<span class="col-no-gutters reorder-component-container" tabindex="0" onclick="event.stopPropagation()">
    <i class="fas fa-grip-lines" title="Click and drag to reorder components"></i>
</span>
<span class="col-no-gutters key_to_click" tabindex="0" onclick="onDeleteComponent(this); event.stopPropagation()">
    <i class="fas fa-trash" title="Delete this component"></i>
</span>
