{% extends "Component.twig" %}

{% set extra_credit_points = component.upper_clamp - component.max_value %}
{% set penalty_points = 0-component.lower_clamp %}

{% block component_click %}
    onClickComponent(this, true)
{% endblock %}

{% block header_block %}
    {% include 'EditComponentHeader.twig' %}
{% endblock %}

{% block content_block %}
    <div class="col-sm container">
        <div class="row divider"></div>

        {# Title / Page Number #}
        <div class="row">
            <div class="col-label-fixed">
                <label for="component-title-{{component.id}}">Title</label>
            </div>
            <div class="col component-title-container">
                <input id="component-title-{{component.id}}" class="component-title" type="text" value="{{ component.title|escape }}" placeholder="Component Title" onkeyup="onComponentTitleChange(this)"/>
            </div>
            {% if component.page > 0 %}
                <div class="col-no-gutters page-label">
                    <label for="page-number-{{component.id}}">Page #</label>
                </div>
                <div class="col-no-gutters">
                    <input id="page-number-{{component.id}}" class="page-number" type="number" step="1" min="1" value="{{ component.page }}" onchange="onComponentPageNumberChange(this)" onmouseup="onComponentPageNumberChange(this)">
                </div>
            {% else %}
                <input class="page-number" value="{{ component.page }}" aria-label="page number" hidden/>
            {% endif %}
        </div>

        {# TA Note #}
        <div class="row">
            <div class="col-label-fixed">
                <label for="ta-comment-{{component.id}}">Note to TAs</label>
            </div>
            <div class="col tight-right">
                <textarea id="ta-comment-{{component.id}}" class="ta-comment noscroll" onkeyup="auto_grow(this)" placeholder="Note to TAs">{{ component.ta_comment|escape }}</textarea>
            </div>
        </div>

        {# Student note #}
        <div class="row">
            <div class="col-label-fixed">
                <label for="student-comment-{{component.id}}">Note to Students</label>
            </div>
            <div class="col tight-right">
                <textarea id="student-comment-{{component.id}}" class="student-comment noscroll" onkeyup="auto_grow(this)" placeholder="Note to Students">{{ component.student_comment|escape }}</textarea>
            </div>
        </div>
        {# Choose if this component should be linke with itempool questions or not #}
        {% if itempool_available %}
            <fieldset id="link-item-pool-fieldset">
                <legend>
                    Link this component with the item-pool?<br>
                </legend>
                <input data-component-id="{{ component.id }}" type="radio" id="yes-link-item-pool-{{ component.id }}" name="link-item-pool" value="true" onchange="onItemPoolOptionChange({{ component.id }})"
                        {% if component.is_itempool_linked %} checked {% endif %} /> <label for="yes-link-item-pool-{{ component.id }}">Yes</label>
                <input data-component-id="{{ component.id }}" type="radio" id="no-link-item-pool-{{ component.id }}" name="link-item-pool" value="false" onchange="onItemPoolOptionChange({{ component.id }})"
                        {% if not component.is_itempool_linked %} checked {% endif %} /> <label for="no-link-item-pool-{{ component.id }}">No</label>
            </fieldset>
            {# Itempool question selector #}
            <div class="row {% if component.itempool is not defined or not component.itempool|length %} hide {% endif %}" id="component-itempool-{{component.id}}-cont">
                <div class="col-label-fixed col-6 select-label-itempool">
                    <label for="component-itempool-{{component.id}}">Select the item-pool question</label>
                </div>
                <div class="col tight-right col-6">
                    <select name="component-itempool" id="component-itempool-select-{{component.id}}" data-selected="{{ component.itempool }}">
                        {# options loaded from JS file #}
                    </select>
                </div>
            </div>
        {% endif %}
        {# Point Inputs #}
        <div class="row point-input-row">
            <label for="max-points-{{component.id}}" class="col-label-fixed">Points</label>
            <div class="col point-input-container">
                <input id="max-points-{{component.id}}"
                       class="max-points"
                       step="{{ precision }}"
                       type="number" min="0"
                       value="{{ component.max_value|round(decimal_precision) }}"
                       onchange="onComponentPointsChange(this)"
                       onmouseup="onComponentPointsChange(this)"/>
            </div>
        </div>
        <div class="row point-input-row">
            <label for="extra-credit-points-{{component.id}}" class="col-label-fixed">Additional Extra Credit Points</label>
            <div class="col point-input-container">
                <input id="extra-credit-points-{{component.id}}"
                       class="extra-credit-points"
                       step="{{ precision }}"
                       type="number" min="0"
                       value="{{ extra_credit_points|round(decimal_precision) }}"
                       onchange="onComponentPointsChange(this)"
                       onmouseup="onComponentPointsChange(this)"/>
            </div>
            <div class="col"><i>Student scores will be clamped from above to Points + Additional Extra Credit Points</i></div>
        </div>
        <div class="row point-input-row">
            <label for="penalty-points-{{component.id}}" class="col-label-fixed">Negative Penalty Points</label>
            <div class="col point-input-container">
                <input id="penalty-points-{{component.id}}"
                       class="penalty-points"
                       step="{{ precision }}"
                       type="number" min="0"
                       value="{{ component.lower_clamp|abs|round(decimal_precision) }}"
                       onchange="onComponentPointsChange(this)"
                       onmouseup="onComponentPointsChange(this)"/>
            </div>
            <div class="col"><i>Student scores will be clamped from below to min(0,-Negative Penalty Points)</i></div>
        </div>

        {# Count up / down #}
        <fieldset class="row point-input-row count-type-row">
            <legend class="col-label-fixed">How should points be assigned?</legend>
            <div class="col">
                <span class="radio-input">
                    <input type="radio" class="count-up-selector count-type-selector key_to_click" tabindex="0"
                           name="count-type-{{ component.id }}" {{ component.default == 0 ? 'checked' : '' }}
                           onclick="onClickCountUp(this)" id="grade_by_count_up_{{ component.id }}"> <label for="grade_by_count_up_{{ component.id }}">Grade by Count Up (from zero)</label>
                </span>
            </div>
            <div class="col">
                <span class="radio-input">
                    <input type="radio" class="count-down-selector count-type-selector key_to_click" tabindex="0"
                           name="count-type-{{ component.id }}" {{ component.default != 0 ? 'checked' : '' }}
                           onclick="onClickCountDown(this)" id="grade_by_count_down_{{ component.id }}"> <label for="grade_by_count_down_{{ component.id }}">Grade by Count Down (from "Points")</label>
                </span>
            </div>
        </fieldset>
        <div class="row divider"></div>
    </div>
{% endblock %}

{% block marks_block %}
    {% set show_publish = true %}
    {% for mark in component.marks %}
        {% set first_mark = loop.index0 == 0 %}
        {% include "Mark.twig" %}
    {% endfor %}
{% endblock %}
