{% extends "Component.twig" %}

{% block component_click %}
    onClickComponent(this)
{% endblock %}

{% set extra_credit_points = component.upper_clamp - component.max_value %}
{% set penalty_points = 0-component.lower_clamp %}
{% block left_block %}
    {# TODO: badge and point value assignments (peer too?) #}
    {% if show_mark_list %}
        <div class="container point-values">
            <div class="row">
                <div class="col point-label">Normal Points</div>
                <div class="col point-input-container">
                    <input class="max-points step="{{ precision }}" type="number" min="0" value="{{ component.max_value }}" onclick="event.stopPropagation()"/>
                </div>
            </div>
            <div class="row">
                <div class="col point-label">Extra Credit Points</div>
                <div class="col point-input-container">
                    <input class="extra-credit-points" step="{{ precision }}" type="number" min="0" value="{{ extra_credit_points }}" onclick="event.stopPropagation()"/>
                </div>
            </div>
            <div class="row">
                <div class="col point-label">Penalty Points</div>
                <div class="col point-input-container">
                    <input class="penalty-points" step="{{ precision }}" type="number" min="0" value="{{ component.lower_clamp|abs }}" onclick="event.stopPropagation()"/>
                </div>
            </div>
            <div class="row">
                <div class="col count-up-selector count-type-selector {{ component.default == 0 ? 'count-type-selected' : ''}}" onclick="onClickCountUp(this); event.stopPropagation()">
                    <span>Count Up</span>
                </div>
                <div class="col count-down-selector count-type-selector {{ component.default != 0 and component.default == component.max_value ? 'count-type-selected' : ''}}" onclick="onClickCountDown(this); event.stopPropagation()">
                    <span>Count Down</span>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    {% else %}
        <strong class="badge green-background">
            {{ component.max_value }} {{ extra_credit_points > 0 ? '(+' ~ extra_credit_points ~ ')' }} {{ penalty_points > 0 ? '(-' ~ penalty_points ~ ')' : '' }}
        </strong>
    {% endif %}
{% endblock %}

{% block title_block %}
    {% if show_mark_list %}
        <div class="col">
            <input class="component-title" type="text" value="{{ component.title }}" onclick="event.stopPropagation()"/>
        </div>
        {% if component.page > 0 %}
            <div class="col-no-gutters">
                <i>Page #:</i>
                <input class="page-number" type="number" step="1" min="1" value="{{ component.page }}" onclick="event.stopPropagation()"/>
            </div>
        {% endif %}
    {% else %}
        <b>{{ component.title }}</b>

        {% if component.page > 0 %}
            <i>Page #: {{ component.page }}</i>
        {% endif %}
    {% endif %}
{% endblock %}

{% block ta_comment_block %}
    <textarea class="ta-comment" placeholder="Note to TAs" onclick="event.stopPropagation()">{{ component.ta_comment }}</textarea>
{% endblock %}

{% block student_comment_block %}
    <textarea class="student-comment" placeholder="Note to Student" onclick="event.stopPropagation()">{{ component.student_comment }}</textarea>
{% endblock %}

{% block marks_block %}
    {% for mark in component.marks %}
        {% set first_mark = loop.index0 == 0 %}
        {% include "Mark.twig" %}
    {% endfor %}
{% endblock %}