{% extends "Component.twig" %}
{% import "Functions.twig" as functions %}
{#
Required inputs:
    precision
    component: {id, title, ta_comment, student_comment, page, total_points}
    graded_component: {grader_id, verifier_id, submitter_id, comment, score, mark_ids, graded_version, total_score}

    display_verify_grader = can_verify and grader_id is defined and grader_id != your_user_id
    disabled = version_conflict = graded_component.graded_version != -1 and graded_gradeable.auto_graded_gradeable.active_version != graded_component.graded_version
#}

{% block component_click %}
    {{ disabled ? '' : 'onClickComponent(this)' }}
{% endblock %}

{% block badge_block %}
    <strong id="grading_total"
            class="badge {{ functions.getBadgeStyle(graded_component.total_score, component.total_points) }}">
        {{ graded_component.total_score | default('-') }} / {{ component.total_points }}
    </strong>
{% endblock %}

{% block header_block %}
    <b>{{ component.title }}</b>

    {% if disabled %}
        <span class="version-warning">
            Please edit or ensure that comments from version {{ graded_component.graded_version }} still apply.
        </span>
    {% endif %}

    <span class="grader-container">
        {% if display_verify_grader %}
            <span class="verify-container">
                <input type="button" class="btn btn-default" onclick="onVerifyComponent(this)" value="Verify Grader"/>
            </span>
        {% endif %}
        <span class="graded-by">
            {% if graded_component.grader_id is defined %}
                Graded by {{ graded_component.grader_id }}
                {% if graded_component.verifier_id is defined %}
                    / {{ graded_component.verifier_id }}
                {% endif %}
            {% else %}
                Ungraded!
            {% endif %}
        </span>
    </span>
{% endblock %}

{% block ta_note %}
    {% if component.ta_comment != "" %}
        <div class="ta-student-note">
            <i><b>Note to TA: </b>{{ component.ta_comment }}</i>
        </div>
    {% endif %}
{% endblock %}

{% block page_number %}
    {% if component.page != 0 %}
        <i>Page #: {{ component.page }}</i>
    {% endif %}
{% endblock %}

{% block student_note %}
    {% if component.student_comment != "" %}
        <div class="ta-student-note">
            <i><b>Note to Student: </b>{{ component.student_comment }}</i>
        </div>
    {% endif %}
{% endblock %}

{% block mark_parameters %}
    {% set is_checked = mark.id in graded_component.mark_ids %}
{% endblock %}

{% block mark_list_footer %}
    {# Custom mark #}
    <div class="box" onclick="event.stopPropagation()">
        <span class="{{ graded_component.score == 0 and component.comment == "" ? "" : "mark-has" }} mark"></span>
        <input
                type="number"
                step="{{ precision }}"
                onchange="onCustomMarkChange(this)"
                data-component_index="{{ component.id }}"
                value="{{ graded_component.score }}" class="mark-score">
        Custom:
        <textarea
                onchange="onCustomMarkChange(this)"
                data-component_id="{{ component.id }}"
                cols="120"
                rows="1"
                placeholder="Custom message for student..."
                class="mark-note-custom"
        >{{ graded_component.comment }}</textarea>
    </div>
    {# /Custom mark #}
{% endblock %}
