{% set break_onclick = disabled ? "return false;" : "" %}
<table class="ta-rubric-table ta-rubric-table-background" id="rubric-table" data-gradeable_id="{{ gradeable.id }}" data-user_id="{{ gradeable.user_id }}" data-active_version="{{ gradeable.active_version }}" data-num_questions="{{ gradeable.components|length }}" data-your_user_id="{{ your_user_id }}">
    <tbody>
    {# Components #}
        {% for component in gradeable.components %}
            {% if component.order != -1 %}
                {% set c_index = loop.index %}
                {% include "Component.twig" %}
            {% endif %}
        {% endfor %}
    {# /Components #}

    {# General Comment #}
        <div class="box" style="background-color:#E9EFEF;">
            <div class="box-title" style="cursor: pointer" onclick="{{ break_onclick }}; toggleGeneralMessage(true);">
                <span id="title-general" style="cursor: pointer" onclick="{{ break_onclick }}; toggleGeneralMessage(true);" data-changebg="true">
                    <b>General Comment</b>
                    <span style="float: right;">
                        <span id="save-mark-general" style="cursor: pointer;  display: none;" data-changedisplay1="true"> <i class="fa fa-check" style="color: green;" aria-hidden="true">Done</i> </span>
                    </span>
                </span>
                <span id="title-cancel-general" style="cursor: pointer; display: none; width: 5%" colspan="0" data-changebg="true" data-changedisplay1="true">
                    <span id="cancel-mark-general" onclick="{{ break_onclick }}; closeGeneralMessage(false);" style="cursor: pointer; display: none; float: right;" data-changedisplay1="true"> <i class="fa fa-times" style="color: red;" aria-hidden="true">Cancel</i></span>
                </span>
            </div>
            <div>
                <div class="box" id="summary-general" style="" onclick="{{ break_onclick }}; openGeneralMessage();" data-changedisplay2="true">
                    <div class="box-title">
                        <span style="white-space:nowrap; vertical-align:middle; text-align:center" colspan="1"></span>
                        <span style="width:98%;" colspan="3">
                            <div id="rubric-custom">
                                <span id="rubric-textarea-custom" name="comment-custom" rows="4" class="rubric-textarea">{{ gradeable.overallComment }}</span>
                            </div>
                        </span>
                    </div>
                </div>
                <span id="extra-general" style="display: none" colspan="4" data-changebg="true" data-changedisplay1="true">
                    <div class="box">
                        <div class="box-title">
                            <span colspan="4">
                                <textarea id="comment-id-general" name="comment-general" rows="5" style="width:98%; height:100%; min-height:100px; resize:none; float:left;" onkeyup="autoResizeComment(event);" placeholder="Overall message for student about the gradeable..." comment-position="0" {{ gradeable.disabled ? "disabled" : "" }}>{{ gradeable.overall_comment }}</textarea>
                            </span>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    {# /General Comment #}

    {# Total Box #}
        <div class="box">
            <div class="box-title">
                <span style="background-color: #EEE; border-left: 1px solid #EEE; border-top:5px #FAA732 solid;" colspan="1"><strong>TOTAL</strong></span>
                <span style="background-color: #EEE; border-top:5px #FAA732 solid;" colspan="1"><strong id="score_total"> ? / {{ gradeable.total_points }}&emsp;&emsp;&emsp;
AUTO-GRADING {{ gradeable.graded_autograder_points }} / {{ gradeable.total_autograder_non_extra_credit_points }}</strong></span>
                <span style="background-color: #EEE; border-left: 1px solid #EEE; border-top:5px #FAA732 solid;" colspan="2"></span>
            </div>
        </div>
    {# /Total Box #}
    </tbody>
</table>

<script type="text/javascript">
    //
    // This is needed to resolve conflicts between Chrome and other browsers
    //   where Chrome can only do synchronous ajax calls on 'onbeforeunload'
    //   and other browsers can only do synchronous ajax calls on 'onunload'
    //
    // Reference:
    //    https://stackoverflow.com/questions/4945932/window-onbeforeunload-ajax-request-in-chrome
    //
    var __unloadRequestSent = false;
    function unloadSave() {
        if (!__unloadRequestSent) {
            __unloadRequestSent = true;
            saveLastOpenedMark('{{ gradeable.id }}' ,'{{ gradeable.user_id }}', {{ gradeable.active_version }}, '{{ your_user_id }}', '-1', false, function() {
            }, function() {
                // Unable to save so try saving at a different time
                __unloadRequestSent = false;
            });
        }
    }
    // Will work for Chrome
    window.onbeforeunload = unloadSave;
    // Will work for other browsers
    window.onunload = unloadSave;
</script>
