{#
Required Input:
    precision
    component_id
    mark: {id, title, publish, order}
    is_checked
    editable
TODO: add 'publish' support
#}
{% set extra_classes = editable ? '' : 'mark-uneditable' %}
<div id="mark-{{ mark.id }}"
     class="mark-container row"
     data-component_id="{{ component.id }}"
     data-mark_id="{{ mark.id }}"
     onclick="{{ editable ? '' : 'onToggleMark' }}"
>
    {% if not editable %}
        <span class="{{ is_checked ? 'mark-selected' : '' }} mark-selector col-no-gutters"
              data-mark_id="{{ mark.id }}">
            {{ mark.order + 1 }}
        </span>
    {% endif %}
    <span class="col-no-gutters mark-score">
        {% if editable %}
            <input type="number"
                   onchange="onMarkPointsChange(this)"
                   step="{{ precision }}"
                   value="{{ mark.points }}" />
        {% else %}
            {{ mark.points }}
        {% endif %}
    </span>
    <span class="col-sm mark-title">
        {% if editable %}
            <input type="text" value="{{ mark.title|escape }}"/>
        {% else %}
            {{ mark.title|escape }}
        {% endif %}
    </span>
    <span class="col-no-gutters mark-tools" onclick="onGetMarkStats(this)">
        <i class="fa fa-users icon-mark-stats"></i>
    </span>
    {% if editable %}
        <span class="delete-mark-container col-no-gutters mark-tools" onclick="onDeleteMark(this)">
            <i class="fa fa-trash"></i>
        </span>
        <span class="restore-mark-container col-no-gutters mark-tools" onclick="onRestoreMark(this)" hidden>
            <i class="fa fa-shower"></i>
        </span>
    {% endif %}
</div>
