{#
Required Input:
    precision
    component_id
    mark: {id, title, publish, order}

#}
<tr
    id="mark_id-{{ component_id }}-{{ mark.id }}"
    data-component_id="{{ component_id }}"
    data-mark_id="{{ mark.id }}"
>
    <td
        colspan="1"
        class="mark-score-container"
    >
        <span
            id="mark_id-{{ component_id }}-{{ mark.id }}-check"
            onclick="selectMark('{{ component_id }}', '{{ mark.id }}'); event.stopPropagation();"
            data-component_index="{{ component_id }}"
            data-mark_index="{{ mark.id }}"
            class="{% block checkbox_classes %}{% endblock %} mark mark-selector"
        >
        {{ mark.order + 1 }}
        </span>
        <input
            name="mark_points_{{ component_id }}_{{ mark.id }}"
            type="number" onchange="updateProgressPoints({{ component_id }});"
            step="{{ precision }}"
            {% block points_extra_properties %}
            {% endblock %}
            value="{{ mark.points }}"
            data-component_index="{{ component_id }}"
            data-mark_index="{{ mark.id }}"
            class="mark-score {% block points_classes %}{% endblock %}"
        >
    </td>
    <td colspan="2">
        <textarea
            name="mark_text_{{ component_id }}_{{ mark.id }}"
            onchange="updateProgressPoints({{ component_id }});"
            onkeyup="autoResizeComment(event);"
            onclick="event.stopPropagation();"
            rows="1"
            cols="120"
            data-component_index="{{ component_id }}"
            data-mark_index="{{ mark.id }}"
            class="mark-note {% block title_classes %}{% endblock %}"
        >{{ mark.title|escape }}</textarea>
    </td>
    <td>
        <span id="mark_info_id-{{ component_id }}-{{ mark.id }}"
              onclick="saveMark('{{ component_id }}' ); showMarklist(this); event.stopPropagation();"
        >
            <i class="fa fa-users icon-got-this-mark"></i>
        </span>
    </td>

    {% block extra_content %}
    {% endblock %}
</tr>
