{#
Required Input:
    precision
    component_id
    mark: {id, title, publish, order}
    is_checked
    editable
TODO: add 'publish' support
#}
{% set extra_classes = editable ? '' : 'mark-uneditable' %}
<tr
        data-component_id="{{ component_id }}"
        data-mark_id="{{ mark.id }}"
        onclick="{{ editable ? '' : 'onToggleMark' }}"
>
    <td colspan="1" class="mark-score-container">
        {% if not editable %}
            <span class="{{ is_checked ? 'mark-selected' : '' }} mark mark-selector">
                {{ mark.order + 1 }}
            </span>
        {% endif %}
        <input
                type="number"
                onchange="onMarkPointsChange(this)"
                step="{{ precision }}"
                value="{{ mark.points }}"
                class="mark-score {{ extra_classes }}"
        >
    </td>
    <td colspan="2">
        <textarea
                onkeyup="autoResizeComment(event);"
                rows="1"
                cols="120"
                class="mark-note {{ extra_classes }}"
        >{{ mark.title|escape }}</textarea>
    </td>
    <td>
        <span onclick="onGetMarkStats(this)">
            <i class="fa fa-users icon-mark-stats"></i>
        </span>
        {% if editable %}
            <span onclick="onDeleteMark(this)">
                <i class="fa fa-trash icon-delete-mark"></i>
            </span>
        {% endif %}
    </td>
</tr>
