{#
Required Input:
    component: {id, precision}
    mark: {id, title, publish, order, deleted}
    is_checked: True if the mark should appear checked in grade mode
    edit_marks_enabled: True if marks should appear editable
    edit_component_enabled: True if 'instructor' edit mode is enabled
    mark_disabled: True if the mark should appear uneditable in 'edit' mode
    show_publish: True to show the 'publish' option
#}
{{ add_twig_module_js('grading/Mark.js') }}
<div id="mark-{{ mark.id }}"
     class="mark-container key_to_click row {{ mark.publish ? 'mark-publish' : '' }} {{ first_mark ? 'mark-first' : '' }} {{ not edit_marks_enabled and mark_disabled ? 'mark-disabled' : '' }} {{ mark.deleted ? 'mark-deleted' : '' }}" tabindex="0"
     data-component_id="{{ component.id }}"
     data-mark_id="{{ mark.id }}"
     data-publish="{{ mark.publish }}"
     data-toggle-mark="{{ edit_marks_enabled or mark_disabled }}"
>
    {% if edit_marks_enabled %}
        <span class="reorder-mark-container col-no-gutters {{ first_mark ? 'hidden' : '' }}" title="Click and drag to reorder marks">
            <i class="fas fa-ellipsis-v"></i>
        </span>
    {% endif %}
    <span class="mark-selector-container">
        {# Keep the mark checkbox so we can keep graded data when in edit mode to automatically update the component points #}
        <span class="{{ is_checked ? 'mark-selected' : '' }} {{ edit_marks_enabled ? 'hidden' : '' }} mark-selector col-no-gutters"
              data-mark_id="{{ mark.id }}">
            {{ mark.order }}
        </span>
    </span>
    <span class="col-no-gutters mark-points"
          data-points="{{ mark.points }}">
        {% if edit_marks_enabled %}
            <input id="mark-editor-{{ mark.id }}"
                   type="number"
                   step="{{ precision }}"
                   aria-label="mark value"
                   value="{{ mark.points|round(decimal_precision) }}"
                   {{ first_mark ? 'disabled' : '' }} data-first-mark={{ first_mark }} data-mark-title="{{ mark.title }}"/>
        {% else %}
            {{ mark.points }}
        {% endif %}
    </span>
    <span class="col-sm mark-title"
          data-title="{{ mark.title|escape }}">
        {% if edit_marks_enabled %}
            <textarea class="noscroll mark-edit-textarea" aria-label="mark title"
                    {{ first_mark ? 'disabled' : '' }}>{{ mark.title|escape }}</textarea>
        {% else %}
            {{ mark.title|nl2br }}
        {% endif %}
    </span>
    {% if show_publish %}
        {% if not first_mark %}
            <span class="col-no-gutters mark-publish-container">
                <label for="show-all-marks-{{mark.id}}">Show mark to all students:</label> <input id="show-all-marks-{{mark.id}}" type="checkbox" {{ mark.publish ? 'checked' : '' }}/>
            </span>
        {% endif %}
    {% endif %}
    <span class="col-no-gutters mark-tools mark-see-who-got key_to_click" tabindex="0">
        <i class="fas fa-users icon-mark-stats" title="See who got this mark"></i>
    </span>
    {% if edit_marks_enabled %}
        {% if first_mark %}
            {# The first mark shouldn't get a real delete button, but to keep the tools aligned, put a hidden one in #}
            <span class="col-no-gutters mark-tools">
                <i class="fas fa-trash hidden"></i>
            </span>
        {% else %}
            <span class="delete-mark-container col-no-gutters mark-tools key_to_click" tabindex="0" title="Tag for deletion">
                <i class="fas fa-trash"></i>
            </span>
            <span class="restore-mark-container col-no-gutters mark-tools key_to_click" tabindex="0" title="Don't delete" hidden>
                <i class="fas fa-undo"></i>
            </span>
        {% endif %}
    {% endif %}
</div>