{#
Required Parameters:
-grading_disabled: if the the element should be inactive
-editable: if the element is in edit mode
-overall_comment: array with the following keys/values:
  - overall_comment["logged_in_user"]["user_id"],
  - overall_comment["logged_in_user"]["comment"]
  - overall_comment["other_graders"][<user_id>] = <comment>

#}
<div class="box general-comment container key_to_click" tabindex="0">
    <div class="row overall-comment-top-row">
        <div class="col-6">
            <b>Overall Comment</b>
        </div>
        <div class="col-6 overall-comment-status" id="overall-comment-status">
          All Changes Saved
        </div>
    </div>
    <div class="row">
        <div class="tab-bar-wrapper" id="overall-comment-tabs">
            <a class="nav-bar key_to_click normal-btn active-btn" id="overall-comment-tab-{{overall_comment["logged_in_user"]["user_id"]|escape}}" onclick="open_overall_comment_tab('{{overall_comment["logged_in_user"]["user_id"]|escape}}');">{{overall_comment["logged_in_user"]["user_id"]|escape}}</a>

            {% for user, comment in overall_comment["other_graders"] %}
                <a class="nav-bar key_to_click normal-btn" id="overall-comment-tab-{{user}}" onclick="open_overall_comment_tab('{{user}}');">{{user}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row" id="overall-comments">
        <textarea
                id="overall-comment-{{overall_comment["logged_in_user"]["user_id"] | escape }}"
                rows="5"
                data-previous-comment="{{overall_comment["logged_in_user"]["comment"]|escape }}"
                class="general-comment-entry noscroll key_to_click" tabindex="0"
                onkeyup="auto_grow(this)"
                onchange="{{ grading_disabled ? '' : 'onChangeOverallComment()'}}"
                placeholder="Overall message for student about the gradeable...">{{overall_comment["logged_in_user"]["comment"]|escape }}</textarea>

        {% for user, comment in overall_comment["other_graders"] %}
            <textarea disabled
                    id="overall-comment-{{user | escape }}"
                    style="display:none;"
                    rows="5"
                    class="general-comment-entry noscroll key_to_click" tabindex="0">{{comment|escape }}</textarea>
        {% endfor %}
    </div>
    <script>
        var grader = "{{overall_comment["logged_in_user"]["user_id"] | escape('js') }}";
        $(document).on('input','#overall-comment-' + grader,function () {
            var currentOverallComment  = $('textarea#overall-comment-' + grader).val();
            var previousOverallComment = $('textarea#overall-comment-' + grader).data("previous-comment");
            if (currentOverallComment != previousOverallComment) {
                $(".overall-comment-status").text("Unsaved Changes");
            }
            else {
                $(".overall-comment-status").text("All Changes Saved");
            }
      });
    </script>
</div>


