{% import "Functions.twig" as functions %}
{#
Required Parameters:
-auto_grading_earned
-auto_grading_total
-ta_grading_earned
-ta_grading_total
-see_peer_grade
-user_group
l
#}
{% if user_group < 4 %}
    {% set show_total = true %}
    {% if auto_grading_total is defined %}
        <div class="box-title badge-container">
            <strong id="autograding_total" class="badge {{ functions.getBadgeStyle(auto_grading_earned, auto_grading_total, auto_grading_complete) }}">
                {{ auto_grading_earned is defined ? auto_grading_earned|round(decimal_precision) : '&minus;' }} / {{ auto_grading_total|round(decimal_precision) }}
            </strong>
            <strong>Autograding Total</strong>
        </div>
    {% endif %}
    {% if ta_grading_earned is defined %}
        <div class="box-title badge-container">
            <strong id="grading_total" class="badge {{ functions.getBadgeStyle(ta_grading_earned, ta_grading_total, ta_grading_complete) }}">
                {{ ta_grading_earned is defined ? ta_grading_earned|round(decimal_precision) : '&minus;' }} / {{ ta_grading_total|round(decimal_precision) }}
            </strong>
            {% if peer_gradeable == true %}
                <strong>Non Peer Manual Grading Total</strong>
            {% else %}
                <strong>Manual Grading Total</strong>
            {% endif %}
        </div>
    {% endif %}
    {% if peer_grade_earned is defined %}
        <div class="box-title badge-container">
        <strong id="score_total" class="badge {{ functions.getBadgeStyle(peer_grade_earned, peer_total, peer_total) }}">
            {{ peer_grade_earned is defined ? peer_grade_earned|round(decimal_precision) : '&minus;' }} / {{ peer_total|round(decimal_precision) }}
        </strong>
        <strong>Individual Peer Grading Total</strong>
    </div>
    {% endif %}
    {% if show_total %}
        {% set any_earned = peer_grade_earned is defined or ta_grading_earned is defined or auto_grading_earned is defined %}
        {% if any_earned %}
            {% if peer_grade_earned is defined %}
                {% set total_earned = ta_grading_earned|default(0) + auto_grading_earned|default(0) + peer_grade_earned %}
                {% if peer_grade_earned == 0%}
                    {% set max_total = peer_total|default(0) + ta_grading_total|default(0) + auto_grading_total|default(0) %}
                {% else %}
                    {% set max_total = ta_grading_total|default(0) + auto_grading_total|default(0) + peer_total|default(0) %}
                {% endif %}
            {% else %}
                {% set total_earned = ta_grading_earned|default(0) + auto_grading_earned|default(0) %}
                {% set max_total = ta_grading_total|default(0) + auto_grading_total|default(0) %}
            {% endif %}
        {% endif %}
        <div class="box-title badge-container">
            <strong id="score_total" class="badge {{ functions.getBadgeStyle(total_earned, max_total, max_total) }}">
                {{ total_earned is defined ? total_earned|round(decimal_precision) : '&minus;' }} / {{ (max_total)|round(decimal_precision) }}
            </strong>
            <strong>Total </strong>
        </div>
    {% endif %}
{% endif %}

{% if user_group == 4 %}
    <div class="box-title badge-container">
        <strong id="score_total" class="badge {{ functions.getBadgeStyle(peer_grade_earned, peer_total, peer_total) }}">
            {{ peer_grade_earned is defined ? peer_grade_earned|round(decimal_precision) : '&minus;' }} / {{ peer_total|round(decimal_precision) }}
        </strong>
        <strong>My Peer Grading Total</strong>
    </div>
{% endif %}
