{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-course-materials-form{% endblock %}
{% block title %}Edit Course Materials{% endblock %}
{% block body %}
    <div id="material-edit-form" class="flex-col flex-col-space" data-directory = "Check">
        <label id="edit_sections">
            <p class="black-message">
                Do you want to restrict this course material to some sections?
            </p>
            <label class = "radio">
                <input id = "all_Sections_Showing" name="show_Some_Section_Selection" type = "radio" onchange="toggleRegistrationSections()" checked>
                No
            </label>
            <label class = "radio">
                <input name="show_Some_Section_Selection" type = "radio" onchange="toggleRegistrationSections()">
                Yes
            </label>
            <div id = "show_Some_Section_Selection" style="display: block">
            {% for section in reg_sections %}
                <tr>
                    <td>Section {{ section['sections_registration_id'] }}</td>
                    <td><input id="section-{{ section['sections_registration_id'] }}" type="checkbox" value="off"/></td>
                </tr>
            {% endfor %}
            </div>
            <script type="text/javascript">
                function toggleRegistrationSections(){
                    $("#show_Some_Section_Selection").toggle();
                } 
            </script>
        </label>
        <label id="edit_dt">
            <p>
                <strong>Choose a time to release the files being uploaded:</strong>
            </p>
            <input id="edit_picker" class="date_picker" type="text" size="26" value='9998-01-01 00:00:00'/>
        </label>
        <label>
            <input id="expand-zip-checkbox" type="checkbox" value="off"/>
            Unzip zip files (Note: If checked, will replace all folders/files)
        </label>
        <label>
            <input id="hide-materials-checkbox-edit" type="checkbox"/>
            Hide from students (Note: If checked, students will not be able to see course matierals, but can still access them via the URL)
        </label>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <p>Total files cannot exceed 10 mb or 10240 kb.</p>
    </div>
    <script type="text/javascript">
        function submitEdit(){ // Submit button
                console.log("TEST1");
                var sections = [];
                var requestedPath = document.getElementById("material-edit-form").getAttribute("data-directory");
                console.log($("#hide-materials-checkbox-edit").is(':checked'));
                var hideFromStudents = 'off';
                if  ($("#hide-materials-checkbox-edit").is(':checked'))  {
                    hideFromStudents = 'on';
                }
                var reg_sectionArray = JSON.parse('{{ reg_sections|json_encode|raw }}');
                
                reg_sectionArray.forEach(function(element){
                    var currentSection = '#section-' +element['sections_registration_id']
                    if  ($(currentSection).is(':checked'))  {
                        sections.push(element['sections_registration_id']);
                    }
                });
                
                if(document.getElementById('show_Some_Section_Selection').style.display == "none"){
                    sections = null;
                }
                handleEditCourseMaterials(hideFromStudents, requestedPath, sections);
        };
        
        flatpickr('#edit_picker', {
                    plugins: [ShortcutButtonsPlugin(
                        {
                            button: [
                                {
                                    label: "Now"
                                },
                                {
                                    label: "Tomorrow"
                                },
                                {
                                    label: "End of time"
                                }

                            ],
                            onClick: (index, fp) => {
                                let date;
                                switch (index) {
                                    case 0:
                                        updateToServerTime(fp);
                                        break;
                                    case 1:
                                        updateToTomorrowServerTime(fp);
                                        break;
                                    case 2:
                                        date = new Date("9998-01-01 00:00:00");
                                        fp.setDate(date,true);
                                        break;

                                }
                            }
                        }
                    )],
                    allowInput: true,
                    enableTime: true,
                    enableSeconds: true,
                    time_24hr: true,
                    dateFormat: "Y-m-d H:i:S"
                    });
    </script>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" id="submit-edit" type="submit" value="Submit" onclick = "submitEdit();"/>
{% endblock %}