{% extends 'generic/Popup.twig' %}
{% block popup_id %}edit-course-materials-form{% endblock %}
{% block title %}Edit Course Materials{% endblock %}
{% block body %}
    {{ add_twig_module_js('courseMaterials/upload.js') }}
    <div id="material-edit-form" class="flex-col flex-col-space" data-directory = "Check">
        <label id="file-path-label">
            <span><strong>File Path / URL </strong></span>
            <span id="edit-location-drop-down">
                <select id="new-file-name">
                    <option value="">.</option>
                    {% for folder_path in folder_paths %}
                        <option value="{{ folder_path }}/">{{ folder_path }}</option>
                    {% endfor %}
                </select>
            </span>
        </label>

        <label id="edit-title-label">
            <span><strong>File Name </strong></span>
            <input type="text" id="edit-title" class="full-width" onchange="editFilePathRecommendations()" />
        </label>

        <fieldset id="edit_sections">
            <legend class="black-message">
                Do you want to restrict this course material to some sections?
            </legend>
            <label class = "radio">
                <input id = "all-sections-showing-no" name="show-some-section-selection-edit" type = "radio" onchange="toggleRegistrationSectionsEdit()" checked>
                No
            </label>
            <label class = "radio">
                <input id = "all-sections-showing-yes" name="show-some-section-selection-edit" type = "radio" onchange="toggleRegistrationSectionsEdit()">
                Yes
            </label>
            <br>
            <div id = "show-some-section-selection-edit" class= "show-some-section-selection" style="display: none;">
            {% for section in reg_sections %}
                <div class="reg-section-item">
                    <input id="section-edit-{{section['sections_registration_id']}}" type="checkbox" value="off"/>
                    <label for="section-edit-{{section['sections_registration_id']}}">Section{{ section['sections_registration_id'] }}</label>
                </div>
            {% endfor %}
            </div>
            <script>
                function toggleRegistrationSectionsEdit(){
                    $("#show-some-section-selection-edit").toggle();
                }
            </script>
        </fieldset>
        <label id="edit_dt" style="pointer-events:none;">
            <span>
                <strong>Choose a time to release the files being uploaded:</strong>
            </span>
            <input id="edit-picker" class="edit-picker" type="text" size="26" style="pointer-events:auto;"><br>
            <span>
            <strong>Note:</strong> <em>Everyone with grading access will be able to view all the materials irrespective of the release date/time.</em>
            </span>
        </label>
        <label>
            <span>
                <strong>Sorting rank (lower value = higher position):</strong>
            </span>
            <input id="edit-sort" value="Check" type="text" size="26"/>
        </label>
        <label class="my-0">
            <input id="hide-materials-checkbox-edit" type="checkbox">
            Hide from Students
        </label>
        <p class="my-0">
            <em><strong>Note:</strong> Hidden course materials are omitted from the course materials directory listing; however, these materials can still be accessed via the URL. </em> <br>
            <em>These materials will always be available to course staff (full and limited access graders), regardless of release date. </em>
        </p>
        <label hidden id="edit-url-url-label">
            <span>
                <strong>Edit link url:</strong>
            </span>
            <input id="edit-url-url" type="text" size="26" disabled>
        </label>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    </div>
    <hr>

    {% include "course/CourseMaterialsCalendarMenu.twig" with {
        "div_class": 'edit-cm-file-cal-menu',
        "div_id": '1',
        "gradeables" : gradeables,
        "current_gradeable" : current_gradeable,
        "beginning_of_time_date" : beginning_of_time_date
    } only %}

    <script>
        function submitEdit(){ // Submit button
                let sectionsEdit = [];
                let cmTime = document.getElementById("edit-picker").value;
                let sort = document.getElementById("edit-sort").value;
                let id = document.getElementById("material-edit-form").getAttribute("data-id");
                let hideFromStudents = 'off';
                if  ($("#hide-materials-checkbox-edit").is(':checked'))  {
                    hideFromStudents = 'on';
                }

                let reg_sectionArray = JSON.parse('{{ reg_sections|json_encode|raw }}');
                let sections_lock = document.getElementById('all-sections-showing-yes').checked === true;
                if (sections_lock) {
                    reg_sectionArray.forEach(function(element){
                        let currentSectionEdit = '#section-edit-' +element['sections_registration_id']
                        if  ($(currentSectionEdit).is(':checked'))  {
                            sectionsEdit.push(element['sections_registration_id']);
                        }
                    });
                }
                if({{ reg_sections|json_encode|raw }} == null || $("#all-sections-showing-no").is(':checked') == true){
                    sectionsEdit = null;
                }

                let container = document.getElementById('1');
                let calendarMenu = {
                    calendar_display: 'none',
                    associated_date: 'none',
                    gradeable_chosen: 'none'
                };

                if (container) {
                    let showMenu = container.querySelector('#show-menu');
                    if (showMenu) {
                        calendarMenu.calendar_display = showMenu.value;
                        if (showMenu.value === 'date') {
                            calendarMenu.associated_date = container.querySelector('#associated-date')?.value || 'none';
                        } else if (showMenu.value === 'gradeable') {
                            calendarMenu.gradeable_chosen = container.querySelector('#gradeable-select')?.value || 'none';
                        }
                    }
                }

                let title = document.getElementById("edit-title").value;
                let url_url = document.getElementById("edit-url-url");
                let url_url_val = url_url.disabled ? null : url_url.value;
                let file_path = document.getElementById("new-file-name").value;
                let overwrite = false;
                let overwrite_elem = $('#overwrite-submit');
                if (overwrite_elem.length && (overwrite_elem.attr('is-edit-form') === "1")) {
                    overwrite = true;
                }
                handleEditCourseMaterials("{{ csrf_token }}", hideFromStudents, id, sectionsEdit, null, cmTime, sort, sections_lock, null, url_url_val, title, overwrite, file_path, calendarMenu);
        };

        const edit_fp = flatpickr('.edit-picker', {
            plugins: [ShortcutButtonsPlugin(
                {
                    button: [
                        {
                            label: "Beginning of time"
                        },
                        {
                            label: "Now"
                        },
                        {
                            label: "Tomorrow"
                        },
                        {
                            label: "End of time"
                        }

                    ],
                    onClick: (index, edit_fp) => {
                        let date;
                        switch (index) {
                            case 0:
                                date = new Date('{{ beginning_of_time_date }}');
                                break;
                            case 1:
                                date = new Date();
                                break;
                            case 2:
                                date = new Date();
                                date.setDate(date.getDate() + 1);
                                break;
                            case 3:
                                date = new Date("9998-01-01T00:00:00");
                                break;
                        }
                        edit_fp.setDate(date);
                    }
                }
            )],
            appendTo: document.getElementById('edit-course-materials-form'),
            allowInput: true,
            enableTime: true,
            enableSeconds: true,
            time_24hr: true,
            dateFormat: "Y-m-d H:i:S",
            onReady: (a, b, edit_fp) => {
              edit_fp.calendarContainer.firstChild.childNodes[1].firstChild.firstChild.setAttribute('aria-label', 'Month');
              edit_fp.calendarContainer.childNodes[2].childNodes[4].firstChild.setAttribute('aria-label', 'Seconds');
            }
        });
    $('.form-body').on('scroll', function() {
        edit_fp._positionCalendar();
    });
    </script>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" id="submit-edit" type="submit" value="Submit" onclick = "submitEdit();"/>
{% endblock %}
