{% extends 'generic/Popup.twig' %}
{% block popup_id %}upload-course-materials-form{% endblock %}
{% block title %}Upload Course Materials{% endblock %}
{% block body %}
    <div id="material-upload-form" class="flex-col flex-col-space">
        <p>
            <strong>Path to directory containing course materials file(s):</strong><br />
            {{ folderPath~"/" }}
        </p>
        <label id="cm_path">
            <span>
                <strong>Optional: amend the above path to use a sub directory</strong><br />
                e.g. "optional/subdirectory" makes the full path:<br />
                {{ folderPath }}/optional/subdirectory
            </span>
            <input type="text" id="input-provide-full-path" class="full-width" name="eg_config_path" value="" placeholder="optional/subdirectory"/>
        </label>
        <fieldset>
            <legend class="black-message">
                Do you want to restrict this course material to some sections?
            </legend>
            <label class = "radio" for="all_Sections_Showing">
                <input id = "all_Sections_Showing" name="show_Some_Section_Selection" type = "radio" onchange="toggleRegistrationSections()" checked>
                No
            </label>
            <label class = "radio" for="all_Sections_Showing_yes">
                <input id="all_Sections_Showing_yes" name="show_Some_Section_Selection" type = "radio" onchange="toggleRegistrationSections()">
                Yes
            </label>
            <script>
                function toggleRegistrationSections(){
                    $("#show_Some_Section_Selection").toggle();
                }
            </script>
            <br>
            <span id = "show_Some_Section_Selection" style="display: none">
            {% for section in reg_sections %}
                <tr>
                    <span class = "inline">
                        <td>
                          <label for="section-{{ section['sections_registration_id'] }}">Section&nbsp;{{section['sections_registration_id']}}</label>
                        </td>
                        <td>
                            <input class = "inline" id="section-{{ section['sections_registration_id'] }}" type="checkbox" value="off"/>
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </span>
                </tr>
            {% endfor %}
          </span>
        </fieldset>
        <label id="upload_dt">
            <span>
                <strong>Choose a time to release the files being uploaded:</strong>
            </span>
            <input id="upload_picker" class="date_picker" type="text" size="26" value='9998-01-01 00:00:00'/>
        </label>
        <label>
            <span>
                <strong>Sorting rank (lower value = higher position):</strong>
            </span>
            <input id="upload_sort" value="0.0" type="text" size="26"/>
        </label>
        <label>
            <input id="hide-materials-checkbox" type="checkbox" value="off"/>
            Hide from students (Note: If checked, students will not be able to see course matierals, but can still access them via the URL)
        </label>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <fieldset>
            <legend class="black-message">
                Type of course material?
            </legend>
            <label class = "radio" for="file_selection_radio">
                <input id="file_selection_radio" name="course_material_type" type="radio" onchange="$('#file_selection').show();$('#url_selection').hide();" checked>
                File
            </label>
            <label class = "radio" for="url_selection_radio">
                <input id="url_selection_radio" name="course_material_type" type="radio" onchange="$('#file_selection').hide();$('#url_selection').show();">
                External URL
            </label>
        </fieldset>
        <div id="file_selection">
          <label>
              <input id="expand-zip-checkbox" type="checkbox" value="off"/>
              Unzip zip files (Note: If checked, will replace all folders/files)
          </label>
          <div id="upload-boxes">
              {# upload1 and input-file1 required for drag-and-drop.js #}
              <div id="upload1" class="file-input">
                <label class="label key_to_click" for="input-file1" tabindex="0">"Drag your file(s) here or click to open file browser"</label>
                <input type="file" name="files" id="input-file1" onchange="addFilesFromInput(1,false)" multiple />
                <table class="file-upload-table" id="file-upload-table-1">
                  <tr style="background:transparent; display:none;">
                    <th>File Name:</th>
                    <th>Size:</th>
                  </tr>
                </table>
            </div>
          </div>
          <p>Total files cannot exceed 10 mb or 10240 kb.</p>
        </div>
        <div id="url_selection" style="display: none;">
          <span>
            <label>
              Title for URL:
              <input id="url_title" type="text" class="full-width"/>
            </label>
            <label>
              URL:
              <input id="url_url" type="url" class="full-width"/>
            </label>
          </span>
        </div>
    </div>
    <script>
        function makeSubmission(expandZip, hideFromStudents, cmPath, requestedPath, cmTime, sort, sections, sections_lock) {
            handleUploadCourseMaterials("{{ csrf_token }}", expandZip, hideFromStudents, cmPath, requestedPath, cmTime, sort, sections, sections_lock);
        }
        $(function() {
            $("#submit-materials").click(function(e){ // Submit button

                var sections = [];
                var cmTime = document.getElementById("upload_picker").value;
                var sort = document.getElementById("upload_sort").value;
                var cb = $("input#expand_zip_checkbox");
                var expandZip = 'off';
                if  ($('#expand-zip-checkbox').is(':checked'))  {
                    expandZip = 'on';
                }
                var hideFromStudents = 'off';
                if  ($('#hide-materials-checkbox').is(':checked'))  {
                    hideFromStudents = 'on';
                }
                var reg_sectionArray = JSON.parse('{{ reg_sections|json_encode|raw }}');

                reg_sectionArray.forEach(function(element){
                    var currentSection = '#section-' +element['sections_registration_id']
                    if  ($(currentSection).is(':checked'))  {
                        sections.push(element['sections_registration_id']);
                    }
                });

                if(document.getElementById('show_Some_Section_Selection').style.display == "none"){
                    sections = null;
                }
                var cmPath = document.getElementById('cm_path').innerHTML;
                var requestedPath = document.getElementById("input-provide-full-path").value;
                var sections_lock = document.getElementById('all_Sections_Showing_yes').checked === true;
                makeSubmission(expandZip, hideFromStudents, cmPath, requestedPath, cmTime, sort, sections, sections_lock);
                e.stopPropagation();
            });
        });
        flatpickr('#upload_picker', {
                    plugins: [ShortcutButtonsPlugin(
                        {
                            button: [
                                {
                                    label: "Now"
                                },
                                {
                                    label: "Tomorrow"
                                },
                                {
                                    label: "End of time"
                                }
                            ],
                            onClick: (index, fp) => {
                                let date;
                                switch (index) {
                                    case 0:
                                        date = new Date();
                                        break;
                                    case 1:
                                        date = new Date();
                                        date.setDate(date.getDate() + 1);
                                        break;
                                    case 2:
                                        date = new Date("9998-01-01 00:00:00");
                                        break;
                                }
                                fp.setDate(date);
                            }
                        }
                    )],
                    allowInput: true,
                    enableTime: true,
                    enableSeconds: true,
                    time_24hr: true,
                    dateFormat: "Y-m-d H:i:S",
                    onReady: (a, b, fp) => {
                      fp.calendarContainer.firstChild.childNodes[1].firstChild.firstChild.setAttribute('aria-label', 'Month');
                      fp.calendarContainer.childNodes[2].childNodes[4].firstChild.setAttribute('aria-label', 'Seconds');
                    }
                    });
    </script>
    <script>
        createArray(1);
        var dropzone = document.getElementById("upload1");
        dropzone.addEventListener("dragenter", draghandle, false);
        dropzone.addEventListener("dragover", draghandle, false);
        dropzone.addEventListener("dragleave", draghandle, false);
        dropzone.addEventListener("drop", dropWithMultipleZips, false);
    </script>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" id="submit-materials" type="submit" value="Submit" />
{% endblock %}
