<div class="content">
    <h1> Live Lecture Chat </h1>
    <hr>
    <div class="chatrooms-table-wrapper ">
        <h2> Chatrooms </h2>
        <table id="chatrooms-table" class="table table-striped">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Host</th>
                    <th scope="col">Description</th>
                    <th scope="col" style="text-align: left"></th>
                </tr>
            </thead>
            <tbody>
                {% for chatroom in chatrooms %}
                    <tr>
                        <td>
                            <span class="display-short" title="{{ chatroom.getTitle() }}">
                                {{ chatroom.getTitle() | length > 30 ? chatroom.getTitle() | slice(0, 30) ~ '...' : chatroom.getTitle() }}
                            </span>
                        </td>
                        <td>
                            {{ chatroom.getHostName() }}
                        </td>
                        <td>
                            <span class="display-short" title="{{ chatroom.getDescription() }}">
                                {{ chatroom.getDescription() | length > 45 ? chatroom.getDescription() | slice(0, 45) ~ '...' : chatroom.getDescription() }}
                            </span>
                        </td>
                        <td>
                            <a href="{{ base_url }}/{{ chatroom.getId() }}" class="btn btn-primary">Join</a>
                            {% if chatroom.isAllowAnon() %}
                                <i>or</i>
                                <a href="{{ base_url }}/{{ chatroom.getId() }}/anonymous" class="btn btn-default">join as anon.</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>