{% if isAdmin %}
    <tr id="{{ id|e('html_attr') }}" data-testid=chatroom-item>
        <td>
            <a data-testid="edit-chatroom" href='javascript:editChatroomForm("{{ id|e('js') }}", "{{ baseUrl|e('js') }}", "{{ title|e('js') }}", "{{ description|e('js') }}", {{ isAllowAnon ? 'true' : 'false' }});' class="fas fa-pencil-alt black-btn"></a>
        </td>
        <td>
            {% if not isActive %}
                <a data-testid="delete-chatroom" href='javascript:deleteChatroomForm("{{ id|e('js') }}", "{{ title|e('js') }}", "{{ baseUrl|e('js') }}");' class="fas fa-trash-alt black-btn" data-testid="delete-chatroom"></a>
            {% endif %}
        </td>
        <td>
            <span data-testid="chatroom-title" title="{{ title|e('html_attr') }}">
                {{ (title|length > 30 ? title|slice(0, 30) ~ '...' : title)|e }}
            </span>
        </td>
        <td>
            <span data-testid="chatroom-description" title="{{ description|e('html_attr') }}">
                {{ (description|length > 45 ? description|slice(0, 45) ~ '...' : description)|e }}
            </span>
        </td>
        <td>
            <form id="chatroom_toggle_form_{{ id|e('html_attr') }}" action="{{ baseUrl|e('html_attr') }}/{{ id|e('url') }}/toggleActiveStatus" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token|e('html_attr') }}"/>
            </form>
            {% if not isActive %}
                <button data-testid="enable-chatroom" class="btn btn-primary" onclick="toggleChatroom('{{ id|e('js') }}', false)">
                    Start Session
                </button>
            {% else %}
                <button data-testid="disable-chatroom" class="btn btn-danger" onclick="toggleChatroom('{{ id|e('js') }}', true)">
                    <i class="fas fa-pause"></i>
                    End Session
                </button>
            {% endif %}
        </td>
        <td>
            <a href="{{ baseUrl|e('html_attr') }}/{{ id|e('url') }}" class="btn btn-primary" data-testid="chat-join-btn">Join</a>
            {% if isAllowAnon %}
                <i> or </i>
                <a data-testid="anon-chat-join-btn" href="{{ baseUrl|e('html_attr') }}/{{ id|e('url') }}/anonymous" class="btn btn-default" data-testid="anon-chat-join-btn">Join As Anon.</a>
            {% endif %}
        </td>
    </tr>
{% else %}
    {% if isActive %} <!--students only have access to active chat rooms-->
        <tr id="{{ id|e('html_attr') }}" data-testid=chatroom-item>
            <td>
                <span data-testid="chatroom-title" class="display-short" title="{{ title|e('html_attr') }}">
                    {{ (title|length > 30 ? title|slice(0, 30) ~ '...' : title)|e }}
                </span>
            </td>
            <td data-testid="chatroom-host">
                {{ hostName|e }}
            </td>
            <td>
                <span data-testid="chatroom-description" class="display-short" title="{{ description|e('html_attr') }}">
                    {{ (description|length > 45 ? description|slice(0, 45) ~ '...' : description)|e }}
                </span>
            </td>
            <td>
                <a data-testid="chat-join-btn" href="{{ baseUrl|e('html_attr') }}/{{ id|e('url') }}" class="btn btn-primary">Join</a>
                {% if isAllowAnon %}
                    <i> or </i>
                    <a data-testid="anon-chat-join-btn" href="{{ baseUrl|e('html_attr') }}/{{ id|e('url') }}/anonymous" class="btn btn-default">Join As Anon.</a>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endif %}