<div class="content">
    <h1> Live Lecture Chat </h1>
    <button onclick="newChatroomForm()" class="btn btn-primary">New Chatroom</button>
    <hr>
    <div class="chatrooms-table-wrapper">
        <h2> Chatrooms </h2>
        <table id="chatrooms-table" class="table table-striped">
            <col style="width: 5%">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 12.5%">
            <col style="width: 12.5%">
            <thead>
                <tr>
                    <th scope="col" style="text-aligh: left"></th>
                    <th scope="col" style="text-align: left">Name</th>
                    <th scope="col" style="text-align: left">Description</th>
                    <th scope="col" style="text-align: left">Host</th>
                    <th scope="col" style="text-align: left"></th>
                    <th scope="col" style="text-align: left"></th>
                </tr>
            </thead>
            <tbody>
                {% for chatroom in chatrooms %}
                    <tr>
                        <td>
                            <a href='javascript:editChatroomForm("{{ chatroom.getId() }}", "{{ base_url }}");' class="fas fa-pencil-alt black-btn"></a>
                        </td>
                        <td style="text-align: left">
                            {{ chatroom.getTitle() }}
                        </td>
                        <td style="text-align: left">
                            {{ chatroom.getDescription() }}
                        </td>
                        <td style="text-align: left">
                            {{ chatroom.getHostId() }}
                        </td>
                        <td>
                            <a href="{{ base_url }}/{{ chatroom.getId() }}" class="btn btn-primary">Join</a>
                            <a class="btn btn-danger">Delete</a>
                        </td>
                        <td>
                            <a class="btn btn-primary">Show History</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

</script>

{% include('chat/CreateChatroomForm.twig') %}
{% include('chat/EditChatroomForm.twig') %}