<table id="hotkeys-list" class="ta-grading-setting-list">
    <tr>
        <th>Action</th>
        <th>Hotkey</th>
        <th>Remove</th>
    </tr>
    {% for hotkey in keymap %}
        <tr>
            <td>{{ hotkey.name | default('Unassigned') }}</td>
            <td>
                {% if hotkey.locked %}
                    <button id="remap-{{ loop.index0 }}" data-testid="remap-{{ loop.index0 }}" class="btn btn-default remap-button" disabled="disabled">{{ hotkey.code }}</button>
                {% else %}
                    {% set class = (hotkey.code == hotkey.originalCode) ? "btn-default" : "btn-primary" %}
                    <button id="remap-{{ loop.index0 }}" data-testid="remap-{{ loop.index0 }}" class="btn {{ class }} remap-button remap-disable" tabindex="0" onclick="remapHotkey({{ loop.index0 }});">{{ hotkey.code }}</button>
                {% endif %}
            </td>
            <td class="button-cell" style="display: flex; justify-content: center; align-items: center;">
                <button id="remap-unset-{{ loop.index0 }}" data-testid="remap-unset-{{ loop.index0 }}" class="btn btn-danger remap-disable" tabindex="0" onclick="remapUnset({{ loop.index0 }});">&times;</button>
            </td>
        </tr>
    {% endfor %}
</table>
