<label for="point_precision_id">Point precision:</label>
<select id = "point_precision_id" name="precision" onchange = "onPrecisionChange()">
  <option value="0.01" {{ gradeable.getPrecision() == 0.01 ? 'selected' : '' }}>0.01</option>
  <option value="0.05" {{ gradeable.getPrecision() == 0.05 ? 'selected' : '' }}>0.05</option>
  <option value="0.1" {{ gradeable.getPrecision() == 0.1 ? 'selected' : '' }}>0.1</option>
  <option value="0.25" {{ gradeable.getPrecision() == 0.25 ? 'selected' : '' }}>0.25</option>
  <option value="0.5" {{ gradeable.getPrecision() == 0.5 ? 'selected' : '' }}>0.5</option>
  <option value="1" {{ gradeable.getPrecision() == 1 ? 'selected' : '' }}>1</option>
  <option value="5" {{ gradeable.getPrecision() == 5 ? 'selected' : '' }}>5</option>
  <option value="10" {{ gradeable.getPrecision() == 10 ? 'selected' : '' }}>10</option>
</select>
<div class="electronic_file ignore" id="gradeable_rubric" data-notebook="{{ is_notebook_gradeable ? true : false }}" data-itempool-options="{{ itempool_options }}">
    <fieldset>
        <legend>
            Are student submissions/uploads a single file PDF with a fixed/prescribed format?<br>
            And do you expect each specific problem/item/component to appear on a specific page number of the PDF document?
        </legend>
        <input type="radio" id="yes_pdf_page" name="pdf_page" value="true" onchange="updatePdfPageSettings()"
                {{ is_pdf_page ? 'checked' : '' }} /> <label for="yes_pdf_page">Yes</label>
        <input type="radio" id="no_pdf_page" name="pdf_page" value="false" onchange="updatePdfPageSettings()"
                {{ not is_pdf_page ? 'checked' : '' }} /> <label for="no_pdf_page">No</label>
    </fieldset>
    <br>
    <fieldset id="pdf_page">
        <legend>Who will assign page numbers to problems/item/components?</legend>
        <input type="radio" id="no_pdf_page_student" name="pdf_page_student" value="false" onchange="updatePdfPageSettings()"
                {{ not is_pdf_page_student ? 'checked' : '' }} /> <label for="no_pdf_page_student">Instructor (specify the starting page number for each problem/item/component below)</label><br>
        <input type="radio" id="yes_pdf_page_student" name="pdf_page_student" value="true" onchange="updatePdfPageSettings()"
                {{ is_pdf_page_student ? 'checked' : '' }} /> <label for="yes_pdf_page_student">Student (student will be asked for page numbers at submission time)</label>
    </fieldset>
    {# Option to link itempool items with the components #}
   {% if is_notebook_gradeable %}
       {{ dump(itempool_options) }}
       <fieldset>
           <legend>
               Will some of the components be linked with itempool items ?<br>
           </legend>
           <input type="radio" id="yes-link-item-pool" name="link-item-pool" value="true" onchange="updatePdfPageSettings()"
                   {{ is_link_item_pool ? 'checked' : '' }} /> <label for="yes-link-item-pool">Yes</label>
           <input type="radio" id="no-link-item-pool" name="link-item-pool" value="false" onchange="updatePdfPageSettings()"
                   {{ not is_link_item_pool ? 'checked' : '' }} /> <label for="no-link-item-pool">No</label>
       </fieldset>
   {% endif %}
    <div>
        <div id="rubric-total-container">
        </div>
        <div id="grading-box">
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        loadTemplates().then(function() {
            reloadInstructorEditRubric($('#g_id').val(), $('#gradeable_rubric').attr('data-notebook'), JSON.parse($('#gradeable_rubric').attr('data-itempool-options'))).then( function() {
                $('body').on('DOMSubtreeModified', '.component-container', function() {
                    let yesPeer = ($('.peer-component-container').length == 0) ? false : true;
                    if (yesPeer) {
                        $('#page_4_nav').show();
                        $('#page_4_nav').removeClass("hidden-no-peers");
                    } else {
                        $('#page_4_nav').hide();
                        $('#page_4_nav').addClass("hidden-no-peers");
                    }
                });
            });
        });
    });
</script>
