{% extends 'generic/Popup.twig' %}
{% block popup_id %}class-list-form{% endblock %}
{% block title %}Upload Classlist{% endblock %}
{% block body %}
    <p>
        Format your student data as an .xlsx or .csv file with {{ use_database ? 6 : 5 }}-{{ use_database ? 9 : 8 }} columns and no header row:
    </p>
    <ol class="full-list">
        <li>username</li>
        <li>Given Name</li>
        <li>Family Name</li>
        <li>email</li>
        <li>registration section</li>
        {% if use_database %}
            <li>password</li>
        {% endif %}
        <li>preferred Given Name (optional)</li>
        <li>preferred Family Name (optional)</li>
        <li>registration type (optional)</li>
    </ol>
    <p>
        For more formatting information, see
        <a target="_blank" href="https://submitty.org/instructor/course_management/managing_enrollment#add-students-by-bulk-file-csv-upload">
            Add Students by Bulk File CSV Upload <i style="font-style:normal;" class="fa-question-circle"></i>
        </a>
    </p>
    <br />
    <span style="color: #006398">&#9734; : You can also supply just the user_id and rest of the fields will be auto-fill with the existing user data </span>
    <p>&emsp;</p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <label class="std-margin" for="move_missing">
        Move students missing from the classlist to NULL section?
        <input type="checkbox" name="move_missing" id="move_missing" />
    </label>
    <input type="file" name="upload" accept=".xlsx, .csv" aria-label="Choose File">
{% endblock %}
{% block form %}
    <form method="post" action="{{ return_url_upload_class_list }}" enctype="multipart/form-data">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
