{% extends 'generic/Popup.twig' %}
{% block popup_id %}grader-list-form{% endblock %}
{% block title %}Upload Grader List{% endblock %}
{% block body %}
    <p>Format your grader data as an .xlsx or .csv file with {{ use_database ? 8 : 7 }} columns :</p>
        <ol class="full-list">
            <li>username</li>
            <li>first name</li>
            <li>last name</li>
            <li>email</li>
            <li>registration section</li>
            {% if use_database %}
                <li>password</li>
            {% endif %}
            <li>preferred first name</li>
            <li>preferred last name</li>
        </ol>
        <span style="color: #006398">&#9734; : You can also supply just the user_id and rest of the fields will be auto-fill with the existing user data and a default value for grader-group as 'Limited Access Grader' (4) will be used</span>
    <br/>
    <p>
        Where GraderGroup is:<br>
        &emsp;1=Instructor<br>
        &emsp;2=Full Access Grader (graduate teaching assistant)<br>
        &emsp;3=Limited Access Grader (mentor)<br>
        &emsp;4=Student (no grading access)<br>
    </p>
    <p>&emsp;</p>
    <p>
        <b>Preferred first and last names are optional.<br>
        Do not use a header row.</b><br>
    </p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <div>
        <input type="file" name="upload" id="grader-list-upload" accept=".xlsx, .csv" aria-label="Choose File">
    </div>
{% endblock %}
{% block form %}
    <form method="post" action="{{ return_url_upload_grader_list }}" enctype="multipart/form-data">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary" type="submit" value="Submit" />
{% endblock %}
