<div class="content">
    <header>
        <h1>Manage Graders</h1>
        <div class="btn-wrapper">
            <a href="javascript:toggleColumnsForm()" class="btn btn-primary">Toggle Columns</a>
            <a href="javascript:newDownloadForm()" class="btn btn-primary">Download Graders</a>
            <a href="javascript:newGraderListForm()" class="btn btn-primary">Upload Grader List</a>
            <a href="javascript:newGraderForm()" class="btn btn-primary">New Grader</a>
            <a href="javascript:editRegistrationSectionsForm()" class="btn btn-primary">Assign Registration Sections for Grading</a>
        </div>
    </header>

    {# This is a data table #}
    {% if graders[1]|length + graders[2]|length + graders[3]|length > 0 %}
        <table id="grader-table" class="table table-striped mobile-table directory-table">
            <caption>Course Graders</caption>
            <thead>
               <tr>
                <th>#</th>
                {% if active_grader_columns[0] %}
                    <th style="text-align:left;">User ID</th>
                {% endif %}
                {% if active_grader_columns[1] %}
                    <th style="text-align:left;">Given Name</th>
                {% endif %}
                {% if active_grader_columns[2] %}
                    <th style="text-align:left;">Family Name</th>
                {% endif %}
                {% if active_grader_columns[3] %}
                    <th style="text-align:left;">User Group</th>
                {% endif %}
                {% if active_grader_columns[4] %}
                    <th style="text-align:left;">Registration Sections</th>
                {% endif %}
                {% if active_grader_columns[5] %}
                    <th style="text-align:left;">Edit Grader</th>
                {% endif %}
                {% if active_grader_columns[6] %}
                    <th style="text-align:left;">Demote Grader</th>
                {% endif %}
               </tr>
            </thead>
            {% for grading_group in 1..3 %}
                <tbody id="section-{{ grading_group }}">
                    {% if graders[grading_group]|length > 0 %}
                        <tr class="info">
                            <th class="section-break" colspan="8">{{groups[grading_group].name}}</th>
                        </tr>
                        {% for grader in graders[grading_group] %}
                            <tr id="user-{{ grader.getId() }}">
                                <td></td>
                                {% if active_grader_columns[0] %}
                                     <td class="align-left td-grader-id">{{ grader.getId() }}</td>
                                {% endif %}
                                {% if active_grader_columns[1] %}
                                     <td class="align-left td-given-name">{{ grader.getDisplayedGivenName() }}</td>
                                {% endif %}
                                {% if active_grader_columns[2] %}
                                     <td class="align-left td-family-name">{{ grader.getDisplayedFamilyName() }}</td>
                                {% endif %}
                                {% if active_grader_columns[3] %}
                                     <td class="align-left td-grader-group">{{ groups[grader.getGroup()].name }}</td>
                                {% endif %}
                                {% if active_grader_columns[4] %}
                                     <td class="align-left td-registration-section">{{ grader.getGradingRegistrationSections()|join(", ") ?: "None" }}</td>
                                {% endif %}
                                {% if active_grader_columns[5] %}
                                     <td class="align-left td-edit-grader">
                                        <a href="javascript:editUserForm('{{ grader.getId() }}');"
                                        aria-label="edit grader {{grader.getDisplayedGivenName()}} {{grader.getDisplayedFamilyName()}}">
                                            <i class="fas fa-pencil-alt" title="Edit Grader"></i>
                                        </a>
                                     </td>
                                {% endif %}
                                {% if active_grader_columns[6] %}
                                     <td class="align-left td-demote-grader">
                                        <a href="javascript:demoteGraderForm('{{ grader.getId() }}', '{{ grader.getDisplayedGivenName() }}', '{{ grader.getDisplayedFamilyName() }}');"
                                            aria-label="">
                                            <i class="fas fa-user-xmark" title="Demote Grader"></i>
                                        </a>
                                     </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="info">
                            <td colspan="8" style="text-align: center">No {{groups[grading_group].name|replace({'Grader':'Graders'})}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p id="empty-table" class="warning">No graders found</p>
    {% endif %}
</div>
{% include('admin/users/UserForm.twig') %}
{% include('admin/users/ToggleManageGradeListColumns.twig') %}
{% include('admin/users/GraderListForm.twig') %}
{% include('admin/users/RegistrationSectionsForm.twig') with { 'num_rotating_sections': rot_sections|length } %}
{% include('admin/users/DownloadForm.twig') with { 'code': 'grader' } %}
{% include('admin/users/DemoteGraderForm.twig') %}

<script>

    function fixCheckBoxes(grader_id,all_box) {

        if(all_box) {
            //update all check boxes for that user with the "all" box state
            var value = $('#' + grader_id + '_all').is(':checked');
            {% for section in reg_sections %}
                $('#' + grader_id + '_' + '{{section['sections_registration_id']}}').prop('checked', value);
            {% endfor %}
        }
        else { // if all boxes are checked, then check the 'all' box
			var all_checked = true
            {% for section in reg_sections %}
                && $('#' + grader_id + '_' + '{{section['sections_registration_id']}}').is(':checked')
            {% endfor %}
            ;
            $('#' + grader_id + '_all').prop('checked', all_checked);
        }
    }

</script>
