<script type="text/javascript">
    $(function() {
        $("[name='rotating_type']").change(function() {
            if ($(this).val() == "alphabetically") {
                $("[name='fewest']").prop('checked', false).attr('onclick', 'return false').addClass("disabled");

            }
            else {
                $("[name='fewest']").attr('onclick', '').removeClass('disabled');
            }
        });

        $("[name='sort_type']").change(function() {
            var val = $(this).val();
            if (val == "fewest") {
                $("[name='sections']").val({{ max_section }}).addClass('disabled').attr('readonly', 'readonly');
                $("[name='rotating_type']").val("random").addClass('disabled').attr('disabled', 'true');
            }
            else if (val == "drop_null") {
                $("[name='sections']").addClass('disabled').attr('readonly', 'readonly');
                $("[name='rotating_type']").addClass('disabled').attr('disabled', 'true');
            }
            else {
                $("[name='sections']").removeClass('disabled').removeAttr('readonly');
                $("[name='rotating_type']").removeClass('disabled').removeAttr('disabled');
            }
        });
    });
</script>
<div class="content">
    <h2>Setup Registration Sections</h2>
    <p>
        Large courses are often split into multiple <em>registrations sections</em> for laboratory or recitation class time.<br>
        Courses that are cross-listed in different departments may have multiple course codes/prefixes.<br>
        <br>
        Each student in the course is assigned to one registration section.<br>
        Students who have dropped the course will be assigned to the <em>NULL</em> registration section.<br>
        <br>
        From the "Graders" tab in the top menu, each grader may be assigned to grade zero, one, or multiple registration sections.<br>
        Assigning grading <em>by registration section</em> facilitates routine grading of the <em>same set of students</em> throughout the term.<br>
    </p>
    <br />
    <form action="{{ core.buildUrl({'component': 'admin', 'page': 'users', 'action': 'update_registration_sections'}) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
        <div class="sub">
            <div class="box half">
                <h2>Current Registration Section Counts</h2>
                <div class="half">
                    <table class="table table-bordered table-striped">
                        {% for section in reg_sections %}
                            {% if reg_sections_count[section['sections_registration_id']] %}
                            <tr>
                                <td>Section {{ section['sections_registration_id'] }}</td>
                                <td>{{ reg_sections_count[section['sections_registration_id']] }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>Section {{ section['sections_registration_id'] }}</td>
                                <td>0</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% if reg_sections_count['NULL'] %}
                        <tr>
                            <td>Section NULL</td>
                            <td>{{ reg_sections_count['NULL'] }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Section NULL</td>
                            <td>0</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="box half">
                <br /><br />
                <div class="option">
                    <div class="option-input"><input type="text" name="add_reg_section" value="" placeholder="Eg: 3" /></div>
                    <div class="option-desc">
                        <div class="option-title">Add Registration Section</div>
                        <div class="option-alt">
                            Enter a registration section which is not already a registration section.
                        </div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-input"><input type="text" name="delete_reg_section" value="" placeholder="Eg: 3" /></div>
                    <div class="option-desc">
                        <div class="option-title">Delete a Registration Section</div>
                        <div class="option-alt">
                            Registration Section to be deleted should not have any student enrolled in it and no grader should be assigned to grade the section.
                        </div>
                    </div><br />
                    <input style="margin-top: 20px; margin-right: 20px; float:right" type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="content">
    <h2>Setup Rotating Sections</h2>
    <p>
        Rotating sections are an alternate way to divide the task of grading a large course enrollment among multiple graders.<br>
        If the registration sections are of significantly different size, rotating sections will allow a more equitable assignment of grading tasks.<br>
        Furthermore, shuffling or rotating the assignment of graders to rotating sections for each assignment will ensure that each student <br>
        receives feedback from multiple graders throughout the term and can mitigate the variations in ease or strictness between the graders.<br>
        <br>
        Each registered student is assigned to a rotating section for the duration of the course.<br>
        For each assignment with manual/TA grading assigned by rotating sections, each grader is assigned zero, one, or multiple rotating sections.<br>
        The rotating assignments for each gradeable are made via the "Create/Edit Gradeable" page for the specific gradeable.<br>
    </p>
    <br />
    <form action="{{ core.buildUrl({'component': 'admin', 'page': 'users', 'action': 'update_rotating_sections'}) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ core.getCsrfToken() }}" />
        <div class="sub">
            <div class="box half">
                <h2>Current Rotating Section Counts</h2>
                <div class="half">
                    <h3>Registered Students<br>(non NULL registration section)</h3>
                    <table class="table table-bordered table-striped">
                        {% for row in not_null_counts %}
                        <tr>
                            <td>Section {{ row['rotating_section'] ?? "NULL" }}</td>
                            <td>{{ row['count'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="half">
                    <h3>Users with<br>Registration Section=NULL</h3>
                    <table class="table table-bordered table-striped">
                        {% for row in null_counts %}
                        <tr>
                            <td>Section {{ row['rotating_section'] ?? "NULL" }}</td>
                            <td>{{ row['count'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="box half">
                Place students in <input type="text" name="sections" placeholder="#" style="width: 25px" /> rotating sections
                <select name="rotating_type">
                    <option value="random">randomly</option>
                    <option value="alphabetically">alphabetically</option>
                </select><br /><br />
                <label>
                    <input type="radio" style="margin-top: -2px" name="sort_type" value="drop_null" /> Only remove unregistered students (registration section=NULL) from rotating sections
                </label><br /><br />
                <label>
                    <input type="radio" style="margin-top: -2px" name="sort_type" value="fewest" /> Remove unregistered students (registration section=NULL) from rotating sections and put newly registered students into rotating section with fewest members
                </label><br /><br />
                <label>
                    <input type="radio" style="margin-top: -2px" name="sort_type" value="redo" /> Redo rotating sections completely
                </label><br />
                <input style="margin-top: 20px; margin-right: 20px; float:right" type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</div>
