<div class="content">
    <div style="float: right; margin-bottom: 20px;">
        <a onclick="newDownloadForm()" class="btn btn-primary">Download Users</a>
        <a onclick="newClassListForm()" class="btn btn-primary">Upload Classlist</a>
        <a onclick="newUserForm()" class="btn btn-primary">New Student</a>
    </div>
    <h2>View Students</h2>
    <table class="table table-striped table-bordered persist-area">
        <thead class="persist-thead">
        <tr>
            <td width="4%"></td>
            <td width="15%">Registration Section</td>
            <td width="20%" style="text-align: left">User ID</td>
            <td width="30%" colspan="2">Name</td>
            <td width="15%">Rotating Section</td>
            <td width="13%">Manual Registration</td>
            <td width="3%"></td>
        </tr>
        </thead>
        {% if sections|length > 0 %}
            {% for registration, students in sections %}
                <tr class="info persist-header">
                    <td colspan="8" style="text-align: center">Students Enrolled in Registration Section {{ registration }}</td>
                </tr>
                <tbody id="section-{{ registration }}">
                    {% for student in students %}
                        <tr id="user-{{ student.getId() }}" {% if student.accessGrading() %} style='background: #7bd0f7;' {% endif %}>
                            <td>{{ loop.index }}</td>
                            <td>{{ registration }}</td>
                            <td style="text-align: left">{{ student.getId() }}</td>
                            <td style="text-align: left">{{ student.getDisplayedFirstName() }}</td>
                            <td style="text-align: left">{{ student.getLastName() }}</td>
                            <td>{{ student.getRotatingSection() == null ? "NULL" : student.getRotatingSection() }}</td>
                            <td>{{ student.isManualRegistration() ? "TRUE" : "FALSE" }}</td>
                            <td><a onclick="editUserForm('{{ student.getId() }}');"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No students found</td>
            </tr>
        {% endif %}
    </table>
</div>
{% include('admin/users/UserForm.twig') with {'action': 'update_student'} %}
