<div class="content">
    <header>
        <h1>Manage Students</h1>
        <div class="btn-wrapper">
            <a href="javascript:newDownloadForm()" class="btn btn-primary">Download Users</a>
            <a href="javascript:newClassListForm()" class="btn btn-primary">Upload Classlist</a>
            <a href="javascript:newStudentForm()" class="btn btn-primary">New Student</a>
        </div>
    </header>
    {# This is a data table #}
    {% if sections|length > 0 %}
        <table id="student-table" class="table table-striped mobile-table directory-table">
            <caption>Students Enrolled</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Registration Section</th>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Rotating Section</th>
                    <th>UTC Offset / Time Zone</th>
                    <th>View Grades</th>
                    <th>Edit Student</th>
                    <th>Delete Student</th>
                </tr>
            </thead>
            {% for registration, students in sections %}
                <tbody id="section-{{ registration }}">
                    <tr class="info">
                        <th class="section-break" colspan="10">Students Enrolled in Registration Section {{ registration }}</td>
                    </tr>
                    {% for student in students %}
                        {% set class = "" %}
                        {% if student.accessGrading() %}
                            {% set class = "access-grading" %}
                        {% endif %}
                        <tr id="user-{{ student.getId() }}" class="{{ class }}">
                            <td></td>
                            <td>
                                {{ registration }}
                                {% if  student.getRegistrationSubsection is not empty %}
                                     -  {{ student.getRegistrationSubsection }}
                                {% endif %}
                                {% if student.isManualRegistration() %}
                                    <i class="fas fa-hammer" title="Manually Registered"></i>
                                {% endif %}
                            </td>
                            <td class="align-left">{{ student.getId() }}</td>
                            <td class="align-left">{{ student.getDisplayedFirstName() }}</td>
                            <td class="align-left">{{ student.getDisplayedLastName() }}</td>
                            <td>{{ student.getRotatingSection() ?? "NULL" }}</td>
                            <td>{{ formatted_tzs[student.getId()] }}</td>
                            <td>
                                <form method="post" action="{{ view_grades_url }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                    <input type="hidden" name="student_id" value="{{ student.getId() }}"/>
                                    <a onclick="$(this).parent().submit();"><i class="fas fa-chart-line"></i></a>
                                </form>
                            </td>
                            <td><a href="javascript:editUserForm('{{ student.getId() }}');" aria-label="edit user {{student.getDisplayedFirstName()}} {{student.getDisplayedLastName()}}"><i class="fas fa-pencil-alt"></i></a></td>
                            <td><a href="javascript:deleteUserForm('{{ student.getId() }}', '{{ student.getDisplayedFirstName() }}', '{{ student.getDisplayedLastName() }}');" aria-label="delete student {{ student.getDisplayedFirstName() }} {{ student.getDisplayedLastName() }}"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p id="no-one-found" class="warning">No students found</p>
    {% endif %}
</div>
{% include('admin/users/UserForm.twig') %}
{% include('admin/users/ClassListForm.twig') %}
{% include('admin/users/DownloadForm.twig') with { 'code': 'user' } %}
{% include('admin/users/DeleteUserForm.twig') %}
