<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<div class="content">
    <div style="float: right; margin-bottom: 20px;">
        <a onclick="newDownloadForm()" class="btn btn-primary">Download Users</a>
        <a onclick="newClassListForm()" class="btn btn-primary">Upload Classlist</a>
        <a onclick="newUserForm()" class="btn btn-primary">New Student</a>
    </div>
    <h1>Manage Students</h1>
    {# This is a data table #}
    <table class="table table-striped table-bordered persist-area">
        <caption />
        <thead class="persist-thead">
            <tr>
                <th width="4%"></th>
                <th width="15%">Registration Section</th>
                <th width="20%" style="text-align: left">User ID</th>
                <th width="30%" colspan="2">Name</th>
                <th width="15%">Rotating Section</th>
                <th width="13%">Manual Registration</th>
                <th width="3%"></th>
            </tr>
        </thead>
        {% if sections|length > 0 %}
            {% for registration, students in sections %}
                <tr class="info persist-header">
                    <td colspan="8" style="text-align: center">Students Enrolled in Registration Section {{ registration }}</td>
                </tr>
                <tbody id="section-{{ registration }}">
                    {% for student in students %}
                        <tr id="user-{{ student.getId() }}"
                            {% if student.accessGrading() %}
                                style='background: #7bd0f7;'
                            {% endif %}
                        >
                            <td>{{ loop.index }}</td>
                            <td>{{ registration }}</td>
                            <td style="text-align: left">{{ student.getId() }}</td>
                            <td style="text-align: left">{{ student.getDisplayedFirstName() }}</td>
                            <td style="text-align: left">{{ student.getDisplayedLastName() }}</td>
                            <td>{{ student.getRotatingSection() ?? "NULL" }}</td>
                            <td>{{ student.isManualRegistration() ? "TRUE" : "FALSE" }}</td>
                            <td><a onclick="editUserForm('{{ student.getId() }}');" aria-label="edit user {{ student.getId() }}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No students found</td>
            </tr>
        {% endif %}
    </table>
</div>
{% include('admin/users/UserForm.twig') with {'action': 'update_student'} %}
{% include('admin/users/ClassListForm.twig') %}
