<div class="content">
    <header>
        <h1>Manage Students</h1>
        <div class="btn-wrapper">
            {# Need 'flex: 1' to preserve the space given by parent div #}
            {% include 'Vue.twig' with {
                'type': 'component',
                'name': 'ToggleColumns',
                'style': 'flex: 1', 
                'args': {
                    'buttonWrapped': true,
                    'columns': [
                        'registration-section',
                        'user-id',
                        'first-name',
                        'last-name',
                        'pronouns',
                        'rotating-section',
                        'time-zone',
                        'view-grades',
                        'late-days',
                        'registration-type',
                        'edit-student',
                        'delete-student',
                        'user-numeric-id',
                        'legal-first-name',
                        'legal-last-name',
                        'email',
                        'secondary-email',
                    ],
                    'labels': [
                        'Registration Section',
                        'User ID',
                        'Given Name',
                        'Family Name',
                        'Pronouns',
                        'Rotating Section',
                        'UTC Offset / Time Zone',
                        'View Grades',
                        'Late Days',
                        'Registration Type',
                        'Edit Student',
                        'Delete Student',
                        'User Numeric ID',
                        'Legal Given Name',
                        'Legal Family Name',
                        'Email',
                        'Secondary Email',
                    ],
                    'cookie': 'active_student_columns',
                },
            } %}
            <a href="javascript:newDownloadForm()" class="btn btn-primary">Download Users</a>
            <a href="javascript:newClassListForm()" class="btn btn-primary">Upload Classlist</a>
            <a href="javascript:newStudentForm()" class="btn btn-primary">New Student</a>
        </div>
    </header>

    {# Initialize columns #}
    {% set active_cols = active_student_columns|map(v => v == '1') %}
    {% set column_config = [] %}
    {% for i in 0..16 %}
        {% set column_config = column_config|merge([{
            'id': [
                'registration-section',
                'user-id',
                'first-name',
                'last-name',
                'pronouns',
                'rotating-section',
                'time-zone',
                'view-grades',
                'late-days',
                'registration-type',
                'edit-student',
                'delete-student',
                'user-numeric-id',
                'legal-first-name',
                'legal-last-name',
                'email',
                'secondary-email',
            ][i],
            'label': [
                'Registration Section',
                'User ID',
                'Given Name',
                'Family Name',
                'Pronouns',
                'Rotating Section',
                'UTC Offset / Time Zone',
                'View Grades',
                'Late Days',
                'Registration Type',
                'Edit Student',
                'Delete Student',
                'User Numeric ID',
                'Legal Given Name',
                'Legal Family Name',
                'Email',
                'Secondary Email',
            ][i],
            'active': active_cols[i]
        }]) %}
    {% endfor %}

    {% if sections|length > 0 %}
        <table id="student-table" class="table table-striped mobile-table directory-table">
            <caption>Students Enrolled</caption>
            <thead>
                <tr>
                    <th>#</th>
                    {% for col in column_config %}
                        {% if col.active %}
                            <th style="{{ col.id in ['user-id', 'first-name', 'last-name', 'pronouns'] ? 'text-align:left;' : '' }}">
                                {{ col.label }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            {% for registration, students in sections %}
                <tbody id="section-{{ registration }}">
                    <tr class="info">
                        <th class="section-break" colspan="{{ 1 + (column_config|filter(c => c.active)|length) }}">
                            Students Enrolled in Registration Section {{ registration }}
                        </th>
                    </tr>
                    {% for student in students %}
                        <tr id="user-{{ student.getId() }}" class="{{ student.accessGrading() ? 'access-grading' : '' }}">
                            <td></td>
                            {% for col in column_config %}
                                {% if col.active %}
                                    <td class="td-{{ col.id }}">
                                        {% if col.id == 'registration-section' %}
                                            {{ registration }}{{ student.getRegistrationSubsection ? ' - ' ~ student.getRegistrationSubsection : '' }}
                                            {% if student.isManualRegistration() %}
                                                <i class="fas fa-hammer" title="Manually Registered"></i>
                                            {% endif %}
                                            {% if student.getRegistrationSection() == null and can_rejoin[student.getId()] == true %}
                                                <i class="fa-solid fa-circle-arrow-down" title="Recently Dropped"></i>
                                            {% endif %}
                                        {% elseif col.id == 'user-id' %}
                                            {{ student.getId() }}
                                        {% elseif col.id == 'first-name' %}
                                            {{ student.getDisplayedGivenName() }}
                                        {% elseif col.id == 'last-name' %}
                                            {{ student.getDisplayedFamilyName() }}
                                        {% elseif col.id == 'pronouns' %}
                                            {{ student.getPronouns() }}
                                        {% elseif col.id == 'rotating-section' %}
                                            {{ student.getRotatingSection() ?? "NULL" }}
                                        {% elseif col.id == 'time-zone' %}
                                            {{ formatted_tzs[student.getId()] }}
                                        {% elseif col.id == 'view-grades' %}
                                            <form method="post" action="{{ view_grades_url }}">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                                <input type="hidden" name="student_id" value="{{ student.getId() }}"/>
                                                <a onclick="$(this).parent().submit();"><i class="fas fa-chart-line"></i></a>
                                            </form>
                                        {% elseif col.id == 'late-days' %}
                                            <form method="get" action="{{ view_latedays_url }}">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                                <input type="hidden" name="student_id" value="{{ student.getId() }}"/>
                                                <a onclick="$(this).parent().submit();"><i class="fa fa-calendar"></i></a>
                                            </form>
                                        {% elseif col.id == 'registration-type' %}
                                            {{ student.getRegistrationType() }}
                                        {% elseif col.id == 'edit-student' %}
                                            <a href="javascript:editUserForm('{{ student.getId() }}');"><i class="fas fa-pencil-alt"></i></a>
                                        {% elseif col.id == 'delete-student' %}
                                            <a href="javascript:deleteUserForm('{{ student.getId() }}', '{{ student.getDisplayedGivenName() }}', '{{ student.getDisplayedFamilyName() }}');"><i class="fas fa-trash"></i></a>
                                        {% elseif col.id == 'user-numeric-id' %}
                                            {{ student.getNumericId() }}
                                        {% elseif col.id == 'legal-first-name' %}
                                            {{ student.getLegalGivenName() }}
                                        {% elseif col.id == 'legal-last-name' %}
                                            {{ student.getLegalFamilyName() }}
                                        {% elseif col.id == 'email' %}
                                            {{ student.getEmail() }}
                                        {% elseif col.id == 'secondary-email' %}
                                            {{ student.getSecondaryEmail() }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p id="no-one-found" class="warning">No students found</p>
    {% endif %}

    </div>
{% include('admin/users/UserForm.twig') %}
{% include('admin/users/ClassListForm.twig') %}
{% include('admin/users/DownloadForm.twig') with { 'code': 'user' } %}
{% include('admin/users/DeleteUserForm.twig') %}
