{% import _self as self %}

<div class="content">
    <h1>Gradeables</h1>
    {% if gradeable_sections|length > 0 %}
        <div id="gradeables">
        {% for list_section, info in gradeable_sections %}
            <div id="{{ info.section_id }}" class="course-section-heading">
                <div class="course-section-title">
                    {{ info.title }}
                    {% if info.subtitle != "" %}
                        &nbsp;&nbsp;<em>{{ info.subtitle }}</em>
                    {% endif %}
                </div>
            </div>

            <div id="{{ info.section_id }}-section" class="course-section">
                {% for id, gradeable in info.gradeables %}
                <div id="{{ id }}" class="gradeable-row">
                    <div class="course-main">
                        <div class="course-title">
                            {{ gradeable.title }}
                            {% if gradeable.url|trim != "" %}
                                <a class="external" href="{{ gradeable.url }}" target="_blank" aria-label="Go to instructions for {{ gradeable.title }}">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class='course-button'>
                        {% if gradeable.open != "" %}
                            <div class='btn btn-default btn-nav btn-nav-submit'>{{ gradeable.open }}</div>
                        {% endif %}
                    </div>
                    <div class='course-button'>
                        {% if gradeable.grading != "" %}
                            <div class='btn btn-default btn-nav btn-nav-submit'>{{ gradeable.grading }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="container">
            <p>There are currently no assignments posted.  Please check back later.</p>
        </div>
    {% endif %}
</div>
