{% if invalid_users is defined %}
    {% if invalid_users|length == 0 %}
        <div class="content" style="background-color: var(--actionable-blue);">
            <p>No validation errors!</p>
        </div>
    {% else %}
        <div class="content" style="background-color: var(--danger-red);">
            <p><b>VALIDATION ERRORS</b></p>
            <p>The following users are not mapped:</p>
            {% for user in invalid_users %}
                <p>{{ user }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

<div class="content">
    <h1>SAML Management</h1>
    <h2>Actions</h2>
    <button class="btn btn-primary" id="new-proxy-user-btn">New Proxy User</button>
    <button class="btn btn-primary" id="new-proxy-mapping-btn">Assign Proxy Mapping</button>
    <form method="POST" action="{{ validate_url }}" style="display: inline;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button class="btn btn-warning">Validate Mapped Users</button>
    </form>
    <br><br>
    <h2>Mapped Proxy Users</h2>
    <table class="table">
        <tr>
            <th>SAML Username</th>
            <th>Submitty Username</th>
            <th>Active?</th>
            <th>Action</th>
        </tr>
        {% for row in proxy_mapped_users %}
        <tr>
            <td>{{ row['saml_id'] }}</td>
            <td>{{ row['user_id'] }}</td>
            <td>{{ row['active'] ? 'True' : 'False' }}</td>
            <td>
                {% if row['active'] %}
                    <form method="POST" action="{{ change_active_saml_url }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="hidden" name="activate" value="0">
                        <input type="hidden" name="id" value="{{ row['id'] }}">
                        <button class="btn btn-warning">Deactivate</button>
                    </form>
                {% else %}
                    <form method="POST" action="{{ change_active_saml_url }}" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="hidden" name="activate" value="1">
                        <input type="hidden" name="id" value="{{ row['id'] }}">
                        <button class="btn btn-warning">Activate</button>
                    </form>
                {% endif %}
                <form method="POST" action="{{ delete_mapping_url }}" style="display: inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" name="id" value="{{ row['id'] }}">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% include('superuser/NewProxyUser.twig') %}
{% include('superuser/NewProxyMapping.twig') %}
