<!doctype html>
<html>
<head>
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="{{ base_url }}public/vendor/codemirror/codemirror.css" />
    <link rel="stylesheet" href="{{ base_url }}public/vendor/codemirror/theme/eclipse.css" />
    <link rel="stylesheet" href="{{ base_url }}public/vendor/codemirror/theme/monokai.css" />
    <script type="text/javascript" language="javascript" src="{{ base_url }}public/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}public/vendor/codemirror/codemirror.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}public/vendor/codemirror/mode/clike/clike.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}public/vendor/codemirror/mode/python/python.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}public/vendor/codemirror/mode/shell/shell.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('body').css("height", ($('.CodeMirror').height()) + "px");
        });
    </script>
</head>
<body>
    <textarea id="code0">{{ file_contents }}</textarea>
    {% include 'misc/SourceSettings.twig' with { type: file_type, number: 0 } %}
</body>
</html>
