<!doctype html>
<html>
<head>
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="{{ base_url }}css/iframe/codemirror.css" />
    <link rel="stylesheet" href="{{ base_url }}css/iframe/eclipse.css" />
    <link rel="stylesheet" href="{{ base_url }}css/iframe/monokai.css" />
    <script type="text/javascript" language="javascript" src="{{ base_url }}js/iframe/jquery-2.0.3.min.map.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}js/iframe/codemirror.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}js/iframe/clike.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}js/iframe/python.js"></script>
    <script type="text/javascript" language="javascript" src="{{ base_url }}js/iframe/shell.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('body').css("height", ($('.CodeMirror').height()) + "px");
        });
    </script>
</head>
<body>
    <textarea id="code0">{{ file_contents }}</textarea>
    {% include 'misc/SourceSettings.twig' with { type: file_type, number: 0 } %}
</body>
</html>
