{#
    --- WHEN UPDATING THIS FILE MAKE SURE TO ALSO UPDATE site/app/templates/misc/MarkdownArea.twig ---

    markdown_area_id: required
    onclick: required, onclick event string for the preview_button
    markdown_area_name: optional, but be careful make sure to maintain preexisting names 
                        when converting forms to use this template otherwise they might not work
    markdown_area_query: optional, a JQuery expression that will return the markdown_area such as $('#my_id')
    markdown_area_value: optional, initial value for markdown_area to have
    markdown_buttons_id: optional, id for the span holding the markdown_buttons
    other_textarea_attributes: optional, string containing any custom attributes you want the textarea to have.
                               The string should not have attribute values wrapped in quotes
                                ex. "other_textarea_attributes": "required onkeyup='doSomething()'" <----- BAD
                                    "other_textarea_attributes": "required onkeyup=doSomething()" <----- GOOD
    render_buttons: optional, boolean
    placeholder: optional, placeholder text for the markdown_area
    preview_div_id: technically optional, but giving an id makes getting the div in JS much easier
    preview_div_name: optional
#}
<div class="markdown-area fill-available">
    <div id="{{ markdown_buttons_id ? markdown_buttons_id : "markdown_buttons" }}" style="display:{{ render_buttons ? "block" : "none" }}">
        {% if markdown_area_query %}
            <button type="button" title="Insert a link" onclick="addMarkdownCode(1, {{ markdown_area_query }})" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Link <i class="fas fa-link fa-1x"></i></button>
            <button title="Insert a code segment" type="button" onclick="addMarkdownCode(0, {{ markdown_area_query }})" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Code <i class="fas fa-code fa-1x"></i></button>
            <button title="Insert bold text" type="button" onclick="addMarkdownCode(2, {{ markdown_area_query }})" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Bold <i class="fas fa-bold fa-1x"></i></button>
            <button title="Insert italic text" type="button" onclick="addMarkdownCode(3, {{ markdown_area_query }})" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Italics <i class="fas fa-italic fa-1x"></i></button>
        {% else %}
            <button type="button" title="Insert a link" onclick="addMarkdownCode(1, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Link <i class="fas fa-link fa-1x"></i></button>
            <button title="Insert a code segment" type="button" onclick="addMarkdownCode(0, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Code <i class="fas fa-code fa-1x"></i></button>
            <button title="Insert bold text" type="button" onclick="addMarkdownCode(2, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Bold <i class="fas fa-bold fa-1x"></i></button>
            <button title="Insert italic text" type="button" onclick="addMarkdownCode(3, $('#{{ markdown_area_id }}'))" class="btn btn-default btn-markdown key_to_click"  tabindex="0">Italics <i class="fas fa-italic fa-1x"></i></button> 
        {% endif %}
        <button title="Preview Markdown" type="button" onclick="{{ onclick }}" class="btn btn-default btn-markdown key_to_click" tabindex="0">Preview <i class="fas fa-eye fa-1x"></i></button>
        <a target="_blank" href="https://submitty.org/student/communication/markdown">
            Supports Markdown
            <i style="font-style:normal;" class="fa-question-circle"></i>
        </a>
    </div>
    <label for="{{ markdown_area_id }}" tabindex="0" hidden>{{ markdown_area_id }}</label>
    <textarea
        id="{{ markdown_area_id }}"
        class="fill-available {{ class }}"
        name="{{ markdown_area_name }}"
        style="resize: vertical; min-height: 100px; max-height: 300px; width: -webkit-fill-available;"
        placeholder="{{ placeholder }}"
        rows="10" cols="30"
        maxlength="5000"
        onchange="{{ textarea_onchange }}"
        onkeydown="{{ textarea_onkeydown }}"
        data-previous-comment="{{ data_previous_comment }}"
        {{ other_textarea_attributes }}>{{ markdown_area_value }}</textarea>
    <div id="{{ preview_div_id }}" name="{{ preview_div_name }}" class="fill-available markdown-preview" style="resize:none;min-height:{{ min_height }};max-height:300px;" hidden></div>
</div>

<script>
    $('#{{markdown_area_id}}').ready(function() {
        enableTabsInTextArea("#{{markdown_area_id}}");
    })
</script>