{#
    Combo box for choosing an existing gradeable as a template for the new one
        (Only show this option if we aren't in edit mode).
#}
{% if action == 'add' %}
    <div>
        From Template: 
        <select name="gradeable_template" style='width: 170px;' value=''>
            <option>--None--</option>

            {% for template in admin_gradeable.getTemplateList() %}
                <option {{ admin_gradeable.getGId() == template.g_id ? 'selected' : '' }}
                    value="{{ template.g_id }}">{{ template.g_title }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}

{# 
    Primary Form
#}
<!-- Gradeable ID (readonly in edit mode, required) -->
What is the unique id of this gradeable? (e.g., <kbd>hw01</kbd>, <kbd>lab_12</kbd>, or <kbd>midterm</kbd>):
    <input style='width: 200px' type='text' name='gradeable_id' id="gradeable_id" class="required" 
        value="{{ admin_gradeable.getGId() }}" placeholder="(Required)" {{ action == 'edit' ? 'readonly' : 'required' }} />

<br />

<!-- Gradeable Title (read/write in all modes) -->
What is the title of this gradeable?: 
    <input style='width: 227px' type='text' name='gradeable_title' id='gradeable_title_id' class="required" 
        value="{{ admin_gradeable.getGTitle() }}" placeholder="(Required)" required/>

<br />

<!-- Instruction URL (read/write in all modes) -->
What is the URL to the assignment instructions? (shown to student) 
    <input style='width: 227px' type='text' name='instructions_url' 
        value="{{ admin_gradeable.getGInstructionsUrl() }}" placeholder="(Optional)" />

<br /> 

<!-- Gradeable Type radio buttons (readonly in edit mode) -->
What is the <a target=_blank href="http://submitty.org/instructor/create_edit_gradeable#types-of-gradeables">type of the gradeable</a>?: 
    <input type='radio' id="radio_electronic_file" class="electronic_file" name="gradeable_type" value="Electronic File"
        {{ (admin_gradeable.getGGradeableType() == 0 and admin_gradeable.getGId() != '') ? 'checked' : '' }}
        {{ action == "edit" ? disabled : null }}> Electronic File

    <input type='radio' id="radio_checkpoints" class="checkpoints" name="gradeable_type" value="Checkpoints"
        {{ (admin_gradeable.getGGradeableType() == 1 and admin_gradeable.getGId() != '') ? 'checked' : '' }}
        {{ action == "edit" ? disabled : null }}> Checkpoints

    <input type='radio' id="radio_numeric" class="numeric" name="gradeable_type" value="Numeric"
        {{ (admin_gradeable.getGGradeableType() == 2 and admin_gradeable.getGId() != '') ? 'checked' : '' }}
        {{ action == "edit" ? disabled : null }}> Numeric/Text 

    <div id="required_type" style="color:red; display:inline;">(Required)</div>

<br />

<!-- This is only relevant to Electronic Files -->
<fieldset class="gradeable_type_options electronic_file" id="electronic_file">

    <br />
    Is this a team assignment? <em style='color:green;'>Team assignments are new as of Fall 2017.  Email questions/bugs/feedback to: submitty@cs.rpi.edu.</em>
    <br />
        <input type="radio" id = "team_yes_radio" class="team_yes" name="team_assignment" value="true"
            {{ admin_gradeable.getEgTeamAssignment() ? 'checked' : '' }}
            {{ action == "edit" ? 'disabled' : '' }}> Yes

        <input type="radio" id = "team_no_radio" class="team_no" name="team_assignment" value ="false"
            {{ not admin_gradeable.getEgTeamAssignment() ? 'checked' : '' }}
            {{ action == "edit" ? 'disabled' : '' }}> No

    <!-- Team settings (read only in edit mode) -->
    <div id="team_settings">
        <div class="team_assignment team_yes" id="team_yes">
            <br />

            <!-- Inherit teams from a nother gradeable? -->
            Use teams from a previous gradeable:

            {# 
                Use a combo box if we can edit the value, otherwise show a text box (readonly)
            #}
            {% if action == 'add' %}
                <select id='gradeable_teams' name="gradeable_teams" style='width: 170px;' 
                    value='{{ admin_gradeable.getEgInheritTeamsFrom() }}'>
                    <option value=''>--None--</option>

                    {% for parent in admin_gradeable.getInheritTeamsList() %}
                        <option {{ admin_gradeable.getEgInheritTeamsFrom() == parent.g_id ? 'selected' : '' }}
                            value="{{ parent.g_id }}">{{ parent.g_title }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input id='gradeable_teams_read' name='gradeable_teams_read' style='width=170px' 
                    value='{{ admin_gradeable.getEgInheritTeamsFrom() }}' readonly/>
            {% endif %}
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    //
    // Event Handlers
    //
    function onGradeableTypeChange() {
        // Hide red text once user selects an option
        if($('#radio_electronic_file').is(':checked') ||
           $('#radio_checkpoints').is(':checked') ||
           $('#radio_numeric').is(':checked')) {
               $('#required_type').hide();
        }

        // Display team options if the user selects electronic gradeables
        if($('#radio_electronic_file').is(':checked')) {
            $('#electronic_file').show();
            onTeamAssignmentChange();
        }
        else {
            $('#electronic_file').hide();
            $('#team_yes').hide();
        }
    }

    function onTeamAssignmentChange() {
        if($('#team_yes_radio').is(':checked')) {
            $('#team_yes').show();
        }
        else {
            $('#team_yes').hide();
        }
    }

    $(document).ready(function() {

        //
        // Template Selector Box Events
        //

        // Event handler for the gradeable template selection change
        $('[name="gradeable_template"]').change(
        function() {
            // TODO: what if this.value === ''?
            var arrayUrlParts = [];
            arrayUrlParts["component"]   = ["admin"];
            arrayUrlParts["page"]        = ["admin_gradeable"];
            arrayUrlParts["action"]      = ["upload_new_template"];
            arrayUrlParts["template_id"] = [this.value];

            // Redirect user to the same page, but in the process,
            //  fetch the data from the template gradeable
            var new_url = buildUrl(arrayUrlParts);
            window.location.href = new_url;
        });

        //
        // Gradeable Type Radio Button Events
        //

        // Hide team settings if it isn't a electronic gradeable
        onGradeableTypeChange();
        $('[name="gradeable_type"]').change(onGradeableTypeChange);

        // Hide team settings if team's are not the selected option
        onTeamAssignmentChange();
        $('[name="team_assignment"]').change(onTeamAssignmentChange);
    });

    function checkFormCreate() {
        var gradeable_id = $('#gradeable_id').val();
        var gradeable_title = $('gradeable_title_id').val();
        var has_space = gradeable_id.includes(" ");
        var test = /^[a-zA-Z0-9_-]*$/.test(gradeable_id);

        var check1 = $('#radio_electronic_file').is(':checked');
        var check2 = $('#radio_checkpoints').is(':checked');
        var check3 = $('#radio_numeric').is(':checked');
        
        var all_gradeable_ids = {{js_gradeables_array|raw}};
        
        if ('{{action}}' == 'add') {
            if(all_gradeable_ids.find(element => element == gradeable_id)) {
                alert("Gradeable already exists");
                return false;
            }
        }
        if (!test || has_space || gradeable_id == "" || gradeable_id === null) {
            $( "#alert-message" ).dialog( "open" );
            return false;
        }
        if(!check1 && !check2 && !check3) {
            alert("A type of gradeable must be selected");
            return false;
        }

        return true;
    }

</script>