<div class="electronic_file">
    <b>Full path to the directory containing the autograding config.json file:</b><br>
    <fieldset>
        <input type="radio" id="default_configs" class="config_option" value="true" {% if which_config_option == 0 %} checked = "true" {% endif %}/> Default configs
        <input type="radio" id="uploaded_configs" class="config_option" value="false" {% if which_config_option == 1 %} checked = "true" {% endif %}/> Uploaded configs
        {% if repo_name != "" %}
            <input type="radio" id="private_repository" class="config_option" value="false" {% if which_config_option == 2 %} checked = "true" {% endif %}/> Use Private repository ({{ repo_name }})
        {% endif %}
        <input type="radio" id="provide_full_path" class="config_option" value="false" {% if which_config_option == 3 %} checked = "true" {% endif %}/> Provide full path
        <div class="div_select_config" id="div_default_configs" style="display: {% if which_config_option == 0 %} block {% else %} none {% endif %}">
            <select class="select_config_path" id="select_default_config" style="width: 700px;">
                <option value=""></option>
                {% for path in default_config_paths %}
                    {% if which_config_option == 0 and path == admin_gradeable.getEgConfigPath() %}
                        <option value="{{ path }}" selected="selected">{{ path }}</option>
                    {% else %}
                        <option value="{{ path }}">{{ path }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="div_select_config" id="div_uploaded_configs" style="display: {% if which_config_option == 1 %} block {% else %} none {% endif %}">
            <select class="select_config_path" id="select_uploaded_config" style="width: 700px;">
                <option value=""></option>
                {% for path in all_uploaded_config_paths %}
                    {% if which_config_option == 1 and path == admin_gradeable.getEgConfigPath() %}
                        <option value="{{ path }}" selected="selected">{{ path }}</option>
                    {% else %}
                        <option value="{{ path }}">{{ path }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <a class="btn btn-primary" style="margin-top: 6px" href="{{ core.buildUrl({'component': 'admin', 'page': 'gradeable', 'action': 'upload_config'}) }}">Upload a config</a>
        </div>
        <div class="div_select_config" id="div_repository_configs" style="display: {% if which_config_option == 2 %} block {% else %} none {% endif %}">
            <select class="select_config_path" id="select_repository_config" style="width: 700px;">
                <option value=""></option>
                {% for path in all_repository_config_paths %}
                    {% if which_config_option == 2 and path == admin_gradeable.getEgConfigPath() %}
                        <option value="{{ path }}" selected="selected">{{ path }}</option>
                    {% else %}
                        <option value="{{ path }}">{{ path }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <br />
        <p>Current config setting:</p>
        <input style='width: 83%' type='text' id='input_provide_full_path' name='eg_config_path' value="{{ admin_gradeable.getEgConfigPath() }}" class="required" placeholder="(Required)"
                {% if which_config_option != 3 %} disabled {% endif %}/>
    </fieldset>
    <br /> <br />

    Should students be able to view submissions?
    <fieldset>
        <input type="radio" id="yes_student_view" name="eg_student_view" value="true"
                {{ admin_gradeable.getEgStudentView() ? 'checked' : '' }}/> Yes
        <input type="radio" id="no_student_view" name="eg_student_view" value="false"
                {{ not admin_gradeable.getEgStudentView() ? 'checked' : '' }}/> No  &nbsp;&nbsp;&nbsp;
        (Select 'No' during grading of a bulk upload pdf quiz/exam.)

        <div id="student_submit_download_view">

            <br />
            Should students be able to make submissions? (Select 'No' if this is a bulk upload pdf quiz/exam.)
            <input type="radio" id="yes_student_submit" name="eg_student_submit" value="true"
                    {{ admin_gradeable.getEgStudentSubmit() ? 'checked' : '' }}/> Yes
            <input type="radio" id="no_student_submit" name="eg_student_submit" value="false"
                    {{ not admin_gradeable.getEgStudentSubmit() ? 'checked' : '' }}/> No
            <br /> <br />

            Should students be able to download submitted files? (Select 'Yes' to allow download of uploaded pdf quiz/exam.)
            <input type="radio" id="yes_student_download" name="eg_student_download" value="true"
                    {{ admin_gradeable.getEgStudentDownload ? 'checked' : '' }}/> Yes
            <input type="radio" id="no_student_download" name="eg_student_download" value="false"
                    {{ not admin_gradeable.getEgStudentDownload ? 'checked' : '' }}/> No
            <br /> <br />

            Should students be able to view/download any version or just the active version ? (Select 'Active version only' if this is an uploaded pdf quiz/exam.)
            <input type="radio" id="yes_student_any_version" name="eg_student_any_version" value="true"
                    {{ admin_gradeable.getEgStudentAnyVersion() ? 'checked' : '' }}/> Any version
            <input type="radio" id="no_student_any_version" name="eg_student_any_version" value="false"
                    {{ not admin_gradeable.getEgStudentAnyVersion() ? 'checked' : '' }}/> Active version only

        </div>
        <br />
    </fieldset>
    <h3>Build log:</h3>
    {% if cmake_output is null %}
        <pre>There is currently no build output.</pre>
    {% else %}
        <pre>{{ cmake_output }}</pre>
    {% endif %}

</div>

<script type="text/javascript">
    var blankQuestion =
        {
            'id': 'NEW',
            'title': '',
            'ta_comment': '',
            'student_comment': ''
        };

    function onPdfChange() {
        if($('#yes_pdf_page').is(':checked')) {
            // $('#pdf_page').show();
            // $('.pdf_page_input').show();
            disableElementChildren('#pdf_page', false);
            disableElementChildren('.pdf_page_input', $('#yes_pdf_page_student').is(':checked'));
        }
        else {
            // $('#pdf_page').hide();
            // $('.pdf_page_input').hide();
            disableElementChildren('#pdf_page', true);
            disableElementChildren('.pdf_page_input', true);
        }
    }

    function onConfigChange(){
        $('.config_option').not(this).prop('checked', false);
        if($('#default_configs').is(':checked')) {
            $('.div_select_config').hide();
            $('#div_default_configs').show();
            $('#input_provide_full_path').prop('disabled', true);
            $("#select_default_config").val($("#select_default_config option:first").val());
        } else if($('#uploaded_configs').is(':checked')){
            $('.div_select_config').hide();
            $('#div_uploaded_configs').show();
            $('#input_provide_full_path').prop('disabled', true);
            $("#select_uploaded_config").val($("#select_uploaded_config option:first").val());
        } else if($('#private_repository').is(':checked')){
            $('.div_select_config').hide();
            $('#div_repository_configs').show();
            $('#input_provide_full_path').prop('disabled', true);
            $("#select_repository_config").val($("#select_repository_config option:first").val());
        } else {
            $('.div_select_config').hide();
            $('#input_provide_full_path').prop('disabled', false);
        }
    }

    function onConfigPathChange(){
        if($('#default_configs').is(':checked')) {
            $('#input_provide_full_path').val($('#select_default_config').val());
            $('#input_provide_full_path').change();
        } else if($('#uploaded_configs').is(':checked')){
            $('#input_provide_full_path').val($('#select_uploaded_config').val());
            $('#input_provide_full_path').change();
        } else if($('#private_repository').is(':checked')){
            $('#input_provide_full_path').val($('#select_repository_config_config').val());
            $('#input_provide_full_path').change();
        }
    }

    function onStudentViewChange() {
        if($('#yes_student_view').is(':checked')) {
            //$('#student_submit_download_view').show();
            disableElementChildren('#student_submit_download_view', false);
        }
        else {
            // $('#student_submit_download_view').hide();
            disableElementChildren('#student_submit_download_view', true);
            $('#no_student_submit').prop('checked', true);
            $('#no_student_download').prop('checked',true);
            $('#yes_student_any_version').prop('checked',true);
            $('#student_submit_download_view').hide();
        }
    }

    $(document).ready(function() {

        // Hide PDF settings if not in use
        onPdfChange();
        $('[name="eg_pdf_page"]').change(onPdfChange);

        // Hide PDF pages in Rubric if students assign them
        $('[name="eg_pdf_page_student"]').change(onPdfChange);

        // Only show the settings if the setting is enabled
        onStudentViewChange();
        $('[name="eg_student_view"]').change(onStudentViewChange);
        $('.config_option').change(onConfigChange);
        $('.select_config_path').change(onConfigPathChange);
    });
</script>