{% import _self as self %}
<div class="electronic_file">
    <b>Full path to the directory containing the autograding config.json file:</b><br>
    See samples here: <a target=_blank href="https://github.com/Submitty/Tutorial/tree/master/examples">Submitty GitHub sample assignment configurations</a><br>
    <kbd>/usr/local/submitty/more_autograding_examples/upload_only/config</kbd>  (an assignment without autograding)<br>
    <kbd>/var/local/submitty/private_course_repositories/MY_COURSE_NAME/MY_HOMEWORK_NAME/</kbd> (for a custom autograded homework)<br>
    <kbd>/var/local/submitty/courses/{{ semester }}/{{ course }}/config_upload/#</kbd> (for a web uploaded configuration)<br>
    <fieldset>

        {% set default_paths = ["/usr/local/submitty/more_autograding_examples/upload_only/config",
            "/usr/local/submitty/more_autograding_examples/iclicker_upload/config",
            "/usr/local/submitty/more_autograding_examples/left_right_exam_seating/config",
            "/usr/local/submitty/more_autograding_examples/pdf_exam/config",
            "/usr/local/submitty/more_autograding_examples/test_notes_upload/config",
            "/usr/local/submitty/more_autograding_examples/test_notes_upload_3page/config"] %}



        <input type="radio" id="default_configs" class="eg_config" value="true" {{ self.rightButton(default_paths, admin_gradeable.getEgConfigPath()) }} /> Default configs
        <input type="radio" id="uploaded_configs" class="eg_config" value="false" {{ self.rightButton(all_uploaded_paths, admin_gradeable.getEgConfigPath()) }} /> Uploaded configs
        <input type="radio" id="private_repository" class="eg_config" value="false" /> Use Private repository
        <input type="radio" id="provide_full_path" class="eg_config" value="false" {{ self.rightButton("use_full_path", admin_gradeable.getEgConfigPath()) }}/> Provide full path
        <div class="div_select_config" id="div_default_configs" style="display: block">
            <select id="select_default_config" style="width: 700px;">
                {% for path in default_paths %}
                    <option value="{{ path }}">{{ path }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="div_select_config" id="div_uploaded_configs" style="display: none">
            <select id="select_uploaded_config" style="width: 700px;">
                {% for path in all_uploaded_paths %}
                    <option value="{{ path }}">{{ path }}</option>
                {% endfor %}
            </select>
        </div>
        <br />
        <input style='width: 83%' type='text' id='input_provide_full_path' name='eg_config_path' value="{{ admin_gradeable.getEgConfigPath() }}" class="required" placeholder="(Required)" disabled/>
    </fieldset>
    <br /> <br />

    Should students be able to view submissions?
    <fieldset>
        <input type="radio" id="yes_student_view" name="eg_student_view" value="true"
                {{ admin_gradeable.getEgStudentView() ? 'checked' : '' }}/> Yes
        <input type="radio" id="no_student_view" name="eg_student_view" value="false"
                {{ not admin_gradeable.getEgStudentView() ? 'checked' : '' }}/> No  &nbsp;&nbsp;&nbsp;
        (Select 'No' during grading of a bulk upload pdf quiz/exam.)

        <div id="student_submit_download_view">

            <br />
            Should students be able to make submissions? (Select 'No' if this is a bulk upload pdf quiz/exam.)
            <input type="radio" id="yes_student_submit" name="eg_student_submit" value="true"
                    {{ admin_gradeable.getEgStudentSubmit() ? 'checked' : '' }}/> Yes
            <input type="radio" id="no_student_submit" name="eg_student_submit" value="false"
                    {{ not admin_gradeable.getEgStudentSubmit() ? 'checked' : '' }}/> No
            <br /> <br />

            Should students be able to download submitted files? (Select 'Yes' to allow download of uploaded pdf quiz/exam.)
            <input type="radio" id="yes_student_download" name="eg_student_download" value="true"
                    {{ admin_gradeable.getEgStudentDownload ? 'checked' : '' }}/> Yes
            <input type="radio" id="no_student_download" name="eg_student_download" value="false"
                    {{ not admin_gradeable.getEgStudentDownload ? 'checked' : '' }}/> No
            <br /> <br />

            Should students be able to view/download any version or just the active version ? (Select 'Active version only' if this is an uploaded pdf quiz/exam.)
            <input type="radio" id="yes_student_any_version" name="eg_student_any_version" value="true"
                    {{ admin_gradeable.getEgStudentAnyVersion() ? 'checked' : '' }}/> Any version
            <input type="radio" id="no_student_any_version" name="eg_student_any_version" value="false"
                    {{ not admin_gradeable.getEgStudentAnyVersion() ? 'checked' : '' }}/> Active version only

        </div>
        <br />
    </fieldset>
</div>

{% macro rightButton(paths, target_path, has_found) %}
    {% if has_found == "true" %}

    {% else %}
        {% set found = false %}
        {% for path in paths if not found %}
            {% if path == target_path %}
                checked = "true"
                {% set found = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

<script type="text/javascript">
    var blankQuestion =
        {
            'id': 'NEW',
            'title': '',
            'ta_comment': '',
            'student_comment': ''
        };

    function onPdfChange() {
        if($('#yes_pdf_page').is(':checked')) {
            // $('#pdf_page').show();
            // $('.pdf_page_input').show();
            disableElementChildren('#pdf_page', false);
            disableElementChildren('.pdf_page_input', $('#yes_pdf_page_student').is(':checked'));
        }
        else {
            // $('#pdf_page').hide();
            // $('.pdf_page_input').hide();
            disableElementChildren('#pdf_page', true);
            disableElementChildren('.pdf_page_input', true);
        }
    }

    function onConfigChange(){
        $('.eg_config').not(this).prop('checked', false);
        if($('#default_configs').is(':checked')) {
            onConfigPathChange();
            $('.div_select_config').hide();
            $('#div_default_configs').show();
            $('#input_provide_full_path').prop('disabled', true);
        } else if($('#uploaded_configs').is(':checked')){
            $('.div_select_config').hide();
            $('#div_uploaded_configs').show();
            $('#input_provide_full_path').prop('disabled', true);
        } else if($('#private_repository').is(':checked')){
            $('.div_select_config').hide();
            $('#input_provide_full_path').prop('disabled', true);
        } else {
            $('.div_select_config').hide();
            $('#input_provide_full_path').prop('disabled', false);
        }
    }

    function onConfigPathChange(){
        if($('#default_configs').is(':checked')) {
            $('#input_provide_full_path').val($('#select_default_config').val());
            $('#input_provide_full_path').change();
        } else if($('#uploaded_configs').is(':checked')){
            $('#input_provide_full_path').val($('#select_uploaded_config').val());
            $('#input_provide_full_path').change();
        } else if($('#private_repository').is(':checked')){

        } else {

        }
    }

    function onStudentViewChange() {
        if($('#yes_student_view').is(':checked')) {
            //$('#student_submit_download_view').show();
            disableElementChildren('#student_submit_download_view', false);
        }
        else {
            // $('#student_submit_download_view').hide();
            disableElementChildren('#student_submit_download_view', true);
            $('#no_student_submit').prop('checked', true);
            $('#no_student_download').prop('checked',true);
            $('#yes_student_any_version').prop('checked',true);
            $('#student_submit_download_view').hide();
        }
    }

    $(document).ready(function() {

        // Hide PDF settings if not in use
        onPdfChange();
        $('[name="eg_pdf_page"]').change(onPdfChange);

        // Hide PDF pages in Rubric if students assign them
        $('[name="eg_pdf_page_student"]').change(onPdfChange);

        // Only show the settings if the setting is enabled
        onStudentViewChange();
        $('[name="eg_student_view"]').change(onStudentViewChange);
        $('.eg_config').change(onConfigChange);
        $('select').change(onConfigPathChange);
    });
</script>