<link rel="stylesheet" type="text/css" href="css/admin-gradeable.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" language="javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery-ui.min.js"></script>
<div id="container-rubric">
    <form id="gradeable-form" class="form-signin" action="{{submit_url}}" 
        method="post" enctype="multipart/form-data" onsubmit="return checkForm();"> 

        <div class="modal-header" style="overflow: auto;">
            <h3 id="myModalLabel" style="float: left;">Gradeable Editor {{ label_message }}</h3>
            <br />
            <br />
            <b>For Help, Read: <a target=_blank href="http://submitty.org/instructor/create_edit_gradeable">Submitty Instructions on "Create or Edit a Gradeable"</a></b>
        </div>
        <br/>
        <div id="nav-bar">
            <text class="nav-bar-item" id="page_0_nav" onClick="onChangeNavTab(0);">Create</text>
            <text class="nav-bar-item" id="page_1_nav" onClick="onChangeNavTab(1);">Rubric</text>
            <text class="nav-bar-item" id="page_2_nav" onClick="onChangeNavTab(2);">Dates</text>
            <text class="nav-bar-item" id="page_3_nav" onClick="onChangeNavTab(3);">Grader Assignment</text>
            <text class="nav-bar-item" id="page_4_nav" onClick="onChangeNavTab(4);">Syllabus</text>
        </div>
        <br/>
        <div class="modal-body" style="/*padding-bottom:80px;*/ overflow:visible;">
            <div id="page_0_content">{{ include('admin/admin_gradeable/AdminGradeableCreate.twig')   }}</div>
            <div id="page_1_content">{{ include('admin/admin_gradeable/AdminGradeableRubric.twig')   }}</div>
            <div id="page_2_content">{{ include('admin/admin_gradeable/AdminGradeableDates.twig')    }}</div>
            <div id="page_3_content">{{ include('admin/admin_gradeable/AdminGradeableGraders.twig')  }}</div>
            <div id="page_4_content">{{ include('admin/admin_gradeable/AdminGradeableSyllabus.twig') }}</div>
        </div>
        <br/>
        <div id="nav-controls">
            <button class="btn btn-primary" type="submit" style="margin-right:10px; float: right;">{{submit_text}}</button>
            <button class="btn btn-primary" id="next_button" onClick="onChangeNavTab(adminGradeableNavTab+1);" style="margin-right:10px; float: right;">Next</button>
            <!--<button class="btn btn-primary" type="submit" style="margin-right:10px; float: right;">Discard Changes</button>-->
        </div>
    </form>
</div>
<script type="text/javascript">

    adminGradeableNavTab = 0;
    function onChangeNavTab(tab) {
        if(tab > 4 || tab < 0) {
            alert('Invalid Navigation');
            return;
        }
        adminGradeableNavTab = tab;
        
        // TODO: all pages display for a short time before they are hidden
        $('#page_0_content').hide();
        $('#page_1_content').hide();
        $('#page_2_content').hide();
        $('#page_3_content').hide();
        $('#page_4_content').hide();

        $('#page_' + tab + '_content').show();

        // Hide "next" button if we're on the last page
        if(adminGradeableNavTab === 4) {
            $('#next_button').hide();
        }
        else {
            $('#next_button').show();
        }
    }

    function disableNavItem(id) {
        $(id).attr('style', 'background-color: #999999; cursor: default;');
        $(id).attr('onClick', '');
    }

    $(document).ready(function() {
        // Create mode, so disable naviation via nav bar
        if('{{action}}' === 'add')
        {
            onChangeNavTab(0);

            // TODO: renable this once submission works
            /*[
                '#page_1_nav', 
                '#page_2_nav', 
                '#page_3_nav', 
                '#page_4_nav'
            ].forEach(disableNavItem);*/

            // Hide next button
            $('#next_button').hide();
        }
        else
        {
            onChangeNavTab({{ nav_tab }});
        }
    });

    // Only succeeds if all child forms succeed
    function checkForm() {
        return checkFormCreate()/* && 
               checkFormRubric() && 
               checkFormDates() && 
               checkFormGraders() && 
               checkFormSyllabus()*/;
    }

</script>
