{% if label_message != '' %}
    <h3>{{ label_message|raw }}{{ '<br/><br/>'|raw }}</h3>
{% endif %}
{% if gradeable.getType() == 0 %}
    {{ include('admin/admin_gradeable/rubric/ElectronicFileRubric.twig')   }}
{% else %}
    What overall instructions should be provided to the TA?:<br />
    <!--NOTE: "textarea" contents (space between <textarea> and </textarea>") should not have any extra characters
                    (that's why the '>' is on the next line)-->
    <textarea rows="4" cols="200" name="ta_instructions" placeholder="(Optional)" style="width: 500px;"
    >{{ gradeable.getTaInstructions() }}</textarea>
    <br /><br />
    {% if gradeable.getType() == 1 %}
        {{ include('admin/admin_gradeable/rubric/CheckpointsRubric.twig')   }}
    {% else %}
        {{ include('admin/admin_gradeable/rubric/NumericRubric.twig')   }}
    {% endif %}
{% endif %}
