<div class="content">
    <h1> Polls </h1>
    <hr/>

    <div class="dropdown-wrapper">
        <div class="dropdown-bar">
            <h2> Today's Polls </h2>
            <div class="dropdown-btn">
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
        <table id="today-table" class="table table-striped" style="width:100%;">
                <col style="width: 40%">
                <col style="width: 35%">
                <col style="width: 25%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Your Answer</th>
                    <th scope="col">View Poll</th>
                </tr>
            </thead>
            <tbody>
                {% for poll in todays_polls %}
                    <tr>
                        <td align="left"> {{ poll.getName() }} </td>
                        <td align="left">
                            {% set response_label = poll.getUserResponse(user_id) is same as(null) ? "No Response" : poll.getAllResponsesString(poll.getUserResponse(user_id)) %}
                            {% include "misc/Markdown.twig" with {
                                content: response_label
                            } only %}
                        </td>
                        <td>
                            <a href="{{ base_url }}/viewPoll/{{ poll.getId() }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getId() }}"/>
                                {% if poll.isOpen() %}
                                    {% if poll.getUserResponse(user_id) is same as(null) %}
                                        <button type="submit" class="btn btn-success"> Answer
                                    {% else %}
                                        <button type="submit" class="btn btn-primary"> Edit Answer
                                    {% endif %}
                                    </button>
                                {% elseif poll.isEnded() %}
                                    <button type="submit" class="btn btn-primary"> View Poll </button>
                                {% else %}
                                    <a style="color:inherit ; pointer-events: none ; cursor: default ;" >Closed</a>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>

    <div class="dropdown-wrapper">
        <div class="dropdown-bar">
            <h2> Older Polls </h2>
             <div class="dropdown-btn">
                 <i class="fa fa-chevron-down"></i>
            </div>
        </div>
        <table id="older-table" class="table table-striped" style="width:100%;">
            <col style="width: 40%">
            <col style="width: 35%">
            <col style="width: 25%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Your Answer</th>
                    <th scope="col">View Poll</th>
                </tr>
            </thead>
            <tbody>
                {% for poll in older_polls %}
                    <tr>
                        <td align="left"> {{ poll.getName() }} </td>
                        {% set response_label = poll.getUserResponse(user_id) is same as(null)? "No Response" : poll.getAllResponsesString(poll.getUserResponse(user_id)) %}
                        <td align="left">
                            {% include "misc/Markdown.twig" with {
                                content: response_label
                            } only %}
                        </td>
                        <td>
                            <a href="{{ base_url }}/viewPoll/{{ poll.getId() }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getId() }}"/>
                                {% if poll.isOpen() %}
                                    {% if poll.getUserResponse(user_id) is same as(null) %}
                                        <button type="submit" class="btn btn-success"> Answer
                                    {% else %}
                                        <button type="submit" class="btn btn-primary"> Edit Answer
                                    {% endif %}
                                    </button>
                                {% elseif poll.isEnded() %}
                                    <button type="submit" class="btn btn-primary"> View Poll </button>
                                {% else %}
                                    <a style="color:inherit ; pointer-events: none ; cursor: default ;" >Closed</a>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
