<div class="content">
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}"/>
    <input type="hidden" id="base_url" value="{{ base_url }}"/>

    <h1> Polls </h1>
    <a href="{{base_url}}/newPoll" class="btn btn-primary">New Poll</a>
    <hr>

    <div class="dropdown-wrapper">
        <div class="dropdown-bar">
            <h2> Today's Polls </h2>
            <div class="dropdown-btn">
                <i class="dropdown-arrow down"></i>
            </div>
        </div>
        <table id="today-table" class="table table-striped" style="width:100%;">
            <col style="width: 20%">
            <col style="width: 16%">
            <col style="width: 16%">
            <col style="width: 16%">
            <col style="width: 16%">
            <col style="width: 16%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Visible</th>
                    <th scope="col">Accepting Answers</th>
                    <th scope="col">Edit</th>
                    <th scope="col">View Results</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for poll in todays_polls %}
                    <tr>
                        <td> {{ poll.getName() }} </td>
                        <td>
                            <input class="key_to_click" tabindex="0" type="checkbox" id="poll_{{ poll.getID() }}_visible" aria-label="label" onclick='updatePollVisible("{{ poll.getName() }}", "{{ poll.getID() }}")' {{ (poll.isOpen() or poll.isEnded) ? 'checked' : '' }}>
                        </td>
                        <td>
                            <input class="key_to_click" tabindex="1" type="checkbox" id="poll_{{ poll.getID() }}_view_results" aria-label="label" onclick='updatePollAcceptingAnswers("{{ poll.getName() }}", "{{ poll.getID() }}")' {{ poll.isOpen ? 'checked' : ''}}>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/editPoll">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-primary">Edit Poll</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/viewResults">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-primary">View Results</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/deletePoll">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <br/>
    <hr>

    <div class="dropdown-wrapper">
        <div class="dropdown-bar">
            <h2> Old Polls </h2>
            <div class="dropdown-btn">
                <i class="dropdown-arrow right"></i>
            </div>
        </div>
        <table id="older-table" class="table table-striped" style="width:100%; display: none;">
            <col style="width: 20%">
            <col style="width: 14%">
            <col style="width: 10%">
            <col style="width: 15%">
            <col style="width: 13%">
            <col style="width: 15%">
            <col style="width: 13%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Released</th>
                    <th scope="col">Visible</th>
                    <th scope="col">Accepting Answers</th>
                    <th scope="col">Edit</th>
                    <th scope="col">View Results</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for poll in older_polls %}
                    <tr>
                        <td> {{ poll.getName() }} </td>
                        <td> {{ poll.getReleaseDate() }} </td>
                        <td>
                            <input class="key_to_click" tabindex="0" type="checkbox" id="poll_{{ poll.getID() }}_visible" aria-label="label" onclick='updatePollVisible("{{ poll.getName() }}", "{{ poll.getID() }}")' {{ (poll.isOpen() or poll.isEnded) ? 'checked' : '' }}>
                        </td>
                        <td>
                            <input class="key_to_click" tabindex="1" type="checkbox" id="poll_{{ poll.getID() }}_view_results" aria-label="label" onclick='updatePollAcceptingAnswers("{{ poll.getName() }}", "{{ poll.getID() }}")' {{ poll.isOpen ? 'checked' : ''}}>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/editPoll">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-primary">Edit Poll</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/viewResults">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-primary">View Results</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/deletePoll">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br/>
    <hr>

    <div class="dropdown-wrapper">
        <div class="dropdown-bar">
            <h2> Future Polls </h2>
            <div class="dropdown-btn">
                <i class="dropdown-arrow right"></i>
            </div>
        </div>
        <table id="future-table" class="table table-striped" style="width:100%; display: none;">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Released</th>
                    <th scope="col">Edit</th>
                    <th scope="col">View Results</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for poll in future_polls %}
                    <tr>
                        <td> {{ poll.getName() }} </td>
                        <td> {{ poll.getReleaseDate() }} </td>
                        <td>
                            <form method="post" action="{{base_url}}/editPoll">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-primary">Edit Poll</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/viewResults">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-primary">View Results</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{base_url}}/deletePoll">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

    function updatePollAcceptingAnswers(pollname, pollid) {
        let accepting_answers_checkbox = "#poll_" + pollid + "_view_results";
        let visible_checkbox = "#poll_" + pollid + "_visible";
        let csrf_token = $("#csrf_token").val();
        let url = $("#base_url").val();
        let fd = new FormData();
        fd.append('csrf_token', csrf_token);
        fd.append('poll_id', pollid);
        if ($(accepting_answers_checkbox).is(':checked')) {
            $(visible_checkbox).prop('checked', true);
            // send post request for opening poll: setOpen
            url += "/setOpen";
        } else {
            // send post request for ending poll: setEnded
            url += "/setEnded";
        }
        $.ajax({
            url: url,
            type: "POST",
            data: fd,
            processData: false,
            cache: false,
            contentType: false,
            success: function(data) {
                console.log("updatePollAcceptingAnswers sucess!");
            },
            error: function(err) {
                console.error(err);
                window.alert("Something went wrong. Please try again.");
            }
        });
    }

    function updatePollVisible(pollname, pollid) {
        let visible_checkbox = "#poll_" + pollid + "_visible";
        let accepting_answers_checkbox = "#poll_" + pollid + "_view_results";
        let csrf_token = $("#csrf_token").val();
        let url = $("#base_url").val();
        let fd = new FormData();
        fd.append('csrf_token', csrf_token);
        fd.append('poll_id', pollid);
        if (!$(visible_checkbox).is(':checked')) {
            $(accepting_answers_checkbox).prop('checked',false);
            // send post request for closing poll: setClosed
            url += "/setClosed";
        } else {
            // send post request for ending poll: setEnded
            url += "/setEnded";
        }
        $.ajax({
            url: url,
            type: "POST",
            data: fd,
            processData: false,
            cache: false,
            contentType: false,
            success: function(data) {
                console.log("updatePollVisible sucess!");
            },
            error: function(err) {
                console.error(err);
                window.alert("Something went wrong. Please try again.");
            }
        });
    }
</script>
