<div class="content">
    <p>Hello World</p>
    <p>this is the poll page for instructors</p>
    <br/>
    <a href="{{base_url}}/newPoll" class="btn btn-primary">New Poll</a>
    <hr>
    <table class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Toggle</th>
                <th scope="col">Edit</th>
                <th scope="col">View Results</th>
            </tr>
        </thead>
        <tbody>
            {% for poll in polls %}
                <tr>
                    <td> {{ poll.getName() }} </td>
                    {% if poll.isOpen() %}
                        <td>
                            <form method="post" action="{{ base_url }}/setOpen">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <input type="hidden" name="open" value="FALSE"/>
                                <button type="submit" class="btn btn-primary">Close Poll</button>
                            </form>
                        </td>
                    {% else %}
                        <td>
                            <form method="post" action="{{ base_url }}/setOpen">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                                <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                                <input type="hidden" name="open" value="TRUE"/>
                                <button type="submit" class="btn btn-primary">Open Poll</button>
                            </form>
                        </td>
                    {% endif %}
                    <td>
                        <form method="post" action="{{base_url}}/editPoll">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                            <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                            <button type="submit" class="btn btn-primary">Edit Poll</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{base_url}}/viewResults">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                            <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
                            <button type="submit" class="btn btn-primary">View Results</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>