<div class="content">
    {% if not poll is defined %}
        <h1> Add a New Poll </h1>

        <form method="post" action="{{base_url}}/newPoll">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="response_count" id="response-count" value="0"/>

            <label for="poll-name">
                <span> Poll Name: </span>
            </label>
            <input type="text" name="name" id="poll-name"/>
            <br/>

            <label for="poll-question">
                <span> Question: </span>
            </label>
            <input type="text" name="question" id="poll-question"/>
            <br/>

            <label for="poll-time">
                <span> Expected release date: </span>
            </label>
            <input type="date" name="release_date" id="poll-date"/>
            <br/>

            <hr>
            <h2> Responses: </h2>
            <div id="responses">

            </div>
            <br/>
            <button type="button" class="btn btn-primary" onclick="addResponse()">+</button>
            <button type="button" class="btn btn-primary" onclick="removeResponse()">-</button>
            <br/> <br/>

            

            <button type="submit" class="btn btn-primary">Add Poll</button>
        </form>
    {% else %}
        <h1> Edit Poll </h1>

        <form method="post" action="{{base_url}}/editPoll/submitEdits">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" name="poll_id" value="{{ poll.getID() }}"/>
            <input type="hidden" name="response_count" id="response-count" value="{{ poll.getResponses()|length }}"/>

            <label for="poll-name">
                <span> Poll Name: </span>
            </label>
            <input type="text" name="name" id="poll-name" value="{{ poll.getName() }}"/>
            <br/>

            <label for="poll-question">
                <span> Question: </span>
            </label>
            <input type="text" name="question" id="poll-question" value="{{ poll.getQuestion() }}"/>
            <br/>

            <label for="poll-time">
                <span> Expected release date: </span>
            </label>
            <input type="date" name="release_date" id="poll-date" value="{{ poll.getReleaseDate() }}"/>
            <br/>

            <hr>
            <h2> Responses: </h2>
            <div id="responses">
                {% set index = 0%}
                {% for response in poll.getResponses() %}
                    <div id="response_{{index}}_wrapper">
                        <input type=text class="poll_response" name="response_{{index}}" value="{{ response }}" /> 
                        <input type=checkbox name="is_correct_{{index}}" {{ poll.isCorrect(response) ? "checked": "" }} />
                        <br/>
                    </div>
                    {% set index = index + 1%}
                {% endfor %}
            </div>
            <br/>
            <button type="button" class="btn btn-primary" onclick="addResponse()">+</button>
            <button type="button" class="btn btn-primary" onclick="removeResponse()">-</button>
            <br/> <br/>

            

            <button type="submit" class="btn btn-primary">Submit Changes</button>
        </form>
    {% endif %}
</div>


<script>
    function addResponse() {
        count = $(".poll_response").length
        $("#responses").append(`
            <div id="response_${count}_wrapper">
                <input type=text class="poll_response" name="response_${count}" placeholder="Enter response here..."/> 
                <input type=checkbox name="is_correct_${count}"/>
                <br/>
            </div>
        `);
        count += 1
        $("#response-count").val("" + count)
    }

    function removeResponse() {
        count = $(".poll_response").length
        count -= 1
        $(`#response_${count}_wrapper`).remove()
        $("#response-count").val("" + count)
    }

</script>