<div class="content">
    <h1> {{ poll.getName() }} </h1>
    {% include "misc/Markdown.twig" with { 
        "content": poll.getQuestion(),
    } only %}
    {% if file_data is not null %}
        <br/>
        <img src="{{ file_data }}">
        <br/>
    {% endif %}
    <br/>
    <form method="post" action="{{ base_url }}/submitResponse">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <input type="hidden" name="poll_id" value="{{ poll.getId() }}"/>
        <fieldset>
            <legend>
                <h2> Possible responses: </h2>
            </legend>
            <label class="radio" for="answer-no-response">
                {% if poll.isOpen() %}
                    {% if poll.getUserResponse(user_id) is same as(null) %}
                        <input type="radio" value="-1" name="answer" id="answer-no-response" checked/>
                    {% else %}
                        <input type="radio" value="-1" name="answer" id="answer-no-response"/>
                    {% endif %}
                {% else %}
                    {% if poll.getUserResponse(user_id) is same as(null) %}
                        <input type="radio" value="-1" name="answer" id="answer-no-response" checked disabled/>
                    {% else %}
                        <input type="radio" value="-1" name="answer" id="answer-no-response" disabled/>
                    {% endif %}
                {% endif %}
                No response
            </label>
            <br/>
            <br/>
            {% set index = 0%}
            {% for response in poll.getResponses() %}
                <div class = "radio">
                    {% if response is same as(poll.getUserResponse(user_id)) %}
                        {% if poll.isOpen() %}
                            <input type=radio aria-label="Option {{ index + 1 }}" value="{{ response }}" name="answer" id="answer-{{index}}" checked/>
                        {% else %}
                            <input type=radio aria-label="Option {{ index + 1 }}" value="{{ response }}" name="answer" id="answer-{{index}}" checked disabled/>
                        {% endif %}
                    {% elseif poll.isOpen() %}
                        <input type=radio aria-label="Option {{ index + 1 }}" value="{{ response }}" name="answer" id="answer-{{index}}"/>
                    {% else %}
                        <input type=radio aria-label="Option {{ index + 1 }}" value="{{ response }}" name="answer" id="answer-{{index}}" disabled/>
                    {% endif %}
                    {% include "misc/Markdown.twig" with {
                        "content" : poll.getResponseString(response)
                    } only %}
                    <br/>
                    <br/>
                </div>
            {% set index = index + 1%}
            {% endfor %}
        </fieldset>
        {% if poll.isOpen() %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endif %}
    </form>
</div>
