{% set url_path = poll is not null ? "/editPoll/submitEdits" : "/newPoll" %}
{% set question_type = poll is not null ? poll.getQuestionType() : 'single-response-multiple-correct' %}

<div class="content">
    <h1 id = "new-poll-title">{{ poll is not null ? "Edit Poll" : "Add a New Poll" }}</h1>

    <form id="new-poll-form" method="post" action="{{ base_url }}{{ url_path }}" enctype="multipart/form-data">
        {% if poll is not null %}
            <input type="hidden" name="poll_id" value="{{ poll.getId() }}"/>
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>

        <label for="poll-name" class="option-title">
            Poll Name:
        </label>
        <input type="text" name="name" id="poll-name" data-testid="poll-name" placeholder="Enter name here..." value="{{ poll is not null ? poll.getName() }}" />
        <br/> <br/>

        <p class="option-title">Question:</p>
        {% include "misc/MarkdownArea.twig" with {
            "markdown_area_id" : "poll-question",
            "markdown_area_query" : "$('#poll-question')",
            "markdown_area_name" : "question",
            "markdown_area_value" : poll is not null ? poll.getQuestion()  : "",
            "placeholder" : "Enter question here...",
            "preview_div_id" : "poll_preview",
            "preview_div_name" : "poll_preview",
            "onclick" : "previewPollMarkdown.call(this)",
            "render_buttons" : true,
            "min_height" : "100px"
        } only %}
        <br/><br/>

        <span class="option-title" >
        Question Type:
        </span>

        <div class="poll-type-option">
            <input type="radio" id="poll-type-single-response-single-correct" name="question_type" value="single-response-single-correct" onclick="changePollType()" {{ question_type == 'single-response-single-correct'? "checked" : "" }}></input>
            <label for="poll-type-single-response-single-correct">single response - single correct</label>
            <p class="poll-type-description"><i>Students can select only one response, and there is only one full credit answer.</i></p>
        </div>

        <div class="poll-type-option">
            <input type="radio" id="poll-type-single-response-multiple-correct" name="question_type" value="single-response-multiple-correct" onclick="changePollType()" {{ question_type == 'single-response-multiple-correct'? "checked" : "" }}></input>
            <label for="poll-type-single-response-multiple-correct">single response - multiple correct</label>
            <p class="poll-type-description"><i>Students can select only one response, and there are one or more full credit answers.</i></p>
        </div>

        <div class="poll-type-option">
            <input type="radio" id="poll-type-single-response-survey" name="question_type" value="single-response-survey" onclick="changePollType()" {{ question_type == 'single-response-survey'? "checked" : "" }}></input>
            <label for="poll-type-single-response-survey">single response - survey</label>
            <p class="poll-type-description"><i>Students can select only one response, and any selection is worth full credit.</i></p>
        </div>

        <div class="poll-type-option">
            <input type="radio" id="poll-type-multiple-response-exact" name="question_type" value="multiple-response-exact" onclick="changePollType()" {{ question_type == 'multiple-response-exact'? "checked" : "" }}></input>
            <label for="poll-type-multiple-response-exact">multiple response - exact</label>
            <p class="poll-type-description"><i>Students can select one or more responses, and they receive full credit only if their selection exactly matches the instructor's selection.</i></p>
        </div>

        <div class="poll-type-option">
            <input type="radio" id="poll-type-multiple-response-flexible" name="question_type" value="multiple-response-flexible" onclick="changePollType()" {{ question_type == 'multiple-response-flexible'? "checked" : "" }}></input>
            <label for="poll-type-multiple-response-flexible">multiple response - flexible</label>
            <p class="poll-type-description"><i>Students can select one or more responses, and they receive full credit if they select at least one of the instructor's selected responses and do not select any of the instructor's unselected responses.</i></p>
        </div>

        <div class="poll-type-option">
            <input type="radio" id="poll-type-multiple-response-survey" name="question_type" value="multiple-response-survey" onclick="changePollType()" {{ question_type == 'multiple-response-survey'? "checked" : "" }}></input>
            <label for="poll-type-multiple-response-survey">multiple response - survey</label>
            <p class="poll-type-description"><i>Students can select one or more responses, and any selection is worth full credit.</i></p>
        </div>

        <br/>

        <label for="image-file" class="option-title">
            Optional Image:
        </label>
        <input type="file" id="image-file" name="image_file" accept="image/jpeg, image/jpg, image/gif, image/png" onchange="checkImageSize(this)"/>
        <br/>
        {% if poll is not null and poll.getImagePath() != null %}
            Current Image: {{ poll.getImagePath() }}
            <br/>
            <label for="keep-image">
                Keep Image:
            </label>
            <input type="checkbox" id="keep-image" name="keep_image" checked />
        {% endif %}
        <br/>
        <label for="poll-date" class="option-title">
            Expected release date:
        </label>
        <input
            id="poll-date"
            data-testid="poll-date"
            class="poll-date"
            name="release_date"
            autocomplete="off"
            type="text"
            size="10"
            value="{{ poll is not null ? poll.getReleaseDate() | date("Y-m-d") }}"
        />
        <br/>
        <label for="enable-timer" class="option-title">
            Enable Timer?
        </label>
        <input type="checkbox" id="enable-timer" name="enable-timer" onchange="toggleTimerInputs()" {% if poll is not null and (poll.getDuration().h != 0 or poll.getDuration().i != 0 or poll.getDuration().s != 0) %} checked {% endif %} value="enabled" />
        <br/>
        <div id="timer-inputs" {% if poll is null or (poll.getDuration().h == 0 and poll.getDuration().i == 0 and poll.getDuration().s == 0) %} style="display:none" {% endif %}>
            <label class="option-title">
                Expected Duration of Poll:
            </label>
            <div class="poll-input">
                <label for="poll-hours" class="option"> Hours </label><br>
                <input type="number" name="poll-hours" id="poll-hours" class="poll-timer" placeholder="hrs" max="24" min="0" value="{{ poll is not null ? poll.getDuration().h }}" />
            </div>
            <div class="poll-input">
                <label for="poll-minutes" class="option"> Minutes </label><br>
                <input type="number" name="poll-minutes" id="poll-minutes" class="poll-timer" placeholder="min" min="0" value="{{ poll is not null ? poll.getDuration().i }}"/>
            </div>
            <div class="poll-input">
                <label for="poll-seconds" class="option"> Seconds </label><br>
                <input type="number" name="poll-seconds" id="poll-seconds" class="poll-timer" placeholder="sec" min="0" value="{{ poll is not null ? poll.getDuration().s }}"/>
            </div>
        </div>
        <br>
        <label for="student-histogram-release-setting" class="option-title">
            Release response histogram to students:
        </label>
        <select id="student-histogram-release-setting" name="release_histogram">
            <option value="never" {{ poll is null or poll.getReleaseHistogram() == 'never' ? "selected" : "" }}>Never</option>
            <option value="when_ended" {{ poll is not null and poll.getReleaseHistogram() == 'when_ended' ? "selected" : "" }}>After Poll Ended</option>
            <option value="always" {{ poll is not null and poll.getReleaseHistogram() == 'always' ? "selected" : "" }}>Always</option>
        </select>
        <br><br>
        <label for="student-answer-release-setting" class="option-title">
            Show correct response to students:
        </label>
        <select id="student-answer-release-setting" name="release_answer">
            <option value="never" {{ poll is null or poll.getReleaseAnswer() == 'never' ? "selected" : "" }}>Never</option>
            <option value="when_ended" {{ poll is not null and poll.getReleaseAnswer() == 'when_ended' ? "selected" : "" }}>After Poll Ended</option>
            <option value="always" {{ poll is not null and poll.getReleaseAnswer() == 'always' ? "selected" : "" }}>Always</option>
        </select>
        <div class="break-above">
            <label for="poll-custom-options" class="option-title credit-form-item">
                Allow student-written responses?
            </label>
            <input id="poll-custom-options" data-testid="poll-custom-options" class="credit-box credit-form-item" type="checkbox" name="poll-custom-options" {{poll is not null and poll.getAllowsCustomResponses() ? "checked" : ""}}>
            <i>
                <br />
                Are you certain you want to allow student-written responses? Students will be able to submit responses that will be visible to other students.
                Responses may become cluttered. If the question-type is not a survey, these responses will be labeled incorrect by default.
            </i>
        </div>

        <hr>
        <h2> Responses: </h2>
        <div {{is_survey ? "style='display:none'" : "style='display:inline-block'"}}> <!-- Show/Hide 'Toggle All' based on whether the poll is a survey -->
            <input aria-label="Toggle All" id="toggle-all" type="checkbox" name="toggle-all-options" onchange="togglePollFormOptions()">
            <label for="toggle-all" id="toggle-all-label">Toggle All</label>
        </div>
        <div id="responses">
            {% if poll is not null %}
                {% for option in poll.getOptions() %}
                    <div class="response-container" id="response_{{option.getId()}}_wrapper" data-testid="response-{{option.getId()}}-wrapper">
                        <input type="hidden" class="order order-{{option.getOrderId()}}" name="option[{{option.getId()}}][order]" value="{{option.getOrderId()}}"/>
                        <input type="hidden" class="option_id" name="option[{{option.getId()}}][id]" value="{{option.getId()}}"/>
                        <input aria-label="Is correct" class="correct-box" type="checkbox" name="option[{{option.getId()}}][is_correct]" {{ option.isCorrect() or is_survey ? "checked": "" }} {{ is_survey ? "style='display:none'" : "" }}>
                        <textarea aria-label="Response text" data-testid="poll-response" class="poll-response {{option.isCustom() ? 'poll-response-custom' : ''}}" name="option[{{option.getId()}}][response]" rows="10" cols="30">{{option.getResponse()}}</textarea>
                        <div class="move-btn up-btn">
                            <i class="fa fa-lg fa-chevron-up"></i>
                        </div>
                        <div class="move-btn down-btn">
                            <i class="fa fa-lg fa-chevron-down"></i>
                        </div>
                        <div class="move-btn delete-btn" data-testid="response-delete-button">
                            <i class="fa fa-lg fa-trash delete"></i>
                        </div>
                        <br/>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <br/>

        <button type="button" class="btn btn-primary" onclick="addResponse()"><i class="fas fa-plus"></i> Add Response</button>
        <br/> <br/>

        <hr>
        <span id="empty-name-error" class="red-message polls-submit-error" {{ poll is not null ? 'hidden' }}>Please make sure poll name is filled in.<br/></span>
        <span id="empty-question-error" class="red-message polls-submit-error" hidden>Please make sure question is filled in.<br/></span>
        <span id="question-type-error" class="red-message polls-submit-error" hidden>Please make sure to specify the poll question type.<br/></span>
        <span id="empty-date-error" class="red-message polls-submit-error" hidden>Please make sure release date is filled in.<br/></span>
        <span id="response-count-error" class="red-message polls-submit-error" hidden>Please make sure to add at least one response option.<br/></span>
        <span id="single-response-error" class="red-message polls-submit-error" hidden>Please make sure to add exactly one correct response option for poll type "Single response - single correct".<br/></span>
        <span id="correct-response-count-error" class="red-message polls-submit-error" hidden>Please make sure to add at least one correct response.<br/></span>
        <span id="empty-response-error" class="red-message polls-submit-error" hidden>Please make sure all responses are filled in.<br/></span>
        <span id="file-size-error" class="red-message polls-submit-error" hidden>Please make sure to upload a file that does not exceed the maximum size.<br/></span>
        <a href="{{base_url}}" class="btn btn-danger">Cancel</a>
        <button type="submit" id="poll-form-submit" data-testid="poll-form-submit" class="btn btn-primary" {{ poll is null ? 'disabled' }}>{{ poll is null ? 'Add' : 'Save' }} Poll</button>
    </form>
</div>


<script>
    const base_url = "{{ base_url }}";
    let MAX_SIZE = {{ max_size }};
    let poll_id = {{ poll is null ? -1 : poll.getId() }};
    let poll_type = "{{ poll is not null ? poll.getQuestionType() : 'poll-type-single-response-survey' }}";

    flatpickr('.poll-date', {
        allowInput: true,
        dateFormat: "Y-m-d",
        onReady: (a, b, fp) => {
            fp.calendarContainer.firstChild.childNodes[1].firstChild.firstChild.setAttribute('aria-label', 'Month');
        }
    });

    $(document).ready(function() {
        setEventHandlers();
        $("#new-poll-form").on("change click", submitErrorChecks);

        let submit_form = false;
        $("#new-poll-form").submit(function(event) {
            if (!submit_form && {{ poll is not null ? "true" : "false" }} && !$(`#poll-type-${ poll_type }`).is(':checked')) {
                // don't submit yet
                event.preventDefault();
                // send warning
                if (confirm("Changing the poll question type may lead to data of students' answers being " +
                    "lost if students have already begun submitting responses to this poll. " +
                    "Are you sure you want to change the type of this poll?")) {
                    submit_form = true;
                    $("#new-poll-form").submit();
                }
                else {
                    return; // Don't disable the button if the instructor clicked cancel
                }
            }
            $("#poll-form-submit").prop("disabled", true);
        });
    });

</script>
