{% set question_type = poll is defined ? poll.getQuestionType() : 'single-response-multiple-correct' %}

<span class="option-title" >
  Question Type:
</span>


<div class="poll-type-option">
  <input type="radio" id="poll-type-single-response-single-correct" name="question_type" value="single-response-single-correct" onclick="changePollType()" {{ question_type == 'single-response-single-correct'? "checked" : "" }}></input>
  <label for="poll-type-single-response-single-correct">single response - single correct</label>
  <p class="poll-type-description"><i>Students can select only one response, and there is only one full credit answer.</i></p>
</div>

<div class="poll-type-option">
  <input type="radio" id="poll-type-single-response-multiple-correct" name="question_type" value="single-response-multiple-correct" onclick="changePollType()" {{ question_type == 'single-response-multiple-correct'? "checked" : "" }}></input>
  <label for="poll-type-single-response-multiple-correct">single response - multiple correct</label>
  <p class="poll-type-description"><i>Students can select only one response, and there are one or more full credit answers.</i></p>
</div>

<div class="poll-type-option">
  <input type="radio" id="poll-type-single-response-survey" name="question_type" value="single-response-survey" onclick="changePollType()" {{ question_type == 'single-response-survey'? "checked" : "" }}></input>
  <label for="poll-type-single-response-survey">single response - survey</label>
  <p class="poll-type-description"><i>Students can select only one response, and any selection is worth full credit.</i></p>
</div>

<div class="poll-type-option">
  <input type="radio" id="poll-type-multiple-response-exact" name="question_type" value="multiple-response-exact" onclick="changePollType()" {{ question_type == 'multiple-response-exact'? "checked" : "" }}></input>
  <label for="poll-type-multiple-response-exact">multiple response - exact</label>
  <p class="poll-type-description"><i>Students can select one or more responses, and they receive full credit only if their selection exactly matches the instructor's selection.</i></p>
</div>

<div class="poll-type-option">
  <input type="radio" id="poll-type-multiple-response-flexible" name="question_type" value="multiple-response-flexible" onclick="changePollType()" {{ question_type == 'multiple-response-flexible'? "checked" : "" }}></input>
  <label for="poll-type-multiple-response-flexible">multiple response - flexible</label>
  <p class="poll-type-description"><i>Students can select one or more responses, and they receive full credit if they select at least one of the instructor's selected responses and do not select any of the instructor's unselected responses.</i></p>
</div>

<div class="poll-type-option">
  <input type="radio" id="poll-type-multiple-response-survey" name="question_type" value="multiple-response-survey" onclick="changePollType()" {{ question_type == 'multiple-response-survey'? "checked" : "" }}></input>
  <label for="poll-type-multiple-response-survey">multiple response - survey</label>
  <p class="poll-type-description"><i>Students can select one or more responses, and any selection is worth full credit.</i></p>
</div>
