<script>
    window.onload = function() {
        const xPoints = [];
        const xPointsIndexes = [];
        const yPoints = [];
        let string;
        {% for answer, number in results %}
            string = "{{ poll.getResponseString(answer) }}";
            xPoints.push(string);
            xPointsIndexes.push({{ answer }});
            yPoints.push({{ number }});
        {% endfor %}
        const data = [
          {
            y: yPoints,
            type: 'bar'
          }
        ];
        const layout = {
          title: "{{ poll.getName() }}",
          xaxis: {
            tickmode: "array",
            ticktext: xPoints,
            tickvals: xPointsIndexes
          }
        }
        Plotly.newPlot("chartContainer", data, layout);
    }
</script>

<div class="content">
    <h1> Viewing poll results for {{ poll.getName() }} </h1>

    <h2> Question: </h2>
    {% include "misc/Markdown.twig" with {
      "content" : poll.getQuestion()
    } only %}
    <br/>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
