<div class="content">
	<h1>
		{{ poll.getName() }}
	</h1>

	<button class="btn btn-primary" onclick="toggle_section('poll-info')">Toggle Poll Info</button>
	{% if poll.isHistogramAvailable() %}
		<button class="btn btn-primary" onclick="toggle_section('poll-histogram')">Toggle Histogram</button>
	{% endif %}
	<div class="poll-info-table">
		<div class="poll-view-wrapper">
			<div id="poll-info">
				{% include "misc/Markdown.twig" with {
                    "content": poll.getQuestion(),
                } only %}
				<form method="post" action="{{ base_url }}/submitResponse">
					<input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
					<input type="hidden" name="poll_id" value="{{ poll.getId() }}"/>
					<fieldset>
						<legend>
							<h2>
								Possible responses:
							</h2>
						</legend>
						{% set button_type = (poll_type == "single-response" ? "radio": "checkbox") %}
						<label class="radio" for="answer-no-response">
							<input type={{button_type}} value="-1" name="answers[]" id="answer-no-response" {{ poll.getUserResponse(user_id) is same as(null) ? "checked" : "" }} {{ (not user_admin and poll.isOpen()) ? "" : "disabled" }}>
							No response
						</label>
						<br/>
						<br/>
						{% set index = 0%}
						{% for response in poll.getResponses() %}
							<div class="radio">
								<input type={{ button_type }} aria-label="Option {{ index + 1 }}" value="{{ response }}" name="answers[]" id="answer-{{index}}" {{ response in poll.getUserResponse(user_id) ? "checked" : "" }} {{ (not user_admin and poll.isOpen()) ? "" : "disabled" }}/>
								{% include "misc/Markdown.twig" with {
                                        "content" : poll.getResponseString(response),
                                        "style": "display: inline-block"
                                    } only %}
								<br/>
								<br/>
							</div>
							{% set index = index + 1%}
						{% endfor %}
					</fieldset>
					{% if not user_admin and poll.isOpen() %}
						<button type="submit" class="btn btn-primary">Submit</button>
					{% endif %}
				</form>
			</div>
		</div>
		{% if user_admin or poll.isHistogramAvailable() %}
			<div class="poll-view-wrapper">
				<div id="poll-histogram" style="display: none;">
					<div id="chartContainer"></div>
				</div>
			</div>
		{% endif %}
	</div>
</div>

<script>
	function toggle_section(section_id) {
		$(`#${section_id}`).toggle('slow');
	}

	{% if user_admin or poll.isHistogramAvailable() %}
		window.onload = function () {
			const data = [{
				type: "bar",
					x: [],
					y: []
				}];
			{% for answer, number in results %}
				data[0].x.push("{{ poll.getResponseString(answer)|replace({"\n": " ", "\r": " ", "\t": " "}) }}");
				data[0].y.push({{ number }});
			{% endfor %}
			const title_text = new DOMParser().parseFromString("{{ poll.getName() }}", "text/html");
			const width = Math.max(300, window.innerWidth * 0.5);
			const layout = {
				title: title_text.documentElement.textContent,
				width: width
			}

			Plotly.newPlot("chartContainer", data, layout);

			window.addEventListener('resize', function() {
				const width = Math.max(300, window.innerWidth * 0.5);
				const container = document.getElementById('chartContainer');
				const update = {
					width: width
				}
				Plotly.relayout(container, update);
			});
		}
	{% endif %}
</script>
