{# This is a data table #}
<table id="late-day-table" class="mobile-table">
    <caption />
    {# Table header #}
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Initial
            </th>

            {% for title in late_day_cache_header %}
                <th>
                    {% if title.timestamp is defined %}

                        {{ title|date('m/d/Y') }}
                    {% else %}
                        {{ title }}
                    {% endif %}
                </th>
            {% endfor %}

            <th>
                Remaining
            </th>
        </tr>
    </thead>

    <tbody>
        {% set index = 0 %}
        {% for student in students %}
            <tr id="row-{{ index }}" USER_ID="{{ student.getId() }}" data-row="{{ index }}">
                <td data-before-content="Student ID">
                    {{ student.getId() }}
                </td>
                <td data-before-content="Name">
                    {{ student.getDisplayedGivenName() }}
                </td>
                 <td data-before-content="Last Name">
                    {{ student.getDisplayedFamilyName() }}
                </td>
                <td initial_ld_id="Initial Late Days">
                    {{ initial_late_days }}
                </td>

                {% set user_cache = late_day_cache[student.getId()] ?? null %}   

                {# Late day change for updates and gradeables #}
                {% for title in late_day_cache_header %}
                    {% set title = title.timestamp is defined ? title|date('Y-m-d') : title %}

                    <td id="{{ title }}" USER_ID-content="{{ student.getId() }}">
                        {% if user_cache is defined and user_cache[title] is defined %}
                            {% set curr_cache = user_cache[title] %}
                            {{ ((curr_cache.late_days_change > 0) ? '+' : '') ~ curr_cache.late_days_change }}
                        {% endif %}
                    </td>                    
                {% endfor %}

                {% set last_title = last_late_day_events[student.getId()] ?? null %}
                {% set last_title = last_title.timestamp is defined ? last_title|date('Y-m-d') : last_title %}
                
                {% if last_title is null %}
                    {# If there are no late day events yet #}
                    <td ld_id="Late Days Remaining"> {{ initial_late_days }} </td>
                {% elseif user_cache[last_title] is defined %}
                    {# If we have cache data for the last event, we have cache data for all events #}
                    <td ld_id="Late Days Remaining"> {{ user_cache[last_title].late_days_remaining }} </td>
                {% else %}
                    {# Else put cache is incomplete, leave value blank #}
                    <td ld_id="Late Days Remaining"> </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>