<div id="autograding_results" class="rubric_panel">
    <div>
        <span class="grading_label">Autograding Testcases</span>
        <button class="btn btn-default key_to_click" tabindex="0" onclick="openAllAutoGrading()">Expand All</button>
        <button class="btn btn-default key_to_click" tabindex="0" onclick="closeAllAutoGrading()">Close All</button>
        <button class="btn btn-primary key_to_click"  id="regrade_button" tabindex="0" onclick="regrade()">Regrade</button>
        <div class="inner-container">
            {% if version_instance is null %}
                <h4>No Submission</h4>
            {% else %}
                {{ render_template('AutoGrading', 'showResults', version_instance, show_hidden_cases, true) }}
            {% endif %}
        </div>
    </div>
</div>
<script>
    function regrade() {
        var git_user_id = "";
        var git_repo_id = "";
        if ({{ is_vcs ? "true" : "false" }}) {
            git_user_id = $("#github-user-id").val();
            git_repo_id = $("#github-repo-id").val();
        }
        handleSubmission(0,0,0,{{ highest_version }},
                {{ max_submissions }},
                "{{ csrf_token }}",
                {{ is_vcs ? "true" : "false" }},
                {{ num_inputs }},
                "{{ gradeable_id }}",
                "aphacker",
                git_user_id,
                git_repo_id,
                {{ student_page ? "true" : "false" }},
                {{ component_names|length }},
                false,
                false,
                true
        )
    }
</script>
