{{ add_twig_module_js('grading/electronic/AutogradingPanel.js') }}
<div id="autograding_results" class="rubric_panel" data-highest-version="{{ highest_version }}" data-gradeable-id="{{ gradeable_id }}" data-user-id="{{ user_id }}" data-testid="autograding-results">
    <div>
        <span class="grading_label">Autograding Testcases</span>
        <button id="autograding-results-open-all" class="btn btn-default" tabindex="0">Expand All</button>
        <button id="autograding-results-close-all" class="btn btn-default" tabindex="0">Close All</button>
        {% if can_regrade %}
            <div class="btn-group">
                <button id="autograding-results-regrade-active" type="button" class="btn btn-primary">Regrade Active Version</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu"  style="max-height: 200px; overflow-y: auto;">
                    <button id="autograding-results-regrade-all" class="dropdown-item">Regrade All Versions</button>
                    {% for version in versions %}
                    <button type="button"  id="autograding-results-regrade-{{loop.index}}" class="autograding-panel-regrade dropdown-item">Regrade: Version #{{ loop.index }} Score: {{ version.points }} / {{ total_points }} {%- if loop.index == active_version -%} &nbsp;&nbsp;&nbsp;GRADE THIS VERSION {%- endif -%}</button>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="inner-container">
            {% if version_instance is null %}
                <h4>No Submission</h4>
            {% else %}
                {# Render AutoGradingView (the student autograding results page) here to share code. #}
                {# There should not be any changes or styling only made to the TA Autograding panel. #}
                {{ render_template('AutoGrading', 'showResults', version_instance, show_hidden_cases, true, ta_grading) }}
            {% endif %}
        </div>
    </div>
</div>
