<div id="autograding_results" class="rubric_panel">
    <div>
        <span class="grading_label">Autograding Testcases</span>
        <button class="btn btn-default key_to_click" tabindex="0" onclick="openAllAutoGrading()">Expand All</button>
        <button class="btn btn-default key_to_click" tabindex="0" onclick="closeAllAutoGrading()">Close All</button>
        {% if can_regrade and not is_vcs%}
        <div class="regrade-dropMenu" style="margin-left: 3px;">
            <button class="btn btn-primary regrade-option" onclick="regrade(1)">Regrade Active Version</button>
            <button class="btn btn-primary regrade-drop-btn">
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="regrade-dropContent">
                <button class="btn btn-primary regrade-option" onclick="regrade(0)">Regrade All Versions</button>
            </div>
        </div>
        {% endif %}
        <div class="inner-container">
            {% if version_instance is null %}
                <h4>No Submission</h4>
            {% else %}
                {{ render_template('AutoGrading', 'showResults', version_instance, show_hidden_cases, true) }}
            {% endif %}
        </div>
    </div>
</div>
<script>
    function regrade(single_regrade) {
        //if only regrading active version, late day fields left as 0 because they are irrelevant for regrading
        if(single_regrade) {
            handleRegrade({{ highest_version }}, {{ max_submissions }}, "{{ csrf_token }}", "{{ gradeable_id }}", "{{ user_id }}", true)
        }
        //regrading all versions
        else {
            handleRegrade({{ highest_version }}, {{ max_submissions }}, "{{ csrf_token }}", "{{ gradeable_id }}", "{{ user_id }}", false, true)
        }
    }

</script>
