{% import _self as self %} {# Required to use macros in same template #}

<div class="content">
    {#
        Default is viewing your sections
        Limited grader does not have "View All" option
        If nothing to grade, Instructor will see all sections
    #}
    {% if show_all_sections_button %}
        <div style="float: right; margin-bottom: 10px">
            <a class="btn btn-default"
               href="{{ core.buildUrl({'component': 'grading', 'page': 'electronic', 'action': 'details', 'gradeable_id': gradeable.getId(), 'view': view_all ? null : "all"}) }}">
                {{ view_all ? "View Your Sections" : "View All" }}
            </a>
        </div>
    {% endif %}

    <h2>Grade Details for {{ gradeable.getName() }}</h2>

    {# Import+Export teams buttons #}
    {% if show_import_teams_button %}
        <a style="float: right;" class="btn btn-primary" href="{{ core.buildUrl({'component': 'grading', 'page': 'electronic', 'action': 'export_teams', 'gradeable_id': gradeable.getId()}) }}">Export Teams Members</a>
    {% endif %}
    {% if show_export_teams_button %}
        <button style="float: right;" class="btn btn-primary" onclick="importTeamForm();">Import Teams Members</button>
    {% endif %}
    {# /Import+Export teams buttons #}

    <br />
    <br />
    <br />
    <table class="table table-striped table-bordered persist-area">
        {# Table header #}
        <thead class="persist-thead">
            <tr>
                {% for column in columns %}
                    <td width="{{ column.width }}">{{ column.title }}</td>
                {% endfor %}
            </tr>
        </thead>
        {# /Table header #}
        {% for section in sections %}
            {# Section heading #}
            <tbody>
                <tr class="info persist-header">
                    <td colspan="{{ columns|length }}" style="text-align: center">
                        {% if gradeable.isGradeByRegistration() %}
                            Students Enrolled in Registration Section {{ section.title }}
                        {% else %}
                            Students Assigned to Rotating Section {{ section.title }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="info">
                    <td colspan="{{ columns|length }}" style="text-align: center">Graders: {{ section.graders }}</td>
                </tr>
            </tbody>
            {# /Section heading #}
            {# Student list #}
            {% for info in section.rows %}
                {{ self.render_student(self, section, info.gradeable, loop.index, info, columns) }}
            {% endfor %}
            {# /Student list #}
        {% endfor %}
    </table>
</div>

{% macro render_student(self, section, gradeable, index, info, columns) %}
    <tr>
        {% for column in columns %}
            {#
                This is basically a switch statement, pick which function we need for
                the current column and it will give us the table cell.
            #}
            {% if column.function == "active_version" %}
                {{ self.render_column_active_version(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "autograding" %}
                {{ self.render_column_autograding(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "autograding_peer" %}
                {{ self.render_column_autograding_peer(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "graded_questions" %}
                {{ self.render_column_graded_questions(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "grading" %}
                {{ self.render_column_grading(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "grading_peer" %}
                {{ self.render_column_grading_peer(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "index" %}
                {{ self.render_column_index(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "section" %}
                {{ self.render_column_section(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "team_edit" %}
                {{ self.render_column_team_edit(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "team_id" %}
                {{ self.render_column_team_id(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "team_members" %}
                {{ self.render_column_team_members(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "total" %}
                {{ self.render_column_total(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "total_peer" %}
                {{ self.render_column_total_peer(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "user_first" %}
                {{ self.render_column_user_first(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "user_id" %}
                {{ self.render_column_user_id(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "user_id_anon" %}
                {{ self.render_column_user_id_anon(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "user_last" %}
                {{ self.render_column_user_last(self, section, gradeable, index, info, column) }}
            {% elseif column.function == "viewed_grade" %}
                {{ self.render_column_viewed_grade(self, section, gradeable, index, info, column) }}
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}

{# Column functions #}

{# Active Version #}
{% macro render_column_active_version(self, section, gradeable, index, info, column) %}
    {% if gradeable.getHighestVersion() == 0 %}
        <td></td>
    {% elseif gradeable.getActiveVersion() == gradeable.getHighestVersion() %}
        <td>{{ gradeable.getActiveVersion() }}</td>
    {% else %}
        <td>{{ gradeable.getActiveVersion() }} / {{ gradeable.getHighestVersion() }}</td>
    {% endif %}
{% endmacro %}

{# Autograding #}
{% macro render_column_autograding(self, section, gradeable, index, info, column) %}
    <td>
        {% if gradeable.getHighestVersion() != 0 %}
            {{ gradeable.getGradedAutograderPoints() }} / {{ gradeable.getTotalAutograderNonExtraCreditPoints() }}
        {% endif %}
    </td>
{% endmacro %}

{# Autograding (peer) #}
{% macro render_column_autograding_peer(self, section, gradeable, index, info, column) %}
    <td>
        {% if gradeable.getHighestVersion() != 0 %}
            {{ gradeable.getGradedNonHiddenPoints() }} / {{ gradeable.getTotalNonHiddenNonExtraCreditPoints() }}
        {% endif %}
    </td>
{% endmacro %}

{# Graded Questions #}
{% macro render_column_graded_questions(self, section, gradeable, index, info, column) %}
    <td>
        {%- for component in info.graded_components -%}
            {%- if loop.index0 != 0 %}, {% endif -%}
            {{- loop.index -}}
        {%- endfor -%}
    </td>
{% endmacro %}

{# Grading Button #}
{% macro render_column_grading(self, section, gradeable, index, info, column) %}
    {% if not gradeable.hasSubmitted() %}
        {% set contents = "No Submission" %}
        {% set btn_class = "btn-default" %}
    {% elseif gradeable.getActiveVersion() == 0 %}
        {% set contents = "Cancelled Submission" %}
        {% set btn_class = "btn-default" %}
    {% elseif gradeable.beenTAgraded() %}
        {% if gradeable.validateVersions() %}
            {% set contents = gradeable.getGradedTAPoints() ~ " / " ~ gradeable.getTotalTANonExtraCreditPoints() %}
            {% set btn_class = "btn-default" %}
        {% else %}
            {% set btn_class = "btn-primary" %}
            {% if not gradeable.isFullyGraded() %}
                {% set contents = "Grading Incomplete" %}
            {% else %}
                {% set contents = "Version Conflict" %}
            {% endif %}
        {% endif %}
    {% else %}
        {% set contents = "Grade" %}
        {% set btn_class = "btn-primary" %}
    {% endif %}
    <td>
        <a class="btn {{ btn_class }}" href="{{ core.buildUrl({'component': 'grading', 'page': 'electronic', 'action': 'grade', 'gradeable_id': gradeable.getId(), 'who_id': gradeable.getUser().getId()}) }}">
            {{ contents }}
        </a>
    </td>
{% endmacro %}

{# Grading Button (peer) #}
{% macro render_column_grading_peer(self, section, gradeable, index, info, column) %}
    {# todo: test this (no way to create peer assignments currently) #}
    {% set components = gradeable.getComponentsGradedBy(core.getUser().getId()) %}
    {% if components|length == 0 %}
        {% set contents = "Grade" %}
        {% set btn_class = "btn-primary" %}
    {% else %}
        {% set score = 0 %}
        {% for component in components %}
            {% set score = score + component.getScore() %}
        {% endfor %}

        {% set contents = score ~ " / " ~ gradeable.getTotalPeerGradingNonExtraCredit() %}
        {% set btn_class = "btn-default" %}
    {% endif %}
    <td>
        <a class="btn {{ btn_class }}" href="{{ core.buildUrl({'component': 'grading', 'page': 'electronic', 'action': 'grade', 'gradeable_id': gradeable.getId(), 'who_id': gradeable.getUser().getAnonId()}) }}">
            {{ contents }}
        </a>
    </td>
{% endmacro %}

{# Index #}
{% macro render_column_index(self, section, gradeable, index, info, column) %}
    <td>{{ index }}</td>
{% endmacro %}

{# Section Number #}
{% macro render_column_section(self, section, gradeable, index, info, column) %}
    <td>{{ section.title }}</td>
{% endmacro %}

{# Edit Team #}
{% macro render_column_team_edit(self, section, gradeable, index, info, column) %}
    <td>
        <a onclick="{{ info.team_edit_onclick }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    </td>
{% endmacro %}

{# Team ID #}
{% macro render_column_team_id(self, section, gradeable, index, info, column) %}
    <td>
        {% if gradeable.getTeam() == null %}
            <b><i>No Team</i></b>
        {% else %}
            {{ gradeable.getTeam().getId() }}
        {% endif %}
    </td>
{% endmacro %}

{# Team Members #}
{% macro render_column_team_members(self, section, gradeable, index, info, column) %}
    <td>
        {% if gradeable.getTeam() == null %}
            {{ gradeable.getUser().getId() }}
        {% else %}
            {%- for member in gradeable.getTeam().getMembers() -%}
                {%- if loop.index != 1 -%}, {% endif -%}
                {{- core.getQueries().getUserById(member).getDisplayedFirstName() }}
                {{ core.getQueries().getUserById(member).getLastName() -}}
            {%- endfor -%}
        {% endif %}
    </td>
{% endmacro %}

{# Total Point Summary #}
{% macro render_column_total(self, section, gradeable, index, info, column) %}
    <td>todo</td>
{% endmacro %}

{# Total Point Summary (peer) #}
{% macro render_column_total_peer(self, section, gradeable, index, info, column) %}
    <td>todo</td>
{% endmacro %}

{# User ID #}
{% macro render_column_user_id(self, section, gradeable, index, info, column) %}
    <td>{{ gradeable.getUser().getId() }}</td>
{% endmacro %}

{# Anonymous ID #}
{% macro render_column_user_id_anon(self, section, gradeable, index, info, column) %}
    <td>{{ gradeable.getUser().getAnonId() }}</td>
{% endmacro %}

{# First Name #}
{% macro render_column_user_first(self, section, gradeable, index, info, column) %}
    <td>{{ gradeable.getUser().getDisplayedFirstName() }}</td>
{% endmacro %}

{# Last Name #}
{% macro render_column_user_last(self, section, gradeable, index, info, column) %}
    <td>{{ gradeable.getUser().getLastName() }}</td>
{% endmacro %}

{# Viewed Grade #}
{% macro render_column_viewed_grade(self, section, gradeable, index, info, column) %}
    {% if gradeable.getUserViewedDate() == null or gradeable.getUserViewedDate() == "" %}
        <td title="" style="color: red; font-size: 1.5em;">&#10008;</td>
    {% else %}
        <td title="Last Viewed: {{ gradeable.getUserViewedDate() }}" style="color: #5cb85c; font-size: 1.5em;">&#x2714;</td>
    {% endif %}
{% endmacro %}

{# /Column functions #}
