{% import _self as self %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="{{ base_url }}img/favicon.ico" type="image/x-icon" />

    <script>
        window.baseUrl = "{{ base_url }}";
        window.courseUrl = "{{ course_url }}";
        window.csrfToken = "{{ csrf_token }}";
        window.websocketPort = {{ websocket_port }};
    </script>

    {% for css_ref in css %}
    <link rel='stylesheet' type='text/css' href='{{ css_ref }}' />
    {% endfor %}

    {# TODO, eventually this wont need an if statement and will work on every page #}
    {# {% if use_mobile_viewport %}
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endif %} #}

    {% for js_ref in js %}
    <script src='{{ js_ref }}'></script>
    {% endfor %}
</head>
<body class="flex-column" data-base-url="{{ base_url }}" data-course-url="{{ course_url }}" data-csrf-token="{{ csrf_token }}">
    <div id="grading-popup-header">
        {% include 'grading/electronic/StudentName.twig' with {
            "student_name_id": "grading-popup-student-name"
        } %}
        <div id="grading-popup-number" data-popup-id="{{window_id}}">
            {{window_id}}
        </div>
    </div>
    <div class="rubric-popup-panel">
    {# <main id="main"> #}
{# Looks mismatched because this lines up with GlobalFooter.twig #}