{% import _self as self %}
<script>
    let student_info = {% if isStudentInfoPanel %} true {% else %} false {% endif %};
    let regrade_info = {% if isRegradePanel %} true {% else %} false {% endif %};
    let discussion_browser = {% if isDiscussionPanel %} true {% else %} false {% endif %};
    let peer_info = {% if isPeerPanel %} true {% else %} false {% endif %};

    let is_notebook = {% if is_notebook %} true {% else %} false {% endif %};
    updateThePanelsElements({
        autograding_results: true,
        grading_rubric: true,
        submission_browser: true,
        solution_ta_notes: true,
        student_info,
        regrade_info,
        discussion_browser,
        peer_info,
        "notebook-view": is_notebook
    });
</script>

<div id="grading-panel-header">
    <div class="panel-header-box">
        <span class="grade-panel" id="autograding_results_btn">
            <button title="Show/Hide Autograding Testcases (Press A)"
                    class="invisible-btn key_to_click"
                    tabindex="0"
            >
                <i class="fas fa-list"></i><span>Autograding</span>
            </button>
            {{ self.renderPanelPositionSelector('autograding_results') }}
        </span>
        <span class="grade-panel" id="grading_rubric_btn">
            <button title="Show/Hide Grading Rubric (Press G)"
                    class="invisible-btn key_to_click"
                    tabindex="0"
            >
                <i class="fas fa-edit"></i><span>Rubric</span>
            </button>
            {{ self.renderPanelPositionSelector('grading_rubric') }}
        </span>
        <span class="grade-panel" id="submission_browser_btn">
            <button title="Show/Hide Submission and Results Browser (Press O)"
                    class="invisible-btn key_to_click"
                    tabindex="0"
            >
                <i class="fas fa-folder-open"></i><span>Files</span>
            </button>
            {{ self.renderPanelPositionSelector('submission_browser') }}
        </span>
        {% if isStudentInfoPanel %}
            <span class="grade-panel" id="student_info_btn">
                <button title="Show/Hide Student Information (Press S)"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                >
                    <i class="fas fa-user"></i><span>Student Info</span>
                </button>
            {{ self.renderPanelPositionSelector('student_info') }}
            </span>
        {% endif %}
        <span class="grade-panel" id="solution_ta_notes_btn">
            <button title="Show Solution and TA notes"
                    class="invisible-btn"
                    tabindex="0"
            >
                <i class="fas fa-check"></i><span>Solutions/Notes</span>
            </button>
            {{ self.renderPanelPositionSelector('solution_ta_notes') }}
        </span>
        {% if isPeerPanel %}
            <span class="grade-panel" id="peer_info_btn">
                <button title="Show/Hide Peer Information (Press P)"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                >
                    <i class="fas fa-users"></i><span>Peer</span>
                </button>
            {{ self.renderPanelPositionSelector('peer_info') }}
            </span>
        {% endif %}
        {% if isDiscussionPanel %}
            <span class="grade-panel" id="discussion_browser_btn">
                <button title="Show/Hide Discussion Posts"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                >
                    <i class="fas fa-comment-alt"></i><span>Discussion</span>
                </button>
            {{ self.renderPanelPositionSelector('discussion_browser') }}
            </span>
        {% endif %}
        {% if isRegradePanel %}
            <span class="grade-panel" id="regrade_info_btn">
                <button title="Show/Hide Grade Inquiry Information (Press X)"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                >
                   <i class="fas {{ grade_inquiry_pending ? 'fa-exclamation' : 'fa-hand-paper' }} grade_inquiry_icon"></i>
                   <span>Grade Inquiry</span>
                </button>
            {{ self.renderPanelPositionSelector('regrade_info') }}
            </span>
        {% endif %}
        {% if is_notebook %}
            <span class="grade-panel" id="notebook-view-btn">
                <button title="Open student's view of their notebook gradeable"
                        class="invisible-btn"
                        tabindex="0"
                >
                   <i class="fas fa-book-open"></i>
                   <span>Notebook</span>
                </button>
            {{ self.renderPanelPositionSelector('notebook-view') }}
            </span>
        {% endif %}

    </div>
</div>

{% macro renderPanelPositionSelector(panelId) %}
    <select class="panel-position-cont" id="{{ panelId }}_select" size="4">
        <option class="panel-position-left" value="leftTop">
            Open as top left panel
        </option>
        <option class="panel-position-left" value="leftBottom">
            Open as bottom left panel
        </option>
        <option class="panel-position-left" value="rightTop">
            Open as top right panel
        </option>
        <option class="panel-position-right" value="rightBottom">
            Open as bottom right panel
        </option>
    </select>
{% endmacro %}
