<div id="bar_wrapper" class="ta-nav-wrapper">
    <div id="grading-panel-student-name" data-testid="grading-panel-student-name">
        <b>{% if not isBlind and not anon_mode and (peer_blind_grading is same as('unblind') or peer_blind_grading is same as('single')) %}
                {% if team_assignment %}
                    {% set team_members = submitter.getTeam().getMemberUsers() %}
                    Team {% if submitter.getTeam().getTeamName() is not null %} {{ submitter.getTeam().getTeamName() }}{% endif %}({{ team_members|length }}): <span id="grading-scroll-message" data-testid="grading-scroll-message">{{ team_members|length > 3 ? "Scroll for more" : "" }}</span><br/>
                    {% for team_member in team_members %}
                        &emsp;{{ team_member.getDisplayedGivenName() }} {{ team_member.getDisplayedFamilyName() }} ({{ team_member.getId() }})<br/>
                    {% endfor %}
                {% else %}
                    Student:<br/>
                    {{ submitter.getUser().getDisplayedGivenName() }} {{ submitter.getUser().getDisplayedFamilyName() }} ({{ submitter.getId() }})
                    <br/>
                {% endif %}
            {% endif %}
        </b>
    </div>
    <div class="navigation-box">
        {% include "Vue.twig" with {
            'type': 'component',
            'name': 'ta_grading/TaGradingToolbar',
            'args': {
                'homeUrl': home_url,
                'prevStudentUrl': prev_student_url,
                'nextStudentUrl': next_student_url,
                'progress': progress
            },
            'class': 'grading_toolbar'
        }%}
    </div>
</div>
