<div id="bar_wrapper" class="ta-nav-wrapper">
    <div id="grading-panel-student-name">
        <b>{% if not limited_access_blind and not isBlind and not anon_mode %}
                {% if team_assignment %}
                    Team:<br/>
                    {% for team_member in submitter.getTeam().getMemberUsers() %}
                        &emsp;{{ team_member.getDisplayedFirstName() }} {{ team_member.getDisplayedLastName() }} ({{ team_member.getId() }})<br/>
                    {% endfor %}
                {% else %}
                    Student:<br/>
                    {{ submitter.getUser().getDisplayedFirstName() }} {{ submitter.getUser().getDisplayedLastName() }} ({{ submitter.getId() }})
                    <br/>
                {% endif %}
            {% endif %}
        </b>
    </div>
    <div class="navigation-box">
        <div class="grading_toolbar">
            {# Back to list button #}
            <span class="ta-navlink-cont">
                <a href="javascript:gotoMainPage();"
                   data-href="{{ home_url }}"
                   id="main-page"
                >
                    <i title="Go to the main page" class="fas fa-home icon-header icon-streched" ></i>
                </a>
            </span>

            {# Nav buttons (Prev + Next)#}
            <span class="ta-navlink-cont" id="prev-student-navlink">
                <a href="javascript:gotoPrevStudent();"
                   data-href="{{ prev_student_url }}"
                   id="prev-student"
                >
                    <i title="Previous student" class="fas fa-caret-left icon-header icon-streched"></i>
                </a>
            </span>
            <span class="ta-navlink-cont" id="next-student-navlink">
                <a href="javascript:gotoNextStudent();"
                   data-href="{{ next_student_url }}"
                   id="next-student"
                >
                   <i title="Next student" class="fas fa-caret-right icon-header icon-streched"></i>
                </a>
            </span>
            <span class="ta-navlink-cont" id="prev-ungraded-student-navlink">
                <a href="javascript:gotoPrevStudent(true);"
                   data-href="{{ prev_ungraded_student_url }}"
                   id="prev-ungraded-student"
                >
                    <i title="Previous assigned ungraded student" class="fas fa-backward icon-header icon-streched"></i>
                </a>
            </span>
            <span class="ta-navlink-cont" id="next-ungraded-student-navlink">
                <a href="javascript:gotoNextStudent(true);"
                   data-href="{{ next_ungraded_student_url }}"
                   id="next-ungraded-student"
                >
                    <i title="Next assigned ungraded student" class="fas fa-forward icon-header icon-streched"></i>
                </a>
            </span>

            <span class="ta-navlink-cont" id="fullscreen-btn-cont">
                <button title="Toggle the full screen mode"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="toggleFullScreenMode();"
                >
                    <i class="fas fa-compress icon-header icon-streched"></i>
                    <i class="fa fa-expand icon-header icon-streched"></i>
                </button>
            </span>
            <span class="ta-navlink-cont" id="two-panel-mode-btn">
                <button title="Toggle the two panel mode"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="togglePanelSelectorModal(true);"
                >
                    <i class="fas fa-columns icon-header icon-streched"></i>
                </button>
            </span>
            <span class="ta-navlink-cont" id="two-panel-exchange-btn">
                <button title="Exchange the panel positions"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="exchangeTwoPanels();"
                >
                    <i class="fas fa-exchange-alt icon-header icon-streched"></i>
                    </button>
            </span>

            <span class="ta-navlink-cont" id="grading-setting-btn">
                <button title="Show Grading Settings"
                        class="invisible-btn key_to_click"
                        tabindex="0"
                        onclick="showSettings();"
                >
                    <i class="fas fa-wrench icon-header icon-streched"></i>
                </button>
            </span>
            <span class="ta-navlink-cont" id="progress-bar-cont">
                <progress class="progressbar" max="100" value="{{ progress }}"></progress>
                <span class="progress-value"></span>
            </span>
        </div>
    </div>
</div>
