<link rel="stylesheet" type="text/css" href="{{ toolbar_css }}"/>
<div id="pdf_annotation_bar">
    <div id="pdf_annotation_icons">
        <a title="Cursor Tool" value="cursor" class="fas fa-mouse-pointer toolbar-item"></a>
        <a title="Pen Tool" value="pen" class="fas fa-pencil-alt toolbar-item"></a>
        <a title="Eraser Tool" value="eraser" class="fas fa-eraser toolbar-item"></a>
        {#TODO: In the future, we want a erase function rather than a clear function#}
        {#<a value="clear" class="fas fa-ban toolbar-action" style="text-align: center; margin-left: 8px; font-size: 25px; padding-bottom: 10px"></a>#}
        {#<a value="rect" class="far fa-object-group toolbar-item"></a>#}
        <a title="Rotate Left" value="rotate-left" class="fas fa-undo toolbar-action"></a>
        <a title="Rotate Right" value="rotate-right" class="fas fa-redo toolbar-action"></a>
        <a title="Text Tool" value="text" class="fas fa-font toolbar-item"></a>
        <a title="Zoom In" value="zoomin" class="fas fa-plus toolbar-action"></a>
        <div class="input-suffix suffix-percent">
            <input aria-label="Zoom Custom" type="number" id="zoom-custom" step="10" min="10" max="500" placeholder="100" value="100" onchange="zoom(this.value)"></input>
        </div>
        {# <a value="zoomcustom" class="toolbar-action"></a> #}
        <a title="Zoom Out" value="zoomout" class="fas fa-minus toolbar-action"></a>
        {# <a title="Save" value="save" class="toolbar-action">Save</a> #}
        {#<a value="download" class="fas fa-download toolbar-action"></a>#}
        <div id="color-selector-container">
        <a title="Change Color" value="color" id="color_selector" class="toolbar-action"></a>
            <div id="color_selector_menu" class="selection-menu">
            {% set colors = ['#000000',
                            '#EF4437',
                            '#E71F63',
                            '#8F3E97',
                            '#65499D',
                            '#4554A4',
                            '#2083C5',
                            '#35A4DC',
                            '#09BCD3',
                            '#8BC34A',
                            '#FDC010',
                            '#F8971C',
                            '#F0592B',
                            '#F06291',
                            '#FF0000'] %}
            {% for color in colors %}
                <a class="color key_to_click" tabindex="0" value="{{ color }}" style="background: {{ color }}" onclick="emitEvent(this)"></a>
            {% endfor %}
            </div>
        </div>
        <a title="Change Size" value="size" id="size_selector" class="fas fa-expand-arrows-alt toolbar-action"></a>
        <div id="pdf-buttons">
            <button id="save-pdf-btn" aria-label="Save" value="save" class="btn btn-primary toolbar-action">Save <i class="fas fa-save"></i></button>
            <button id="clear-pdf-btn" aria-label="Clear" value="clear" class="btn btn-default toolbar-action">Clear <i class="fas fa-trash-alt"></i></button>
            <button id="toggle-annotations-btn" aria-label="Toggle Annotations" value="toggle-annotations" class="btn btn-default toolbar-action hide-other-annotations">Hide Other Annotations <i class="fas fa-eye-slash"></i></button>
        </div>
    </div>
    <div id="size_selector_menu" class="selection-menu">
        Pen size:
        <br>
        <label for="pen_size_selector" tabIndex="0" class="screen-reader" >Pen Size Slider</label>
        <input id="pen_size_selector" type="range" min="0.1" max="10" step="0.1" style="width:70%" oninput="pen_size_value.value=value">
        <output id="pen_size_value"></output>
        <br>
        Text size:
        <br>
        <select id="text_size_selector">
            {% set vals = [8, 9, 10, 11, 12, 14, 18, 24, 30, 36, 48, 60, 72, 96] %}
            {% for val in vals %}
                <option value="{{ val }}">{{ val }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<script>
    $(document).ready(function () {
        renderPDFToolbar();
    });
    //TODO: move to js file
    let colorEvent;
    if(document.createEvent){
        colorEvent = document.createEvent("HTMLEvents");
        colorEvent.initEvent('colorchange', true, true);
    }
    else {
        colorEvent = document.createEventObject();
        colorEvent.eventType = "colorchange";
    }

    colorEvent.eventName = "colorchange";

    function emitEvent(elem){
        if(document.createEvent){
            elem.dispatchEvent(colorEvent);
        }
    }
</script>
