{% for stylesheet in localcss %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}"/>
{% endfor %}
{% for script in localjs %}
    <script src="{{ script }}"></script>
{% endfor %}
<div id="content-wrapper">
    <div id="grading-pdf-repair" hidden>
        <p><em>There is a problem with this pdf. Please repair to try and automatically fix any issues.</em></p>
    </div>
    <div id="viewer" class="pdfViewer">
        <div id="pdf-error-message" style="display: none; color: red; font-weight: bold; padding: 10px; text-align: center;"></div>
    </div>
</div>

<!-- Provide template of download / view all button to copy over to toolbar since this page is the only one that gets the necessary info -->
<template id="permission-annotations-btn-template">
    {% if can_download is defined and can_download %}
        <button id="download-annotations-btn" class='btn btn-default' aria-label="Download the file" data-testid="download-annotations-btn">
            Download <i class="fas fa-download" title="Download the file"></i>
        </button>
    {% endif %}
</template>

<script>
    render("{{ gradeable_id }}", "{{ user_id }}", "{{ grader_id }}", '{{ filename | e('js') }}', "{{ file_path | e('js') }}", {{ page_num }}, "{{ pdf_url_base | e('js')}}");
</script>
