<div id="grading_rubric" class="draggable rubric_panel {{ is_ta_grading ? "" : "empty" }}" style="right:15px; top:140px; width:48%; height:42%;">
    <div class="draggable_content">
        <span class="grading_label">Grading Rubric</span>
        {% if is_ta_grading %}
            <div style="float: right; position: relative; top: 10px; right: 1%;">
                {# Verify all button #}
                {% if display_verify_all %}
                    <input id='verifyAllButton' type='button' style="display: inline;" class="btn btn-default" value='Verify All' onclick='verifyMark("{{ gradeable_id }}",-1,"{{ submitter_id }}",true);'/>
                {% endif %}
                {# /Edit Mode Button #}
                <span> <input id='edit-mode-enabled' type='checkbox' value='Enable Editing Mode' title="Allows editing of mark point values, descriptions, and order" onclick='onToggleEditMode()'/>Enable Editing Mode</span>
                {# Checkboxes #}
                {% if show_instructor_tools %}
                    <span><input type="checkbox" id="silent-edit-id" title="Edit assigned marks without changing 'Graded By'"/>Silent Edit</span>
                {% endif %}
                {# /Checkboxes #}
            </div>

            {# Wrong version warnings #}
            {% if not has_active_version %}
                {% if has_submission %}
                    {# Cancelled submission #}
                    <div class="red-message" style="text-align: center">Cancelled Submission</div>
                {% else %}
                    {# No submission #}
                    <div class="red-message" style="text-align: center">No Submission</div>
                {% endif %}
            {% elseif version_conflict %}
                {# Opened a different version #}
                <div class="red-message" style="text-align: center">Select the correct submission version to grade</div>
            {% endif %}

            <div class="inner-container" id="grading-box">
                {% if has_active_version %}
                    <script type="application/javascript">
                        $(document).ready(function () {
                            loadTemplates().then(function() {
                                return reloadGradingRubric('{{ gradeable_id }}', '{{ anon_id }}');
                            });
                        });
                    </script>
                {% else %}
                    <h4>No Submission</h4>
                {% endif %}
            </div>
        {% else %}
            <div style="right:15px; top:140px; width:48%; padding: 10px;">
                <h3> No Manual Grading For This Assignment </h3>
            </div>
        {% endif %}
    </div>
</div>
