<div id="grading_rubric" class="rubric_panel {{ is_ta_grading ? "" : "empty" }}" data-testid="grading-rubric">
    <div id="allow_custom_marks" data-gradeable_custom_marks="{{ allow_custom_marks }}"></div>
    <div>
        {% if is_ta_grading %}
            <div id="rubric-container" class="container">
                <div class="row row-wrap vertical-center">
                    <span id="gradeable-version-container" data-gradeable_version="{{ display_version }}" hidden></span>
                    <span class="col grading_label" data-testid="grading-rubric-label">Grading Rubric</span>

                    {# Version/status warnings rendered by Vue (RubricPanel component) #}
                    <div id="rubric-warnings"></div>

                    {# Rubric controls are rendered by Vue (RubricPanel component) #}
                    <div id="rubric-controls"></div>
                </div>
                <div id="grader-info" data-grader_id="{{ grader_id }}" data-verifier_id = "{{ verifier_id }}" data-can_verify="{{ can_verify }}" hidden></div>
                <div id="student-grader" is-student-grader="{{ student_grader }}" hidden></div>
                <div class="inner-container" id="grading-box">
                    {% if has_submission and has_active_version %}
                        {# Rubric body is now rendered by Vue (ta_grading/Rubric component) #}
                        <div id="rubric-body-vue-root"></div>
                        {# Keep the script call as a reliable fallback to populate global state #}
                        <script>
                            $(document).ready(function () {
                                loadTemplates().then(function() {
                                    return reloadGradingRubric('{{ gradeable_id }}', '{{ anon_id }}');
                                });
                            });
                        </script>
                    {% else %}
                        <h4>No Submission</h4>
                    {% endif %}
                </div>
                {% for student_anon_id in student_anon_ids and gradeable.hasPeerComponent() %}
                    {% if gradeable.getPeerFeedback(grader_id, student_anon_id) != 'No response' %}
                        <div class="box component peer-border">
                            Peer Feedback: {{gradeable.getPeerFeedback(grader_id, student_anon_id)}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div id="no-manual-grading-container">
                <h3> No Manual Grading For This Assignment </h3>
            </div>
        {% endif %}
    </div>
</div>
<div id="rubric-vue-root">
    {% include 'Vue.twig' with {
        'type': 'component',
        'name': 'ta_grading/RubricPanel',
        'args': {
            'gradeableId': gradeable_id,
            'anonId': anon_id,
            'isTaGrading': is_ta_grading,
            'hasActiveVersion': has_active_version,
            'hasSubmission': has_submission,
            'hasOverriddenGrades': has_overridden_grades,
            'versionConflict': version_conflict,
            'isWithdrawnStudent': is_withdrawn_student,
            'showVerifyAll': show_verify_all,
            'showClearConflicts': show_clear_conflicts,
            'showSilentEdit': show_silent_edit,
            'isPeerGrader': is_peer_grader,
            'displayVersion': display_version,
            'graderId': grader_id,
            'verifierId': verifier_id,
            'canVerify': can_verify,
            'allowCustomMarks': allow_custom_marks
        },
    } %}
</div>

{% if has_submission and has_active_version %}
<div id="rubric-body-vue-root-container">
    {% include 'Vue.twig' with {
        'type': 'component',
        'name': 'ta_grading/Rubric',
        'args': {
            'gradeableId': gradeable_id,
            'anonId': anon_id,
            'displayVersion': display_version,
            'allowCustomMarks': allow_custom_marks,
            'isPeerGrader': is_peer_grader,
            'graderId': grader_id,
            'canVerify': can_verify
        },
    } %}
</div>
{% endif %}
