<div id="grading_rubric" class="draggable rubric_panel {{ is_ta_grading ? "" : "empty" }}" style="right:15px; top:140px; width:48%; height:42%;">
    <div class="draggable_content">
        {% if is_ta_grading %}
            <div id="rubric-container" class="container">
                <div class="row row-wrap vertical-center">
                    <span id="gradeable-version-container" data-gradeable_version="{{ display_version }}" hidden></span>
                    <span class="col grading_label">Grading Rubric</span>
                    {# Wrong version warnings #}
                    {% if not has_active_version %}
                        {% if has_submission %}
                            {# Cancelled submission #}
                            <div class="red-message">Cancelled Submission</div>
                        {% elseif has_overridden_grades %}
                            <div class="yellow-message">Overridden Grades</div>
                        {% else %}
                            {# No submission #}
                            <div class="red-message">No Submission</div>
                        {% endif %}
                    {% elseif version_conflict %}
                        {# Opened a different version #}
                        <div class="red-message">Select the correct submission version to grade</div>
                        <div id="version-conflict-indicator"></div>
                    {% endif %}

                    {# Verify all button #}
                    {% if show_verify_all %}
                        <div class="col-no-gutters">
                            <input id="verify-all" type="button" class="btn btn-default key_to_click" tabindex="0" value="Verify All" onclick="onVerifyAll(this)"/>
                        </div>
                    {% endif %}
                    {# Silent Edit Checkbox #}
                    {% if show_silent_edit %}
                        <div class="col-no-gutters">
                            <input id="silent-edit-id" class="key_to_click" tabindex="0" type="checkbox" title="Edit assigned marks without changing 'Graded By'" onclick="updateCookies()"/><label for="silent-edit-id">Silent Regrade (don't change who graded)</input>
                        </div>
                    {% endif %}
                    {# Edit Mode Checkbox #}
                    <div class="col-no-gutters">
                        <input id="edit-mode-enabled" class="key_to_click" tabindex="0" type="checkbox" title="Allows editing of mark point values, descriptions, and order" onclick="onToggleEditMode()"/><label for="edit-mode-enabled">Edit Rubric</label>
                    </div>
                </div>
                <div id="grader-info" data-grader_id="{{ grader_id }}" data-verifier_id = "{{ verifier_id}}" data-can_verify="{{ can_verify }}" hidden></div>
                <div class="inner-container" id="grading-box">
                    {% if has_active_version %}
                        <script>
                            $(document).ready(function () {
                                loadTemplates().then(function() {
                                    return reloadGradingRubric('{{ gradeable_id }}', '{{ anon_id }}');
                                });
                            });
                        </script>

                    {% else %}
                        <h4>No Submission</h4>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div id="no-manual-grading-container">
                <h3> No Manual Grading For This Assignment </h3>
            </div>
        {% endif %}
    </div>
</div>
