{% import _self as self %}
<div id="solution_ta_notes" class="rubric_panel" data-testid="solution-ta-notes">
    <div class="row">
        <span class="grading_label">Solution/TA Notes</span>
    </div>
    {% for component in solution_components %}
        {{ self.renderSolutionTaNotesBox(
            gradeable_id,
            component.id,
            component.is_first_edit,
            component.title,
            component.author,
            component.solution_notes,
            component.edited_at,
            component.is_itempool_linked,
            component.itempool_item,
            current_user_id
        ) }}
    {% endfor %}
</div>

{% macro renderSolutionTaNotesBox(gradeable_id, component_id, is_first_edit, component_title, author, solution_notes, last_edit, is_itempool_linked, itempool_item, current_user_id) %}

    <div class="solution-box box" id="solution-box-{{ component_id }}" data-first-edit="{% if is_first_edit %} 1 {% else %} 0 {% endif %}">
        <div class="solution-header">
            <div class="component-title">
                Solution for {{ component_title }} {% if is_itempool_linked %} (student having {{ itempool_item }}) {% endif %}
            </div>
            <div class="last-edit {% if is_first_edit %} hide {% endif %}">
              Last edit @ <i class="last-edit-time">{{ last_edit }}</i> by <i class="last-edit-author">{{ author }}{% if current_user_id == author %} (You) {% endif %}</i>
            </div>
        </div>
        <div class="solution-cont" data-component_id="{{component_id}}" data-original-solution="{{ solution_notes|default('') }}">
            <div id="sol-textbox-cont-{{ component_id }}-edit">
                <label for="textbox-solution-{{ component_id }}" tabIndex="0" class="screen-reader">Solution for {{ component_title }}</label>
                {% include "Vue.twig" with {
                    "name" : "MarkdownArea",
                    "type": "component",
                    "args": {
                        "markdownAreaId" : "textbox-solution-" ~ component_id,
                        "class" : "solution-ta-notes-textbox",
                        "markdownAreaValue" : solution_notes,
                        "placeholder" : "Start writing the solution for " ~ component_title ~ " component.",
                        "previewDivId" : "solution_notes_preview_" ~ component_id,
                        "renderHeader" : true,
                        "minHeight" : "150px",
                        "maxHeight" : "400px",
                        "noMaxlength" : true,
                        "initializePreview" : is_first_edit != true,
                        "textareaOnKeyup" : "detectSolutionChange"
                    }
                } only %}
                <button type="primary" disabled
                        class="btn btn-primary solution-save-btn"
                        onclick="updateSolutionTaNotes('{{ gradeable_id }}', '{{ component_id }}', '{{ itempool_item }}');"
                >Save Changes</button>
            </div>
        </div>
    </div>
{% endmacro %}
