{% import _self as self %}
{#
    Required Params:
        - gradeable_id
        - has_solution: to show initial btn stating to start writing solutions
        -


#}
<div id="solution_ta_notes" class="rubric_panel">
    <div class="row">
        <span class="grading_label">Solution/TA Notes</span>
    </div>
    {% for component in solution_components %}
        {{ self.renderSolutionTaNotesCont(
            gradeable_id,
            component.id,
            component.is_first_edit,
            component.title,
            component.author,
            component.solution_notes,
            component.edited_at
        ) }}
    {% endfor %}
</div>


{% macro renderSolutionTaNotesCont(gradeable_id, component_id, is_first_edit, component_title, author, solution_notes, last_edit) %}

    <div id="no-solution-box-{{ component_id }}" class="no-sol-box-cont {% if not is_first_edit %} hide {% endif %}">
        <span>
            No Solutions or TA notes for  "{{ component_title}}" Component
        </span>
        <br>
        <button type="primary"
                class="show-sol-btn btn btn-primary"
                onclick="showSolutionTextboxCont('#sol-textbox-cont-{{ component_id }}', '#no-solution-box-{{ component_id }}');"
        >Start Now</button>
    </div>
    <div id="sol-textbox-cont-{{ component_id }}" class="sol-textbox-cont {% if is_first_edit %} hide {% endif %}">
        <label for="solution-ta-notes-textbox"></label>
        <textarea id="solution-{{ component_id }}"
                  class="solution-ta-notes-textbox"
                  placeholder='Start writing the solution for "{{ component_title }}" component.'
        >{{ solution_notes }}</textarea>
        {% if not is_first_edit %}
            <span> Last edited by {{ author }} @ {{ last_edit }}</span>
        {% endif %}
        <br>
        <button type="primary"
                id="save-solution"
                class="btn btn-primary"
                onclick="updateSolutionTaNotes('{{ gradeable_id }}', '{{ component_id }}');"
        >Update</button>
    </div>
{% endmacro %}
