<div id="student_info" class="draggable rubric_panel" style="right:15px; bottom:40px; width:48%; height:30%;">
    <div class="draggable_content">
        <span class="grading_label">Student Information</span>
        <div class="inner-container">
            <h5 class='label' style="float:right; padding-right:15px;">Browse Student Submissions:</h5>
            <div class="rubric-title">
                <div style="float:right;">
                    {% include 'grading/VersionChoice.twig' with({formatting: "font-size: 13px;"}) %}

                    {# If viewing the active version, show cancel button, otherwise show button to switch active #}
                    {% if display_version > 0 %}
                        <form style="display: inline;" method="post" onsubmit='return checkTaVersionChange();'
                              action="{{ update_version_url }}">
                            <input type='hidden' name="csrf_token" value="{{ csrf_token }}" />
                            {% if display_version == active_version %}
                                <input type="submit" class="btn btn-default btn-xs" style="float:right; margin: 0 10px;" value="Cancel Student Submission">
                            {% else %}
                                <input type="submit" class="btn btn-default btn-xs" style="float:right; margin: 0 10px;" value="Grade This Version">
                            {% endif %}
                        </form>
                        <br/>
                        <br/>
                    {% endif %}
                </div>
                <div>
                    <b>
                        {% if team_assignment %}
                            Team:<br/>

                            {% for team_member in submitter.getTeam().getMemberUsers() %}
                                &emsp;{{ team_member.getDisplayedFirstName() }} {{ team_member.getDisplayedLastName() }} ({{ team_member.getId() }})<br/>
                            {% endfor %}
                        {% else %}
                            {{ submitter.getUser().getDisplayedFirstName() }} {{ submitter.getUser().getDisplayedLastName() }} ({{ submitter.getId() }})
                            <br/>
                        {% endif %}

                        Submission Number: {{ active_version }} / {{ highest_version }}<br/>
                        Submitted: {{ submission_time|date("m/d/Y H:i:s T") }}<br/>
                    </b>
                </div>
                {% for table in tables %}
                    {{ table|raw }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
