{# This is a data table #}
<table id="late-day-table" class="mobile-table">
    <caption />
    {# Table header #}
    <thead>
        <tr>
            <th>
                <a onclick="onChangeSortCol('id')" aria-label="sort by ID">
                    <span class="tooltiptext" title="sort by User ID">User ID </span><i class="fas fa-sort"></i>
                </a>
            </th>
            <th>
                <a href="{{ cache_url }}?view={{ view_all ? 'all' : '' }}&sort=first" aria-label="sort by First Name">
                    <span class="tooltiptext" title="sort by First Name">First Name </span><i class="fas fa-sort"></i>
                </a>
            </th>
            <th>
                <a href="{{ cache_url }}?view={{ view_all ? 'all' : '' }}&sort=last" aria-label="sort by Last Name">
                    <span class="tooltiptext" title="sort by Last Name">Last Name </span><i class="fas fa-sort"></i>
                </a>
            </th>

            {% for title in late_day_cache_header %}
                {% if (title.timestamp is defined) == false %}
                    <th style="width:150px" style="text-align: center">
                        {{ title }}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% set index = 0 %}
        {% for student in students %}
            <tr id="row-{{ index }}" data-user="{{ student.getId() }}" data-row="{{ index }}">
                <td data-before-content="Student ID">
                    {{ student.getId() }}
                </td>
                <td data-before-content="First Name">
                    {{ student.getDisplayedFirstName() }}
                </td>
                <td data-before-content="Last Name">
                    {{ student.getDisplayedLastName() }}
                </td>

                {% set user_cache = late_day_cache[student.getId()] ?? null %}   

                {# Late day change for updates and gradeables #}
                {% for title in late_day_cache_header %}
                    {% if title.timestamp is defined == false %}
                        <td data-before-content="{{ title }}">
                            {% if user_cache is defined and user_cache[title] is defined %}
                                {% set curr_cache = user_cache[title] %}
                                {{ status_to_simple_message[curr_cache.late_day_status] ?? 'ERROR' }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>