{% if viewer.isGrader() %}
<div id="current_queue">
  <table class="table table-striped" style="width:100%;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Time</th>
        <th scope="col">Queue</th>
        <th scope="col">Remove</th>
        <th scope="col" class="mobile-hide">ID</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in viewer.getCurrentQueue() %}
        <tr class="row_color_{{viewer.getIndexFromCode(entry['queue_code'])}} queue_current_{{viewer.cleanForId(entry['queue_code'])}} current_queue_row" style="display:none;">
          <th scope="row" class="row_number">{{entry['row_number'] }}</th>
          <td>{{ entry['name'] }}</td>

          {% if entry['current_state'] == 'waiting' %}
            <td>
              <form method="post" action="{{base_url}}/{{entry['queue_code']}}/startHelp">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                {% if viewer.firstTimeInQueueThisWeek(entry['last_time_in_queue']) %}
                  <button type="submit" class="btn btn-primary help_btn" title="First time in this queue this week">
                    <i class="fas fa-star"></i>
                    Help</button>
                {% elseif viewer.firstTimeInQueueToday(entry['last_time_in_queue']) %}
                  <button type="submit" class="btn btn-primary help_btn" title="First time in this queue today">
                    <i class="fas fa-star-half"></i>
                    Help</button>
                {% else %}
                  <button type="submit" class="btn btn-primary help_btn">Help</button>
                {% endif %}
              </form>
            </td>
          {% elseif entry['current_state'] == 'being_helped' %}
            <td>
              {% if entry['help_started_by'] == viewer.getUserId() %}
                <form method="post" action="{{base_url}}/{{entry['queue_code']}}/finishHelp">
              {% else %}
                <form method="post" action="{{base_url}}/{{entry['queue_code']}}/finishHelp" onsubmit="return confirm('{{entry['help_started_by']}} was the one who originally clicked to say they were helping this student, are you sure you want to finish helping {{entry['name']}}?');">
              {% endif %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
                {% if entry['help_started_by'] == viewer.getUserId() %}
                  <button type="submit" class="btn btn-success finish_helping_btn" title="Being helped by {{entry['help_started_by']}}">Finish Helping</button>
                {% else %}
                  <button type="submit" class="btn btn-primary finish_helping_btn" title="Being helped by {{entry['help_started_by']}}">Finish Helping</button>
                {% endif %}
              </form>
            </td>
          {% endif %}

          {% if entry['current_state'] == 'being_helped' %}
            <td class="help_timer" help_time="{{ viewer.timeToISO(entry['time_help_start']) }}"></td>
          {% else %}
            <td>{{ viewer.timeToHM(entry['time_in']) }}</td>
          {% endif %}
          <td>{{ entry['queue_code'] }}</td>
          <td>
            <form method="post" action="{{base_url}}/{{entry['queue_code']}}/remove" onsubmit="return confirm('Are you sure you want to remove {{ entry['name'] }} from the queue?');">
              <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
              <input type="hidden" name="user_id" value="{{entry['user_id']}}"/>
              <button type="submit" class="btn btn-default remove_from_queue_btn">Remove</button>
            </form>
          </td>
          <td class="mobile-hide">
            <a class="post-user-info" onclick="unhideId(this,'{{ entry['user_id'] }}')" onkeypress="unhideId(this,'{{ entry['user_id'] }}')" title="Show user id" aria-label="Show user id" tabindex="0">
              <i class="fas fa-eye"></i>
            </a>
          </td>
        </tr>
        {% if viewer.isContactInfoEnabled() %}
          <tr class="contact_info row_color_{{viewer.getIndexFromCode(entry['queue_code'])}} queue_current_{{viewer.cleanForId(entry['queue_code'])}} current_queue_row" style="display:none;border-top:0px">
            <td colspan="7" style="border-top:0px">{{entry['contact_info']}}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <div id="queue_empty_msg" style="display:none; text-align:center">
    Your queue is currently empty. Make sure you have the correct filter settings set.
  </div>
</div>
{% endif %}
