{% if viewer.isGrader()%}
  <p>
    <button class="btn btn-primary" type="button" onclick="$('#filgerSettingsCollapse').toggleClass('collapse')">
      Toggle Filter Settings
    </button>
  </p>
  <div class="collapse" id="filgerSettingsCollapse">

    <br>
    <form method="post" id="open_new_queue" action="{{base_url}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
      <input type="text" name="code" placeholder="Code" required="required">
      <input type="submit" value="Open New Queue" class="btn btn-primary">
    </form>

    <table class="table table-striped" style="width:100%; margin-top:1rem;">
      <thead>
        <tr>
          <th scope="col">Filter</th>
          <th scope="col">Queue Code</th>
          <th scope="col">Open/Close</th>
          <th scope="col">Empty</th>
          <th scope="col">Delete</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for queue in viewer.getAllQueues() %}
          <tr class="row_color_v2_{{viewer.getIndexFromCode(queue['code'])}}">
            <td>
              <input type="checkbox" title="Toggle filter for: {{viewer.cleanForId(queue['code'])}}" id="queue_filter_{{viewer.cleanForId(queue['code'])}}" class="page_loading" onchange="updateQueueFilter('{{viewer.cleanForId(queue['code'])}}')"/>
            </td>
            <td style="text-align: left;">{{queue['code']}}</td>
            <td class="button-padding">
              <form method="post" action="{{base_url}}/{{queue['code']}}/toggle">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
                <input type="hidden" name="queue_state" value="{{queue['open']}}"/>
                {% if queue['open'] == 0 %}
                  <input type="submit" value="Open Queue" class="btn btn-primary">
                {% else %}
                  <input type="submit" value="Close Queue" class="btn btn-primary">
                {% endif %}
              </form>
            </td>
            <td class="button-padding">
              <form method="post" action="{{base_url}}/{{queue['code']}}/empty" onsubmit="return confirm('Are you sure you want to empty the queue? This will kick everyone out of the queue.');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
                <input type="submit" value="Empty Queue" class="btn btn-danger">
              </form>
            </td>
            <td class="button-padding">
              <form method="post" action="{{base_url}}/{{queue['code']}}/deleteQueue" onsubmit="return confirm('Are you sure you want to delete the queue? This will remove all students currently in that queue and remove the queue from your list of queues');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
                <input type="submit" value="Delete Queue" class="btn btn-danger">
              </form>
            </td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
{% endif %}
