{% if viewer.isGrader()%}
  <p>
    For more information: <a target=_blank href="https://submitty.org/grader/queue">
    Managing the Office Hours Queue <i style="font-style:normal;" class="fa-question-circle"></i></a>
    <br><br>
  </p>
  <p>
    <button id="toggle_filter_settings" class="btn btn-primary filter_btn" type="button" onclick="$('#filterSettingsCollapse').toggleClass('collapse')">
      Toggle Filter Settings
    </button>
    <button id="auto_refresh_btn" class="btn btn-default filter_btn" type="button" onclick="toggleAutoRefresh()">
      Turn On Auto Refresh
    </button>
    <button id="notification_btn" class="btn btn-default filter_btn" type="button" onclick="enableNotifications()">
      Enable Notifications
    </button>
  </p>
  <div class="collapse" id="filterSettingsCollapse">

    <br>
    <form method="post" id="open_new_queue" action="{{base_url}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
      <input type="text" id="new_queue_code" name="code" placeholder="New Queue Name" aria-label="New Queue Name" required="required">
      <input type="text" id="new_queue_token" name="token" placeholder="Access Code" aria-label="Access Code" required="required">
      <a id="new_queue_rand_token" onclick="genRandCode('new_queue_token')" onkeypress="genRandCode('new_queue_token')" title="Generate random access code" aria-label="Generate random access code" tabindex="0" style="padding:.5rem;">
        <i class="fas fa-sync"></i>
      </a>
      <button id="open_new_queue_btn" type="submit" class="btn btn-primary">Open New Queue</button>
    </form>
    <br>
    <form method="post" id="change_queue_token" action="{{base_url}}/no_code_added/change_token">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
      <select id="old_queue_code" class="form-control" name="code" aria-label="Access Code" required="required" onchange="document.getElementById('change_queue_token').action = '{{base_url}}/'+this.value+'/change_token';">
        <option value="">Queue Name</option>
        {% for queue in viewer.getAllQueues() %}
          <option value="{{queue['code']}}">{{viewer.removeUnderScores(queue['code'])}}</option>
        {% endfor %}
      </select>
      <input type="text" id="old_queue_token" name="token" placeholder="New Access Code" aria-label="New Access Code" required="required">
      <a id="old_queue_rand_token" onclick="genRandCode('old_queue_token')" onkeypress="genRandCode('old_queue_token')" title="Generate random access code" aria-label="Generate random access code" tabindex="0" style="padding:.5rem;">
        <i class="fas fa-sync"></i>
      </a>
      <button id="change_code_btn" type="submit" class="btn btn-primary">Change Queue Access Code</button>
    </form>

    <table class="table table-striped" style="width:100%; margin-top:1rem;">
      <thead>
        <tr>
          <th scope="col">Filter</th>
          <th scope="col">Queue Name/Access Code</th>
          <th scope="col">Open/Close</th>
          <th scope="col">Empty</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for queue in viewer.getAllQueues() %}
          <tr class="row_color_{{viewer.getIndexFromCode(queue['code'])}}">
            <td>
              <input
                type="checkbox"
                title="Toggle filter for: {{viewer.cleanForId(queue['code'])}}"
                aria-label="Toggle filter for: {{viewer.cleanForId(queue['code'])}}"
                id="queue_filter_{{viewer.cleanForId(queue['code'])}}"
                class="page_loading"
                onchange="updateQueueFilter('{{viewer.cleanForId(queue['code'])}}')"/>
            </td>
            <td style="text-align: left;">
              <label for="queue_filter_{{viewer.cleanForId(queue['code'])}}">
                <b>Name:</b>{{viewer.removeUnderScores(queue['code'])}}<br>
                <b>Access Code:</b>{{queue['token']}}</td>
              </lable>
            <td>
              <form method="post" action="{{base_url}}/{{queue['code']}}/toggle">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
                <input type="hidden" name="queue_state" value="{{queue['open']}}"/>
                {% if queue['open'] == 0 %}
                  <button type="submit" class="btn btn-primary filter_settings_btn open_queue_btn">Open Queue</button>
                {% else %}
                  <button type="submit" class="btn btn-primary filter_settings_btn close_queue_btn">Close Queue</button>
                {% endif %}
              </form>
            </td>
            <td>
              <form method="post" action="{{base_url}}/{{queue['code']}}/empty" onsubmit="return confirm('Are you sure you want to empty the queue? This will kick everyone out of the queue.');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
                <button type="submit" class="btn btn-danger filter_settings_btn empty_queue_btn">Empty Queue</button>
              </form>
            </td>
            <td>
              <form method="post" action="{{base_url}}/{{queue['code']}}/deleteQueue" onsubmit="return confirm('Are you sure you want to delete the queue? This will remove all students currently in that queue and remove the queue from your list of queues');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="queue_code" value="{{queue['code']}}"/>
                <button type="submit" class="btn btn-danger filter_settings_btn delete_queue_btn">Delete Queue</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>

  <style>
    {% for color in viewer.getColors() %}
      .row_color_{{loop.index0}}{
        background: {{color}}!important;
      }
    {% endfor %}
  </style>
{% endif %}
