{% if viewer.getQueueMessage() | length > 0 %}
  <div class="content gradeable_message">
    <p>{{viewer.getQueueMessage() | markdown}}</p>
  </div>
{% endif %}

<div class="content">
  <h1>
    Office Hours Queue
  </h1>
  <p>
    For more information:
    {% if not viewer.isGrader() %}
      <a target="_blank" href="https://submitty.org/student/queue">
        Getting Help through the Office Hours Queue
        <i style="font-style:normal;" class="fa-question-circle"></i>
      </a>
    {% else %}
      <a target="_blank" href="https://submitty.org/grader/queue">
        Managing the Office Hours Queue
        <i style="font-style:normal;" class="fa-question-circle"></i>
      </a>
        <br>
        <br>
        Open Queues:
        {% for queue in viewer.getAllQueues() %}
            {% if queue['open'] != 0 %}

                <label tabindex="0" class="btn filter-buttons"  style="word-wrap: break-word; border-color: {{ viewer.getColorFromCode(queue['code']) }}; background: {{ viewer.getColorFromCode(queue['code']) }}; color: inherit; {# color: {{ viewer.getColorFromCode(queue['code']) }}; #}">{{queue['code']}}
                    <input
                            type="checkbox"
                            title="Toggle filter for: {{queue['code']|upper}}"
                            aria-label="Toggle filter for: {{queue['code']|upper}}"
                            id="queue_filter_{{viewer.cleanForId(queue['code'])}}"
                            class="page_loading queue_filter"
                            style="display: none;"
                            onchange="updateQueueFilter('{{viewer.cleanForId(queue['code'])}}')"/>
                </label>
            {% endif %}
        {% endfor %}
        <br>
        <br>
        Closed Queues:
        {% for queue in viewer.getAllQueues() %}
            {% if queue['open'] == 0 %}

                <label tabindex="0" class="btn"  style="word-wrap: break-word; border-color: {{ viewer.getColorFromCode(queue['code']) }}; background: {{ viewer.getColorFromCode(queue['code']) }}; color: inherit;">{{queue['code']}}
                    <input
                            type="checkbox"
                            title="Toggle filter for: {{queue['code']|upper}}"
                            aria-label="Toggle filter for: {{queue['code']|upper}}"
                            id="queue_filter_{{viewer.cleanForId(queue['code'])}}"
                            class="page_loading queue_filter"
                            style="display: none;"
                            onchange="updateQueueFilter('{{viewer.cleanForId(queue['code'])}}')"/>

                </label>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>
  </p>

  {% include 'officeHoursQueue/AnnouncementMsg.twig' %}

    {% if not viewer.isGrader() %}
        {% include 'officeHoursQueue/QueueStatus.twig' %}
    {% else %}
        {% include 'officeHoursQueue/QueueButtonBar.twig' %}
        {% include 'officeHoursQueue/CurrentQueue.twig' %}
    {% endif %}

    {% include 'officeHoursQueue/QueueHistory.twig' %}
    {% include 'officeHoursQueue/QueueFooter.twig' %}
