{% extends 'generic/Popup.twig' %}
{% block popup_id %}announcement-settings{% endblock %}
{% block title %}Announcement{% endblock %}
{% block body %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
  <label for="queue-announcement-message" class="announcement-setting">
    <span class="option-title">Edit Office Hours Queue Announcements</span>
    <br>
    <span class="option-alt">
      Messages typed here will appear to all students.<br>
      Leave it empty to hide the announcement.<br>
      <a target="_blank" href="https://submitty.org/student/communication/markdown">
        Supports Markdown
        <i style="font-style:normal;" class="fa-question-circle"></i>
      </a>
    </span>
  </label>
  <br/>
  <button title="Preview Markdown" type="button" onclick="previewQueueMarkdown.call(this)" class="btn btn-default btn-markdown key_to_click" tabindex="0">Preview <i class="fas fa-eye fa-1x"></i></button>
  <textarea class="announcement-setting" name="queue_announcement_message" id="queue-announcement-message">{{viewer.getQueueAnnouncementMessage()}}</textarea>
  <pre id="queue_announcement_message_preview" name="queue_announcement_message_preview" class="fill-available markdown-preview" style="resize:none;min-height:{{ min_height }};max-height:300px;" hidden></pre>
{% endblock %}
{% block form %}
  <form method="post" id="announcement_form" action="{{base_url}}/update_announcement">
    {{ parent() }}
  </form>
{% endblock %}
{% block buttons %}
  {{ block('close_button') }}
  <button id="save_announcement" type="submit" class="btn btn-primary">Save</button>
{% endblock %}
