{% extends 'generic/Popup.twig' %}
{% block popup_id %}announcement-settings{% endblock %}
{% block title %}Announcement{% endblock %}
{% block body %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
  <label for="queue-announcement-message" class="announcement-setting">
    <span class="option-title">Optional announcement (Supports Markdown)</span>
    <br>
    <span class="option-alt">
      This is meant to simulate the announcement at the front of a room during office hours.<br>
      Any message typed here will show up for all students and is a good place to provide extra general information.
      Leave it empty to hide the announcement.
    </span>
  </label>
  <textarea class="announcement-setting" name="queue_announcement_message" id="queue-announcement-message">{{viewer.getQueueAnnouncementMessage()}}</textarea>
{% endblock %}
{% block form %}
  <form method="post" id="announcement_form" action="{{base_url}}/update_announcement">
    {{ parent() }}
  </form>
{% endblock %}
{% block buttons %}
  {{ block('close_button') }}
  <button id="save_announcement" type="submit" class="btn btn-primary">Save</button>
{% endblock %}
