{% extends 'generic/Popup.twig' %}
{% block popup_id %}queue-socket-message{% endblock %}
{% block title %}Send Message To Queue{% endblock %}
{% block body %}
    <form method="post" id="change_queue_token" action="{{base_url}}/no_code_added/change_token" style="height:auto;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <select id="old_queue_code" class="form-control" name="code" aria-label="Access Code" required="required">
            <option value="">Queue Name</option>
            {% for queue in viewer.getAllQueues() %}
                <option value="{{queue['code']}}">{{queue['code']}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <textarea name="socket-message" id="socket-msg" rows="15" cols="50" placeholder="Message"></textarea>
        <br>
        <br>
        <button id="change_code_btn" type="submit" class="btn btn-primary">Send Message</button>
    </form>
{% endblock %}
{% block form %}
    <form method="post" id="announcement_form" action="{{base_url}}/update_announcement">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <button id="save_announcement" type="submit" class="btn btn-primary">Save</button>
{% endblock %}
