<div class="content">
  <h1>
    Office Hours/Lab Queue Statistics
  </h1>

  <a id="view_stats" class="btn btn-primary filter_btn" type="button" href="{{base_url}}">
    Back to Queue
  </a>

  {% if viewer.accessFullGrading() %}
    <a id="view_stats" class="btn btn-default filter_btn" type="button" href="{{base_url}}/student_stats">
      View Student Specific Stats
    </a>
    <br>
    <br>
  {% endif %}

  <h2>Overall Data:</h2>
  <table class="table">
    <thead>
      <tr>
        {% for key, item in viewer.getQueueDataOverall()[0] %}
          <th style="padding:.4rem">{{viewer.statNiceName(key)}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for queue in viewer.getQueueDataOverall() %}
        <tr>
          {% for key, item in queue %}
            <td>{{item}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Today's Data:</h2>
  <table class="table">
    <thead>
      <tr>
        {% for key, item in viewer.getQueueDataToday()[0] %}
          <th style="padding:.4rem">{{viewer.statNiceName(key)}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for queue in viewer.getQueueDataToday() %}
        <tr>
          {% for key, item in queue %}
            <td>{{item}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h2>This Week's Data:</h2>
  <table class="table">
    <thead>
      <tr>
        {% for key, item in viewer.getQueueDataByWeekDayThisWeek()[0] %}
          <th style="padding:.4rem">{{viewer.statNiceName(key)}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for queue in viewer.getQueueDataByWeekDayThisWeek() %}
        <tr>
          {% for key, item in queue %}
            {% if key == "dow" %}
              <td>{{viewer.dayNumToDay(item)}}</td>
            {% else %}
              <td>{{item}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h2>Week Day Data:</h2>
  <table class="table">
    <thead>
      <tr>
        {% for key, item in viewer.getQueueDataByWeekDay()[0] %}
          <th style="padding:.4rem">{{viewer.statNiceName(key)}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for queue in viewer.getQueueDataByWeekDay() %}
        <tr>
          {% for key, item in queue %}
            {% if key == "dow" %}
              <td>{{viewer.dayNumToDay(item)}}</td>
            {% else %}
              <td>{{item}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h2>Queue Data:</h2>
  <table class="table">
    <thead>
      <tr>
        {% for key, item in viewer.getQueueDataByQueue()[0] %}
          <th style="padding:.4rem">{{viewer.statNiceName(key)}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for queue in viewer.getQueueDataByQueue() %}
        <tr>
          {% for key, item in queue %}
            <td>{{item}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h2>Week specific Data: (Week starts on Monday)</h2>
  <table class="table">
    <thead>
      <tr>
        {% for key, item in viewer.getQueueDataByWeekNumber()[0] %}
          {% if key == "yearnum" %}
          {% else %}
            <th style="padding:.4rem">{{viewer.statNiceName(key)}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for weekdata in viewer.getQueueDataByWeekNumber() %}
        <tr>
          {% for key, item in weekdata %}
            {% if key == "yearnum" %}
            {% elseif key == "weeknum" %}
              <td>{{viewer.weekNumToDate(item, weekdata["yearnum"])}}</td>
            {% else %}
              <td>{{item}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
